{"openapi":"3.0.0","info":{"description":"The API provides a vehicle information consulting service based on license plate numbers, with three distinct endpoints for cars, motorcycles, and insurance checks. Developed from the \"automotive\" endpoint, the service delivers accurate and reliable details about vehicles.\n\n\n**IN SANDBOX**\n\nThe Sandbox service provides a testing environment for the Automotive API, allowing users to simulate requests and receive sample data for evaluation purposes. In this environment, users can test the service's functionality by submitting queries using either the License Plate (for most endpoints) or the KBANumber (for the German endpoint). The key distinction is that, instead of retrieving real-world data, the Sandbox service returns predefined, dummy data designed for testing scenarios. This enables users to assess their integration with the API, validate their implementation, and familiarize themselves with the expected responses before moving to a production environment.\n","version":"1.0.0","title":"Automotive","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://automotive.openapi.com","description":"Production"},{"url":"https://test.automotive.openapi.com","description":"Sandbox"}],"tags":[{"name":"General","description":"Valid for every country"},{"name":"Italy","description":"The IT-Service Automotive for Italy provides a suite of API endpoints for comprehensive vehicular information, covering cars, motorcycles, and insurance details.\n"},{"name":"France","description":"The FR-Service Automotive offers a range of API endpoints providing extensive information about vehicles, including details on cars and motorcycles.\n"},{"name":"United Kingdom","description":"The UK-Service Automotive delivers a variety of API endpoints, offering in-depth data on vehicles, encompassing information about cars, motorcycles, and MOT.\n"},{"name":"Germany","description":"The DE-Service Automotive provides API endpoints for comprehensive vehicle information, using the KBANumber, which is in the format HSN/TSN (Manufacturer Key Number / Type Key Number). It offers unique identifiers for precise vehicle categorization.\n"},{"name":"Portugal","description":"The PT-Service Automotive for Portugal provides a suite of API endpoints for comprehensive vehicular information, covering cars and insurance details.\n"},{"name":"Spain","description":"The ES-Service Automotive for Spain provides a suite of API endpoints for comprehensive vehicular information, covering cars and motorcycles.\n"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"car":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the car."},"Description":{"type":"string","description":"A brief description of the car."},"RegistrationYear":{"type":"string","description":"The registration year of the car."},"CarMake":{"type":"string","description":"The make or manufacturer of the car."},"CarModel":{"type":"string","description":"The model of the car."},"EngineSize":{"type":"string","description":"The engine size of the car."},"FuelType":{"type":"string","description":"The type of fuel the car uses."},"MakeDescription":{"type":"string","description":"A detailed description of the car's make."},"ModelDescription":{"type":"string","description":"A detailed description of the car's model."},"Immobiliser":{"type":"string","description":"Indicates if the car has an immobilizer."},"NumberOfDoors":{"type":"string","description":"The number of doors on the car."},"Version":{"type":"string","description":"The version or edition of the car."},"ABS":{"type":"string","description":"Indicates if the car has an Anti-lock Braking System."},"AirBag":{"type":"string","description":"Indicates if the car is equipped with airbags."},"Vin":{"type":"string","description":"The Vehicle Identification Number (VIN) of the car."},"KType":{"type":"string","description":"The KType identifier of the car."},"PowerCV":{"type":"integer","description":"The power of the car in horsepower (CV)."},"PowerKW":{"type":"integer","description":"The power of the car in kilowatts (KW)."},"PowerFiscal":{"type":"integer","description":"The fiscal power of the car."},"TimeStamp":{"type":"integer","description":"The timestamp of request."}}},"bike":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the motorcycle."},"Description":{"type":"string","description":"A brief description of the motorcycle."},"RegistrationYear":{"type":"string","description":"The registration year of the motorcycle."},"CarMake":{"type":"string","description":"The make or manufacturer of the motorcycle."},"CarModel":{"type":"string","description":"The model of the motorcycle."},"EngineSize":{"type":"string","description":"The engine size of the motorcycle."},"FuelType":{"type":"string","description":"The type of fuel the motorcycle uses."},"MakeDescription":{"type":"string","description":"A detailed description of the motorcycle's make."},"ModelDescription":{"type":"string","description":"A detailed description of the motorcycle's model."},"Immobiliser":{"type":"string","description":"Indicates if the motorcycle has an immobilizer."},"Version":{"type":"string","description":"The version or edition of the motorcycle."},"ABS":{"type":"string","description":"Indicates if the motorcycle has an Anti-lock Braking System."},"AirBag":{"type":"string","description":"Indicates if the motorcycle is equipped with airbags."},"Vin":{"type":"string","description":"The Vehicle Identification Number (VIN) of the motorcycle."},"KType":{"type":"string","description":"The KType identifier of the motorcycle."},"TimeStamp":{"type":"integer","description":"The timestamp of the request."}}},"insurance":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the vehicle."},"Company":{"type":"string","description":"The insurance company providing coverage."},"Expiry":{"type":"string","description":"The expiration date of the insurance."},"ExpiryTimeStamp":{"type":"integer","description":"The timestamp of the insurance expiration date."},"IsInsured":{"type":"boolean","description":"Indicates whether the vehicle is currently insured."},"TimeStamp":{"type":"integer","description":"The timestamp of the request."}}},"mot":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the vehicle"},"Tests":{"type":"array","items":{"type":"object","properties":{"TestDate":{"type":"string","description":"The date of the test"},"ExpiryDate":{"type":"string","description":"The date when the test expires"},"Result":{"type":"string","description":"The result of the test (Pass/Fail)"},"Odometer":{"type":"string","description":"The odometer reading at the time of the test"},"TestNumber":{"type":"string","description":"The unique number associated with the test"},"FailureReasons":{"type":"object","properties":{"string":{"type":"array","items":{"type":"string"}}},"description":"Reasons for test failure"},"Advisories":{"type":"array","items":{"type":"string"},"description":"Advisories provided during the test"}}},"description":"Array containing details of various tests conducted on the vehicle"},"Brand":{"type":"string","description":"The brand of the vehicle"},"Model":{"type":"string","description":"The model of the vehicle"},"RegistrationDate":{"type":"string","description":"The registration date of the vehicle"},"EngineCapacity":{"type":"string","description":"The engine capacity of the vehicle"},"Emissions":{"type":"string","description":"The CO2 emissions of the vehicle"},"VehicleType":{"type":"string","description":"The type of vehicle (e.g., Car)"},"Marker":{"type":"string","description":"Marker information of the vehicle"},"TaxStatus":{"type":"string","description":"Tax status of the vehicle"},"Color":{"type":"string","description":"The color of the vehicle"},"Approval":{"type":"string","description":"Approval status of the vehicle"},"Weight":{"type":"string","description":"The weight of the vehicle"},"TimeStamp":{"type":"integer","description":"Timestamp associated with the data"}}},"carDE":{"type":"object","properties":{"KBANumber":{"type":"string","description":"The KBA Number of the car."},"Description":{"type":"string","description":"The description of the car."},"CarMake":{"type":"string","description":"The make (manufacturer) of the car."},"CarModel":{"type":"string","description":"The model of the car."},"MakeDescription":{"type":"string","description":"The detailed description of the make (manufacturer) of the car."},"ModelDescription":{"type":"string","description":"The detailed description of the model of the car."},"PowerKW":{"type":"integer","description":"The power of the car in kilowatts."},"PowerHP":{"type":"integer","description":"The power of the car in horsepower."},"EngineSize":{"type":"integer","description":"The engine size of the car."},"Fuel":{"type":"string","description":"The type of fuel the car uses."},"TimeStamp":{"type":"integer","description":"The timestamp associated with the data."}}},"bikeFR":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the motorcycle."},"Description":{"type":"string","description":"The description of the motorcycle."},"RegistrationYear":{"type":"string","description":"The registration year of the motorcycle."},"CarMake":{"type":"string","description":"The make of the motorcycle."},"CarModel":{"type":"string","description":"The model of the motorcycle."},"EngineSize":{"type":"string","description":"The engine size of the motorcycle."},"FuelType":{"type":"string","description":"The fuel type of the motorcycle."},"MakeDescription":{"type":"string","description":"The make description of the motorcycle."},"ModelDescription":{"type":"string","description":"The model description of the motorcycle."},"Immobiliser":{"type":"string","description":"Information about the immobilizer of the motorcycle."},"IndicativeValue":{"type":"integer","description":"The indicative value of the motorcycle."},"DriverSide":{"type":"string","description":"Information about the driver side of the motorcycle."},"BodyStyle":{"type":"string","description":"The body style of the motorcycle."},"RegistrationDate":{"type":"string","description":"The registration date of the motorcycle."},"ExtendedData":{"type":"object","properties":{"anneeSortie":{"type":"string","description":"The release year of the motorcycle."},"boiteDeVitesse":{"type":"string","description":"The gearbox type of the motorcycle."},"carburantVersion":{"type":"string","description":"The fuel version of the motorcycle."},"carrosserieVersion":{"type":"string","description":"The body version of the motorcycle."},"classeSra":{"type":"string","description":"The SRA class of the motorcycle."},"libVersion":{"type":"string","description":"The version of the motorcycle."},"libelleModele":{"type":"string","description":"The model label of the motorcycle."},"marque":{"type":"string","description":"The brand of the motorcycle."},"modele":{"type":"string","description":"The model of the motorcycle."},"produit":{"type":"string","description":"The product of the motorcycle."},"puissance":{"type":"string","description":"The power of the motorcycle."},"version":{"type":"string","description":"The version of the motorcycle."},"cleCarrosserie":{"type":"string","description":"The body key of the motorcycle."},"groupeSra":{"type":"string","description":"The SRA group of the motorcycle."},"nbPlace":{"type":"string","description":"The number of seats in the motorcycle."},"datePremiereMiseCirculation":{"type":"string","description":"The date of the first circulation of the motorcycle."},"questionBatterie":{"type":"string","description":"Information about the battery of the motorcycle."},"electrique":{"type":"string","description":"Information about the electrical system of the motorcycle."},"genre":{"type":"string","description":"The genre of the motorcycle."},"typeVehicule":{"type":"string","description":"The type of vehicle."},"numSerieMoteur":{"type":"string","description":"The serial number of the engine."},"valeurANeufSRA":{"type":"string","description":"The new value according to SRA."},"niveauRisqueVol":{"type":"string","description":"The level of theft risk."},"protectionConstructeur":{"type":"string","description":"The manufacturer's protection."},"puissanceDyn":{"type":"string","description":"The dynamic power of the motorcycle."},"segmentVeh":{"type":"string","description":"The segment of the vehicle."},"KtypeId":{"type":"string","description":"The K-type ID of the motorcycle."},"EngineCC":{"type":"string","description":"The engine cubic capacity of the motorcycle."},"Co2":{"type":"string","description":"The CO2 emissions of the motorcycle."},"Cylinders":{"type":"string","description":"The number of cylinders in the motorcycle."},"CNIT":{"type":"string","description":"The CNIT (National Identification Type Code) of the motorcycle."}}},"TimeStamp":{"type":"integer","description":"The timestamp of the data."}}},"carFR":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the car."},"Description":{"type":"string","description":"The description of the car."},"RegistrationYear":{"type":"string","description":"The registration year of the car."},"CarMake":{"type":"string","description":"The make of the car."},"CarModel":{"type":"string","description":"The model of the car."},"EngineSize":{"type":"string","description":"The engine size of the car."},"FuelType":{"type":"string","description":"The fuel type of the car."},"MakeDescription":{"type":"string","description":"The make description of the car."},"ModelDescription":{"type":"string","description":"The model description of the car."},"Immobiliser":{"type":"string","description":"Information about the immobilizer of the car."},"IndicativeValue":{"type":"integer","description":"The indicative value of the car."},"DriverSide":{"type":"string","description":"Information about the driver side of the car."},"BodyStyle":{"type":"string","description":"The body style of the car."},"RegistrationDate":{"type":"string","description":"The registration date of the car."},"ExtendedData":{"type":"string","description":"Additional data about the car ."},"TimeStamp":{"type":"integer","description":"The timestamp of the data."}}},"carUK":{"type":"object","properties":{"ABICode":{"type":"string","description":"The ABI code of the vehicle."},"Description":{"type":"string","description":"A description of the vehicle."},"RegistrationYear":{"type":"string","description":"The registration year of the vehicle."},"CarMake":{"type":"string","description":"The make of the vehicle."},"CarModel":{"type":"string","description":"The model of the vehicle."},"BodyStyle":{"type":"string","description":"The body style of the vehicle."},"EngineSize":{"type":"string","description":"The engine size of the vehicle."},"NumberOfDoors":{"type":"string","description":"The number of doors of the vehicle."},"Transmission":{"type":"string","description":"The transmission type of the vehicle."},"FuelType":{"type":"string","description":"The fuel type of the vehicle."},"MakeDescription":{"type":"string","description":"A description of the vehicle's make."},"ModelDescription":{"type":"string","description":"A description of the vehicle's model."},"Immobiliser":{"type":"string","description":"Indicates if the vehicle has an immobilizer."},"NumberOfSeats":{"type":"string","description":"The number of seats in the vehicle."},"IndicativeValue":{"type":"integer","description":"An indicative value of the vehicle."},"DriverSide":{"type":"string","description":"The driver's side of the vehicle."},"VehicleInsuranceGroup":{"type":"integer","description":"The insurance group of the vehicle."},"VehicleInsuranceGroupOutOf":{"type":"integer","description":"The total number of insurance groups."},"VehicleIdentificationNumber":{"type":"string","description":"The vehicle identification number (VIN)."},"EngineCode":{"type":"string","description":"The engine code of the vehicle."},"EngineNumber":{"type":"string","description":"The engine number of the vehicle."},"Colour":{"type":"string","description":"The color of the vehicle."},"TimeStamp":{"type":"integer","description":"The timestamp of the data."},"LicensePlate":{"type":"string","description":"The license plate of the vehicle."}}},"bikeUK":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the vehicle."},"Description":{"type":"string","description":"A description of the vehicle."},"RegistrationYear":{"type":"string","description":"The registration year of the vehicle."},"CarMake":{"type":"string","description":"The make of the vehicle."},"CarModel":{"type":"string","description":"The model of the vehicle."},"MakeDescription":{"type":"string","description":"A description of the vehicle's make."},"ModelDescription":{"type":"string","description":"A description of the vehicle's model."},"EngineSize":{"type":"string","description":"The engine size of the vehicle."},"BodyStyle":{"type":"string","description":"The body style of the motorcycle."},"FuelType":{"type":"string","description":"The fuel type of the vehicle."},"Variant":{"type":"string","description":"Variant of the vehicle."},"Colour":{"type":"string","description":"The color of the vehicle."},"VehicleIdentificationNumber":{"type":"string","description":"The vehicle identification number (VIN)."},"KType":{"type":"string","description":"The KType identifier of the vehicle."},"EngineNumber":{"type":"string","description":"The engine number of the vehicle."},"TimeStamp":{"type":"integer","description":"The timestamp of the data."}}},"carPT":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the car."},"ABICode":{"type":"string","description":"The ABI code of the vehicle."},"Description":{"type":"string","description":"A brief description of the car."},"RegistrationYear":{"type":"string","description":"The registration year of the car."},"CarMake":{"type":"string","description":"The make or manufacturer of the car."},"CarModel":{"type":"string","description":"The model of the car."},"EngineSize":{"type":"string","description":"The engine size of the car."},"FuelType":{"type":"string","description":"The type of fuel the car uses."},"MakeDescription":{"type":"string","description":"A detailed description of the car's make."},"ModelDescription":{"type":"string","description":"A detailed description of the car's model."},"Immobiliser":{"type":"string","description":"Indicates if the car has an immobilizer."},"NumberOfSeats":{"type":"string","description":"The number of seats on the car."},"IndicativeValue":{"type":"string","description":"The indicative value of the car."},"DriverSide":{"type":"string","description":"Information about the driver side of the car."},"Version":{"type":"string","description":"The version or edition of the car."},"Colour":{"type":"string","description":"The color of the vehicle."},"VechileIdentificationNumber":{"type":"string","description":"The identification number of the vehicle."},"GrossWeight":{"type":"string","description":"Gross weight of the vehicle."},"NetWeight":{"type":"string","description":"Net weight of the vehicle."},"Imported":{"type":"integer","description":"If the vehicle is imported."},"RegistrationDate":{"type":"string","description":"The registration date of the vehicle"},"TimeStamp":{"type":"integer","description":"The timestamp of request."}}},"insurancePT":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the vehicle."},"Company":{"type":"string","description":"The insurance company providing coverage."},"StartDate":{"type":"string","description":"The start date of the insurance."},"StartDateTimeStamp":{"type":"integer","description":"The timestamp of the insurance start date."},"Expiry":{"type":"string","description":"The expiration date of the insurance."},"ExpiryTimeStamp":{"type":"integer","description":"The timestamp of the insurance expiration date."},"Policy":{"type":"string","description":"Policy number."},"TimeStamp":{"type":"integer","description":"The timestamp of the request."}}},"carES":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the car."},"Description":{"type":"string","description":"A brief description of the car."},"CarMake":{"type":"string","description":"The make or manufacturer of the car."},"CarModel":{"type":"string","description":"The model of the car."},"MakeDescription":{"type":"string","description":"A detailed description of the car's make."},"ModelDescription":{"type":"string","description":"A detailed description of the car's model."},"EngineSize":{"type":"string","description":"The engine size of the car."},"VechileIdentificationNumber":{"type":"string","description":"The identification number of the vehicle."},"RegistrationYear":{"type":"string","description":"The registration year of the car."},"RegistrationDate":{"type":"string","description":"The registration date of the vehicle."},"Variation":{"type":"string","description":"Variation of the vehicle."},"Seats":{"type":"integer","description":"The number of seats on the car."},"VariantType":{"type":"string","description":"Variant type of the vehicle."},"VehicleType":{"type":"string","description":"The type of vehicle (e.g., Car)"},"Fuel":{"type":"string","description":"The type of fuel the car uses."},"IndicativePrice":{"type":"string","description":"The indicative price of the car."},"Doors":{"type":"string","description":"The number of doors on the car."},"AllTerain":{"type":"string","description":"Indicates whether the vehicle is suitable for all terrains."},"KType":{"type":"string","description":"The KType identifier of the car."},"DynamicPower":{"type":"string","description":"The power of the car."},"Stolen":{"type":"string","description":"Indicates whether the vehicle has been stolen."},"TimeStamp":{"type":"integer","description":"The timestamp of request."}}},"bikeES":{"type":"object","properties":{"LicensePlate":{"type":"string","description":"The license plate of the bike."},"Description":{"type":"string","description":"A brief description of the bike."},"CarMake":{"type":"string","description":"The make or manufacturer of the bike."},"CarModel":{"type":"string","description":"The model of the bike."},"MakeDescription":{"type":"string","description":"A detailed description of the bike's make."},"ModelDescription":{"type":"string","description":"A detailed description of the bike's model."},"EngineSize":{"type":"string","description":"The engine size of the bike."},"VechileIdentificationNumber":{"type":"string","description":"The identification number of the vehicle."},"RegistrationYear":{"type":"string","description":"The registration year of the bike."},"RegistrationDate":{"type":"string","description":"The registration date of the vehicle."},"Variation":{"type":"string","description":"Variation of the vehicle."},"Seats":{"type":"integer","description":"The number of seats on the bike."},"VariantType":{"type":"string","description":"Variant type of the vehicle."},"VehicleType":{"type":"string","description":"The type of vehicle (e.g., Car)"},"Fuel":{"type":"string","description":"The type of fuel the bike uses."},"IndicativePrice":{"type":"string","description":"The indicative price of the bike."},"Doors":{"type":"integer","description":"The number of doors on the bike."},"AllTerain":{"type":"integer","description":"Indicates whether the vehicle is suitable for all terrains."},"KType":{"type":"integer","description":"The KType identifier of the bike."},"Transmission":{"type":"string","description":"The KType identifier of the bike."},"DynamicPower":{"type":"string","description":"The power of the bike."},"Stolen":{"type":"string","description":"Indicates whether the vehicle has been stolen."},"TimeStamp":{"type":"integer","description":"The timestamp of request."}}},"Asynch":{"type":"object","properties":{"state":{"type":"string","description":"request state","enum":["PENDING","DONE"]},"id":{"type":"string","description":"request id"}}}}},"paths":{"/check_id/{id}":{"get":{"tags":["General"],"summary":"Check request","description":"This enpoint allows you to check an asynchronous request, when it is complete it shows you the requested data.","parameters":[{"name":"id","in":"path","description":"Request ID","required":true,"schema":{"type":"string","example":"66a8ed9b82cf2ae627012068"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/car"},{"$ref":"#/components/schemas/bike"},{"$ref":"#/components/schemas/insurance"},{"$ref":"#/components/schemas/mot"},{"$ref":"#/components/schemas/carDE"},{"$ref":"#/components/schemas/bikeFR"},{"$ref":"#/components/schemas/carFR"},{"$ref":"#/components/schemas/carUK"},{"$ref":"#/components/schemas/bikeUK"},{"$ref":"#/components/schemas/carPT"},{"$ref":"#/components/schemas/insurancePT"},{"$ref":"#/components/schemas/carES"},{"$ref":"#/components/schemas/bikeES"},{"$ref":"#/components/schemas/Asynch"}]},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"PENDING":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}},"DONE":{"value":{"data":{"LicensePlate":"EX117YA","Description":"AUDI A4 4ª serie","RegistrationYear":"2015","CarMake":"AUDI","CarModel":"A4 4ª serie","EngineSize":"","FuelType":"Diesel","MakeDescription":"AUDI","ModelDescription":"A4 4ª serie","Immobiliser":"","NumberOfDoors":"","Version":"AUDI A4 2.0 TDI ultra 136CV ( 3/2014 )","ABS":"","AirBag":"","Vin":"","KType":"","PowerCV":136,"PowerKW":100,"PowerFiscal":20,"TimeStamp":1665411640},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"id required","error":800,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":true,"message":"vehicle not found","error":null,"data":[]}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"id not valid","error":801,"data":null}}}}}}},"/IT-car/{LicensePlate}":{"get":{"tags":["Italy"],"summary":"Information about a car","description":"The IT-car endpoint for Italy allows you to retrieve comprehensive details about a vehicle registered in Italy. By providing the license plate, you can access key information such as the make, model, registration year, and detailed technical specifications, offering a thorough overview of the vehicle's characteristics. This service is designed to facilitate quick and accurate consultation of vehicular information. \n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"zr567zy","pattern":"^[a-zA-Z]{2}[0-9]{3}[a-zA-Z]{2}$|^[a-zA-Z]{2}[a-zA-Z0-9]{6}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/car"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"EX117YA","Description":"AUDI A4 4ª serie","RegistrationYear":"2015","CarMake":"AUDI","CarModel":"A4 4ª serie","EngineSize":"","FuelType":"Diesel","MakeDescription":"AUDI","ModelDescription":"A4 4ª serie","Immobiliser":"","NumberOfDoors":"","Version":"AUDI A4 2.0 TDI ultra 136CV ( 3/2014 )","ABS":"","AirBag":"","Vin":"","KType":"","PowerCV":136,"PowerKW":100,"PowerFiscal":20,"TimeStamp":1665411640},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AA000AA or MI684033","error":201,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":202,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":200,"data":null}}}}}}},"/IT-bike/{LicensePlate}":{"get":{"tags":["Italy"],"summary":"Information about a motorcycle","description":"The IT-bike endpoint for Italy enables you to obtain detailed information about a motorcycle registered in Italy. By providing the license plate, you can access essential details such as the make, model, registration year, and specific features of the motorcycle. This service is designed to offer a comprehensive overview of the motorcycle's characteristics, facilitating quick and accurate consultation of vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"ab12345","pattern":"^[a-zA-Z]{2}[0-9]{5}$|^[a-zA-Z]{2}[a-zA-Z0-9]{6}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/bike"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"XX40666","Description":"Yamaha Tracer 700 ABS - 74.8 CV","RegistrationYear":"2017","CarMake":"Yamaha","CarModel":"Tracer 700","EngineSize":"","FuelType":"","MakeDescription":"Yamaha","ModelDescription":"Tracer 700","Immobiliser":"","Version":"ABS - 74.8 CV","ABS":"","AirBag":"","Vin":"","KType":"","TimeStamp":1665411640},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"bike not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AA00000","error":204,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":205,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":203,"data":null}}}}}}},"/IT-insurance/{LicensePlate}":{"get":{"tags":["Italy"],"summary":"Information about car insurance","description":"The IT-insurance endpoint for Italy allows you to verify the insurance status of a vehicle registered in Italy. By providing the license plate, you can retrieve crucial insurance details, including the insurance company (Company), expiration date (Expiry), a timestamp representation of the expiration date (ExpiryTimeStamp), and whether the vehicle is insured (IsInsured). This service ensures quick access to up-to-date information on the insurance status of a registered vehicle.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"zr567zy","pattern":"^[a-zA-Z]{2}[0-9]{3}[a-zA-Z]{2}$|^[a-zA-Z]{2}[a-zA-Z0-9]{6}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/insurance"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"ZR567ZY","Company":"VITTORIA ASSICURAZIONI","Expiry":"2023-01-08T00:00:00","ExpiryTimeStamp":1673136000,"IsInsured":true,"TimeStamp":1665411640},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"insurance not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AA000AA or MI684033","error":207,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":208,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":206,"data":null}}}}}}},"/UK-car/{LicensePlate}":{"get":{"tags":["United Kingdom"],"summary":"Information about a car","description":"The UK-car endpoint allows you to retrieve comprehensive information about a car registered in the United Kingdom. By supplying the license plate, you can access key details including the make, model, registration year, engine specifications, emissions data, tax status, color, and additional information. This service provides a thorough overview of the car's attributes, streamlining the process of obtaining accurate and detailed vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"LT17MLE","pattern":"^[a-zA-Z]{1}[0-9]{1,3}[a-zA-Z]{3}$|^[a-zA-Z]{2}[0-9]{2}[a-zA-Z]{3}$|^[a-zA-Z]{3}[0-9]{4}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/carUK"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"ABICode":"31019211","Description":"Maserati Levante D V6 Auto","RegistrationYear":"2017","CarMake":"Maserati","CarModel":"Levante D V6 Auto","BodyStyle":"SUV","EngineSize":"2987","NumberOfDoors":"5","Transmission":"Automatic","FuelType":"Diesel","MakeDescription":"Maserati","ModelDescription":"Levante D V6 Auto","Immobiliser":"","NumberOfSeats":"5","IndicativeValue":0,"DriverSide":"","VehicleInsuranceGroup":0,"VehicleInsuranceGroupOutOf":50,"VehicleIdentificationNumber":"ZN6TU61C00X248858","EngineCode":"B630WM","EngineNumber":"B630WM","Colour":"Black","TimeStamp":1709827711,"LicensePlate":"LT17MLE"},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AB12XYZ, A0AAA, A00AAA, A000AAA or AAA0000","error":504,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":505,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":503,"data":null}}}}}}},"/UK-bike/{LicensePlate}":{"get":{"tags":["United Kingdom"],"summary":"Information about a motorcycle","description":"The UK-bike endpoint is designed for obtaining detailed information about motorcycles registered in the United Kingdom. Utilizing the license plate as input, you can retrieve essential details such as the make, model, registration year, engine specifications, fuel type, and other specific features of the motorcycle. This service is tailored to offer a comprehensive overview of the motorcycle's characteristics, simplifying the retrieval of accurate and detailed vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"LJ05FHV","pattern":"^[a-zA-Z]{1}[0-9]{1,3}[a-zA-Z]{3}$|^[a-zA-Z]{2}[0-9]{2}[a-zA-Z]{3}$|^[a-zA-Z]{3}[0-9]{4}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/bikeUK"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"LJ05FHV","Description":"HONDA ST1300 A","RegistrationYear":"2005","CarMake":"HONDA","CarModel":"ST1300 A","MakeDescription":"HONDA","ModelDescription":"ST1300 A","EngineSize":"1261","BodyStyle":"Motorbike","FuelType":"PETROL","Variant":"","Colour":"YELLOW","VehicleIdentificationNumber":"JH2SC51A92M007472","KType":"","EngineNumber":"SC51E2011188","TimeStamp":1665411640},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"bike not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AB12XYZ, A0AAA, A00AAA, A000AAA or AAA0000","error":507,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":508,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":506,"data":null}}}}}}},"/UK-mot/{LicensePlate}":{"get":{"tags":["United Kingdom"],"summary":"Information about car mot","description":"The UK-mot endpoint facilitates the checking of MOT (Ministry of Transport) service history for cars in the United Kingdom, excluding Northern Ireland. By making a web service call to \"UKMOT\" and providing relevant details, you can obtain information such as the test date, test result (Pass or Failure), odometer reading, test number, and, in case of failure, a list of failures in plain text. This service aids in accessing a vehicle's MOT history efficiently and effectively.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"LT17MLE","pattern":"^[a-zA-Z]{1}[0-9]{1,3}[a-zA-Z]{3}$|^[a-zA-Z]{2}[0-9]{2}[a-zA-Z]{3}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/mot"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"LT17MLE","Tests":[{"TestDate":"2022.07.20 16:16:01","ExpiryDate":"2023.08.17","Result":"Pass","Odometer":"49134","TestNumber":"894226125791","FailureReasons":[],"Advisories":[]},{"TestDate":"2021.08.18 07:40:30","ExpiryDate":"2022.08.17","Result":"Pass","Odometer":"39972","TestNumber":"179629467962","FailureReasons":[],"Advisories":[]},{"TestDate":"2020.09.26 10:47:00","ExpiryDate":"2021.10.03","Result":"Pass","Odometer":"31387","TestNumber":"549529561651","FailureReasons":[],"Advisories":[]},{"TestDate":"2020.04.02 19:42:37","ExpiryDate":"2020.10.03","Result":"Pass","Odometer":"0","TestNumber":"486271567684","FailureReasons":[],"Advisories":[]}],"Brand":"JEEP","Model":"","RegistrationDate":"01 Apr 2017","EngineCapacity":"2987cc","Emissions":"184 g/km","VehicleType":"Car","Marker":"","TaxStatus":"SORN","Color":"GREEN","Approval":"M1","Weight":"Not available","TimeStamp":1743780570},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AB12XYZ, A0AAA, A00AAA or A000AAA","error":501,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":502,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":500,"data":null}}}}}}},"/DE-car/{KBANumber}":{"get":{"tags":["Germany"],"summary":"Information about a car","description":"The DE-car endpoint enables you to retrieve detailed information about a car registered in Germany. By providing the unique KBANumber, formatted as HSN/TSN (Manufacturer Key Number / Type Key Number), you can access essential details such as the make, model, registration year, engine specifications, fuel type, representative image, and additional information. This service is designed to offer a comprehensive overview of the car's characteristics, utilizing the KBANumber for precise vehicle categorization in Germany.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"KBANumber","in":"path","description":"KBANumber","required":true,"schema":{"type":"string","example":4000305,"pattern":"^\\d{4}\\s?[a-zA-Z0-9]{3}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/carDE"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"KBANumber":"4000305","Description":"alfa romeo GIULIETTA SPIDER","CarMake":"alfa romeo","CarModel":"GIULIETTA SPIDER","MakeDescription":"alfa romeo","ModelDescription":"GIULIETTA SPIDER","PowerKW":59,"PowerHP":80,"EngineSize":1281,"Fuel":"Benzin","TimeStamp":1710238470},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect KBANumber; valid format example 4000305","error":301,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":302,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":300,"data":null}}}}}}},"/FR-car/{LicensePlate}":{"get":{"tags":["France"],"summary":"Information about a car","description":"The France-car endpoint is designed to provide extensive information about cars registered in France. By using the license plate as input, you can access crucial details such as the make, model, registration year, engine specifications, emissions data, tax status, color, and additional information related to the car. This service is structured to offer a comprehensive overview of the car's attributes, streamlining the process of obtaining accurate and detailed vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"zr567zy","pattern":"^[a-zA-Z]{2}[0-9]{3}[a-zA-Z]{2}$|^[0-9]{2,4}[a-zA-Z]{2,3}[0-9]{2}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/carFR"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"EG258MA","Description":"RENAULT SCÉNIC III","RegistrationYear":"2016","CarMake":"RENAULT","CarModel":"SCÉNIC III","EngineSize":"5","FuelType":"DIESEL","MakeDescription":"RENAULT","ModelDescription":"SCÉNIC III","Immobiliser":"","IndicativeValue":0,"DriverSide":"","BodyStyle":"MONOSPACE COMPACT","RegistrationDate":"2016-06-24","ExtendedData":null,"TimeStamp":1710239906},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AA000AA, 00AA00, 000AA00, 0000AA00, 00AAA00, 000AAA00 or 0000AAA00","error":401,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":402,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":400,"data":null}}}}}}},"/FR-bike/{LicensePlate}":{"get":{"tags":["France"],"summary":"Information about a motorcycle","description":"The Fr-bike endpoint is tailored to provide comprehensive information about motorcycles registered in France. By utilizing the license plate as input, you can retrieve vital details including the make, model, registration year, engine specifications, fuel type, and other specific features of the motorcycle. This service is crafted to offer a thorough overview of the motorcycle's characteristics, facilitating the retrieval of accurate and detailed vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"AA000AA","pattern":"^[a-zA-Z]{2}[0-9]{3}[a-zA-Z]{2}$|^[0-9]{2,4}[a-zA-Z]{2,3}[0-9]{2}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/bikeFR"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"DJ455BR","Description":"BMW R 1200","RegistrationYear":"2014","CarMake":"BMW","CarModel":"R 1200","EngineSize":"11","FuelType":"ESSENCE","MakeDescription":"BMW","ModelDescription":"R 1200","Immobiliser":"","IndicativeValue":0,"DriverSide":"","BodyStyle":"TOUS TERRAINS","RegistrationDate":"2014-07-30","ExtendedData":{"anneeSortie":"2014","boiteDeVitesse":"MECANIQUE","carburantVersion":"E","carrosserieVersion":"","classeSra":"","libVersion":"","libelleModele":"R 1200","marque":"","modele":"","produit":"","puissance":"11","version":"","cleCarrosserie":"","groupeSra":"","nbPlace":"2","datePremiereMiseCirculation":"30072014","questionBatterie":"","electrique":"","genre":"MTT2","typeVehicule":"","numSerieMoteur":"WB10A0101EZ151151","valeurANeufSRA":"","niveauRisqueVol":"","protectionConstructeur":"","puissanceDyn":"","segmentVeh":"","KtypeId":"","EngineCC":"","Co2":"0","Cylinders":"","CNIT":"L3EBMWM2009P056"},"TimeStamp":1710262380},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"bike not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example AA000AA, 00AA00, 000AA00, 0000AA00, 00AAA00, 000AAA00 or 0000AAA00","error":404,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":405,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":403,"data":null}}}}}}},"/PT-car/{LicensePlate}":{"get":{"tags":["Portugal"],"summary":"Information about a car","description":"The PT-car endpoint for Portugal allows you to retrieve comprehensive details about a vehicle registered in Portugal. By providing the license plate, you can access key information such as the make, model, registration year, and detailed technical specifications, offering a thorough overview of the vehicle's characteristics. This service is designed to facilitate quick and accurate consultation of vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"90-27-QL","pattern":"^[0-9]{4}[a-zA-Z]{2}$|^[a-zA-Z]{2}[0-9]{2}[a-zA-Z]{2}$|^[0-9]{2}\\-{1}[0-9]{2}\\-{1}[a-zA-Z]{2}$|^[a-zA-Z]{2}\\-{1}[0-9]{2}\\-{1}[a-zA-Z]{2}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/carPT"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"AA-00-AA","ABICode":"939747","Description":"VOLKSWAGEN ID.4 ID.4 77 kWh Pro Urban","RegistrationYear":"2025","CarMake":"VOLKSWAGEN","CarModel":"ID.4","EngineSize":"0","FuelType":"E","MakeDescription":"VOLKSWAGEN","ModelDescription":"ID.4","Immobiliser":"","NumberOfSeats":"5","IndicativeValue":"","DriverSide":"","Version":"ID.4 77 kWh Pro Urban","Colour":"","VechileIdentificationNumber":"","GrossWeight":"1979","NetWeight":"1979","Imported":0,"RegistrationDate":"01/4/2025","TimeStamp":1743605674},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example 90-27-QL, 9027QL, AA-00-AA or AA00AA","error":601,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":602,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":600,"data":null}}}}}}},"/PT-insurance/{LicensePlate}":{"get":{"tags":["Portugal"],"summary":"Information about car insurance","description":"The PT-insurance endpoint for Portugal allows you to verify the insurance status of a vehicle registered in Portugal. By providing the license plate, you can retrieve crucial insurance details, including the insurance company (Company), expiration date (Expiry), a timestamp representation of the expiration date (ExpiryTimeStamp), and whether the Policy number. This service ensures quick access to up-to-date information on the insurance status of a registered vehicle.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"9027QL","pattern":"^[0-9]{4}[a-zA-Z]{2}$|^[a-zA-Z]{2}[0-9]{2}[a-zA-Z]{2}$|^[0-9]{2}\\-{1}[0-9]{2}\\-{1}[a-zA-Z]{2}$|^[a-zA-Z]{2}\\-{1}[0-9]{2}\\-{1}[a-zA-Z]{2}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/insurancePT"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"9027QL","Company":"Zurich Insurance Europe AG (ZIE), Sucursal em Portugal","StartDate":"2021-03-10T00:00:00","StartDateTimeStamp":1615334400,"Expiry":"2025-09-09T23:59:59","ExpiryTimeStamp":1757462399,"Policy":"008758722","TimeStamp":1743608113},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"insurance not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example 90-27-QL, 9027QL, AA-00-AA or AA00AA","error":604,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":605,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":603,"data":null}}}}}}},"/ES-car/{LicensePlate}":{"get":{"tags":["Spain"],"summary":"Information about a car","description":"The ES-car endpoint for Spain allows you to retrieve comprehensive details about a vehicle registered in Spain. By providing the license plate, you can access key information such as the make, model, registration year, and detailed technical specifications, offering a thorough overview of the vehicle's characteristics. This service is designed to facilitate quick and accurate consultation of vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"5776CNS","pattern":"^[0-9]{4}[a-zA-Z]{3}$|^[a-zA-Z]{1,2}[0-9]{1,6}$|^[a-zA-Z]{1,2}[0-9]{4}[a-zA-Z]{1,2}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/carES"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"5776CNS","Description":"AUDI A3","CarMake":"AUDI","CarModel":"A3","MakeDescription":"AUDI","ModelDescription":"A3","EngineSize":"1595","VehicleIdentificationNumber":null,"RegistrationYear":"2003","RegistrationDate":"17/11/2003","Variation":"1.6 ATTRACTION","Seats":null,"VariantType":"Gasolina 1595 cc 5 puertas","VehicleType":"Car","Fuel":"Gasolina","IndicativePrice":null,"Doors":"5","AllTerain":null,"KType":null,"DynamicPower":"102.0","Stolen":null,"TimeStamp":1744120004},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"car not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example 0000AAA, A0000, AA00000, A0000A, A0000AA, AA0000A or AA0000AA","error":701,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":702,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":700,"data":null}}}}}}},"/ES-bike/{LicensePlate}":{"get":{"tags":["Spain"],"summary":"Information about a motorcycle","description":"The ES-bike endpoint for Spain enables you to obtain detailed information about a motorcycle registered in Spain. By providing the license plate, you can access essential details such as the make, model, registration year, and specific features of the motorcycle. This service is designed to offer a comprehensive overview of the motorcycle's characteristics, facilitating quick and accurate consultation of vehicular information.\n\nDuring periods of high traffic, data sources may experience slower response times. To ensure service availability during these peak load periods or maintenance, we've implemented a 10-second timeout. Upon timeout, a unique ID is generated, allowing clients to poll for status updates. In this case an http code 302 and a Location header with address https://automotive.openapi.com/check_id/ID are returned. The call may be automatically redirected by your system so make sure you have used a valid token for both endpoints or disable automatic redirection.","parameters":[{"name":"LicensePlate","in":"path","description":"License plate","required":true,"schema":{"type":"string","example":"2002ZBF","pattern":"^[0-9]{4}[a-zA-Z]{3}$|^[a-zA-Z]{1,2}[0-9]{1,6}$|^[a-zA-Z]{1,2}[0-9]{4}[a-zA-Z]{1,2}$"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/bikeES"},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"examples":{"synchronous":{"value":{"data":{"LicensePlate":"2002ZBF","Description":"SUZUKI DL 650 V-STROM","CarMake":"SUZUKI","CarModel":"DL 650","MakeDescription":"SUZUKI","ModelDescription":"DL 650","EngineSize":"645","VehicleIdentificationNumber":"","RegistrationYear":"2003","RegistrationDate":"01/11/2003","Variation":"V-STROM","Seats":1,"VariantType":"","VehicleType":"MOTOCICLETA","Fuel":"GASOLINA","IndicativePrice":"7909.79","Doors":0,"AllTerain":0,"KType":0,"Transmission":"MANUAL","DynamicPower":"68","Stolen":null,"TimeStamp":1744119228},"success":true,"message":"","error":null}}}}}},"302":{"description":"Found","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before trying again"},"Location":{"schema":{"type":"string"},"description":"Url to call after waiting the retry-after seconds"}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asynch"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"asynchronous":{"value":{"data":{"state":"PENDING","id":"66a8ed9b82cf2ae627012068"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"data":[],"success":true,"message":"bike not found","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"formally incorrect license plate; valid format example 0000AAA, A0000, AA00000, A0000A, A0000AA, AA0000A or AA0000AA","error":704,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"internal error, service not available at the moment","error":705,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you did not pass any value","error":703,"data":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}