{"openapi":"3.0.0","info":{"title":"Catasto","version":"3.0.0","description":"This API provides structured access to official Italian real estate registry information related to **properties** and **subjects** (individuals and legal entities).\n\n### **Dati Catastali**\nThe API allows consultation of the Italian Cadastre to retrieve detailed information about buildings and land plots and their registered holders. It is possible to:\n- consult cadastral data for a specific property\n- identify the registered holders of a property\n- retrieve the list of properties owned by a physical or legal subject\n- obtain detailed descriptions of properties associated with a subject\n- determine the total number of land plots and buildings owned by a subject\n- retrieve the list of properties located on a specific address\\n\n### **Visure Catastali**\nThe API includes the generation of the cadastral view PDF (Visura Catastale) for both properties and subjects.\n### **Visure Ipotecarie**\nThe API includes access to **land registry searches (visure ipotecarie)**, which provide information about **registry entries (notes/formalities)** associated with properties or subjects, as recorded by the Italian Land Registry Offices (Conservatorie).\nThrough land registry search services it is possible to:\n- identify the Land Registry Offices where a subject has\n  regist entries (notes/formalities)\n- retrieve the list of registry entries for a subject or property\n  within a specific Land Registry Office\n- obtain the detailed information of a single registry entry\n### **Estratto Mappa**\nThrough this service you can get the pdf of the map extract from the land registry\n","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://catasto.openapi.it","description":"Production"},{"url":"https://test.catasto.openapi.it","description":"Sandbox"}],"tags":[{"name":"Territorio","description":"Methods that allow consultation of provinces, municipalities, cadastral sections and Land Registry Offices (Conservatorie) of the Italian territory."},{"name":"Richiesta","description":"Methods that allow you to create and view a request for information regarding buildings or land to the land registry"},{"name":"Indirizzo","description":"Method that allows you to search for an address"},{"name":"Visura Catastale","description":"Methods that make it possible to obtain a Visura Catastale"},{"name":"Visura Ipotecaria","description":"Methods to retrieve land registry notes (formalities) for subjects or properties, including Land Registry Office discovery, note listing, and note details."},{"name":"Estratto Mappa","description":"Methods that allow you to obtain a map extract"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"VisureIpotecarie":{"type":"object","properties":{"id":{"type":"string","example":"696e4fc6fb352796ad0dadf0"},"endpoint":{"type":"string","description":"The service that generated the request.","enum":["ispezione_nazionale","ispezione_elenco_note","ispezione_dettaglio_nota"],"example":"ispezione_nazionale"},"stato":{"type":"string","description":"Current processing status.","enum":["evasa","in_lavorazione","in_erogazione"],"example":"evasa"},"timestamp":{"type":"integer","description":"Unix timestamp.","example":1768837062},"owner":{"type":"string","example":"test@email.it"}}},"BodyDettaglioNotaSoggettoGenerale":{"type":"object","required":["tipo_restrizione","tipo_registro","conservatoria","anno","registro_generale","cf_piva"],"properties":{"tipo_restrizione":{"type":"string","description":"Restriction type for the inspection.","enum":["soggetto_fisico","soggetto_giuridico"],"example":"soggetto_fisico"},"tipo_registro":{"type":"string","description":"Registry type.","enum":["generale"],"example":"generale"},"conservatoria":{"type":"string","description":"Land Registry Office identifier or name.","example":"RM10-19971231-ROMA 1"},"anno":{"type":"integer","description":"Year (4 digits).","example":2025},"registro_generale":{"type":"integer","description":"General registry number.","example":10206},"cf_piva":{"type":"string","description":"Tax code (CF) or VAT number (P.IVA) of the subject.","example":"RSSMRA80A01H501U"},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"richiedente":{"type":"string","nullable":true,"description":"Requester tax code (Codice Fiscale).","example":"RSSMRA80A01H501U"},"motivo":{"type":"string","nullable":true,"description":"Reason of the request.","example":"verifica preliminare per compravendita"}}},"BodyDettaglioNotaSoggettoParticolare":{"type":"object","required":["tipo_restrizione","tipo_registro","conservatoria","anno","tipo_nota","registro_particolare","cf_piva"],"properties":{"tipo_restrizione":{"type":"string","enum":["soggetto_fisico","soggetto_giuridico"],"example":"soggetto_fisico"},"tipo_registro":{"type":"string","enum":["particolare"],"example":"particolare"},"conservatoria":{"type":"string","example":"RM10-19971231-ROMA 1"},"anno":{"type":"integer","description":"Year (4 digits).","example":2025},"tipo_nota":{"type":"string","description":"Note type (category).","enum":["trascrizioni","iscrizioni","annotazioni","privilegi_agrari","privilegi_speciali","privilegi_minerali"],"example":"trascrizioni"},"registro_particolare":{"type":"integer","description":"Particular registry number.","example":123456},"cf_piva":{"type":"string","example":"RSSMRA80A01H501U"},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"richiedente":{"type":"string","nullable":true,"example":"RSSMRA80A01H501U"},"motivo":{"type":"string","nullable":true,"example":"verifica preliminare per compravendita"}}},"BodyDettaglioNotaImmobileGenerale":{"type":"object","required":["tipo_restrizione","tipo_registro","conservatoria","anno","registro_generale","comune","tipo_catasto","foglio","particella"],"properties":{"tipo_restrizione":{"type":"string","enum":["immobile"],"example":"immobile"},"tipo_registro":{"type":"string","enum":["generale"],"example":"generale"},"conservatoria":{"type":"string","example":"RM10-19971231-ROMA 1"},"anno":{"type":"integer","description":"Year (4 digits).","example":2025},"registro_generale":{"type":"integer","example":123456},"comune":{"type":"string","description":"Municipality identifier or name.","example":"H501#RMROMA##"},"tipo_catasto":{"type":"string","example":"F"},"foglio":{"type":"integer","example":405},"particella":{"type":"integer","example":875},"subalterno":{"type":"integer","nullable":true,"example":5},"sezione":{"type":"string","nullable":true},"sezione_urbana":{"type":"string","nullable":true,"example":""},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"richiedente":{"type":"string","nullable":true,"example":"RSSMRA80A01H501U"},"motivo":{"type":"string","nullable":true,"example":"verifica preliminare per compravendita"}}},"BodyDettaglioNotaImmobileParticolare":{"type":"object","required":["tipo_restrizione","tipo_registro","conservatoria","anno","tipo_nota","registro_particolare","comune","tipo_catasto","foglio","particella"],"properties":{"tipo_restrizione":{"type":"string","enum":["immobile"],"example":"immobile"},"tipo_registro":{"type":"string","enum":["particolare"],"example":"particolare"},"conservatoria":{"type":"string","example":"RM10-19971231-ROMA 1"},"anno":{"type":"integer","example":2025},"tipo_nota":{"type":"string","enum":["trascrizioni","iscrizioni","annotazioni","privilegi_agrari","privilegi_speciali","privilegi_minerali"],"example":"trascrizioni"},"registro_particolare":{"type":"integer","example":123456},"comune":{"type":"string","example":"H501#RMROMA##"},"tipo_catasto":{"type":"string","example":"F"},"foglio":{"type":"integer","example":405},"particella":{"type":"integer","example":875},"subalterno":{"type":"integer","nullable":true,"example":5},"sezione":{"type":"string","nullable":true},"sezione_urbana":{"type":"string","nullable":true,"example":""},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"richiedente":{"type":"string","nullable":true,"example":"RSSMRA80A01H501U"},"motivo":{"type":"string","nullable":true,"example":"verifica preliminare per compravendita"}}},"BodyIpotecarieDettaglioNota":{"oneOf":[{"$ref":"#/components/schemas/BodyDettaglioNotaSoggettoGenerale"},{"$ref":"#/components/schemas/BodyDettaglioNotaSoggettoParticolare"},{"$ref":"#/components/schemas/BodyDettaglioNotaImmobileGenerale"},{"$ref":"#/components/schemas/BodyDettaglioNotaImmobileParticolare"}],"discriminator":{"propertyName":"tipo_restrizione"}},"BodyElencoNoteImmobile":{"type":"object","required":["entita","comune","tipo_catasto","conservatoria","foglio","particella"],"properties":{"entita":{"type":"string","description":"Request type.","enum":["ispezione_immobile"],"example":"ispezione_immobile"},"comune":{"type":"string","description":"Municipality name.","example":"Roma"},"tipo_catasto":{"type":"string","description":"Cadastral type (e.g. F for Fabbricati, T for Terreni).","example":"F"},"conservatoria":{"type":"string","description":"Land Registry Office identifier or name.","example":"ROMA 1"},"foglio":{"type":"integer","example":6},"particella":{"type":"integer","example":260},"subalterno":{"type":"integer","nullable":true,"example":5},"sezione":{"type":"string","nullable":true,"description":"Optional cadastral section."},"sezione_urbana":{"type":"string","nullable":true,"description":"Optional urban section.","example":""}}},"BodyElencoNoteSoggetto":{"type":"object","required":["entita","conservatoria","cf_piva"],"properties":{"entita":{"type":"string","description":"Request type.","enum":["ispezione_soggetto"],"example":"ispezione_soggetto"},"conservatoria":{"type":"string","description":"Land Registry Office identifier or name.","example":"terni"},"cf_piva":{"type":"string","description":"Tax code (CF) or VAT number (P.IVA) of the subject.","example":"RSSMRA80A01H501U"}}},"BodyIpotecarieElencoNote":{"oneOf":[{"$ref":"#/components/schemas/BodyElencoNoteImmobile"},{"$ref":"#/components/schemas/BodyElencoNoteSoggetto"}],"discriminator":{"propertyName":"entita"}},"BodyIspezioneNazionale":{"type":"object","required":["cf_piva"],"properties":{"cf_piva":{"type":"string","description":"Tax code (CF) or VAT number (P.IVA) of the subject.","example":"01114601006"},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"richiedente":{"type":"string","nullable":true,"description":"Codice Fiscale.","example":"RSSMRA80A01H501U"},"motivo":{"type":"string","nullable":true,"description":"Reason of the request.","example":"verifica preliminare per compravendita"}}},"risultatoIspezioneNazionale":{"oneOf":[{"$ref":"#/components/schemas/risultatoIspezioneNazionalePersona"},{"$ref":"#/components/schemas/risultatoIspezioneNazionaleSocieta"}],"discriminator":{"propertyName":"entita"}},"risultatoIspezioneNazionalePersona":{"type":"object","properties":{"risultato":{"type":"object","properties":{"soggetti":{"type":"array","items":{"$ref":"#/components/schemas/IspezioneNazionaleSoggettoFisico"}}}}}},"risultatoIspezioneNazionaleSocieta":{"type":"object","properties":{"risultato":{"type":"object","properties":{"soggetti":{"type":"array","items":{"$ref":"#/components/schemas/IspezioneNazionaleSoggettoGiuridico"}}}}}},"IspezioneNazionaleConservatoria":{"type":"object","properties":{"conservatoria":{"type":"string"},"trascrizioni":{"type":"string"},"iscrizioni":{"type":"string"},"annotazioni":{"type":"string"}}},"IspezioneNazionaleSoggettoFisico":{"type":"object","properties":{"cognome":{"type":"string"},"nome":{"type":"string"},"data_nascita":{"type":"string"},"sesso":{"type":"string"},"luogo_nascita":{"type":"string"},"cf":{"type":"string"},"conservatorie":{"type":"array","items":{"$ref":"#/components/schemas/IspezioneNazionaleConservatoria"}}}},"IspezioneNazionaleSoggettoGiuridico":{"type":"object","properties":{"denominazione":{"type":"string"},"sede":{"type":"string"},"cf":{"type":"string"},"conservatorie":{"type":"array","items":{"$ref":"#/components/schemas/IspezioneNazionaleConservatoria"}}}},"risultatoIspezioneElencoNote":{"oneOf":[{"$ref":"#/components/schemas/risultatoIspezioneElencoNoteImmobile"},{"$ref":"#/components/schemas/risultatoIspezioneElencoNoteSoggettoFisico"},{"$ref":"#/components/schemas/risultatoIspezioneElencoNoteSoggettoGiuridico"}],"discriminator":{"propertyName":"entita"}},"risultatoIspezioneElencoNoteImmobile":{"type":"object","properties":{"risultato":{"type":"object","properties":{"immobili":{"type":"array","items":{"$ref":"#/components/schemas/ElencoNoteImmobileItem"}}}}}},"ElencoNoteImmobileItem":{"type":"object","properties":{"identificativo_definitivo":{"$ref":"#/components/schemas/IdentificativoDefinitivo"},"identificativo_provvisorio":{"$ref":"#/components/schemas/IdentificativoProvvisorio"},"note":{"type":"array","items":{"$ref":"#/components/schemas/NotaItem"}}}},"IdentificativoDefinitivo":{"type":"object","properties":{"sezione":{"type":"string","nullable":true},"sezione_urbana":{"type":"string","nullable":true},"foglio":{"type":"string"},"particella":{"type":"string"},"subalterno":{"type":"string"}}},"IdentificativoProvvisorio":{"type":"object","properties":{"tipo_denuncia":{"type":"string","nullable":true},"numero":{"type":"string","nullable":true},"anno":{"type":"string","nullable":true}}},"NotaItem":{"type":"object","required":["tipo_nota","data_nota","registro_particolare","registro_generale","pubblico_ufficiale","repertorio","data_repertorio","tipo_atto","citta","provincia","documenti_correlati"],"properties":{"tipo_nota":{"type":"string"},"data_nota":{"type":"string"},"registro_particolare":{"type":"string"},"registro_generale":{"type":"string"},"pubblico_ufficiale":{"type":"string"},"repertorio":{"type":"string"},"data_repertorio":{"type":"string"},"tipo_atto":{"type":"string"},"citta":{"type":"string"},"provincia":{"type":"string"},"documenti_correlati":{"type":"object","nullable":true}}},"risultatoIspezioneElencoNoteSoggettoFisico":{"type":"object","properties":{"risultato":{"type":"object","properties":{"soggetti":{"type":"array","items":{"$ref":"#/components/schemas/ElencoNoteSoggettoSoggettoFisicoItem"}}}}}},"ElencoNoteSoggettoSoggettoFisicoItem":{"type":"object","properties":{"cognome":{"type":"string"},"nome":{"type":"string"},"data_nascita":{"type":"string"},"luogo_nascita":{"type":"string"},"sesso":{"type":"string"},"cf":{"type":"string"},"note":{"type":"array","items":{"$ref":"#/components/schemas/NotaItem"}}}},"risultatoIspezioneElencoNoteSoggettoGiuridico":{"type":"object","properties":{"risultato":{"type":"object","properties":{"soggetti":{"type":"array","items":{"$ref":"#/components/schemas/ElencoNoteSoggettoGiuridicoItem"}}}}}},"ElencoNoteSoggettoGiuridicoItem":{"type":"object","properties":{"denominazione":{"type":"string"},"sede":{"type":"string"},"cf":{"type":"string"},"note":{"type":"array","items":{"$ref":"#/components/schemas/NotaItem"}}}},"risultatoDettaglioNota":{"type":"object","properties":{"risultato":{"type":"object","properties":{"nota":{"$ref":"#/components/schemas/DettaglioNota"}}}}},"DettaglioNota":{"type":"object","properties":{"tipo_nota":{"type":"string"},"data_nota":{"type":"string"},"registro_particolare":{"type":"string"},"registro_generale":{"type":"string"}}},"RispostaGetIpotecarie":{"type":"object","properties":{"endpoint":{"type":"string","example":"ispezione_elenco_note"},"stato":{"type":"string","example":"evasa"},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"parametri":{"type":"object","description":"Parameters used to start the request (varies by entita).","additionalProperties":true},"risultato":{"oneOf":[{"$ref":"#/components/schemas/risultatoIspezioneNazionale"},{"$ref":"#/components/schemas/risultatoIspezioneElencoNote"},{"$ref":"#/components/schemas/risultatoDettaglioNota"}],"discriminator":{"propertyName":"endpoint"}},"esito":{"type":"string","nullable":true},"documento":{"type":"string","nullable":true},"richiedente":{"type":"string","nullable":true,"example":"RSSMRA80C24H501J"},"motivo":{"type":"string","nullable":true,"example":"verifica preliminare per compravendita"},"timestamp":{"type":"integer","example":1768907012},"owner":{"type":"string","example":"test@email.it"},"id":{"type":"string","example":"696f6104fb66be7939088fa3"}}},"RispostaPostIpotecarie":{"type":"object","properties":{"endpoint":{"type":"string","example":"ispezione_elenco_note"},"stato":{"type":"string","example":"in_erogazione"},"callback":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Callback"}]},"parametri":{"type":"object","description":"Echo of request body.","additionalProperties":true},"risultato":{"type":"object","nullable":true,"description":"Always null in POST responses.\n"},"esito":{"type":"string","nullable":true},"documento":{"type":"string","nullable":true},"richiedente":{"type":"string","nullable":true,"example":"RSSMRA80C24H501J"},"motivo":{"type":"string","nullable":true,"example":"verifica preliminare per compravendita"},"timestamp":{"type":"integer","example":1768907012},"owner":{"type":"string","example":"test@email.it"},"id":{"type":"string","example":"696f6104fb66be7939088fa3"}}},"TipoCatasto":{"type":"string","enum":["T","F","TF"],"description":"- **T** = Terreni (land) - **F** = Fabbricati (buildings) - **TF** = Both domains (where supported by the endpoint)\n","example":"F"},"Comune":{"type":"object","properties":{"comune":{"type":"string"},"sezioni":{"type":"array","items":{"type":"string"}},"codice_catastale":{"type":"string"}}},"Richieste":{"type":"object","properties":{"id":{"type":"string"},"endpoint":{"type":"string"},"stato":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"Richiesta":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"endpoint":{"type":"string","enum":["elenco_immobili","prospetto_catastale","ricerca_persona_giuridica","ricerca_persona_fisica","ricerca_nazionale_pg","ricerca_nazionale_pf","indirizzo"]},"stato":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"parametri":{"oneOf":[{"$ref":"#/components/schemas/ParametriElencoImmobili"},{"$ref":"#/components/schemas/ParametriProspettoCatastale"},{"$ref":"#/components/schemas/ParametriRicercaPersona"},{"$ref":"#/components/schemas/ParametriRicercaNazionale"},{"$ref":"#/components/schemas/ParametriIndirizzo"}]},"risultato":{"type":"object","nullable":true,"description":"Always null in POST responses.\n"},"esito":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"ParametriElencoImmobili":{"type":"object","properties":{"tipo_catasto":{"$ref":"#/components/schemas/TipoCatasto"},"provincia":{"type":"string","description":"Province code (2 letters, e.g. **RM**, **GE**).","example":"RM"},"comune":{"type":"string","description":"Municipality name (e.g. **ROMA**).","example":"ROMA"},"sezione":{"type":"string","description":"Cadastral section. **Required only for municipalities that have sections** (see `Territorio.sezioni`). Otherwise leave empty.\n","example":""},"sezione_urbana":{"type":"string","description":"Urban section. **Never required**. Provide only if known; otherwise leave empty.\n","example":""},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral sheet number.","example":872},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral parcel/plot number.","example":405}},"required":["tipo_catasto","provincia","comune","foglio","particella"]},"BodyPostElencoImmobili":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"},"tipo_catasto":{"$ref":"#/components/schemas/TipoCatasto"},"provincia":{"type":"string","description":"Province code (2 letters).","example":"RM"},"comune":{"type":"string","description":"Municipality name in uppercase.","example":"ROMA"},"sezione":{"type":"string","description":"Required only if the municipality exposes sections.","example":""},"sezione_urbana":{"type":"string","description":"Never required; include only if available.","example":""},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral sheet number.","example":872},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral parcel number.","example":405}},"required":["tipo_catasto","provincia","comune","foglio","particella"]},"ParametriProspettoCatastale":{"type":"object","properties":{"tipo_catasto":{"$ref":"#/components/schemas/TipoCatasto"},"provincia":{"type":"string","description":"Province code (2 letters).","example":"RM"},"comune":{"type":"string","description":"Municipality name in uppercase.","example":"ROMA"},"sezione":{"type":"string","description":"Required only for municipalities with sections; otherwise empty.","example":""},"sezione_urbana":{"type":"string","description":"Never required; optional.","example":""},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral sheet number.","example":872},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral parcel number.","example":405},"subalterno":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Subunit identifier (required for detailed property prospect).","example":48}},"required":["tipo_catasto","provincia","comune","foglio","particella"]},"BodyPostProspettoCatastale":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"},"tipo_catasto":{"$ref":"#/components/schemas/TipoCatasto"},"provincia":{"type":"string","description":"Province code (2 letters).","example":"RM"},"comune":{"type":"string","description":"Municipality name in uppercase.","example":"ROMA"},"sezione":{"type":"string","description":"Required only if the municipality exposes sections.","example":""},"sezione_urbana":{"type":"string","description":"Never required; optional.","example":""},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral sheet number.","example":872},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Cadastral parcel number.","example":405},"subalterno":{"oneOf":[{"type":"string"},{"type":"integer"}],"description":"Subunit identifier; needed to target a single unit (e.g., apartments).","example":48}},"required":["tipo_catasto","provincia","comune","foglio","particella"]},"ParametriRicercaPersona":{"type":"object","properties":{"cf_piva":{"type":"string","description":"Italian tax code (**CF**) or VAT number (**P.IVA**) of the subject/company.","example":"12485671007"},"tipo_catasto":{"$ref":"#/components/schemas/TipoCatasto"},"provincia":{"type":"string","description":"Province code (2 letters). Required for local searches.","example":"RM"}},"required":["cf_piva","tipo_catasto","provincia"]},"BodyPostRicercaPersona":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"},"cf_piva":{"type":"string"},"tipo_catasto":{"type":"string","enum":["T","F","TF"]},"provincia":{"type":"string"}},"required":["cf_piva","tipo_catasto","provincia"]},"ParametriRicercaNazionale":{"type":"object","properties":{"cf_piva":{"type":"string","description":"Italian tax code (CF) or VAT number (P.IVA).","example":"12485671007"},"tipo_catasto":{"$ref":"#/components/schemas/TipoCatasto"}},"required":["cf_piva","tipo_catasto"]},"BodyPostRicercaNazionale":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"},"cf_piva":{"type":"string"},"tipo_catasto":{"type":"string","enum":["T","F","TF"]}},"required":["cf_piva","tipo_catasto"]},"ParametriIndirizzo":{"type":"object","properties":{"id_indirizzo":{"type":"string","description":"Address identifier returned by the address search endpoint.","example":"MjUwNSMyMzYjVklBIERFTCBSSVZP"},"dal_civico":{"type":"string","description":"From street number (inclusive). Optional.","example":"2"},"al_civico":{"type":"string","description":"To street number (inclusive). Optional.","example":"3"}},"required":["id_indirizzo"]},"BodyPostIndirizzo":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"},"id_indirizzo":{"type":"string"},"dal_civico":{"type":"string"},"al_civico":{"type":"string"}},"required":["id_indirizzo"]},"RisultatoElencoImmobiliFabbricati":{"type":"object","properties":{"immobili":{"type":"array","items":{"type":"object","properties":{"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"indirizzo":{"type":"string"},"sezione":{"type":"string"},"zona_censuaria":{"type":"string"},"categoria":{"type":"string"},"classe":{"type":"string"},"consistenza":{"type":"string"},"rendita":{"type":"string"},"partita":{"type":"string"},"id_immobile":{"type":"string"}}}}}},"RisultatoElencoImmobiliTerreni":{"type":"object","properties":{"immobili":{"type":"array","items":{"type":"object","properties":{"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"qualita":{"type":"string"},"classe":{"type":"string"},"ha":{"type":"string","description":"hectare"},"are":{"type":"string","description":"ara: 100 square meters"},"ca":{"type":"string","description":"centiara: 1 square meter"},"reddito_dominicale":{"type":"string"},"reddito_agrario":{"type":"string"},"partita":{"type":"string"},"porzioni":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/Porzioni"}}]},"id_immobile":{"type":"string"}}}}}},"RisultatoProspettoCatastaleFabbricati":{"type":"object","properties":{"immobili":{"type":"array","items":{"type":"object","properties":{"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"indirizzo":{"type":"string"},"sezione":{"type":"string"},"zona_censuaria":{"type":"string"},"categoria":{"type":"string"},"classe":{"type":"string"},"consistenza":{"type":"string"},"rendita":{"type":"string"},"partita":{"type":"string"},"id_immobile":{"type":"string"},"intestatari":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string"},"cf":{"type":"string"},"proprieta":{"type":"string"},"quota":{"type":"string"}}}}}}}}},"RisultatoProspettoCatastaleTerreni":{"type":"object","properties":{"immobili":{"type":"array","items":{"type":"object","properties":{"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"qualita":{"type":"string"},"classe":{"type":"string"},"ha":{"type":"string"},"are":{"type":"string"},"ca":{"type":"string"},"reddito_dominicale":{"type":"string"},"reddito_agrario":{"type":"string"},"partita":{"type":"string"},"porzioni":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/Porzioni"}}]},"id_immobile":{"type":"string"},"intestatari":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string"},"cf":{"type":"string"},"proprieta":{"type":"string"},"quota":{"type":"string"}}}}}}}}},"Porzioni":{"type":"object","properties":{"porzione":{"type":"string"},"qualita":{"type":"string"},"classe":{"type":"string"},"ha":{"type":"string"},"are":{"type":"string"},"ca":{"type":"string"},"reddito_dominicale":{"type":"string"},"reddito_agrario":{"type":"string"}}},"RisultatoRicercaPersonaFisica":{"type":"object","properties":{"soggetti":{"type":"array","items":{"type":"object","properties":{"cognome":{"type":"string"},"nome":{"type":"string"},"data_nascita":{"type":"string"},"luogo_nascita":{"type":"string"},"sesso":{"type":"string"},"cf":{"type":"string"},"id_soggetto":{"type":"string"},"immobili":{"type":"array","items":{"type":"object","properties":{"catasto":{"type":"string"},"titolarita":{"type":"string"},"ubicazione":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"codice_catastale":{"type":"string"},"sezione":{"type":"string"},"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"classamento":{"type":"string"},"classe":{"type":"string"},"consistenza":{"type":"string"},"rendita":{"type":"string"},"id_immobile":{"type":"string"}}}}}}}}},"RisultatoRicercaPersonaGiuridica":{"type":"object","properties":{"soggetti":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string"},"sede":{"type":"string"},"cf":{"type":"string"},"id_soggetto":{"type":"string"},"immobili":{"type":"array","items":{"type":"object","properties":{"catasto":{"type":"string"},"titolarita":{"type":"string"},"ubicazione":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"codice_catastale":{"type":"string"},"sezione":{"type":"string"},"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"classamento":{"type":"string"},"classe":{"type":"string"},"consistenza":{"type":"string"},"rendita":{"type":"string"},"id_immobile":{"type":"string"}}}}}}}}},"RisultatoRicercaNazionalePF":{"type":"object","properties":{"soggetti":{"type":"array","items":{"type":"object","properties":{"cognome":{"type":"string"},"nome":{"type":"string"},"data_nascita":{"type":"string"},"luogo_nascita":{"type":"string"},"sesso":{"type":"string"},"cf":{"type":"string"},"id_soggetto":{"type":"string"},"catasti":{"type":"array","items":{"type":"object","properties":{"citta":{"type":"string"},"fabbricati":{"type":"integer"},"terreni":{"type":"integer"},"provincia":{"type":"string"},"comuni":{"type":"array","items":{"type":"object","properties":{"comune":{"type":"string"},"fabbricati":{"type":"integer"},"terreni":{"type":"integer"}}}}}}}}}}}},"RisultatoRicercaNazionalePG":{"type":"object","properties":{"soggetti":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string"},"sede":{"type":"string"},"cf":{"type":"string"},"id_soggetto":{"type":"string"},"catasti":{"type":"array","items":{"type":"object","properties":{"citta":{"type":"string"},"fabbricati":{"type":"integer"},"terreni":{"type":"integer"},"provincia":{"type":"string"},"comuni":{"type":"array","items":{"type":"object","properties":{"comune":{"type":"string"},"fabbricati":{"type":"integer"},"terreni":{"type":"integer"}}}}}}}}}}}},"RisultatoIndirizzo":{"type":"object","properties":{"immobili":{"type":"array","items":{"type":"object","properties":{"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"indirizzo":{"type":"string"},"zona_censuaria":{"type":"string"},"categoria":{"type":"string"},"classe":{"type":"string"},"consistenza":{"type":"string"},"rendita":{"type":"string"},"id_immobile":{"type":"string"}}}}}},"Callback":{"description":"This is our standardized OpenAPI callback system. It enables the configuration of parameters for receiving notifications about status updates of asynchronous requests to this endpoint.\n","oneOf":[{"type":"object","required":["url"],"properties":{"method":{"type":"string","description":"Specify the callback method. When set to 'POST', a standard HTTP POST request will be initiated with the Content-Type header set to application/x-www-form-urlencoded. The JSON data will be encoded into a key-value pair named data (customizable using the field parameter) within the request body. If the method is set to 'JSON', a direct HTTP POST request will be made with the Content-Type header set to application/json. The raw JSON data will be directly inserted into the request body without any encoding.\n","enum":["POST","JSON"],"default":"JSON"},"field":{"type":"string","description":"This parameter works in conjunction with the 'method' parameter set to 'POST'. When provided as a string, it determines the name of the parameter that will be sent in the POST request.\n","example":"data","default":"data"},"url":{"type":"string","format":"uri","description":"A valid URL capable of handling POST requests must be entered into this parameter. For endpoints requiring authentication, the 'headers' parameter can be used to specify 'basic auth' or 'bearer auth'. The maximum timeout is 30 seconds. If 'retry' is set, the system will retry up to 'retry' times until a 200 status code is received.\n","example":"https://www.mysite.com/myEndpoint"},"retry":{"type":"integer","description":"The maximum number of attempts is defined by the 'retry' parameter. If the maximum number of attempts is reached without a successful status code (e.g., 200 OK), the request is considered a final failure. A time interval is often introduced between attempts to avoid overloading the server. This interval may increase exponentially with each attempt to reduce the impact on an overloaded server. The 'retry' parameter is configured to retry the request only in case of specific status codes, typically those indicating temporary errors (e.g., 502, 503) or network issues.\n","example":3,"maximum":5,"minimum":0,"default":0},"headers":{"type":"object","properties":{"key":{"type":"string"}},"description":"A collection of HTTP headers to be sent with the request. Each header is defined as a key-value pair. Headers can be used for various purposes, including authentication, content negotiation, and custom metadata.\n","example":{"session_id":"9834r5fh589494"}},"custom":{"type":"object","description":"This object can be populated with any additional data you wish to include in the callback response. This data will be accessible within the 'custom' parameter of the callback function. You can use this to store and retrieve any relevant information that you need for your application.\n","example":{"my_custom_id":"123456789"}}}},{"type":"object","description":"Indicate through which method you want to receive data with the callback, by default it is POST","properties":{"method":{"type":"string","description":"Indicate through which method you want to receive data with the callback, by default it is POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Name of the field containing the callback return data"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.com/myEndpoint"},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}}}]},"BodyPostRicercaIndirizzo":{"type":"object","properties":{"provincia":{"type":"string"},"comune":{"type":"string"},"sezione":{"type":"string"},"indirizzo":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["provincia","comune","indirizzo"]},"RispostaPostIndirizzo":{"type":"object","properties":{"data":{"type":"object","properties":{"endpoint":{"type":"string"},"stato":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"parametri":{"type":"object","properties":{"provincia":{"type":"string"},"comune":{"type":"string"},"sezione":{"type":"string"},"indirizzo":{"type":"string"}}},"risultato":{"type":"object","nullable":true,"description":"Always null in POST responses.\n"},"esito":{"type":"string","nullable":true},"timestamp":{"type":"integer"},"owner":{"type":"string"},"id":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"RispostaPostRichiesta":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"endpoint":{"type":"string","enum":["elenco_immobili","prospetto_catastale","ricerca_persona_giuridica","ricerca_persona_fisica","ricerca_nazionale_pg","ricerca_nazionale_pf","indirizzo"]},"stato":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"parametri":{"oneOf":[{"$ref":"#/components/schemas/ParametriElencoImmobili"},{"$ref":"#/components/schemas/ParametriProspettoCatastale"},{"$ref":"#/components/schemas/ParametriRicercaPersona"},{"$ref":"#/components/schemas/ParametriRicercaNazionale"},{"$ref":"#/components/schemas/ParametriIndirizzo"}]},"risultato":{"oneOf":[{"$ref":"#/components/schemas/RisultatoElencoImmobiliFabbricati"},{"$ref":"#/components/schemas/RisultatoElencoImmobiliTerreni"},{"$ref":"#/components/schemas/RisultatoProspettoCatastaleFabbricati"},{"$ref":"#/components/schemas/RisultatoProspettoCatastaleTerreni"},{"$ref":"#/components/schemas/RisultatoRicercaPersonaFisica"},{"$ref":"#/components/schemas/RisultatoRicercaPersonaGiuridica"},{"$ref":"#/components/schemas/RisultatoRicercaNazionalePF"},{"$ref":"#/components/schemas/RisultatoRicercaNazionalePG"},{"$ref":"#/components/schemas/RisultatoIndirizzo"}]},"esito":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"RispostaSincronaIndirizzi":{"type":"object","properties":{"data":{"type":"object","properties":{"indirizzi":{"type":"array","items":{"type":"object","properties":{"id_indirizzo":{"type":"string"},"indirizzo":{"type":"string"}}}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"RisultatoListaIndirizzi":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"endpoint":{"type":"string"},"indirizzo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"RisultatoRichiestaIndirizzo":{"type":"object","properties":{"data":{"type":"object","properties":{"endpoint":{"type":"string"},"stato":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"parametri":{"type":"object","properties":{"provincia":{"type":"string"},"comune":{"type":"string"},"sezione":{"type":"string"},"indirizzo":{"type":"string"}}},"risultato":{"type":"object","properties":{"indirizzi":{"type":"array","items":{"type":"object","properties":{"id_indirizzo":{"type":"string"},"indirizzo":{"type":"string"}}}}}},"esito":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"},"id":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"Visure":{"type":"object","properties":{"id":{"type":"string"},"entita":{"type":"string","enum":["immobile","soggetto"]},"stato":{"type":"string","enum":["in_erogazione","evasa"]},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"Visura":{"type":"object","properties":{"id":{"type":"string"},"entita":{"type":"string","enum":["immobile","soggetto"]},"stato":{"type":"string","enum":["in_erogazione","in_lavorazione","evasa"]},"callback":{"$ref":"#/components/schemas/Callback"},"parametri":{"oneOf":[{"$ref":"#/components/schemas/ParametriVisuraImmobile"},{"$ref":"#/components/schemas/ParametriVisuraSoggetto"}]},"tipo_visura":{"type":"string","enum":["ordinaria","storica"]},"richiedente":{"type":"string"},"documento":{"type":"string"},"esito":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"EstrattoMappa":{"type":"object","properties":{"id":{"type":"string"},"endpoint":{"type":"string"},"stato":{"type":"string","enum":["in_erogazione","-in_lavorazione","evasa"]},"callback":{"$ref":"#/components/schemas/Callback"},"parametri":{"$ref":"#/components/schemas/ParametriEstrattoMappa"},"tipo_visura":{"type":"string","enum":["ordinaria","storica"]},"richiedente":{"type":"string"},"documento":{"type":"string"},"esito":{"type":"string"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"ParametriVisuraImmobile":{"type":"object","properties":{"id_immobile":{"type":"string"},"tipo_catasto":{"type":"string","enum":["T","F"]},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"type":"integer"},"comune":{"type":"string"},"sezione":{"type":"string"},"sezione_urbana":{"type":"string"},"provincia":{"type":"string"}}},"ParametriVisuraSoggetto":{"type":"object","properties":{"id_soggetto":{"type":"string"},"tipo_catasto":{"type":"string","enum":["T","F","TF"]},"cf_piva":{"type":"string"},"provincia":{"type":"string"}}},"ParametriEstrattoMappa":{"type":"object","properties":{"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"oneOf":[{"type":"string"},{"type":"integer"}],"nullable":true},"comune":{"type":"string"},"sezione":{"type":"string"},"provincia":{"type":"string"}}},"BodyVisuraImmobile":{"oneOf":[{"$ref":"#/components/schemas/IdImmobile"},{"$ref":"#/components/schemas/NoIdImmobile"}]},"BodyVisuraSoggetto":{"oneOf":[{"$ref":"#/components/schemas/IdSoggetto"},{"$ref":"#/components/schemas/NoIdSoggetto"}]},"IdImmobile":{"type":"object","properties":{"entita":{"type":"string","enum":["immobile"]},"id_immobile":{"type":"string"},"tipo_visura":{"type":"string","enum":["ordinaria","storica"]},"tipo_dettaglio":{"type":"string","enum":["sintetica","analitica"]},"richiedente":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["entita","id_immobile","tipo_visura"]},"NoIdImmobile":{"type":"object","properties":{"entita":{"type":"string","enum":["immobile"]},"tipo_catasto":{"type":"string","enum":["T","F"]},"tipo_dettaglio":{"type":"string","enum":["sintetica","analitica"]},"provincia":{"type":"string"},"comune":{"type":"string"},"sezione":{"type":"string"},"sezione_urbana":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}]},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}]},"subalterno":{"oneOf":[{"type":"string"},{"type":"integer"}]},"tipo_visura":{"type":"string","enum":["ordinaria","storica"]},"richiedente":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["entita","tipo_catasto","provincia","comune","foglio","particella","tipo_visura"]},"IdSoggetto":{"type":"object","properties":{"entita":{"type":"string","enum":["soggetto"]},"id_soggetto":{"type":"string"},"tipo_catasto":{"type":"string","enum":["T","F","TF"],"default":"TF"},"provincia":{"type":"string"},"tipo_visura":{"type":"string","enum":["ordinaria","storica"]},"tipo_dettaglio":{"type":"string","enum":["sintetica","analitica"]},"richiedente":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["entita","id_soggetto","tipo_visura","tipo_catasto"]},"NoIdSoggetto":{"type":"object","properties":{"entita":{"type":"string","enum":["soggetto"]},"cf_piva":{"type":"string"},"tipo_catasto":{"type":"string","enum":["T","F","TF"]},"tipo_dettaglio":{"type":"string","enum":["sintetica","analitica"]},"provincia":{"type":"string"},"tipo_visura":{"type":"string","enum":["ordinaria","storica"]},"richiedente":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["entita","cf_piva","provincia","tipo_visura","tipo_catasto"]},"BodyEstrattoMappa":{"type":"object","properties":{"provincia":{"type":"string","example":"RM"},"comune":{"type":"string","example":"ROMA"},"sezione":{"type":"string"},"foglio":{"oneOf":[{"type":"string"},{"type":"integer"}],"example":1},"particella":{"oneOf":[{"type":"string"},{"type":"integer"}],"example":1},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["provincia","comune","foglio","particella"]}}},"paths":{"/territorio":{"get":{"tags":["Territorio"],"summary":"List provinces","description":"Returns all Italian provinces. If **tipo_catasto** is omitted, the buildings (**F**) dataset is used by default.","parameters":[{"name":"tipo_catasto","in":"query","required":false,"description":"**F** = buildings (default), **T** = land.\n","schema":{"type":"string","enum":["T","F"],"default":"F"},"example":"F"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"provincia":{"type":"string","description":"Two-letter province code (e.g., **RM**, **GE**).","example":"GE"},"nome_provincia":{"type":"string","example":"GENOVA"},"id":{"type":"string","description":"Internal identifier for the province entry."}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"provincia":"GE","nome_provincia":"GENOVA","id":"60c9cc8f24a66c54f04c6df2"},{"provincia":"AV","nome_provincia":"AVELLINO","id":"60c9d49517d4af446c1af7b2"}],"success":true,"message":"","error":null}}}}}}},"/territorio/{provincia_or_nome_provincia_or_id}":{"get":{"tags":["Territorio"],"summary":"Province detail","description":"Returns the selected province with its municipalities. If **tipo_catasto** is omitted, the buildings (**F**) dataset is used by default.","parameters":[{"name":"provincia_or_nome_provincia_or_id","in":"path","required":true,"description":"Province code (**e.g., TR**), full province name (**e.g., TERNI**), or internal **id**.","schema":{"type":"string"},"example":"TR"},{"name":"tipo_catasto","in":"query","required":false,"description":"**F** = buildings (default), **T** = land.\n","schema":{"type":"string","enum":["T","F"],"default":"F"},"example":"F"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"provincia":{"type":"string"},"nome_provincia":{"type":"string"},"comuni":{"type":"array","items":{"$ref":"#/components/schemas/Comune"}},"id":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"provincia":"TR","nome_provincia":"TERNI","comuni":[{"comune":"ACQUASPARTA","sezioni":null,"codice_catastale":"A045"},{"comune":"TERNI","sezioni":null,"codice_catastale":"L117"}],"id":"60ca2d837e1f2f6f3a2bfd42"},"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no province matches this id: ","error":201,"data":null}}}}}}},"/territorio/{provincia_or_nome_provincia_or_id}/{comune}":{"get":{"tags":["Territorio"],"summary":"Municipality detail","description":"Returns the selected municipality within the given province. If **tipo_catasto** is omitted, the buildings (**F**) dataset is used by default.","parameters":[{"name":"provincia_or_nome_provincia_or_id","in":"path","required":true,"description":"Province code (**e.g., TR**), full province name (**e.g., TERNI**), or internal **id**.","schema":{"type":"string"},"example":"TR"},{"name":"comune","in":"path","required":true,"description":"Municipality name returned by **Territorio**.","schema":{"type":"string"},"example":"TERNI"},{"name":"tipo_catasto","in":"query","required":false,"description":"**F** = buildings (default), **T** = land.\n","schema":{"type":"string","enum":["T","F"],"default":"F"},"example":"F"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"provincia":{"type":"string"},"nome_provincia":{"type":"string"},"comuni":{"type":"array","items":{"$ref":"#/components/schemas/Comune"}},"id":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"provincia":"TR","nome_provincia":"TERNI","comuni":[{"comune":"TERNI","sezioni":null,"codice_catastale":"L117"}],"id":"60ca2d837e1f2f6f3a2bfd42"},"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no result matches this id: TZ and this comune: TZERI","error":200,"data":null}}}}}}},"/territorio/conservatorie":{"get":{"tags":["Territorio"],"summary":"List of Land Registry Offices","description":"Returns the list of all Italian Land Registry Offices (Conservatorie).","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"conservatoria":{"type":"string","description":"Land Registry Office name","example":"AGRIGENTO"},"id":{"type":"string","description":"Internal identifier","example":"62d02bafdb0c404a8530bc84"}}}},"success":{"type":"boolean","example":true},"message":{"type":"string","example":""},"error":{"type":"integer","nullable":true,"example":null}}},"example":{"data":[{"conservatoria":"ACQUI TERME","id":"62d02bafdb0c404a8530bc83"},{"conservatoria":"AGRIGENTO","id":"62d02bafdb0c404a8530bc84"}],"success":true,"message":"","error":null}}}}}}},"/territorio/conservatorie/{conservatoria_or_id}":{"get":{"tags":["Territorio"],"summary":"Land Registry Office municipalities and cadastral sections","description":"Returns the municipalities associated with a specific Italian Land Registry Office (Conservatoria). If the optional query parameter \"**comune**\" is provided, returns\n section for the selected municipality within the same Conservatoria.","parameters":[{"in":"path","name":"conservatoria_or_id","required":true,"schema":{"type":"string"},"description":"Land Registry Office","example":"agrigento"},{"in":"query","name":"comune","required":false,"schema":{"type":"string"},"description":"Municipality name. When provided, returns details for that municipality.","example":"/territorio/conservatorie/agrigento?comune=agrigento"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"nullable":true,"oneOf":[{"type":"array","items":{"type":"object","properties":{"conservatoria":{"type":"string","example":"AGRIGENTO"},"comuni":{"type":"array","items":{"type":"object","properties":{"comune":{"type":"string","example":"AGRIGENTO"},"codice_catastale":{"type":"string","example":"A052"}}}}}}},{"type":"object","properties":{"conservatoria":{"type":"string","example":"AGRIGENTO"},"comuni":{"type":"array","items":{"type":"object","properties":{"comune":{"type":"string","example":"AGRIGENTO"},"catasto":{"type":"object","properties":{"terreni":{"type":"object","properties":{"sezioni":{"type":"array","nullable":true,"description":"List of cadastral section .","items":{"type":"string","example":"A"}}}},"fabbricati":{"type":"object","properties":{"sezioni":{"type":"array","nullable":true,"description":"List of cadastral section.","items":{"type":"string","example":"A"}}}}}}}}}}}]},"success":{"type":"boolean","example":true},"message":{"type":"string","example":""},"error":{"type":"integer","nullable":true,"example":null}}},"examples":{"municipalities_list":{"summary":"Municipalities list for a Conservatoria","value":{"data":[{"conservatoria":"AGRIGENTO","comuni":[{"comune":"AGRIGENTO","codice_catastale":"A089"},{"comune":"ALESSANDRIA DELLA ROCCA","codice_catastale":"A181"},{"comune":"ARAGONA","codice_catastale":"A351"}]}],"success":true,"message":"","error":null}},"municipality_details":{"summary":"Municipality details with cadastral section","value":{"data":{"conservatoria":"AGRIGENTO","comuni":[{"comune":"AGRIGENTO","catasto":{"terreni":{"sezioni":["A","B"]},"fabbricati":{"sezioni":null}}}]},"success":true,"message":"","error":null}}}}}},"404":{"description":"Not Found","content":{"application/json":{"examples":{"conservatoria_not_found":{"summary":"Unknown Conservatoria","value":{"success":false,"message":"no result matches","error":348,"data":null}},"comune_not_found":{"summary":"Unknown municipality for the selected Conservatoria","value":{"success":false,"message":"no result matches this comune: {wrong comune}","error":349,"data":null}}}}}}}}},"/richiesta/{endpoint}/":{"post":{"tags":["Richiesta"],"summary":"Creates a request","description":"This method allows you to create a request to receive information on subjects and properties in the Italian land registry.\n\n• **elenco_immobili** – returns detailed information for each property (immobile) within the specified foglio and particella. Note: the sezione field is required only in municipalities that have sections; sezione_urbana is never required.\n\n• **prospetto_catastale** – returns detailed information for each property (immobile) within the specified foglio, particella, and subalterno, including ownership (intestatari) details. Note: the sezione field is required only in municipalities that have sections; sezione_urbana is never required.\n\n\n• **ricerca_persona** – returns basic information about the owner, along with the list of properties owned by that person or entity within the specified province.\n\n • **ricerca_nazionale** – Researches the properties owned by a subject  across the entire national territory.\n  The result returns an aggregated overview by province and municipality, showing the number of buildings and land owned, without returning full property details.  \n\n• **indirizzo** – returns the list of properties (with full details) associated with a given address identifier (**id_indirizzo**) obtained via POST/indirizzo (**asynchronous**) or GET /indirizzo (**synchronous**).\nIn some cases, for the address to return valid results, it is necessary to also specify the street number (civic number) together with the address. If the civic number is missing, sometimes the system may not be able to correctly associate any property to the given address.\n \n","parameters":[{"name":"endpoint","in":"path","description":"Type of service requested","required":true,"schema":{"enum":["elenco_immobili","prospetto_catastale","ricerca_persona","ricerca_nazionale","indirizzo"],"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BodyPostElencoImmobili"},{"$ref":"#/components/schemas/BodyPostProspettoCatastale"},{"$ref":"#/components/schemas/BodyPostRicercaPersona"},{"$ref":"#/components/schemas/BodyPostRicercaNazionale"},{"$ref":"#/components/schemas/BodyPostIndirizzo"}]},"examples":{"elenco_immobili":{"value":{"tipo_catasto":"F","provincia":"RM","comune":"ROMA","sezione":"","foglio":"872","particella":"405"}},"prospetto_catastale":{"value":{"tipo_catasto":"F","provincia":"RM","comune":"ROMA","sezione":"","foglio":"872","particella":"405","subalterno":"48"}},"ricerca_persona (giuridica)":{"value":{"cf_piva":"12485671007","tipo_catasto":"F","provincia":"RM"}},"ricerca_persona (fisica)":{"value":{"cf_piva":"RSSMRA80C24H501J","tipo_catasto":"F","provincia":"RM"}},"ricerca_nazionale (giuridica)":{"value":{"cf_piva":"12485671007","tipo_catasto":"TF"}},"ricerca_nazionale (fisica)":{"value":{"cf_piva":"RSSMRA80C24H501J","tipo_catasto":"TF"}},"indirizzo":{"value":{"id_indirizzo":"MjUwNSMjVklBIERFTCBSSVZPQFRFUk5JIFRlcnJpdG9yaW8tVFJATDExNyNURVJOSSMwIzBA","dal_civico":"2","al_civico":"3"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"elenco_immobili":{"value":{"data":{"endpoint":"elenco_immobili","stato":"in_erogazione","callback":false,"parametri":{"tipo_catasto":"F","provincia":"ROMA Territorio-RM","comune":"H501#ROMA#4#0","sezione":null,"sezione_urbana":null,"foglio":872,"particella":405},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}},"prospetto_catastale":{"value":{"data":{"endpoint":"prospetto_catastale","stato":"in_erogazione","callback":false,"parametri":{"tipo_catasto":"F","provincia":"ROMA Territorio-RM","comune":"H501#ROMA#4#0","sezione":null,"sezione_urbana":null,"foglio":872,"particella":405,"subalterno":48},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}},"ricerca_persona (giuridica)":{"value":{"data":{"endpoint":"ricerca_persona_giuridica","stato":"in_erogazione","callback":false,"parametri":{"cf_piva":"12485671007","tipo_catasto":"F","provincia":"ROMA Territorio-RM"},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}},"ricerca_persona (fisica)":{"value":{"data":{"endpoint":"ricerca_persona_fisica","stato":"in_erogazione","callback":false,"parametri":{"cf_piva":"RSSMRA80C24H501J","tipo_catasto":"F","provincia":"ROMA Territorio-RO"},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}},"ricerca_nazionale (giuridica)":{"value":{"data":{"endpoint":"ricerca_nazionale_pg","stato":"in_erogazione","callback":false,"parametri":{"cf_piva":"12485671007","tipo_catasto":"TF","provincia":"NAZIONALE-IT"},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}},"ricerca_nazionale (fisica)":{"value":{"data":{"endpoint":"ricerca_nazionale_pf","stato":"in_erogazione","callback":false,"parametri":{"cf_piva":"RSSMRA80C24H501J","tipo_catasto":"TF","provincia":"NAZIONALE-IT"},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}},"indirizzo":{"value":{"data":{"endpoint":"indirizzo","stato":"in_erogazione","callback":false,"parametri":{"id_indirizzo":"MjUwNSMyMzYjVklBIERFTCBSSVZP","dal_civico":2,"al_civico":3},"risultato":null,"esito":null,"timestamp":1625232029,"owner":"test@email.it","id":"60e581c58138e80d804dad20"},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"wrong endpoint","error":255,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":246,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"tipo_catasto not valid","error":210,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"provincia required","error":223,"data":null}}}}}}},"/richiesta":{"get":{"tags":["Richiesta"],"summary":"Extracts all requests","description":"This method allows you to see all the requests you have made","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Richieste"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"60e584d6a280fd2c0a05fbe5","endpoint":"elenco_immobili","stato":"in_erogazione","timestamp":1625654486,"owner":"test@email.it"},{"id":"60e581c58138e80d804dad20","endpoint":"indirizzo","stato":"evasa","timestamp":1625653701,"owner":"test@email.it"},{"id":"60e580f1617b512c3450d3c7","endpoint":"ricerca_nazionale_pg","stato":"evasa","timestamp":1625653489,"owner":"test@email.it"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request linked to this account","error":202,"data":null}}}}}}},"/richiesta/{id}":{"get":{"tags":["Richiesta"],"summary":"Detail of the request","description":"Allows you to see the detail of the request identified by the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"60e580f1617b512c3450d3c7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RispostaPostRichiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"endpoint":"ricerca_nazionale_pg","stato":"evasa","callback":false,"parametri":{"cf_piva":"12485671007","tipo_catasto":"TF","provincia":"NAZIONALE-IT"},"risultato":{"soggetti":[{"denominazione":"OPENAPI SRL","sede":"ROMA (RM)","cf":"12485671007","id_soggetto":"OTgwMzI3NTA1MiMwI0FMVFJBVklBIFNFUlZJWkkgU09DSUVUQScgQSBSRVNQT05TQUJJTElUQScgTElNSVRBVEEjUk9NQSAoUk0pIzEyNDg1NjcxMDA3","catasti":[{"citta":"ROMA","fabbricati":1,"terreni":0,"provincia":"RM","comuni":[{"comune":"ROMA","fabbricati":1,"terreni":0}]}]}]},"esito":"OK","timestamp":1625232029,"owner":"test@email.it","id":"60e580f1617b512c3450d3c7"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":203,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":204,"data":null}}}}}}},"/indirizzo":{"post":{"tags":["Indirizzo"],"summary":"Create address search request","description":"This method allows you to create a request to obtain an **id_indirizzo**, which will subsequently be used in the **POST /richiesta/indirizzo** endpoint.\n","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostRicercaIndirizzo"},"example":{"provincia":"TR","comune":"Terni","sezione":"","indirizzo":"del rivo"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RispostaPostIndirizzo"},"example":{"data":{"endpoint":"ricerca_indirizzo","stato":"in_erogazione","callback":false,"parametri":{"provincia":"TERNI Territorio-TR","comune":"L117#TERNI#0#0","sezione":"","indirizzo":"VIA DEL RIVO"},"risultato":null,"esito":null,"timestamp":1751016345,"owner":"test@email.it","id":"685e6399966a385c6f0416c4"},"success":true,"message":"","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"provincia not valid","error":291,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"provincia required","error":290,"data":null}}}}},"security":[{"bearerAuth":[]}]},"get":{"tags":["Indirizzo"],"summary":"Search for an address","description":"This endpoint allows two functions:\n\n- **Synchronous search**: Provide the query parameters (province, municipality, section, address) to obtain the corresponding id_indirizzo, which can be used in POST/richiesta/indirizzo.\n\n- **Request list**: If you do not provide any query parameters, you will get a list of id_indirizzo from your previous POST/indirizzo requests.\n","parameters":[{"name":"provincia","in":"query","description":"Province (**Required for synchronous search**)","required":false,"schema":{"type":"string","example":"TR"}},{"name":"comune","in":"query","description":"City (**Required for synchronous search**)","required":false,"schema":{"type":"string","example":"TERNI"}},{"name":"sezione","in":"query","description":"Section of the city if it is present","required":false,"schema":{"type":"string","example":"Q"}},{"name":"indirizzo","in":"query","description":"Address searched; enter only the address and not the toponym (**Required for synchronous search**)","required":false,"schema":{"type":"string","example":"del rivo"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/RispostaSincronaIndirizzi"},{"$ref":"#/components/schemas/RisultatoListaIndirizzi"}]},"examples":{"Synchronous search":{"value":{"data":{"indirizzi":[{"id_indirizzo":"NDUyODgwIzI0MCNUZXJyaXRvcmlvIzI0IyNERUwgUklWTw==","indirizzo":"VIA DEL RIVO"}]},"success":true,"message":"","error":null}},"Request list":{"value":{"data":[{"id":"485e6399966a385c6f0416c2","endpoint":"ricerca_indirizzo","stato":"evasa","timestamp":1751016345,"owner":"test@email.it"},{"id":"755e6399485a385c6f0416m6","endpoint":"ricerca_indirizzo","stato":"evasa","timestamp":1751015263,"owner":"test@email.it"}],"success":true,"message":"","error":null}}}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no indirizzi linked to this account","error":300,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"provincia not valid","error":248,"data":null}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"example":{"success":false,"message":"Sistema momentaneamente non disponibile","error":254,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"indirizzo required","error":253,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/indirizzo/{id}":{"get":{"tags":["Indirizzo"],"summary":"Detail of the address","description":"Allows you to see the detail of the id_indirizzo identified by the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"485e6399966a385c6f0416c2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RisultatoRichiestaIndirizzo"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"endpoint":"ricerca_indirizzo","stato":"evasa","callback":false,"parametri":{"provincia":"TERNI Territorio-TR","comune":"L117#TERNI#0#0","sezione":"","indirizzo":"DEL RIVO"},"risultato":{"indirizzi":[{"id_indirizzo":"NDUyODgwIzI0MCNUZXJyaXRvcmlvIzI0IyNWSUFMRSBGSUxJUFBPIFRPTU1BU08gTUFSSU5FVFRJ","indirizzo":"VIA DEL RIVO"}]},"esito":"OK","timestamp":1751016345,"owner":"test@email.it","id":"485e6399966a385c6f0416c2"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no id_indirizzo found","error":302,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/visura_catastale":{"post":{"tags":["Visura Catastale"],"summary":"Create visura request","description":"Create a request to obtain a Visura Catastale (property or subject).\n\n• By property (**entita: immobile**)\n\n  -With id_immobile: the request is performed directly using the property identifier.\n  \n  -Without id_immobile: the request is performed using the available cadastral data.\n\n• By subject (**entita: soggetto**)\n\n  -With id_soggetto: provincia is optional. If provided, the visura is performed for that province; if omitted, the visura is performed for the first available province returned for that subject.\n  \n  -Without id_soggetto: the request is performed using the available subject data.\n\n• **tipo_visura** can be \"ordinaria\" or \"storica\".\n\n• **tipo_dettaglio** can be \"sintetica\" or \"analitica\".\n\nFor subjects if **tipo_dettaglio** are omitted, the Visura Catastale will be \"synthetic\" by default.\n\nFor properties if the **tipo_dettaglio** is omitted, the Visura Catastale \"storica\" will be \"analytical\" by default, the Visura Catastale \"ordinaria\" is always complete.\n\nUse **tipo_catasto: T | F | TF**.  \n\nThe response returns a **request id**. Check status with **GET /visura_catastale/{id}** and download the PDF with **GET /visura_catastale/{id}/documento** when available.\n","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BodyVisuraImmobile"},{"$ref":"#/components/schemas/BodyVisuraSoggetto"}]},"examples":{"immobile_id":{"value":{"entita":"immobile","id_immobile":"MTY1NjcyOCMxNjU2NzI4I0YjODcyIzQwNSNINTAxIzIyNTkyNjkjNDgjICNST01B","tipo_visura":"ordinaria","richiedente":"jane doe"}},"immobile_no_id":{"value":{"entita":"immobile","tipo_catasto":"f","provincia":"rm","comune":"roma","foglio":872,"particella":405,"subalterno":48,"tipo_visura":"storica","tipo_dettaglio":"sintetica","richiedente":"jane doe"}},"soggetto_id":{"value":{"entita":"soggetto","id_soggetto":"OTgwMzI3NTA1MiMwI0FMVFJBVklBIFNFUlZJWkkgU09DSUVUQScgQSBSRVNQT05TQUJJTElUQScgTElNSVRBVEEjUk9NQSAoUk0pIzEyNDg1NjcxMDA3","tipo_visura":"ordinaria","tipo_catasto":"f","tipo_dettaglio":"analitica","richiedente":"jane doe","provincia":"rm"}},"soggetto_no_id":{"value":{"entita":"soggetto","tipo_visura":"ordinaria","tipo_catasto":"f","cf_piva":"12485671007","provincia":"rm","richiedente":"jane doe"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Visura"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"immobile_id":{"value":{"data":{"entita":"immobile","stato":"in_erogazione","callback":false,"parametri":{"id_immobile":"MTY1NjcyOCMxNjU2NzI4I0YjODcyIzQwNSNINTAxIzIyNTkyNjkjNDgjICNST01B","tipo_catasto":"F","tipo_dettaglio":null,"foglio":872,"particella":405,"subalterno":48,"comune":"H501#ROMA#4#0","sezione":null,"sezione_urbana":null,"provincia":"ROMA Territorio-RM"},"tipo_visura":"ordinaria","richiedente":"jane doe","documento":null,"esito":null,"timestamp":1653489879,"owner":"test@email.it","id":"628e40d77ee3b06fb03350ca"},"success":true,"message":"","error":null}},"immobile_no_id":{"value":{"data":{"entita":"immobile","stato":"in_erogazione","callback":false,"parametri":{"id_immobile":null,"tipo_catasto":"F","tipo_dettaglio":"sintetica","foglio":872,"particella":405,"subalterno":48,"comune":"H501#ROMA#4#0","sezione":null,"sezione_urbana":null,"provincia":"ROMA Territorio-RM"},"tipo_visura":"ordinaria","richiedente":"jane doe","documento":null,"esito":null,"timestamp":1655308768,"owner":"test@email.it","id":"62aa01e18c75fd55685d07b3"},"success":true,"message":"","error":null}},"soggetto_id":{"value":{"data":{"entita":"soggetto","stato":"in_erogazione","callback":false,"parametri":{"id_soggetto":"OTgwMzI3NTA1MiMwI0FMVFJBVklBIFNFUlZJWkkgU09DSUVUQScgQSBSRVNQT05TQUJJTElUQScgTElNSVRBVEEjUk9NQSAoUk0pIzEyNDg1NjcxMDA3","tipo_catasto":"F","tipo_dettaglio":"analitica","cf_piva":"12485671007","provincia":"ROMA Territorio-RM"},"tipo_visura":"ordinaria","richiedente":"jane doe","documento":null,"esito":null,"timestamp":1653490064,"owner":"test@email.it","id":"628e41900e304d63044f857d"},"success":true,"message":"","error":null}},"soggetto_no_id":{"value":{"data":{"entita":"soggetto","stato":"in_erogazione","callback":false,"parametri":{"id_soggetto":null,"tipo_catasto":"F","tipo_dettaglio":null,"cf_piva":"12485671007","provincia":"ROMA Territorio-RM"},"tipo_visura":"ordinaria","richiedente":"jane doe","documento":null,"esito":null,"timestamp":1655308469,"owner":"test@email.it","id":"62aa00b6efbe6d0e52323073"},"success":true,"message":"","error":null}}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message  . $checkout->message .  code  . $checkout->error","error":284,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"id_immobile not valid","error":258,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"tipo_visura required","error":279,"data":null}}}}}},"get":{"tags":["Visura Catastale"],"summary":"Extracts all visure","description":"This method allows you to see all the visure you have made","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Visure"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"628e41900e304d63044f857d","entita":"soggetto","stato":"in_erogazione","timestamp":1653490064,"owner":"test@email.it"},{"id":"628e40d77ee3b06fb03350ca","entita":"immobile","stato":"in_erogazione","timestamp":1653489879,"owner":"test@email.it"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visure linked to this account","error":285,"data":null}}}}}}},"/visura_catastale/{id}":{"get":{"tags":["Visura Catastale"],"summary":"Detail of the visura","description":"Allows you to see the detail of the visura identified by the id","parameters":[{"name":"id","in":"path","description":"Visura id","required":true,"schema":{"type":"string","example":"628e41900e304d63044f857d"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Visura"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"entita":"soggetto","stato":"evasa","callback":false,"parametri":{"id_soggetto":"OTgwMzI3NTA1MiMwI0FMVFJBVklBIFNFUlZJWkkgU09DSUVUQScgQSBSRVNQT05TQUJJTElUQScgTElNSVRBVEEjUk9NQSAoUk0pIzEyNDg1NjcxMDA3","tipo_catasto":"F","tipo_dettaglio":"analitica","cf_piva":"12485671007","provincia":"ROMA Territorio-RM"},"tipo_visura":"ordinaria","richiedente":"jane doe","documento":"628e41900e304d63044f857d.pdf","esito":"OK","timestamp":1653490064,"owner":"test@email.it","id":"628e41900e304d63044f857d"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":286,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visura found","error":287,"data":null}}}}}}},"/visura_catastale/{id}/documento":{"get":{"tags":["Visura Catastale"],"summary":"Download visura","description":"This method allows you to directly download the document","parameters":[{"name":"id","in":"path","description":"Visura id","required":true,"schema":{"type":"string","example":"628e41900e304d63044f857d"}}],"responses":{"200":{"description":"Content of the file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":286,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visura found","error":287,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":288,"data":null}}}}}}},"/ipotecarie-ispezione_nazionale":{"post":{"tags":["Visura Ipotecaria"],"summary":"National land registry inspection request","description":"Starts a national land registry inspection for a subject identified by **cf_piva**. Fields **richiedente** and **motivo** can be provided to specify the requester and the reason.\n\n**Richiedente** must be a valid tax code","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyIspezioneNazionale"},"example":{"cf_piva":"01114601006","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RispostaPostIpotecarie"},"success":{"type":"boolean","example":true},"message":{"type":"string","example":""},"error":{"type":"integer","nullable":true,"example":null}}},"example":{"data":{"endpoint":"ispezione_nazionale","stato":"in_erogazione","callback":null,"parametri":{"cf_piva":"01114601006","conservatoria":"IT99-0-NAZIONALE"},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768908188,"owner":"test@email.it","id":"696f659cfb66be7939088fad"},"success":true,"message":"","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf_piva not valid","error":308,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva required","error":307,"data":null}}}}}}},"/ipotecarie-elenco-note":{"post":{"tags":["Visura Ipotecaria"],"summary":"Land registry notes list request","description":"Starts a request to retrieve the list of land registry entries (notes/formalities) for either a property or a subject, depending on the provided **entita**. \n\nFor buildings, the subaltern is not mandatory, if omitted the search is performed on the first subaltern of the searched building in the list.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyIpotecarieElencoNote"},"examples":{"immobile":{"summary":"immobile","value":{"entita":"ispezione_immobile","comune":"ROMA","tipo_catasto":"F","conservatoria":"ROMA 1","foglio":872,"particella":405,"subalterno":5,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}},"soggetto":{"summary":"soggetto","value":{"entita":"ispezione_soggetto","conservatoria":"ROMA 1","cf_piva":"RSSMRA80A01H501U","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RispostaPostIpotecarie"},"success":{"type":"boolean","example":true},"message":{"type":"string","example":""},"error":{"type":"integer","nullable":true,"example":null}}},"examples":{"ok_immobile":{"summary":"Started request (immobile)","value":{"data":{"endpoint":"ispezione_elenco_note","stato":"in_erogazione","callback":null,"parametri":{"entita":"ispezione_immobile","conservatoria":"RM10-19971231-ROMA 1","tipo_catasto":"F","foglio":875,"particella":"405","subalterno":5,"comune":"H501#RMROMA##","sezione":null,"sezione_urbana":null},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768907012,"owner":"test@email.it","id":"696f6104fb66be7939088fa3"},"success":true,"message":"","error":null}},"ok_soggetto":{"summary":"Started request (soggetto)","value":{"data":{"endpoint":"ispezione_elenco_note","stato":"in_erogazione","callback":null,"parametri":{"entita":"ispezione_soggetto","cf_piva":"RSSMRA80A01H501U","conservatoria":"RM10-19971231-ROMA 1"},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768907179,"owner":"test@email.it","id":"696f61abfb66be7939088fa4"},"success":true,"message":"","error":null}}}}}},"428":{"description":"Precondition Required","content":{"application/json":{"examples":{"entita_required":{"summary":"Missing entita","value":{"success":false,"message":"entita required","error":309,"data":null}},"comune_required":{"summary":"Missing comune (immobile)","value":{"success":false,"message":"comune required","error":311,"data":null}},"tipo_catasto_required":{"summary":"Missing tipo_catasto (immobile)","value":{"success":false,"message":"tipo_catasto required","error":313,"data":null}},"conservatoria_required":{"summary":"Missing conservatoria","value":{"success":false,"message":"conservatoria required","error":319,"data":null}}}}}}}}},"/ipotecarie-dettaglio-nota":{"post":{"tags":["Visura Ipotecaria"],"summary":"Land registry note detail request","description":"Starts a request to retrieve the detail of a land registry note (formalità), for either a subject (physical/legal) or a property, using the **general** or **particular** registry references.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyIpotecarieDettaglioNota"},"examples":{"soggetto_generale":{"summary":"Subject - General registry","value":{"tipo_restrizione":"soggetto","tipo_registro":"generale","anno":2025,"conservatoria":"ROMA 1","registro_generale":10206,"cf_piva":"RSSMRA80A01H501U","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}},"soggetto_particolare":{"summary":"Subject - Particular registry","value":{"tipo_restrizione":"soggetto","tipo_registro":"particolare","anno":2025,"conservatoria":"ROMA 1","tipo_nota":"trascrizioni","registro_particolare":123456,"cf_piva":"RSSMRA80A01H501U","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}},"immobile_generale":{"summary":"Property - General registry","value":{"tipo_restrizione":"immobile","tipo_registro":"generale","anno":2025,"conservatoria":"ROMA 1","registro_generale":123456,"comune":"ROMA","tipo_catasto":"F","foglio":405,"particella":875,"subalterno":5,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}},"immobile_particolare":{"summary":"Property - Particular registry","value":{"tipo_restrizione":"immobile","tipo_registro":"particolare","anno":2025,"conservatoria":"ROMA 1","tipo_nota":"trascrizioni","registro_particolare":123456,"comune":"ROMA","tipo_catasto":"F","foglio":405,"particella":875,"subalterno":5,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RispostaPostIpotecarie"},"success":{"type":"boolean","example":true},"message":{"type":"string","example":""},"error":{"type":"integer","nullable":true,"example":null}}},"examples":{"ok_soggetto_generale":{"summary":"Started request (subject, general registry)","value":{"data":{"endpoint":"ispezione_dettaglio_nota","stato":"in_erogazione","callback":null,"parametri":{"anno":2025,"conservatoria":"RM10-19971231-ROMA 1","registro_generale":10206,"tipo_restrizione":"soggetto_fisico","cf_piva":"RSSMRA80A01H501U"},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768908842,"owner":"test@email.it","id":"696f682a9fbbc9f3e80c6e46"},"success":true,"message":"","error":null}},"ok_soggetto_particolare":{"summary":"Started request (subject, particular registry)","value":{"data":{"endpoint":"ispezione_dettaglio_nota","stato":"in_erogazione","callback":null,"parametri":{"anno":2025,"conservatoria":"RM10-19971231-ROMA 1","tipo_nota":"TRASCRIZIONI","registro_particolare":123456,"tipo_restrizione":"soggetto_fisico","cf_piva":"RSSMRA80A01H501U"},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768908951,"owner":"test@email.it","id":"696f6897fb66be7939088fae"},"success":true,"message":"","error":null}},"ok_immobile_particolare":{"summary":"Started request (property, particular registry)","value":{"data":{"endpoint":"ispezione_dettaglio_nota","stato":"in_erogazione","callback":null,"parametri":{"anno":2025,"conservatoria":"RM10-19971231-ROMA 1","tipo_nota":"TRASCRIZIONI","registro_particolare":123456,"sezione_urbana":null,"tipo_restrizione":"immobile","tipo_catasto":"F","foglio":405,"particella":875,"subalterno":5,"comune":"H501#RMROMA##","sezione":null},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768909545,"owner":"test@email.it","id":"696f6ae99fbbc9f3e80c6e48"},"success":true,"message":"","error":null}},"ok_immobile_generale":{"summary":"Started request (property, general registry)","value":{"data":{"endpoint":"ispezione_dettaglio_nota","stato":"in_erogazione","callback":null,"parametri":{"anno":2025,"conservatoria":"RM10-19971231-ROMA 1","registro_generale":123456,"sezione_urbana":null,"tipo_restrizione":"immobile","tipo_catasto":"F","foglio":405,"particella":875,"subalterno":5,"comune":"H501#RMROMA##","sezione":null},"risultato":null,"esito":null,"documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768909637,"owner":"test@email.it","id":"696f6b45fb66be7939088fb1"},"success":true,"message":"","error":null}}}}}},"428":{"description":"Precondition Required","content":{"application/json":{"examples":{"tipo_restrizione_required":{"summary":"Missing tipo_restrizione","value":{"success":false,"message":"tipo_restrizione required","error":323,"data":null}},"anno_required":{"summary":"Missing anno","value":{"success":false,"message":"anno required","error":327,"data":null}},"conservatoria_required":{"summary":"Missing conservatoria","value":{"success":false,"message":"conservatoria required","error":335,"data":null}}}}}}}}},"/ipotecarie":{"get":{"tags":["Visura Ipotecaria"],"summary":"Extracts all mortgage inspections","description":"This method allows you to see all the mortgage inspection requests you have made.","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/VisureIpotecarie"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"example":{"data":[{"id":"696e4fc6fb352796ad0dadf0","endpoint":"ispezione_nazionale","stato":"evasa","timestamp":1768837062,"owner":"test@email.it"},{"id":"696e3d058ea94d2088028d9e","endpoint":"ispezione_elenco_note","stato":"in_lavorazione","timestamp":1768832261,"owner":"test@email.it"},{"id":"696e38edfb352796ad0dade8","endpoint":"ispezione_dettaglio_nota","stato":"in_erogazione","timestamp":1768831213,"owner":"test@email.it"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visure ipotecarie linked to this account","error":350,"data":null}}}}}}},"/ipotecarie/{id}":{"get":{"tags":["Visura Ipotecaria"],"summary":"Detail of a mortgage inspection request","description":"Allows you to see the detail of the mortgage inspection request identified by the id, including result and document (if available).","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"696e4fc6fb352796ad0dadf0"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RispostaGetIpotecarie"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"examples":{"ispezione_nazionale(soggetto_fisico)":{"summary":"National inspection (soggetto_fisico)","value":{"data":{"endpoint":"ispezione_nazionale","stato":"evasa","callback":null,"parametri":{"cf_piva":"RSSMRI85E28H501E","conservatoria":"IT99-0-NAZIONALE"},"risultato":{"soggetti":[{"cognome":"ROSSI","nome":"MARIO","data_nascita":"28/05/1985","sesso":"M","luogo_nascita":"ROMA (RM)","cf":"RSSMRI85E28H501E","conservatorie":[{"conservatoria":"ROMA 1","trascrizioni":"SI","iscrizioni":"NO","annotazioni":"NO"}]}]},"esito":"OK","documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768837062,"owner":"test@email.it","id":"696e4fc6fb352796ad0dadf0"},"success":true,"message":"","error":null}},"ispezione_nazionale(soggetto_giuridico)":{"summary":"National inspection (soggetto_giuridico)","value":{"data":{"endpoint":"ispezione_nazionale","stato":"evasa","callback":null,"parametri":{"cf_piva":"RSSMRI85E28H501E","conservatoria":"IT99-0-NAZIONALE"},"risultato":{"soggetti":[{"denominazione":"ALTRAVIA SERVIZI SOCIETA A RESPONSABILITA LIMITATA","sede":"ROMA (RM)","cf":"12485671007","conservatorie":[{"conservatoria":"ROMA 1","trascrizioni":"SI","iscrizioni":"NO","annotazioni":"NO"}]}]},"esito":"OK","documento":null,"richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768837062,"owner":"test@email.it","id":"696e4fc6fb352796ad0dadf0"},"success":true,"message":"","error":null}},"ispezione_elenco_note(immobile)":{"summary":"Notes list (immobile)","value":{"data":{"endpoint":"ispezione_elenco_note","stato":"evasa","callback":null,"parametri":{"entita":"ispezione_immobile","conservatoria":"RM10-19971231-ROMA 1","tipo_catasto":"F","foglio":485,"particella":200,"subalterno":5,"comune":"H501#RMROMA##","sezione":null,"sezione_urbana":null},"risultato":{"immobili":[{"identificativo_definitivo":{"sezione":null,"sezione_urbana":null,"foglio":"1","particella":"1","subalterno":"1"},"identificativo_provvisorio":{"tipo_denuncia":null,"numero":null,"anno":null},"note":[{"tipo_nota":"TRASCRIZIONE A FAVORE","data_nota":"01/01/1970","registro_particolare":"123456","registro_generale":"123456","pubblico_ufficiale":"ROSSI MARIO","repertorio":"123456/123456","data_repertorio":"01/01/1970","tipo_atto":"ATTO TRA VIVI - COMPRAVENDITA","citta":"ROMA","provincia":"RM","documenti_correlati":null}]}]},"esito":"OK","documento":"696e3d058ea94d2088028d9e.pdf","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768832261,"owner":"test@email.it","id":"696e3d058ea94d2088028d9e"},"success":true,"message":"","error":null}},"ispezione_elenco_note(soggetto_fisico)":{"summary":"Notes list (soggetto_fisico)","value":{"data":{"endpoint":"ispezione_elenco_note","stato":"evasa","callback":null,"parametri":{"entita\"":"ispezione_soggetto,","cf_piva\"":"RSSMRI85E28H501E,","conservatoria\"":"RM10-19971231-ROMA 1"},"risultato":{"soggetti":[{"cognome":"ROSSI","nome":"MARIO","data_nascita":"28/05/1985","luogo_nascita":"ROMA (RM)","sesso":"M","cf":"RSSMRI85E28H501E","note":[{"tipo_nota":"TRASCRIZIONE A FAVORE","data_nota":"01/01/1970","registro_particolare":"123456","registro_generale":"123456","pubblico_ufficiale":"ROSSI MARIO","repertorio":"123456/123456","data_repertorio":"01/01/1970","tipo_atto":"ATTO TRA VIVI - COMPRAVENDITA","citta":"ROMA","provincia":"RM","documenti_correlati":null}]}]},"esito":"OK","documento":"696e3d058ea94d2088028d9e.pdf","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768832261,"owner":"test@email.it","id":"696e3d058ea94d2088028d9e"},"success":true,"message":"","error":null}},"ispezione_elenco_note(soggetto_giuridico)":{"summary":"Notes list (soggetto_giuridico)","value":{"data":{"endpoint":"ispezione_elenco_note","stato":"evasa","callback":null,"parametri":{"entita":"ispezione_soggetto,","cf_piva":"RSSMRI85E28H501E,","conservatoria":"RM10-19971231-ROMA 1"},"risultato":{"soggetti":[{"denominazione":"ALTRAVIA SERVIZI SOCIETA A RESPONSABILITA LIMITATA","sede":"ROMA (RM)","cf":"12485671007","note":[{"tipo_nota":"TRASCRIZIONE A FAVORE","data_nota":"01/01/1970","registro_particolare":"123456","registro_generale":"123456","pubblico_ufficiale":"ROSSI MARIO","repertorio":"123456/123456","data_repertorio":"01/01/1970","tipo_atto":"ATTO TRA VIVI - COMPRAVENDITA","citta":"ROMA","provincia":"RM","documenti_correlati":null}]}]},"esito":"OK","documento":"696e3d058ea94d2088028d9e.pdf","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768832261,"owner":"test@email.it","id":"696e3d058ea94d2088028d9e"},"success":true,"message":"","error":null}},"ispezione_dettaglio_nota":{"summary":"Note detail","value":{"data":{"endpoint":"ispezione_dettaglio_nota","stato":"evasa","callback":null,"parametri":{"anno":2025,"conservatoria":"RM10-19971231-ROMA 1","registro_generale":123456,"tipo_restrizione":"soggetto_fisico","cf_piva":"RSSMRI85E28H501E"},"risultato":{"nota":{"tipo_nota":"TRASCRIZIONE","data_nota":"19/04/2019","registro_particolare":"123456","registro_generale":"123456"}},"esito":"OK","documento":"696e38edfb352796ad0dade8.pdf","richiedente":"RSSMRA80A01H501U","motivo":"verifica preliminare per compravendita","timestamp":1768831213,"owner":"test@email.it","id":"696e38edfb352796ad0dade8"},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":286,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visura ipotecaria found","error":347,"data":null}}}}}}},"/ipotecarie/{id}/documento":{"get":{"tags":["Visura Ipotecaria"],"summary":"Download visura","description":"This method allows you to directly download the document","parameters":[{"name":"id","in":"path","description":"Visura id","required":true,"schema":{"type":"string","example":"628e41900e304d63044f857d"}}],"responses":{"200":{"description":"Content of the file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":286,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visura found","error":287,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":288,"data":null}}}}}}},"/estratto_mappa":{"post":{"tags":["Estratto Mappa"],"summary":"Create a map extract request","description":"Create a request to obtain a map extract for the land registry (Catasto Terreni).\n\nThe section parameter is mandatory for municipalities that require it. You can verify if a section is required using the endpoint: GET /territorio/{provincia}/{comune}?tipo_catasto=t.\n\nThe request returns a request id. Use this ID to monitor the status via GET /estratto_mappa/{id} and to download the PDF document via GET /estratto_mappa/{id}/documento once the status is \"evasa\".\n","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyEstrattoMappa"},"example":{"provincia":"RM","comune":"ROMA","foglio":872,"particella":405}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EstrattoMappa"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"entita":"immobile","stato":"in_erogazione","callback":false,"parametri":{"foglio":872,"particella":405,"comune":"H501#ROMA#4#0","sezione":null,"provincia":"ROMA Territorio-RM"},"documento":null,"esito":null,"timestamp":1655308768,"owner":"test@email.it","id":"62aa01e18c75fd55685d07b3"},"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message  . $checkout->message .  code  . $checkout->error","error":284,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"provincia not valid","error":351,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"comune required","error":352,"data":null}}}}}},"get":{"tags":["Estratto Mappa"],"summary":"Extracts all requests","description":"This method allows you to see all the requests of extract map you have made","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EstrattoMappa"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"628e41900e304d63044f857d","endpoint":"estratto_mappa","stato":"in_erogazione","timestamp":1653490064,"owner":"test@email.it"},{"id":"628e40d77ee3b06fb03350ca","endpoint":"estratto_mappa","stato":"in_lavorazione","timestamp":1653489879,"owner":"test@email.it"},{"id":"628e40d77ee3b06fb03350ca","endpoint":"estratto_mappa","stato":"evasa","timestamp":1653489879,"owner":"test@email.it"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no estratti mappa linked to this account","error":360,"data":null}}}}}}},"/estratto_mappa/{id}":{"get":{"tags":["Estratto Mappa"],"summary":"Detail of the extract map","description":"Allows you to see the detail of the extract map identified by the id","parameters":[{"name":"id","in":"path","description":"Extract Map id","required":true,"schema":{"type":"string","example":"628e41900e304d63044f857d"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EstrattoMappa"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"endpoint":"estratto_mappa","stato":"evasa","callback":false,"parametri":{"foglio":872,"particella":405,"comune":"H501#ROMA#4#0","sezione":null,"provincia":"ROMA Territorio-RM"},"documento":"628e41900e304d63044f857d.pdf","esito":"OK","timestamp":1653490064,"owner":"test@email.it","id":"628e41900e304d63044f857d"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":286,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no estratto mappa found","error":361,"data":null}}}}}}},"/estratto_mappa/{id}/documento":{"get":{"tags":["Estratto Mappa"],"summary":"Download map","description":"This method allows you to directly download the document","parameters":[{"name":"id","in":"path","description":"Extract map id","required":true,"schema":{"type":"string","example":"628e41900e304d63044f857d"}}],"responses":{"200":{"description":"Content of the file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":286,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no visura found","error":287,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":288,"data":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}