{"openapi":"3.0.0","info":{"description":"This service offers rest calls to obtain a series of chamber of commerce, land registry or patronage documents.","version":"1.0.0","title":"DocuEngine","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://docuengine.openapi.com","description":"Production"},{"url":"https://test.docuengine.openapi.com","description":"Sandbox"}],"tags":[{"name":"Documents","description":"Section dedicated to the call which shows all the available services and the related input parameters"},{"name":"Requests","description":"Section dedicated to calls to request a service, enter and modify input parameters and download the documents produced"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Document":{"type":"object","properties":{"requestStructure":{"$ref":"#/components/schemas/RequestStructure"},"category":{"type":"string"},"name":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"price":{"type":"number","format":"double"}}}},"hasSearch":{"type":"boolean"},"isSync":{"type":"boolean"},"searchPrice":{"type":"number","format":"double"},"documentPrice":{"type":"number","format":"double"},"totalPrice":{"type":"number","format":"double"},"id":{"type":"string"}}},"RequestStructure":{"type":"object","properties":{"fields":{"$ref":"#/components/schemas/Fields"},"validation":{"type":"string"},"help":{"type":"string"},"searchHelp":{"type":"string"}}},"Fields":{"type":"object","properties":{"field0":{"$ref":"#/components/schemas/Field"},"fieldN":{"$ref":"#/components/schemas/Field"}}},"Field":{"type":"object","properties":{"name":{"type":"string"},"nameIT":{"type":"string"},"type":{"type":"string"},"required":{"type":"boolean"},"options":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"}}}},"help":{"type":"string"}}},"PostBody":{"type":"object","properties":{"documentId":{"type":"string","description":"Identification of the requested document"},"state":{"type":"string","enum":["NEW"],"description":"By default it may not be sent and the transaction is considered immediately closed. If it is set instead the transaction is only initialized and remains open with the possibility of modifying the fields through the PATCH/requests"},"search":{"$ref":"#/components/schemas/Search"},"callback":{"$ref":"#/components/schemas/Callback"},"notifyEmail":{"type":"string","description":"Allows you to receive the requested service document directly via email once the service has been processed"},"selectedOptions":{"type":"array","description":"Allows you to pass options if provided in the 'requestStructure' of the 'document'","items":{"type":"string"},"example":["urgenza"]}},"required":["documentId"]},"PatchBody":{"type":"object","properties":{"state":{"type":"string","enum":["SEARCH"],"description":"If the transaction is still open, with state at 'NEW', it will not be validated and passed to the system until 'SEARCH' state is passed"},"search":{"$ref":"#/components/schemas/Search"},"search.fieldN":{"type":"string","description":"Allows you to change the single input field required by the service"},"notifyEmail":{"type":"string","description":"Allows you to receive the requested service document directly via email once the service has been processed"},"callback":{"$ref":"#/components/schemas/Callback"},"selectedOptions":{"type":"array","description":"Allows you to pass options if provided in the 'requestStructure' of the 'document'","items":{"type":"string"},"example":["urgenza"]}}},"PatchBodySearch":{"type":"object","properties":{"resultId":{"type":"string","description":"Identifier of the search result we want to choose"}},"required":["resultId"]},"Requests":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["NEW","SEARCH","WAIT","DONE","CANCELLED"]},"name":{"type":"string"},"timestamps":{"$ref":"#/components/schemas/Timestamps"}}},"Request":{"type":"object","properties":{"documentId":{"type":"string"},"search":{"$ref":"#/components/schemas/Search"},"callback":{"$ref":"#/components/schemas/Callback"},"notifyEmail":{"type":"string"},"timestamps":{"$ref":"#/components/schemas/Timestamps"},"state":{"type":"string","enum":["NEW","SEARCH","WAIT","DONE","CANCELLED"]},"readableSearch":{"type":"object","description":"object with the real names of the input fields","example":{"taxCode":"12485671007"}},"optionsPrice":{"type":"number","format":"double"},"selectedOptions":{"type":"array","description":"Allows you to pass options if provided in the 'requestStructure' of the 'document'","items":{"type":"string"},"example":["urgenza"]},"name":{"type":"string"},"hasSearch":{"type":"boolean"},"searchPrice":{"type":"number","format":"double"},"documentPrice":{"type":"number","format":"double"},"totalPrice":{"type":"number","format":"double"},"documents":{"type":"array","items":{"type":"string"}},"resultId":{"type":"string"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Result"}},"cancellationReason":{"type":"string"},"id":{"type":"string"}}},"Timestamps":{"type":"object","properties":{"creation":{"type":"integer"},"NEW":{"type":"integer"},"SEARCH":{"type":"integer"},"WAIT":{"type":"integer"},"DONE":{"type":"integer"},"CANCELLED":{"type":"integer"},"lastUpdate":{"type":"integer"}}},"Result":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","example":{"balanceSheetId":22095541,"id":9379307,"balanceSheetDate":"2021-12-31T00:00:00.000Z","balanceSheetTypeCode":"710","balanceSheetTypeDescription":"BILANCIO D'ESERCIZIO"}}}},"Search":{"type":"object","description":"Object to pass all required input fields to generate an output document from the requested service. If you need to insert a file you can opt for the content encoded in base64 or a directly URL","properties":{"field0":{"type":"string"},"fieldN":{"type":"string"}}},"Callback":{"type":"object","properties":{"method":{"type":"string","description":"Indicate through which method you want to receive data with the callback, by default it is POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Name of the field containing the callback return data (required with method: POST)"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.it/callback.php"},"headers":{"type":"object","properties":{"key":{"type":"string"}},"description":"contains key:value strings that you want to arrive as headers","example":{"session_id":"9834r5fh589494"}},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}}},"Download":{"type":"object","properties":{"fileName":{"type":"string"},"mimeType":{"type":"string"},"fileSize":{"type":"string"},"md5":{"type":"string"},"urlExpire":{"type":"integer"},"downloadUrl":{"type":"string"}}}}},"paths":{"/documents":{"get":{"tags":["Documents"],"summary":"List of all services","description":"Returns the list of all available documents with the prices and required input parameters","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"requestStructure":{"fields":{"field0":{"name":"reaCode","nameIT":"numero rea","type":"rea","required":true,"options":null,"help":"Inserire il numero di Rea dell`azienda"},"field1":{"name":"cciaa","nameIT":"cciaa","type":"cciaa","required":true,"options":null,"help":"Inserire la provincia della Camera di Commercio dell`azienda"}},"validation":"field0 && field1","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Ordinaria - Societa' Di Capitale","options":null,"hasSearch":false,"isSync":false,"id":"663df75d19a52195e23e315c","searchPrice":0,"documentPrice":4.9,"totalPrice":4.9},{"requestStructure":{"fields":{"field0":{"name":"reaCode","nameIT":"numero rea","type":"rea","required":true,"options":null,"help":"Inserire il numero di Rea dell`azienda"},"field1":{"name":"cciaa","nameIT":"cciaa","type":"cciaa","required":true,"options":null,"help":"Inserire la provincia della Camera di Commercio dell`azienda"}},"validation":"field0 && field1","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Ordinaria - Societa' Di Persone","options":null,"hasSearch":false,"isSync":false,"id":"6671a5549e6f0e447bc2659d","searchPrice":0,"documentPrice":3.4,"totalPrice":3.4},{"requestStructure":{"fields":{"field0":{"name":"reaCode","nameIT":"numero rea","type":"rea","required":true,"options":null,"help":"Inserire il numero di Rea dell`azienda"},"field1":{"name":"cciaa","nameIT":"cciaa","type":"cciaa","required":true,"options":null,"help":"Inserire la provincia della Camera di Commercio dell`azienda"}},"validation":"field0 && field1","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Ordinaria - Impresa Individuale","options":null,"hasSearch":false,"isSync":false,"id":"6671a5719e6f0e447bc2659e","searchPrice":0,"documentPrice":2.9,"totalPrice":2.9},{"requestStructure":{"fields":{"field0":{"name":"reaCode","nameIT":"numero rea","type":"rea","required":true,"options":null,"help":"Inserire il numero di Rea dell`azienda"},"field1":{"name":"cciaa","nameIT":"cciaa","type":"cciaa","required":true,"options":null,"help":"Inserire la provincia della Camera di Commercio dell`azienda"}},"validation":"field0 && field1","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Storica - Societa' Di Capitale","options":null,"hasSearch":false,"isSync":false,"id":"6671a5a29e6f0e447bc2659f","searchPrice":0,"documentPrice":5.9,"totalPrice":5.9},{"requestStructure":{"fields":{"field0":{"name":"reaCode","nameIT":"numero rea","type":"rea","required":true,"options":null,"help":"Inserire il numero di Rea dell`azienda"},"field1":{"name":"cciaa","nameIT":"cciaa","type":"cciaa","required":true,"options":null,"help":"Inserire la provincia della Camera di Commercio dell`azienda"}},"validation":"field0 && field1","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Storica - Societa' Di Persone","options":null,"hasSearch":false,"isSync":false,"id":"6671a5bf9e6f0e447bc265a0","searchPrice":0,"documentPrice":4.4,"totalPrice":4.4},{"requestStructure":{"fields":{"field0":{"name":"reaCode","nameIT":"numero rea","type":"rea","required":true,"options":null,"help":"Inserire il numero di Rea dell`azienda"},"field1":{"name":"cciaa","nameIT":"cciaa","type":"cciaa","required":true,"options":null,"help":"Inserire la provincia della Camera di Commercio dell`azienda"}},"validation":"field0 && field1","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Storica - Impresa Individuale","options":null,"hasSearch":false,"isSync":false,"id":"6671a5d69e6f0e447bc265a1","searchPrice":0,"documentPrice":3.9,"totalPrice":3.9},{"requestStructure":{"fields":{"field0":{"name":"taxCode","nameIT":"codice fiscale","type":"taxCode","required":true,"options":null,"help":"Inserire il codice fiscale dell`azienda"}},"validation":"field0","help":null,"searchHelp":null},"category":"Camerali","name":"Bilancio Ottico","options":null,"hasSearch":true,"isSync":false,"id":"667443c29e6f0e447bc265aa","searchPrice":0.1,"documentPrice":4.4,"totalPrice":4.5},{"requestStructure":{"fields":{"field0":{"name":"taxCode","nameIT":"codice fiscale","type":"taxCode","required":true,"options":null,"help":"Inserire il codice fiscale dell`azienda"}},"validation":"field0","help":null,"searchHelp":null},"category":"Camerali","name":"Bilancio XBRL","options":null,"hasSearch":true,"isSync":false,"id":"667c131a9e6f0e447bc265c1","searchPrice":0.1,"documentPrice":4.4,"totalPrice":4.5},{"requestStructure":{"fields":{"field0":{"name":"taxCode","nameIT":"codice fiscale","type":"taxCode","required":true,"options":null,"help":"Inserire il codice fiscale dell`azienda"}},"validation":"field0","help":null,"searchHelp":null},"category":"Camerali","name":"Visura Camerale Inglese","options":null,"hasSearch":false,"isSync":false,"id":"66840ce41a241a5d1be0f9e5","searchPrice":0,"documentPrice":6.5,"totalPrice":6.5},{"requestStructure":{"fields":{"field0":{"name":"taxCode","nameIT":"codice fiscale","type":"taxCode","required":true,"options":null,"help":"Inserire il codice fiscale dell`azienda"},"field1":{"name":"actGroupCode","nameIT":"codice gruppo atto","type":"actGroupCode","required":false,"options":[{"code":"A01","description":"ATTO COSTITUTIVO"},{"code":"A02","description":"TRASFERIMENTO SEDE DA ALTRO REGISTRO IMPRESE"},{"code":"A03","description":"ISTITUZIONE/MODIFICA/CESSAZIONE SEDE SECONDARIA"},{"code":"A04","description":"MODIFICHE ATTO COSTITUTIVO/PATTI SOCIALI (societa' di persone, consorzi, geie)"},{"code":"A05","description":"MODIFICHE ATTO COSTITUTIVO (societa' di capitali e cooperative)"},{"code":"A06","description":"NOMINA/CONFERMA AMMINISTRATORI"},{"code":"A07","description":"CESSAZIONE AMMINISTRATORI"},{"code":"A08","description":"NOMINA/CONFERMA/CESSAZIONE SINDACI"},{"code":"A09","description":"NOMINA LIQUIDATORI"},{"code":"A10","description":"MODIFICA POTERI/ REVOCA LIQUIDATORI"},{"code":"A11","description":"DELEGA/REVOCA POTERI CONSIGLIO DI AMMINISTRAZIONE"},{"code":"A12","description":"PROCURE"},{"code":"A13","description":"SCIOGLIMENTO CON/SENZA  LIQUIDAZIONE"},{"code":"A14","description":"CANCELLAZIONE DAL REGISTRO DELLE  IMPRESE"},{"code":"A15","description":"PROCEDURE CONCORSUALI"},{"code":"A16A17","description":"FUSIONI/SCISSIONI"},{"code":"A18","description":"TRASFERIMENTO QUOTE S.R.L."},{"code":"A19","description":"COMUNICAZIONE SOCIO UNICO DI S.R.L E RICOSTITUZIONE PLURALITA' DEI SOCI"},{"code":"A20","description":"TRASFERIMENTO D'AZIENDA"},{"code":"A22","description":"PATTI  PARASOCIALI"},{"code":"A23","description":"CONVERSIONE IN EURO DEL CAPITALE SOCIALE"},{"code":"A99","description":"ALTRI ATTI"},{"code":"X_5xx","description":"COMUNICAZIONE ELENCO SOCI"}],"help":"Inserire il codice del gruppo di atto richiesto"},"field2":{"name":"requestDateSince","nameIT":"data richiesta dal","type":"date","required":false,"options":null,"help":"Inserire una data a partire dalla quale filtrare la richiesta di atti"},"field3":{"name":"requestDateTo","nameIT":"data richiesta al","type":"date","required":false,"options":null,"help":"Inserire una data fino a cui filtrare la richiesta di atti"},"field4":{"name":"documentDateSince","nameIT":"data documento dal","type":"date","required":false,"options":null,"help":"Inserire una data a partire dalla quale filtrare i documenti degli atti"},"field5":{"name":"documentDateTo","nameIT":"data documento al","type":"date","required":false,"options":null,"help":"Inserire una data fino a cui filtrare i documenti degli atti"}},"validation":"field0 || (field0 && (field1 || field2 || field3 || field4 || field5))","help":null,"searchHelp":null},"category":"Camerali","name":"Atto Ottico","options":null,"hasSearch":true,"isSync":false,"id":"6687eea71a241a5d1be0f9f9","searchPrice":0.6,"documentPrice":4.9,"totalPrice":5.5},{"requestStructure":{"fields":{"field0":{"name":"taxCode","nameIT":"codice fiscale","type":"taxCode","required":true,"options":null,"help":"Inserire il codice fiscale dell`azienda"}},"validation":"field0","help":null,"searchHelp":null},"category":"Camerali","name":"Statuto","options":null,"hasSearch":false,"isSync":false,"id":"6687eed51a241a5d1be0f9fa","searchPrice":0,"documentPrice":4.9,"totalPrice":4.9},{"requestStructure":{"fields":{"field0":{"name":"taxCode","nameIT":"codice fiscale","type":"taxCode","required":true,"options":null,"help":"Inserire il codice fiscale dell`azienda"}},"validation":"field0","help":null,"searchHelp":null},"category":"Camerali","name":"Bilancio Riclassificato","options":null,"hasSearch":true,"isSync":false,"id":"669533fe6d4f51cbde8da353","searchPrice":0.1,"documentPrice":4.9,"totalPrice":5}],"success":true,"message":"","error":null}}}}}}},"/requests":{"get":{"tags":["Requests"],"summary":"List of all requests","description":"Summary list of all requests made from your profile","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Requests"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"NEW","timestamps":{"creation":1724407264,"NEW":1724407264,"lastUpdate":1724409461},"name":"Bilancio Ottico","id":"5f22f722065afc42223c7131"},{"state":"WAIT","timestamps":{"creation":1724407264,"WAIT":1724407264,"lastUpdate":1724409461},"name":"Statuto","id":"66b38b67aa1f7139458a93b1"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests related to your account","error":221,"data":null}}}}}},"post":{"tags":["Requests"],"summary":"New request","description":"Endpoint to instantiate a new service request. You can instantiate it (with 'state'='NEW') and then complete it via PATCH/requests or pass all the data immediately to have it processed by the system.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBody"},"example":{"documentId":"6687eed51a241a5d1be0f9fa","search":{"field0":"12485671007"},"callback":{"url":"https://webhook.site/f24cec85-22e3-4f7c-8ec0-227b240daa42","field":"data","method":"POST","headers":{"test_header":"some_string"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Request"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Request"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"documentId":"6687eed51a241a5d1be0f9fa","search":{"field0":"12485671007"},"callback":{"url":"https://webhook.site/f24cec85-22e3-4f7c-8ec0-227b240daa42","field":"data","method":"POST","headers":{"test_header":"some_string"},"data":{}},"timestamps":{"creation":1724416377,"WAIT":1724416377,"lastUpdate":1724416393},"state":"WAIT","readableSearch":{"taxCode":"12485671007"},"optionsPrice":0,"selectedOptions":null,"notifyEmail":null,"name":"Statuto","hasSearch":false,"searchPrice":0,"documentPrice":4.9,"totalPrice":4.9,"documents":null,"resultId":null,"results":null,"id":"66c881896de559cb65055392"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"wrong documentId","error":202,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"search must be a key value object","error":205,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"document Statuto not available at the moment, please try again later","error":208,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"the company was born this year, the first balance sheet is not yet available","error":320,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"object headers not set in 'callback', required","error":311,"data":null}}}}}}},"/requests/{id}":{"get":{"tags":["Requests"],"summary":"Get specific request","description":"Endpoint that returns the request marked by the identifier passed in the path","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"66c881896de559cb65055392"}}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Request"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"documentId":"6687eed51a241a5d1be0f9fa","search":{"field0":"12485671007"},"callback":{"url":"https://webhook.site/f24cec85-22e3-4f7c-8ec0-227b240daa42","field":"data","method":"POST","headers":{"test_header":"some_string"},"data":{}},"timestamps":{"creation":1724416377,"WAIT":1724416377,"lastUpdate":1724416393},"state":"WAIT","readableSearch":{"taxCode":"12485671007"},"optionsPrice":0,"selectedOptions":null,"notifyEmail":null,"name":"Statuto","hasSearch":false,"searchPrice":0,"documentPrice":4.9,"totalPrice":4.9,"documents":null,"resultId":null,"results":null,"id":"66c881896de559cb65055392"},"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request matches this id: 66c881896de559cb65055393","error":223,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"id not valid","error":222,"data":null}}}}}},"patch":{"tags":["Requests"],"summary":"Updates the request","description":"This endpoint allows you to modify some fields of the request and then close it (when the reqeust has state NEW) or to select a result produced by the search (in documents that 'hasSearch'=true)","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"66c881896de559cb65055392"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PatchBody"},{"$ref":"#/components/schemas/PatchBodySearch"}]},"examples":{"Update request and close it":{"value":{"search.field0":"12485671666","state":"SEARCH"}},"Select a result":{"value":{"resultId":"59eabaa38b9571eaa2520ad96672e8ee"}}}}}},"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Request"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"documentId":"6687eed51a241a5d1be0f9fa","search":{"field0":"12485671666"},"callback":{"url":"https://webhook.site/f24cec85-22e3-4f7c-8ec0-227b240daa42","field":"data","method":"POST","headers":{"test_header":"some_string"},"data":{}},"timestamps":{"creation":1724416377,"NEW":1724416377,"WAIT":1724416377,"lastUpdate":1724416393},"state":"WAIT","readableSearch":{"taxCode":"12485671666"},"optionsPrice":0,"selectedOptions":null,"notifyEmail":null,"name":"Statuto","hasSearch":false,"searchPrice":0,"documentPrice":4.9,"totalPrice":4.9,"documents":null,"resultId":null,"results":null,"id":"66c881896de559cb65055392"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"no fields were accepted, check the search object","error":300,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"id not valid","error":210,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"document Statuto not available at the moment, please try again later","error":316,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"the request does not produce results to choose from, it is processed directly with the POST","error":213,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"id required","error":209,"data":null}}}}}}},"/requests/{id}/documents":{"get":{"tags":["Requests"],"summary":"Get the documents","description":"Endpoint that allows you to download the documents generated by the request","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f22f5b5065afc21cc60a27a"}}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Download"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"fileName":"5f22f5b5065afc21cc60a27a_0.pdf","mimeType":"application/pdf","fileSize":"34144","md5":"IPJJgdrAt4xrvGR4ve7oTg==","urlExpire":1724505599,"downloadUrl":"https://storage.googleapis.com/test-docuengine-openapi-com/documents/5f22f5b5065afc21cc60a27a_0.pdf?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=test-docuengine-openapi-com%40openapi-services-np.iam.gserviceaccount.com%2F20240823%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240823T131959Z&X-Goog-Expires=86400&X-Goog-SignedHeaders=host&X-Goog-Signature=234776179911339dcfbe7c6cffc31dc4713c5cf59cd6aa6e64ea824ebb83b3c96fbdf165dc9eb01b3186c4182744ea49e39c246ca3beb0a802733982e1d21ced340ac0a94c5cc99133f7758080a4dc09c45c90760a1293f9183290db298feaa76170cc0bea5b162a61264a5e73ebb01b8955912e25d3154cda719f043f87d6a1e17b7ea6883d8f9339e35da21758cb623248fd42c63e4cdb1917bb1ff9ff0017604000cf91f656ff4d3d60d4d08e07aaf8341a5929338165590318a0004e88d39b26a89838b7632bc58e747773220e875475ae91ed98dbbbaa75f8e6b90fb8a29afb6e9863330c973bae68b6b75d4709383ff165884ed22450ea7f4cd521e18e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request matches this id: 5f22f5b5065afc21cc60a27b","error":223,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"id not valid","error":222,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"documents not yet available","error":225,"data":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}