{"openapi":"3.0.0","info":{"description":"This web service allows obtaining realtime exchange rates","version":"1.0.0","title":"Exchange","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://exchange.altravia.com","description":"Production"},{"url":"https://test.exchange.altravia.com","description":"Sandbox"}],"tags":[{"name":"Daily Rates","description":"Get the exchange rate"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"paths":{"":{"get":{"tags":["Daily Rates"],"summary":"This method allows you to obtain world exchange rate based on USD value","description":"","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"currency_1":{"type":"number","format":"double"},"currency_n":{"type":"number","format":"double"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"AED":4.333,"AFN":90.297,"ALL":123.969,"AMD":573.1323,"ANG":2.1122,"AOA":687.4829,"ARS":85.4725,"AUD":1.6504,"AWG":2.1235,"AZN":2.0028,"BAM":1.9629,"BBD":2.376,"BDT":99.7835,"BGN":1.9564,"BHD":0.4447,"BIF":2268.4145,"BMD":1.1797,"BND":1.6208,"BOB":8.1256,"BRL":6.2767,"BSD":1.1767,"BTC":0.0001,"BTN":88.1652,"BWP":13.7231,"BYN":2.8733,"BYR":23122.0692,"BZD":2.372,"CAD":1.5776,"CDF":2344.0592,"CHF":1.0791,"CLF":0.0324,"CLP":893.8529,"CNY":8.2358,"COP":4447.5772,"CRC":688.3973,"CUC":1.1797,"CUP":31.262,"CVE":110.6695,"CZK":26.1727,"DJF":209.4887,"DKK":7.4454,"DOP":69.475,"DZD":151.5968,"EGP":18.8512,"ERN":17.6952,"ETB":41.4801,"EUR":1,"FJD":2.5176,"FKP":0.9024,"GBP":0.9025,"GEL":3.6394,"GGP":0.9024,"GHS":6.7902,"GIP":0.9024,"GMD":61.1016,"GNF":11350.0009,"GTQ":9.0731,"GYD":246.192,"HKD":9.1428,"HNL":29.0868,"HRK":7.4689,"HTG":130.4315,"HUF":344.6805,"IDR":17283.7467,"ILS":4.0262,"IMP":0.9024,"INR":88.4976,"IQD":1404.8158,"IRR":49671.1597,"ISK":160.0146,"JEP":0.9024,"JMD":173.5697,"JOD":0.8364,"JPY":124.9848,"KES":127.242,"KGS":90.6518,"KHR":4865.9638,"KMF":493.8805,"KPW":1061.8021,"KRW":1408.6409,"KWD":0.3608,"KYD":0.9806,"KZT":497.4014,"LAK":10672.0501,"LBP":1779.2437,"LKR":218.407,"LRD":235.0842,"LSL":20.2903,"LTL":3.4833,"LVL":0.7136,"LYD":1.6171,"MAD":11.0188,"MDL":19.5616,"MGA":4527.5101,"MKD":61.8395,"MMK":1606.2799,"MNT":3358.0765,"MOP":9.3937,"MRO":421.1521,"MUR":46.8339,"MVR":18.1789,"MWK":867.8472,"MXN":26.6568,"MYR":4.9772,"MZN":83.7,"NAD":20.293,"NGN":447.6951,"NIO":41.2337,"NOK":10.7517,"NPR":141.0585,"NZD":1.7837,"OMR":0.4536,"PAB":1.1768,"PEN":4.1587,"PGK":4.1406,"PHP":57.8819,"PKR":196.8689,"PLN":4.3989,"PYG":8145.2986,"QAR":4.295,"RON":4.8339,"RSD":117.628,"RUB":86.8694,"RWF":1128.5379,"SAR":4.4246,"SBD":9.7121,"SCR":21.033,"SDG":65.2437,"SEK":10.2997,"SGD":1.6215,"SHP":0.9024,"SLL":11507.948,"SOS":688.3464,"SRD":8.7982,"STD":25829.6718,"SVC":10.2962,"SYP":604.8486,"SZL":20.3018,"THB":36.6686,"TJS":12.1327,"TMT":4.1407,"TND":3.2135,"TOP":2.6919,"TRY":8.1949,"TTD":7.9584,"TWD":34.6884,"TZS":2742.7963,"UAH":32.7058,"UGX":4336.5891,"USD":1.1797,"UYU":50.0789,"UZS":12014.7427,"VEF":11.7822,"VND":27341.257,"VUV":134.5295,"WST":3.0885,"XAF":658.3301,"XAG":0.0485,"XAU":0.0006,"XCD":3.1882,"XDR":0.8327,"XOF":658.3301,"XPF":120.2705,"YER":295.3373,"ZAR":20.3787,"ZMK":10618.693,"ZMW":21.4865,"ZWL":379.8628,"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":200,"data":null}}}}},"security":[{"bearerAuth":[]}]}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"}}