{"openapi":"3.0.0","info":{"description":"Web service that allows you to purchase or renew Infocert or Aruba digital signatures, and to obtain digital identities.","version":"1.0.0","title":"Firma Digitale","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://ws.firmadigitale.com","description":"Production"},{"url":"https://test.ws.firmadigitale.com","description":"Sandbox"}],"tags":[{"name":"Prodotti","description":"Method that allows you to see all available products and their prices"},{"name":"Firme","description":"Methods that allows you to purchase and renew various digital signatures"},{"name":"Richieste","description":"Methods to see all your requests"},{"name":"Firma elettronica","description":"Methods that allows you to digitally sign PDF document with REST APIs."},{"name":"SPID","description":"Methods that allow you to obtain 4 types of spid (at the moment only personal spid is available)"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Prodotto":{"type":"object","properties":{"nome":{"type":"string"},"tipo":{"type":"string"},"codice_prodotto":{"type":"string"},"prezzo":{"type":"number","format":"double"}}},"PostBodyRinnovi":{"type":"object","properties":{"assistenza":{"type":"boolean","description":"product assistance"},"callback":{"$ref":"#/components/schemas/Callback"}}},"PostBodyPatch":{"type":"object","properties":{"documento":{"type":"string","description":"ID document file encoded in base 64"},"nome_documento":{"type":"string","description":"name of the file"},"modulo":{"type":"string","description":"recognition form file encoded in base 64"},"nome_modulo":{"type":"string","description":"name of the file"}}},"PostBodyFirmaEstero":{"type":"object","properties":{"assistenza":{"type":"boolean","description":"product assistance"},"callback":{"$ref":"#/components/schemas/Callback"}}},"Callback":{"type":"object","properties":{"method":{"type":"string","description":"Indicate through which method you want to receive data with the callback, by default it is POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Name of the field containing the callback return data"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.it/callback.php"},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}}},"PostBodyFirme":{"type":"object","properties":{"assistenza":{"type":"boolean","description":"product assistance"},"urgenza":{"type":"boolean","description":"urgency in product processing"},"spedizione":{"type":"string","description":"type of shipment, by default it is ordinary","enum":["ordinaria","prioritaria","veloce"]},"callback":{"$ref":"#/components/schemas/Callback"},"anagrafica":{"$ref":"#/components/schemas/Anagrafica"},"documento":{"type":"string","description":"ID document file encoded in base 64"},"nome_documento":{"type":"string","description":"name of the file"},"modulo":{"type":"string","description":"recognition form file encoded in base 64"},"nome_modulo":{"type":"string","description":"name of the file"}},"required":["anagrafica"]},"PostBodyFirmeAruba":{"type":"object","properties":{"assistenza":{"type":"boolean","description":"product assistance"},"urgenza":{"type":"boolean","description":"urgency in product processing"},"spedizione":{"type":"string","description":"type of shipment, by default it is ordinary","enum":["ordinaria","prioritaria","veloce"]},"documento":{"type":"string","description":"ID document file encoded in base 64"},"nome_documento":{"type":"string","description":"name of the file"},"videoriconoscimento":{"type":"boolean"},"anagrafica":{"$ref":"#/components/schemas/Anagrafica"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["anagrafica","documento","nome_documento"]},"PostBodyFirmeVideoriconoscimento":{"type":"object","properties":{"assistenza":{"type":"boolean","description":"product assistance"},"urgenza":{"type":"boolean","description":"urgency in product processing"},"email":{"type":"string","format":"email"},"cellulare":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["email","cellulare"]},"PostBodyVideoriconoscimento":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"}},"required":["id"]},"PostBodyLettore":{"type":"object","properties":{"assistenza":{"type":"boolean","description":"product assistance"},"urgenza":{"type":"boolean","description":"urgency in product processing"},"spedizione":{"type":"string","description":"type of shipment, by default it is ordinary","enum":["ordinaria","prioritaria","veloce"]},"callback":{"$ref":"#/components/schemas/Callback"},"anagrafica_spedizione":{"$ref":"#/components/schemas/AnagraficaSpedizione"},"quantita":{"type":"integer"}},"required":["anagrafica_spedizione"]},"Anagrafica":{"type":"object","properties":{"nome":{"type":"string","description":"name"},"cognome":{"type":"string","description":"surname"},"email":{"type":"string","description":"email"},"cellulare":{"type":"string","description":"cell phone"},"codice_fiscale":{"type":"string","description":"fiscal Code"},"data_nascita":{"type":"string","description":"date of birth (accepted format: dd/mm/yyyy)"},"sesso":{"type":"string","description":"gender"},"comune_nascita":{"type":"string","description":"birthplace"},"provincia_nascita":{"type":"string","description":"county of birth"},"nazione_nascita":{"type":"string","description":"nation of birth"},"indirizzo_residenza":{"type":"string","description":"residential address"},"comune_residenza":{"type":"string","description":"city of residence"},"provincia_residenza":{"type":"string","description":"county of residence"},"cap_residenza":{"type":"string","description":"postal code of residence"},"nazione_residenza":{"type":"string","description":"nation of residence"},"destinatario":{"type":"string","description":"recipient"},"indirizzo_spedizione":{"type":"string","description":"shipping address"},"comune_spedizione":{"type":"string","description":"shipping city"},"provincia_spedizione":{"type":"string","description":"shipping county"},"cap_spedizione":{"type":"string","description":"shipping postal code"},"tipo_documento":{"type":"string","description":"type of identity document"},"numero_documento":{"type":"string","description":"document number"},"soggetto_emittente":{"type":"string","description":"subject who issued the identity document"},"data_emissione":{"type":"string","description":"issuing date (accepted format: dd/mm/yyyy)"},"data_scadenza":{"type":"string","description":"expiration date (accepted format: dd/mm/yyyy)"},"note":{"type":"string","description":"note"}},"required":["nome","cognome","email","cellulare","codice_fiscale","data_nascita","sesso","comune_nascita","provincia_nascita","nazione_nascita","indirizzo_residenza","comune_residenza","provincia_residenza","cap_residenza","nazione_residenza","destinatario","indirizzo_spedizione","comune_spedizione","provincia_spedizione","cap_spedizione","tipo_documento","numero_documento","soggetto_emittente","data_emissione","data_scadenza"]},"AnagraficaSpedizione":{"type":"object","properties":{"destinatario":{"type":"string","description":"recipient"},"email":{"type":"string","description":"email"},"cellulare":{"type":"string","description":"cell phone"},"indirizzo_spedizione":{"type":"string","description":"shipping address"},"comune_spedizione":{"type":"string","description":"shipping city"},"provincia_spedizione":{"type":"string","description":"shipping county"},"cap_spedizione":{"type":"string","description":"shipping postal code"},"note":{"type":"string","description":"note"}},"required":["destinatario","email","cellulare","indirizzo_spedizione","comune_spedizione","provincia_spedizione","cap_spedizione"]},"ResponseRinnovo":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"codice_prodotto":{"type":"string"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"assistenza":{"type":"boolean"},"urgenza":{"type":"boolean"},"spedizione":{"type":"boolean"},"callback":{"$ref":"#/components/schemas/Callback"},"credenziali":{"type":"object","properties":{"token":{"type":"string"}}},"quantita":{"type":"integer"},"videoriconoscimento":{"type":"boolean"}}},"ResponseFirmaEstero":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"codice_prodotto":{"type":"string"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"assistenza":{"type":"boolean"},"urgenza":{"type":"boolean"},"spedizione":{"type":"boolean"},"callback":{"$ref":"#/components/schemas/Callback"},"credenziali":{"type":"object","properties":{"codice":{"type":"string"}}},"quantita":{"type":"integer"},"videoriconoscimento":{"type":"boolean"}}},"ResponseFirmeVideoriconoscimento":{"type":"object","properties":{"assistenza":{"type":"boolean"},"videoriconoscimento":{"type":"boolean"},"email":{"type":"string","format":"email"},"cellulare":{"type":"string"},"urgenza":{"type":"boolean"},"spedizione":{"type":"boolean"},"callback":{"$ref":"#/components/schemas/Callback"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"codice_prodotto":{"type":"string"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"quantita":{"type":"integer"},"credenziali":{"type":"object","properties":{"username":{"type":"string"}}},"id":{"type":"string"}}},"ResponseFirma":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"codice_prodotto":{"type":"string"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"assistenza":{"type":"boolean"},"urgenza":{"type":"boolean"},"videoriconoscimento":{"type":"boolean"},"spedizione":{"type":"string","enum":["ordinaria","veloce","prioritaria"]},"callback":{"$ref":"#/components/schemas/Callback"},"anagrafica":{"$ref":"#/components/schemas/Anagrafica"},"firma":{"$ref":"#/components/schemas/Firma"},"fornitore":{"$ref":"#/components/schemas/Fornitore"},"quantita":{"type":"integer"},"modulo":{"type":"boolean"},"documento":{"type":"boolean"}}},"ResponseFirmeAruba":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"documento":{"type":"boolean"},"codice_prodotto":{"type":"string"},"videoriconoscimento":{"type":"boolean"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"assistenza":{"type":"boolean"},"urgenza":{"type":"boolean"},"spedizione":{"type":"string","enum":["ordinaria","veloce","prioritaria"]},"callback":{"$ref":"#/components/schemas/Callback"},"anagrafica":{"$ref":"#/components/schemas/Anagrafica"},"firma":{"$ref":"#/components/schemas/Firma"},"fornitore":{"$ref":"#/components/schemas/Fornitore"},"quantita":{"type":"boolean"},"modulo":{"type":"boolean"}}},"ResponseLettore":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"codice_prodotto":{"type":"string"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"assistenza":{"type":"boolean"},"urgenza":{"type":"boolean"},"spedizione":{"type":"string","enum":["ordinaria","veloce","prioritaria"]},"callback":{"$ref":"#/components/schemas/Callback"},"anagrafica_spedizione":{"$ref":"#/components/schemas/AnagraficaSpedizione"},"firma":{"$ref":"#/components/schemas/Firma"},"fornitore":{"$ref":"#/components/schemas/Fornitore"},"quantita":{"type":"integer"},"videoriconoscimento":{"type":"boolean"},"modulo":{"type":"boolean"},"documento":{"type":"boolean"}}},"Richieste":{"type":"object","properties":{"id":{"type":"string"},"codice_richiesta":{"type":"string"},"prodotto":{"type":"string"},"codice_prodotto":{"type":"string"},"tipo":{"type":"string"},"stato":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"owner":{"type":"string"},"assistenza":{"type":"boolean"},"urgenza":{"type":"boolean"},"spedizione":{"type":"string"}}},"Firma":{"type":"object","properties":{"codice_spedizione":{"type":"string"},"pin":{"type":"string"},"puk":{"type":"string"},"numero_dispositivo":{"type":"string"},"codice_carta":{"type":"string"},"numero_busta":{"type":"string"},"codice_utente":{"type":"string"},"iut":{"type":"string"},"alias":{"type":"string"},"codice_emergenza":{"type":"string"}}},"Fornitore":{"type":"object","properties":{"ragione_sociale":{"type":"string"},"sede_legale":{"type":"string"},"partita_iva":{"type":"string"},"legale_rappresentante":{"type":"string"},"email_assistenza":{"type":"string"},"email_contabilita":{"type":"string"},"telefono_assistenza":{"type":"string"},"sede_riconoscimento":{"type":"string"}}},"Timestamp":{"type":"object","properties":{"acquisto":{"type":"integer"},"emissione":{"type":"integer"},"evasione":{"type":"integer"},"scadenza":{"type":"integer"}}},"FesBaseRequest":{"type":"object","description":"","properties":{"title":{"type":"string","nullable":true,"description":"You can provide a title and a description to your request. It will be shown in the iframe to the users during the signing process"},"description":{"type":"string","nullable":true},"ui":{"description":"A UI configuration created with `/firma_elettronica_ui`","type":"string"},"filename":{"type":"string","default":"fes_{timestamp}.pdf"},"content":{"type":"string","description":"base64 encoding of your PDF file"},"members":{"type":"array","items":{"type":"object","properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string","description":"Always specify the international prefix, starting with a '+' sign. If the '+' is omitted, the Italian (+39) prefix will be prepended"},"signs":{"type":"array","description":"Where the signs of this member will be placed. You can specify more than one place with an array of pages and positions.","items":{"type":"object","properties":{"page":{"type":"number","description":"Page number where the sign will be placed. Please note that the pagination starts from 1, and not 0."},"position":{"type":"string","nullable":true,"example":"10,15,45,35","description":"Coordinates in px of the bounding box where the sign will be placed in, on the current page"}}}}}}},"callback":{"$ref":"#/components/schemas/FesCallback"}}},"FesCreateUi":{"type":"object","description":"The following options can be specified: <br><ul><span></span><li><b><span>enableHeaderBar</span></b><span> can display or not the header bar of the iFrame. The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>enableHeaderBarSignAs</span></b><span> can display or not the bar just below the header bar to mention the name of the signer. The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>enableSidebar</span></b><span> can display or not the sidebar, where you can find documents and signers just on the left of the document viewer. The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>enableMemberList</span></b><span> is located in the sidebar. You can display or not the members list (signers or validators of the procedure). The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>enableDocumentList</span></b><span> is located in the sidebar. You can display or not documents list. The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>enableDocumentDownload</span></b><span> is located in the document list. You can authorize or not to download document by your users. The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>enableActivities</span></b><span> is located in the sidebar. You can access to activities feed that display who sign, validate or comment the procedure. The default value is </span><b><span>true</span></b><span>.</span></li><span></span><li><b><span>authenticationPopup</span></b><span> For signing, a user will be redirected to a view which will request a security b. You can change it just by a popup on the document's viewer by turning this field to </span><b><span>true</span></b><span>. The default value is </span><b><span>false</span></b><span>.</span></li><span></span><li><b><span>enableRefuseComment</span></b><span> can display or not the popup which contains the comment asked when the participant refuse the procedure. The default value is </span><b><span>true</span></b><span>.</span></li><span></span></ul>","properties":{"name":{"type":"string","example":"My custom template"},"description":{"type":"string","example":"A template description"},"defaultZoom":{"type":"integer","example":"100"},"logo":{"type":"string","description":"A base-64 encoded image, prefixed with the data URI scheme","example":"data:image/png;base64,iVBORw0KGgoAA"},"languages":{"type":"array","enum":["fr","en","es","de","it","pt","nl"],"items":{"type":"string","example":"fr"}},"defaultLanguage":{"type":"string","example":"en"},"signImageTypesAvailable":{"type":"array","items":{"type":"string","example":"name"}},"enableHeaderBar":{"type":"boolean"},"enableHeaderBarSignAs":{"type":"boolean"},"enableSidebar":{"type":"boolean"},"enableMemberList":{"type":"boolean"},"enableDocumentList":{"type":"boolean"},"enableDocumentDownload":{"type":"boolean"},"enableActivities":{"type":"boolean"},"authenticationPopup":{"type":"boolean"},"enableRefuseComment":{"type":"boolean"},"labels":{"type":"array","description":"Customize the content of certain elements in the iFrame by overriding the content of some labels. Each available language should have its own translated string, or the default label will be shown.","items":{"type":"object","properties":{"name":{"items":{"type":"array","enum":["header-bar-title","button-next-document","button-refuse","button-refuse-cancel","button-refuse-confirm","button-validate","button-validate-cancel","button-validate-confirm","button-sign","button-sign-confirm","alert-refused","alert-finished","alert-signed","alert-informations"],"example":"NAME OF THE LABEL"}},"languages":{"type":"object","properties":{"en":{"type":"string","example":"Label en"},"fr":{"type":"string","example":"Label fr"}}}}}},"fonts":{"type":"array","items":{"type":"string","example":"Roboto"}},"style":{"type":"string","description":" The following classes are available: <ul><span></span></span><li><span>sign-ui-title</span></li><span></span><li><span>sign-ui-title-label</span></li><span></span><li><span>sign-ui-title-underline</span></li><span></span><li><span>sign-ui-avatar</span></li><span></span><li><span>sign-ui-avatar--primary</span></li><span></span><li><span>sign-ui-avatar--success</span></li><span></span><li><span>sign-ui-avatar--error</span></li><span></span><li><span>sign-ui-alert</span></li><span></span><li><span>sign-ui-alert--primary</span></li><span></span><li><span>sign-ui-alert--secondary</span></li><span></span><li><span>sign-ui-alert--warning</span></li><span></span><li><span>sign-ui-alert--success</span></li><span></span><li><span>sign-ui-alert--error</span></li><span></span><li><span>sign-ui-procedure-detail-info</span></li><span></span><li><span>sign-ui-activity-title</span></li><span></span><li><span>sign-ui-confirm-box-valid</span></li><span></span><li><span>sign-ui-button-sign-confirm</span></li><span></span><li><span>sign-ui-procedure-name</span></li><span></span><li><span>sign-ui-documents-list</span></li><span></span><li><span>sign-ui-signers-list</span></li><span></span><li><span>sign-ui-button-next-document</span></li><span></span><li><span>sign-ui-button-refuse</span></li><span></span><li><span>sign-ui-button-validate</span></li><span></span><li><span>sign-ui-button-sign</span></li><span></span><li><span>sign-ui-button-validate-cancel</span></li><span></span><li><span>sign-ui-button-validate-confirm</span></li><span></span><li><span>sign-ui-button-refuse-cancel</span></li><span></span><li><span>sign-ui-button-refuse-confirm</span></li><span></span><li><span>sign-ui-stamp</span></li><span></span><li><span>sign-ui-actions-banner</span></li><span></span><li><span>sign-ui-waiting</span></li><span></span><li><span>sign-ui-waiting-circle-bg</span></li><span></span><li><span>sign-ui-waiting-circle-active</span></li><span></span><li><span>sign-ui-waiting-circle-text</span></li><span></span></ul>","example":"sign-ui-title { color: red; }"},"redirectCancel":{"type":"object","properties":{"url":{"type":"string","example":"https://my-webhook.example.com"},"target":{"type":"string","example":"_top or _blank or _self or _parent"},"auto":{"type":"boolean"}}},"redirectError":{"type":"object","properties":{"url":{"type":"string","example":"https://my-webhook.example.com"},"target":{"type":"string","example":"_top or _blank or _self or _parent"},"auto":{"type":"boolean"}}},"redirectSuccess":{"description":"You can customise the experience after the signature, the cancel or an error during the process. Use redirectSuccess to redirect a user to an url when he have been signed.Specify the url field and the way to open it in the target field, like an HTML link.The auto boolean can be useful if you don't want to redirect just after the signature. If you want to display a button in the iframe with the following text : 'You have sucessfully signed, click here to continue.', pass it to false. By default, at true, the redirect will be automaticly fired when the event is fired too.You can customise 2 others redirects : redirectCancel when the member decline your procedure and redirectError if we encounter an error during the signature process.","type":"object","properties":{"url":{"type":"string","example":"https://my-webhook.example.com"},"target":{"type":"string","example":"_top or _blank or _self or _parent"},"auto":{"type":"boolean"}}}}},"FesSingleSign":{"type":"object","properties":{"id":{"type":"string"},"filename":{"type":"string"},"status":{"type":"string"},"members":{"type":"array","items":{"type":"object","properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string","description":"Always specify the international prefix, starting with a '+' sign. If the '+' is omitted, the Italian (+39) prefix will be prepended"},"signs":{"type":"array","description":"Where the signs of this member will be placed. You can specify more than one place with an array of pages and positions.","items":{"type":"object","properties":{"page":{"type":"number","description":"Page number where the sign will be placed. Please note that the pagination starts from 1, and not 0."},"position":{"type":"string","description":"Coordinates in px where the sign will be placed on the current page"}}}}}}},"callback":{"$ref":"#/components/schemas/FesCallback"}}},"FesUiResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"FesBaseResponse":{"allOf":[{"$ref":"#/components/schemas/FesCallbackContent"},{"type":"object","properties":{"callback_status":{"type":"string"},"callback":{"type":"object","properties":{"method":{"type":"string"},"field":{"type":"string"},"url":{"type":"string"}}}}}]},"FesStatus":{"type":"string","description":"The request will return one of the following statuses.","enum":["created","started","finished","refused","expired","request failed","file validation failed","error"]},"FesCallbackContent":{"type":"object","properties":{"id":{"type":"string"},"filename":{"type":"string","default":"fes_{timestamp}.pdf"},"title":{"type":"string"},"description":{"type":"string"},"members":{"type":"array","items":{"type":"object","properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"sign_link":{"type":"string"}}}},"status":{"$ref":"#/components/schemas/FesStatus"},"download_link":{"type":"string","nullable":true}}},"FesCallback":{"type":"object","properties":{"field":{"type":"string","description":"Name of the field containing the callback return data"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.it/callback.php"},"headers":{"type":"object","description":"A key-value object containing additional headers for the callback. This field can be used to include custom authentication logic if needed.","properties":{"key":{"type":"string","description":"value","example":"value"}}}}}}},"paths":{"/prodotti":{"get":{"tags":["Prodotti"],"summary":"List of products","description":"This method shows you the list of all our products","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Prodotto"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"nome":"Rinnovo Certificato Firma","tipo":"Infocert","codice_prodotto":"RINFIR","prezzo":9},{"nome":"Business Key","tipo":"Infocert","codice_prodotto":"KEY","prezzo":40},{"nome":"Lettore Smart Card USB","tipo":"Infocert","codice_prodotto":"LETTORE","prezzo":13,"vergine":true},{"nome":"Kit Firma Digitale","tipo":"Infocert","codice_prodotto":"KIT","prezzo":39.7},{"nome":"Firma Digitale Remota Infocert","tipo":"Infocert","codice_prodotto":"FIRREM","prezzo":25.7},{"nome":"Business Key CNS","tipo":"Infocert","codice_prodotto":"KEYCNS","prezzo":40.7},{"nome":"Smart Card Infocert CNS","tipo":"Infocert","codice_prodotto":"SMARTCARDCNS","prezzo":25.7},{"nome":"Rinnovo CNS Infocert","tipo":"Infocert","codice_prodotto":"RINCNS","prezzo":9},{"nome":"Kit CNS Infocert","tipo":"Infocert","codice_prodotto":"KITCNS","prezzo":40.3},{"nome":"Smart Card Aruba CNS","tipo":"Aruba","codice_prodotto":"SCARUBACNS","prezzo":22.4},{"nome":"Aruba Key CNS","tipo":"Aruba","codice_prodotto":"ARUBAKEYCNS","prezzo":39.4},{"nome":"Firma Aruba OTP Display","tipo":"Aruba","codice_prodotto":"OTPDIS","prezzo":25.2},{"nome":"Firma Aruba OTP Mobile","tipo":"Aruba","codice_prodotto":"OTPMOB","prezzo":21.7},{"nome":"Firma Estero","tipo":"Infocert","codice_prodotto":"FIREST","prezzo":49.7},{"nome":"Videoriconoscimento Aruba","tipo":"Aruba","codice_prodotto":"VIDEORIC","prezzo":15},{"nome":"Firma Digitale","tipo":"Infocert","codice_prodotto":"FIR","prezzo":22.7},{"nome":"Firma Digitale Vergine","tipo":"Infocert","codice_prodotto":"FIR_V","prezzo":22.7,"vergine":true},{"nome":"Business Key Vergine","tipo":"Infocert","codice_prodotto":"KEY_V","prezzo":40,"vergine":true},{"nome":"Firma Digitale Remota Infocert Vergine","tipo":"Infocert","codice_prodotto":"FIRREM_V","prezzo":25.7,"vergine":true},{"nome":"Business Key CNS Vergine","tipo":"Infocert","codice_prodotto":"KEYCNS_V","prezzo":40.7,"vergine":true},{"nome":"Smart Card Infocert CNS Vergine","tipo":"Infocert","codice_prodotto":"SMARTCARDCNS_V","prezzo":25.7,"vergine":true},{"nome":"Smart Card Infocert CNS Con Videoriconoscimento","tipo":"Infocert","codice_prodotto":"SMARTCARDCNS_VIDEO","prezzo":57.9},{"nome":"Business Key CNS Con Videoricoscimento","tipo":"Infocert","codice_prodotto":"KEYCNS_VIDEO","prezzo":77.9},{"nome":"Firma Digitale Remota Infocert Con Videoriconoscimento","tipo":"Infocert","codice_prodotto":"FIRREM_VIDEO","prezzo":63.7},{"nome":"Rinnovo Firma Remota","tipo":"Infocert","codice_prodotto":"RINFIRREM","prezzo":19.7},{"nome":"Spid Personale","tipo":"Namirial","codice_prodotto":"SPID_PER","prezzo":14.2}],"success":true,"message":"","error":null}}}}},"security":[{"bearerAuth":[]}]}},"/richiesta":{"get":{"tags":["Richieste"],"summary":"List of your requests","description":"This method shows you the list of all your requests","parameters":[{"name":"codice_prodotto","in":"query","description":"Type of codice_prodotto","required":false,"schema":{"type":"string","example":"FIR"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Richieste"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"_id":"5f774d903a71681fce3c71d3","assistenza":true,"urgenza":true,"spedizione":"veloce","codice_richiesta":1,"prodotto":"Firma Digitale","codice_prodotto":"FIR","tipo":"Infocert","stato":"in_riconoscimento","timestamp":{"acquisto":1602587629,"emissione":1602587629,"evasione":1602587629,"scadenza":1791890029},"owner":"a.neri@altravia.com"},{"_id":"5f7b1f8b3a716857774a4362","assistenza":true,"urgenza":false,"spedizione":false,"codice_richiesta":6,"prodotto":"Rinnovo Certificato Firma","codice_prodotto":"RINFIR","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1602587629,"evasione":1602587629,"scadenza":1791890029},"owner":"a.neri@altravia.com"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request related to your account","error":214,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/richiesta/{id}":{"get":{"tags":["Richieste"],"summary":"Specific request","description":"This method shows you the specific request related to the id","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f7b2e323a716857774a4373"}}],"responses":{"200":{"description":"- OK\n- Schemi di riferimento all'intero di *data* per categoria:\n  - ResponseFirmaEstero: FIREST\n  - ResponseLettore: FIR_V or LETTORE or KEY_V or FIRREM_V or KEYCNS_V or SMARTCARDCNS_V\n  - ResponseRinnovi: RINFIR or RINCNS or RINFIRREM \n  - ResponseFirma: KEY or FIR or KIT or FIRREM or KEYCNS or SMARTCARDCNS or KITCNS\n  - ResponseFirmeAruba: SCARUBACNS or ARUBAKEYCNS or OTPDIS or OTPMOB or VIDEORIC\n  - ResponseFirmeVideoriconoscimento: SMARTCARDCNS_VIDEO or KEYCNS_VIDEO or FIRREM_VIDEO\n","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/ResponseRinnovo"},{"$ref":"#/components/schemas/ResponseFirmaEstero"},{"$ref":"#/components/schemas/ResponseFirma"},{"$ref":"#/components/schemas/ResponseLettore"},{"$ref":"#/components/schemas/ResponseFirmeVideoriconoscimento"},{"$ref":"#/components/schemas/ResponseFirmeAruba"}]},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"/FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V":{"description":"The same exemple for /FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V","value":{"data":{"anagrafica_spedizione":{"email":"a.neri@altravia.it","cellulare":"349xxxxx18","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"c335c","prodotto":"Smart Card Infocert CNS Vergine","codice_prodotto":"SMARTCARDCNS_V","tipo":"Infocert","stato":"in_lavorazione","assistenza":false,"urgenza":false,"spedizione":"ordinaria","videoriconoscimento":false,"quantita":1,"timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false,"documento":false},"success":true,"message":"","error":null}},"/KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS":{"description":"The same exemple for /KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS","value":{"data":{"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Digitale Remota Infocert","codice_prodotto":"FIRREM","tipo":"Infocert","stato":"in_riconoscimento","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","assistenza":false,"urgenza":false,"spedizione":"prioritaria","videoriconoscimento":false,"quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false,"documento":false},"success":true,"message":"","error":null}},"/SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB /VIDEORIC":{"description":"The same exemple for /SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB /VIDEORIC","value":{"data":{"assistenza":true,"documento":true,"urgenza":true,"spedizione":"ordinaria","videoriconoscimento":true,"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Aruba OTP Mobile","codice_prodotto":"OTPMOB","tipo":"Aruba","stato":"in_registrazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false},"success":true,"message":"","error":null}},"RINFIRREM":{"description":"The same exemple for RINFIR or RINCNS","value":{"data":{"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"4f48c","prodotto":"Rinnovo Firma Remota","codice_prodotto":"RINFIRREM","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1689149510,"evasione":1689149510,"scadenza":1783843910},"owner":"a.neri@altravia.com","assistenza":true,"urgenza":false,"videoriconoscimento":false,"spedizione":false,"quantita":1,"credenziali":{"token":"jDy7A692DJcx5456"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}},"/RINFIR /RINCNS":{"value":{"data":{"assistenza":true,"urgenza":false,"spedizione":false,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"4f48c","prodotto":"Rinnovo Certificato Firma","codice_prodotto":"RINFIR","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1689149510,"evasione":1689149510,"scadenza":1783843910},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"token":"test10"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}},"FIREST":{"value":{"data":{"assistenza":true,"urgenza":false,"spedizione":false,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"fdd40","prodotto":"Firma Estero","codice_prodotto":"FIREST","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1693574555,"emissione":1693574555,"evasione":1693574555,"scadenza":1725196956},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"codice":"test-codice123"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}},"/SMARTCARDCNS_VIDEO /KEYCNS_VIDEO /FIRREM_VIDEO":{"description":"The same exemple for SMARTCARDCNS_VIDEO or KEYCNS_VIDEO or FIRREM_VIDEO","value":{"data":{"assistenza":true,"urgenza":true,"spedizione":false,"email":"utente@gmail.com","cellulare":"349xxxxx18","callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":84289,"prodotto":"Smart Card Infocert CNS Con Videoriconoscimento","codice_prodotto":"SMARTCARDCNS_VIDEO","tipo":"Infocert","stato":"in_lavorazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"username":"utente@gmail.com"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Invalid id","error":211,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request matches this id:","error":212,"data":null}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Richieste"],"summary":"Update request","description":"This method allows you to upload the form and identification document","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f7b2e323a716857774a4373"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyPatch"},"example":{"modulo":"MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwGggCSABIID6CVQREYtMS40CiXi48/TCjEgMCBvYmoKPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAyNTgyL04gMz4+c3RyZWFtCnictVZnVFPZFj733vRCCyCd0GuQTgDpvUmRLiohCRBKgJAAKnZEBUYQEWkWkEERBxyVImNBLFgYFBRRQSfIoKCOgwUbKu8Gf+is9db7Ne9b69773W/tvc8++/w4HwDkqTR2ejYMAEjnCwVhPu706JhYOv4+QIAqUAC6QJPFzs50Cw","nome_modulo":"modulo.pdf","documento":"YCQEUVEC2EgTMQDCUZikUREgKxHipBKpAFpRbqRPuQ2IkZeIB8xOAwNQ8cwMI4YX0wEho3JwqzHlGBqMEcwHZhLmNuYccwM5iuWilXDmmAdsH7YaGwSNhdbiK3ENmHbsZexw9hJ7DscDqeIM8DZ4XxxMbgU3FpcCW4frg3XgxvETeBm8Xi8Mt4E74QPxrPwQnwhvhp/DH8eP4SfxH8gkAmaBEuCNyGWwCdsJlQSjhLOEYYITwlzRBmiHtGBGEzkEFcTS4mNxG7iTeIkcY4kSzIgOZHCSSmkTaQqUivpMmmM9IZMJmuT7cmhZB55I7mKfJx8lTxO/kiRoxhTPChxFBFlJ+UwpYdyn/KGSqXqU12psVQhdSe1","nome_documento":"documento.pdf"}}}},"responses":{"200":{"description":"- OK\n- Schemi di riferimento all'intero di *data* per categoria:\n  - ResponseFirma: FIR or KIT or KEY or FIRREM or KEYCNS or KITCNS or SMARTCARDCNS\n  - ResponseFirmeAruba: SCARUBACNS or ARUBAKEYCNS or OTPDIS or OTPMOB or VIDEORIC\n","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/ResponseFirma"},{"$ref":"#/components/schemas/ResponseFirmeAruba"}]},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"/KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS":{"description":"The same exemple for /KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS","value":{"data":{"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Digitale Remota Infocert","codice_prodotto":"FIRREM","tipo":"Infocert","stato":"in_riconoscimento","timestamp":{"acquisto":1602587629,"registrazione":1681226069},"owner":"a.neri@altravia.com","assistenza":false,"urgenza":false,"spedizione":"veloce","videoriconoscimento":false,"quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":true,"documento":true},"success":true,"message":"","error":null}},"/SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB":{"description":"The same exemple for /SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB","value":{"data":{"assistenza":true,"documento":true,"urgenza":true,"spedizione":"ordinaria","videoriconoscimento":true,"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Aruba OTP Mobile","codice_prodotto":"OTPMOB","tipo":"Aruba","stato":"in_riconoscimento","timestamp":{"acquisto":1602587629,"registrazione":1681226069},"owner":"a.neri@altravia.com","quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":true},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"wrong id","error":277,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":278,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"videoriconoscimento is true, the operation is not required","error":290,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"request already processed","error":279,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/richiesta/{codice_prodotto}":{"post":{"tags":["Firme"],"summary":"Purchase and renew digital signatures","description":"This method allows you to purchase all the products on this web service such as smartcard readers or digital signatures","parameters":[{"name":"codice_prodotto","in":"path","description":"Type of codice_prodotto you want to buy","required":true,"schema":{"type":"string","example":"FIR"}}],"callbacks":{"callback":{"your_url":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/ResponseRinnovo"},{"$ref":"#/components/schemas/ResponseFirmaEstero"},{"$ref":"#/components/schemas/ResponseFirma"},{"$ref":"#/components/schemas/ResponseLettore"},{"$ref":"#/components/schemas/ResponseFirmeVideoriconoscimento"},{"$ref":"#/components/schemas/ResponseFirmeAruba"}]}}},"examples":{"VIDEORIC":{"value":{"data":{"videoriconoscimento":true,"documento":true,"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"d1e4a","prodotto":"Smart Card Aruba CNS","codice_prodotto":"SCARUBACNS","tipo":"Aruba","stato":"in_registrazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","urgenza":false,"quantita":1,"spedizione":"ordinaria","assistenza":false,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false}}},"/FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V":{"description":"The same exemple for /FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V","value":{"data":{"anagrafica_spedizione":{"email":"a.neri@altravia.it","cellulare":"349xxxxx18","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"c335c","prodotto":"Smart Card Infocert CNS Vergine","codice_prodotto":"SMARTCARDCNS_V","tipo":"Infocert","stato":"in_lavorazione","assistenza":false,"urgenza":false,"spedizione":"ordinaria","videoriconoscimento":false,"quantita":1,"timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false,"documento":false}}},"/KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS":{"description":"The same exemple for /KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS","value":{"data":{"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Digitale Remota Infocert","codice_prodotto":"FIRREM","tipo":"Infocert","stato":"in_riconoscimento","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","assistenza":false,"urgenza":false,"spedizione":"veloce","videoriconoscimento":false,"quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false,"documento":false}}},"/SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB":{"description":"The same exemple for /SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB","value":{"data":{"assistenza":true,"documento":true,"urgenza":true,"spedizione":"ordinaria","videoriconoscimento":true,"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Aruba OTP Mobile","codice_prodotto":"OTPMOB","tipo":"Aruba","stato":"in_registrazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false}}},"RINFIRREM":{"description":"The same exemple for RINFIR or RINCNS","value":{"data":{"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"4f48c","prodotto":"Rinnovo Firma Remota","codice_prodotto":"RINFIRREM","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1689149510,"evasione":1689149510,"scadenza":1783843910},"owner":"a.neri@altravia.com","assistenza":true,"urgenza":false,"videoriconoscimento":false,"spedizione":false,"quantita":1,"credenziali":{"token":"jDy7A692DJcx5456"},"id":"5f7ef1e83a716836d3152662"}}},"/RINFIR /RINCNS":{"value":{"data":{"assistenza":true,"urgenza":false,"spedizione":false,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"4f48c","prodotto":"Rinnovo Certificato Firma","codice_prodotto":"RINFIR","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1689149510,"evasione":1689149510,"scadenza":1783843910},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"token":"test10"},"id":"5f7ef1e83a716836d3152662"}}},"FIREST":{"value":{"data":{"assistenza":true,"urgenza":false,"spedizione":false,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"fdd40","prodotto":"Firma Estero","codice_prodotto":"FIREST","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":"1693574555,","emissione":"1693574556,","evasione":"1693574556,","scadenza":1725196956},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"codice":"test-codice123"},"id":"5f7ef1e83a716836d3152662"}}},"/SMARTCARDCNS_VIDEO /KEYCNS_VIDEO /FIRREM_VIDEO":{"description":"The same exemple for SMARTCARDCNS_VIDEO or KEYCNS_VIDEO or FIRREM_VIDEO","value":{"data":{"assistenza":true,"urgenza":true,"spedizione":false,"email":"utente@gmail.com","cellulare":"349xxxxx18","callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":84289,"prodotto":"Smart Card Infocert CNS Con Videoriconoscimento","codice_prodotto":"SMARTCARDCNS_VIDEO","tipo":"Infocert","stato":"in_lavorazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"username":"utente@gmail.com"},"id":"5f7ef1e83a716836d3152662"}}}}}}},"responses":{"200":{"description":"ok"}}}}}},"requestBody":{"description":"Category reference schemes:\n  - PostBodyFirmaEstero: FIREST\n  - PostBodyLettore: FIR_V or LETTORE or KEY_V or FIRREM_V or KEYCNS_V or SMARTCARDCNS_V\n  - PostBodyRinnovi: RINFIR or RINCNS or RINFIRREM \n  - PostBodyFirme: FIR or KIT or KEY or FIRREM or KEYCNS or KITCNS or SMARTCARDCNS\n  - PostBodyFirmeVideoriconoscimento: SMARTCARDCNS_VIDEO or KEYCNS_VIDEO or FIRREM_VIDEO\n  - PostBodyVideoriconoscimento: VIDEORIC\n  - PostBodyFirmeAruba: SCARUBACNS or ARUBAKEYCNS or OTPDIS or OTPMOB\n","required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PostBodyRinnovi"},{"$ref":"#/components/schemas/PostBodyFirmaEstero"},{"$ref":"#/components/schemas/PostBodyFirme"},{"$ref":"#/components/schemas/PostBodyLettore"},{"$ref":"#/components/schemas/PostBodyFirmeVideoriconoscimento"},{"$ref":"#/components/schemas/PostBodyVideoriconoscimento"},{"$ref":"#/components/schemas/PostBodyFirmeAruba"}]},"examples":{"/FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V":{"value":{"assistenza":true,"urgenza":true,"spedizione":"veloce","anagrafica_spedizione":{"email":"a.neri@altravia.it","cellulare":"349xxxxx18","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"}}},"/KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS":{"value":{"assistenza":true,"urgenza":true,"spedizione":"veloce","anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"}}},"/SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB":{"value":{"assistenza":true,"videoriconoscimento":false,"urgenza":true,"spedizione":"ordinaria","anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"},"documento":"JVBERi0xLjYNJeLjz9MNCjcgMCBvYmoNPDwvTGluZWFyaXplZCAxL0wgNDQ5MjMvTyA5L0UgNDA1MDcvTiAxL1QgNDQ2MzQvSCBbIDUwMyAxNzRdPj4NZW5kb2JqDSAgICAgICAgICAgICAgICAgICAgDQozMiAwIG9iag08PC9EZWNvZGVQYXJtczw8L0NvbHVtbnMgNC9QcmVkaWN0b3IgMTI","nome_documento":"doc_SCARUBACNS.pdf"}},"/SMARTCARDCNS_VIDEO /KEYCNS_VIDEO /FIRREM_VIDEO":{"value":{"assistenza":true,"urgenza":true,"email":"utente@gmail.com","cellulare":"349xxxxx18","callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"}}},"FIREST":{"value":{"assistenza":true,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"}}},"/RINFIR /RINCNS":{"value":{"assistenza":true,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"}}},"RINFIRREM":{"value":{"assistenza":true,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data"}}},"VIDEORIC":{"value":{"id":"5f7ef1e83a716836d3152662"}}}}}},"responses":{"200":{"description":"- OK\n- Date integer reference schemes by category:\n  - ResponseFirmaEstero: FIREST\n  - ResponseLettore: FIR_V or LETTORE or KEY_V or FIRREM_V or KEYCNS_V or SMARTCARDCNS_V\n  - ResponseRinnovi: RINFIR or RINCNS or RINFIRREM \n  - ResponseFirma: FIR or KIT or KEY or FIRREM or KEYCNS or KITCNS or SMARTCARDCNS\n  - ResponseFirmeAruba: SCARUBACNS or ARUBAKEYCNS or OTPDIS or OTPMOB or VIDEORIC\n  - ResponseFirmeVideoriconoscimento: SMARTCARDCNS_VIDEO or KEYCNS_VIDEO or FIRREM_VIDEO\n","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/ResponseRinnovo"},{"$ref":"#/components/schemas/ResponseFirmaEstero"},{"$ref":"#/components/schemas/ResponseFirma"},{"$ref":"#/components/schemas/ResponseLettore"},{"$ref":"#/components/schemas/ResponseFirmeVideoriconoscimento"},{"$ref":"#/components/schemas/ResponseFirmeAruba"}]},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"VIDEORIC":{"value":{"data":{"videoriconoscimento":true,"documento":true,"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"d1e4a","prodotto":"Smart Card Aruba CNS","codice_prodotto":"SCARUBACNS","tipo":"Aruba","stato":"in_registrazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","urgenza":false,"quantita":1,"spedizione":"ordinaria","assistenza":false,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false},"success":true,"message":"","error":null}},"/FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V":{"description":"The same exemple for /FIR_V /LETTORE /KEY_V /FIRREM_V /KEYCNS_V /SMARTCARDCNS_V","value":{"data":{"anagrafica_spedizione":{"email":"a.neri@altravia.it","cellulare":"349xxxxx18","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"c335c","prodotto":"Smart Card Infocert CNS Vergine","codice_prodotto":"SMARTCARDCNS_V","tipo":"Infocert","stato":"in_lavorazione","assistenza":false,"urgenza":false,"spedizione":"ordinaria","videoriconoscimento":false,"quantita":1,"timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false,"documento":false},"success":true,"message":"","error":null}},"/KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS":{"description":"The same exemple for /KEY /FIR /KIT /FIRREM /KEYCNS /KITCNS /SMARTCARDCNS","value":{"data":{"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020","note":""},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Digitale Remota Infocert","codice_prodotto":"FIRREM","tipo":"Infocert","stato":"in_riconoscimento","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","assistenza":false,"urgenza":false,"spedizione":"veloce","videoriconoscimento":false,"quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false,"documento":false},"success":true,"message":"","error":null}},"/SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB":{"description":"The same exemple for /SCARUBACNS /ARUBAKEYCNS /OTPDIS /OTPMOB","value":{"data":{"assistenza":true,"documento":true,"urgenza":true,"spedizione":"ordinaria","videoriconoscimento":true,"anagrafica":{"nome":"alberto","cognome":"neri","email":"a.neri@altravia.it","cellulare":"349xxxxx18","codice_fiscale":"vnxxxxxxxl1x7d","data_nascita":"28/12/2000","sesso":"M","comune_nascita":"terni","provincia_nascita":"terni","nazione_nascita":"terni","indirizzo_residenza":"via rossi 2","comune_residenza":"terni","provincia_residenza":"terni","cap_residenza":"05100","nazione_residenza":"italia","destinatario":"alberto neri","indirizzo_spedizione":"via rossi 2","comune_spedizione":"terni","provincia_spedizione":"terni","cap_spedizione":"05100","tipo_documento":"patente","numero_documento":"123456","soggetto_emittente":"mctc","data_emissione":"05/11/1990","data_scadenza":"12/12/2020"},"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"8417d","prodotto":"Firma Aruba OTP Mobile","codice_prodotto":"OTPMOB","tipo":"Aruba","stato":"in_registrazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","quantita":1,"fornitore":{"ragione_sociale":"Openapi Srl","sede_legale":"Viale F. Tommaso Marinetti 221 - 00143 Roma (RM)","partita_iva":"07432261001","legale_rappresentante":"","email_assistenza":"","email_contabilita":"","telefono_assistenza":"","sede_riconoscimento":"Piazza San Giovanni Decollato 6 - 05100 Terni (TR)"},"firma":{"codice_spedizione":"","pin":"","puk":"","numero_dispositivo":"","codice_carta":"","numero_busta":"","codice_utente":"","iut":"","alias":"","codice_emergenza":""},"id":"5f7ef1e83a716836d3152662","modulo":false},"success":true,"message":"","error":null}},"RINFIRREM":{"description":"The same exemple for RINFIR or RINCNS","value":{"data":{"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"4f48c","prodotto":"Rinnovo Firma Remota","codice_prodotto":"RINFIRREM","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1689149510,"evasione":1689149510,"scadenza":1783843910},"owner":"a.neri@altravia.com","assistenza":true,"urgenza":false,"videoriconoscimento":false,"spedizione":false,"quantita":1,"credenziali":{"token":"jDy7A692DJcx5456"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}},"/RINFIR /RINCNS":{"value":{"data":{"assistenza":true,"urgenza":false,"spedizione":false,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"4f48c","prodotto":"Rinnovo Certificato Firma","codice_prodotto":"RINFIR","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":1602587629,"emissione":1689149510,"evasione":1689149510,"scadenza":1783843910},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"token":"test10"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}},"FIREST":{"value":{"data":{"assistenza":true,"urgenza":false,"spedizione":false,"callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":"fdd40","prodotto":"Firma Estero","codice_prodotto":"FIREST","tipo":"Infocert","stato":"evasa","timestamp":{"acquisto":"1693574555,","emissione":"1693574556,","evasione":"1693574556,","scadenza":1725196956},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"codice":"test-codice123"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}},"/SMARTCARDCNS_VIDEO /KEYCNS_VIDEO /FIRREM_VIDEO":{"description":"The same exemple for SMARTCARDCNS_VIDEO or KEYCNS_VIDEO or FIRREM_VIDEO","value":{"data":{"assistenza":true,"urgenza":true,"spedizione":false,"email":"utente@gmail.com","cellulare":"349xxxxx18","callback":{"url":"https://dev.ws.firmadigitale.com/test.php","method":"JSON","field":"data","data":{}},"codice_richiesta":84289,"prodotto":"Smart Card Infocert CNS Con Videoriconoscimento","codice_prodotto":"SMARTCARDCNS_VIDEO","tipo":"Infocert","stato":"in_lavorazione","timestamp":{"acquisto":1602587629},"owner":"a.neri@altravia.com","videoriconoscimento":false,"quantita":1,"credenziali":{"username":"utente@gmail.com"},"id":"5f7ef1e83a716836d3152662"},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"wrong codice_prodotto","error":201,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":207,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"email not valid","error":247,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"anagrafica required","error":209,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/richiesta/{id}/modulo":{"get":{"tags":["Richieste"],"summary":"Download the recognition form","description":"This method allows you to directly download the recognition form in pdf format which must then be completed and sent by raccomandata to the fornitore; it is essential to complete the evasion of a procedure for purchasing a digital signature; it is not needed for the renewal of a signature","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f7b2e323a716857774a4373"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string","example":"Invalid id"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string","example":"form not required for this request"}}}}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica/base":{"post":{"tags":["Firma elettronica"],"deprecated":true,"summary":"[DEPRECATED] Request an e-signature","description":"**This endpoint is deprecated and no longer supported**<br>Please migrate to the new service, you can find the documentation for the new integration <a href=\"https://console.openapi.com/it/apis/esignature/documentation#/Signatures/post_EU_SES\">here</a>.<br>","externalDocs":{"description":"Click here for the new service documentation","url":"https://console.openapi.com/it/apis/esignature/documentation#/Signatures/post_EU_SES"},"requestBody":{"content":{"application/json":{}}},"responses":{"200":{"description":"","content":{"application/json":{}}},"400":{"description":"","content":{}}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica":{"get":{"tags":["Firma elettronica"],"summary":"List all your past and pending requests","description":"","responses":{"200":{"description":"A PDF file","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FesBaseResponse"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}}}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string","example":"Invalid id"}}}}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica/{id}":{"get":{"tags":["Firma elettronica"],"summary":"Get information on a sign request","description":"","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"923j90n02n1w51504b6ea145"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FesBaseResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}}}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string","example":"Invalid id"}}}}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica/{id}/download":{"get":{"tags":["Firma elettronica"],"summary":"Download your signed document","description":"Once the signing process is compleated you can use this endpoint to get a the base64-encoded output of you pdf file.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"923j90n02n1w51504b6ea145"}}],"responses":{"200":{"description":"A base64-encoded PDF file","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","example":"aHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0Y2g/dj1kUXc0dzlXZ1hjUQ==","description":"A base64 encoding of your SIGNED pdf file."},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":"Invalid id"}}}},"404":{"description":"Wrong ID or file not ready","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica/{id}/audit":{"get":{"tags":["Firma elettronica"],"summary":"Retrieve Audit Trail for Signed Document","description":"Retrieve the audit trail for the specified electronic signature.\n\n### Parameters\n- **id** (path parameter): The unique identifier of the signed document.\n\n### Example\n```bash\n# Download audit trail in JSON format\ncurl -X GET https://ws.firmadigitale.com/firma_elettronica/923j90n02n1w51504b6ea145/audit\n\n\nThe response will contain the audit trail information for the electronic signature.\n","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"923j90n02n1w51504b6ea145"}}],"responses":{"200":{"description":"status ok","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"object","properties":{"firstname":{"type":"string","description":"First name of the individual initiating the electronic signature."},"lastname":{"type":"string","description":"Last name of the individual initiating the electronic signature."},"email":{"type":"string","format":"email","description":"Email address of the individual initiating the electronic signature."},"phone":{"type":"string","description":"Phone number of the individual initiating the electronic signature."},"status":{"type":"string","description":"Status of the electronic signature procedure."},"position":{"type":"integer","description":"Position of the individual in the signing order."},"createdAt":{"type":"string","format":"string","description":"Timestamp when the electronic signature request was initiated."},"updatedAt":{"type":"string","format":"string","description":"Timestamp when the electronic signature request was last updated."},"sign_link":{"type":"string","format":"uri","description":"Link for the individual to access and sign the electronic document."},"audit_trail":{"type":"object","properties":{"files":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the electronically signed file."},"name":{"type":"string","description":"Name of the electronically signed document."},"sha256":{"type":"string","description":"SHA256 hash of the electronically signed document."},"revisions":{"type":"array","items":{"type":"object","properties":{"reason":{"type":"string","description":"Reason for the revision of the electronically signed document."},"sha256":{"type":"string","description":"SHA256 hash of the revision."},"timestamp":{"type":"boolean","description":"Indicates whether the revision has a timestamp."},"certificate":{"type":"object","properties":{"dn":{"type":"string","description":"Distinguished Name in the electronic signature certificate."},"content":{"type":"string","description":"Content of the electronic signature certificate."},"country":{"type":"string","description":"Country in the electronic signature certificate."},"lastname":{"type":"string","description":"Last name in the electronic signature certificate."},"firstname":{"type":"string","description":"First name in the electronic signature certificate."},"generatedAt":{"type":"string","format":"string","description":"Timestamp when the electronic signature certificate was generated."}}},"reason_source":{"type":"string","description":"Source of the reason for the revision in the electronic signature."}}}},"contentType":{"type":"string","description":"Content type of the electronically signed document."},"consentProcesses":{"type":"array","items":{"type":"string","description":"Consent processes related to the electronically signed document."}}}}},"member":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the member involved in the electronic signature."},"ip":{"type":"string","description":"IP address of the member involved in the electronic signature."},"email":{"type":"string","description":"Email address of the member involved in the electronic signature."},"phone":{"type":"string","description":"Phone number of the member involved in the electronic signature."},"lastname":{"type":"string","description":"Last name of the member involved in the electronic signature."},"signedAt":{"type":"string","description":"Timestamp when the member signed the electronic document."},"firstname":{"type":"string","description":"First name of the member involved in the electronic signature."},"operationLevel":{"type":"string","description":"Operation level of the member in the electronic signature (custom in this case)."},"authentications":{"type":"array","items":{"type":"object","properties":{"mode":{"type":"string","description":"Authentication mode used by the member (sms in this case)."},"sha256":{"type":"string","description":"SHA256 hash of the authentication details."},"channel":{"type":"string","description":"Communication channel used for authentication (text in this case)."},"content":{"type":"string","description":"Content of the authentication message."},"validatedAt":{"type":"string","description":"Timestamp when the authentication was validated."}}}}}},"procedure":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the electronic signature procedure."},"name":{"type":"string","description":"Name of the electronic signature procedure."},"createdAt":{"type":"string","format":"string","description":"Timestamp when the electronic signature procedure was created."},"expiredAt":{"type":"string","description":"Timestamp when the electronic signature procedure expired (null if not expired)."},"startedAt":{"type":"string","format":"string","description":"Timestamp when the electronic signature procedure started."},"workspace":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the workspace associated with the procedure."},"name":{"type":"string","description":"Name of the workspace associated with the procedure."}}},"description":{"type":"string","description":"Description of the electronic signature procedure."},"organization":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the organization associated with the procedure."},"ip":{"type":"string","description":"IP address of the organization associated with the procedure."},"name":{"type":"string","description":"Name of the organization associated with the procedure."}}},"coolingOffPeriodEndsAt":{"type":"string","description":"Timestamp when the cooling-off period ends (null if not applicable)."}}},"consentProcesses":{"type":"array","items":{"type":"string","description":"Consent processes related to the electronic signature procedure."}}}}}}}},"success":{"type":"boolean","description":"Indicates whether the electronic signature operation was successful."},"message":{"type":"string","description":"A message related to the electronic signature operation."},"error":{"type":"object","description":"Error details related to the electronic signature operation."}}},"examples":{"json":{"summary":"Audit trail in JSON format","value":{"data":{"111111e9-a48d-4a59-b256-111111fc7e6b":{"firstname":"franco","lastname":"rossi","email":"prova@gmail.com.com","phone":"+39333333333","status":"done","position":1,"createdAt":"2024-02-13T11:03:40+01:00","updatedAt":"2024-02-13T11:04:13+01:00","sign_link":"https://staging-app.yousign.com/procedure/sign?members=/members/173900e9-a48d-4a59-b256-66843afc7e6b&signatureUi=/signature_uis/1111111-****-4fee-994b-2222222222","audit_trail":{"files":[{"id":"111111111-25c2-481e-8156-********","name":"The best name for my file.pdf","sha256":"akjsgafakjsfakjfaldhgaslòdfkagòfag141ògfaòfsgasfk","revisions":[{"reason":"Signed by Franco Rossi","sha256":"54e150d9030a4ba8f2f4a2f33e46c916a3ecc6e7ecc55c81bfefcce975273b17","timestamp":false,"certificate":{"dn":"CN=[TEST] YOUSIGN cachet, C=FR, O=YOUSIGN, 2.5.4.97=NTRFR-794513986, OU=002 794513986, serialNumber=2023-10-02 09:28:10:989","content":"-----BEGIN CERTIFICATE-----\nMIIHGTCCBQGgAwIBAgIIDPL2eNqLfaowDQYJKoZIhvcNAQELBQAwgYExKTAnBgNV\nBAMMIFlPVVNJR04gU0FTIC0gUVVBTElGSUVEIFNFQUwyIENBMRcwFQYDVQQLDA4w\nMDAyIDc5NDUxMzk4NjEUMBIGA1UECgwLWU9VU0lHTiBTQVMxGDAWBgNVBGEMD05U\nUkZSLTc5NDUxMzk4NjELMAkGA1UEBhMCRlIwHhcNMjMxMDAyMDcxODExWhcNMjYx\nMDAyMDcxODExWjBZMR4wHAYDVQQDDBVbVEVTVF0gWU9VU0lHTiBjYWNoZXQxEDAO\nBgNVBAoMB1lPVVNJR04xGDAWBgNVBGEMD05UUkZSLTc5NDUxMzk4NjELMAkGA1UE\nBhMCRlIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDr5vXSGOS7ulB7\nY3JsL3lvdXNpZ25zYXNxdWFsaWZzZWFsY2EuY3JsMDugOaA3hjVodHRwOi8vY3Js\nMy55b3VzaWduLmZyL2NybC95b3VzaWduc2FzcXVhbGlmc2VhbGNhLmNybDAdBgNV\nHQ4EFgQUPoTlZvgDNKmMcCBDYhZ3y/1Qs6EwDgYDVR0PAQH/BAQDAgZAMC0GCCsG\nAQUFBwEDBCEwHzAIBgYEAI5GAQEwEwYGBACORgEGMAkGBwQAjkYBBgEwDQYJKoZI\nhvcNAQELBQADggIBAG0+VQ8+wm6pco6OHQ7wQ9g2BFmDInkYhmNsDc5k3B44HHvN\nkxzp1WcbdYjPfhfhbosSA5EaOAMdmwvQMIPMpj0N+FiAWX7mR7dCxzCr1Ox0zNSh\n5B5XhjG3+imtudTB4taQvMzeRbJU8o4mSEZfezezOgTD0uFo9kRbtdeAW61rff2h\ngLzP9WPjR3Md8AWGIEzY+K3HhY0WBlxrw7w3MIt2I0U9qZfHshqKcIQt4yAD/rUS\nEJZL4WUjvxJHOAlAX2ilpJ5Jfb4AeQK/Isr3ZZV6jMAGHvYp+r65jqpAoBSfOWeM\nOHOQMtMAvuWblWy/kyKS3Mw+zqnt55V3hK/aFNFiB8cjEloyDmuub0dhi5XAFksd\n1RjD15N72TIjNp7tMBDi0f/faB8xCK2XjPvk7daRwJkkFbi0lD4Uvsq8ptmCCoKK\n2bnY9seMLuv5YtXyKzu/xaDcdIqn3zWkxxxJGAf6EY6IcGAScc7OlZswB1nAEGIO\ntcIeSUHjKydzLnKeWYBwLVwqafm8H38YwYrbk2cWSgGyf0MmQKIfk0zhd7m2JmYj\nCbiNBwYiqVlI8Gq1lrPTpBj3F/K+lN4DFoVUucXImYO9HrBRk9Ow6e2LqiUGrcB1\nbgEhXsWL9ElVlXWqsBkON8515yQN+yBKrBHZSUk20UZ4UaJ07v8xxccbpg+7\n-----END CERTIFICATE-----\n-----BEGIN CERTIFICATE-----\nMIIHXzCCBUegAwIBAgIIaub8zjro4vMwDQYJKoZIhvcNAQELBQAwfzEkMCIGA1UE\nAwwbWU9VU0lHTiBTQVMgLSBST09UMiBURVNUIENBMRIwEAYDVQQLDAk3OTQ1MTM5\nODYxFDASBgNVBAoMC1lPVVNJR04gU0FTMQ0wCwYDVQQHDARDQUVOMREwDwYDVQQI\nDAhDQUxWQURPUzELMAkGA1UEBhMCRlIwHhcNMTgxMDAzMTMyNjQ0WhcNMjgxMDAz\nMTMyNjQ0WjCBgTEpMCcGA1UEAwwgWU9VU0lHTiBTQVMgLSBRVUFMSUZJRUQgU0VB\nTDIgQ0ExFzAVBgNVBAsMDjAwMDIgNzk0NTEzOTg2MRQwEgYDVQQKDAtZT1VTSUdO\nIFNBUzEYMBYGA1UEYQwPTlRSRlItNzk0NTEzOTg2MQswCQYDVQQGEwJGUjCCAiIw\nML3OLMAeFKMITuqAW7XWmVlUQXHbblyFN6wKdp6YNY5mbK3dev+KQnGXijdyPO/u\nMbrVJ+SddvyrAbAXsrvR0RvwZYM3GxxPbeUGXIiYKYP+V33sTZiRemofQGoByf03\nN0602/6Q8hqZE8PeiFv4wnvfu7lpxL9a0TkAD7Ow/Vu60aok+aZbGwvaIygdcuN8\nox+FR0dsdExx7GuqNQO+tTOySwRIAHybZIJeXUwFn8mtweNc2lQ07ver1QSJH6YX\nc8eqYnizxIY+LePdiVZIJcsuC/vkUOmCIQrXLZeJZNDvPrcV7+H3EYLcAnbEn8Ia\nM0Z9jcfpHPW9iO+5jYvW3G+BLI88oF3OgZAt85cjrVaG8ViSp2yHN49Voo99LlTx\neQxQpk7dpwqHwXz1YY9Rv/d4Ta7Cc1UCho6IpEfHviJCbfCvLJZj/Bn9jfZD+7TM\naqsApD6H5Ls/bmV2UGt4LkSpLA==\n-----END CERTIFICATE-----\n-----BEGIN CERTIFICATE-----\nMIIGnDCCBISgAwIBAgIIT0TY3eM9ut0wDQYJKoZIhvcNAQELBQAwfzEkMCIGA1UE\nAwwbWU9VU0lHTiBTQVMgLSBST09UMiBURVNUIENBMRIwEAYDVQQLDAk3OTQ1MTM5\nNKAyhjBodHRwOi8vdG1wMi55b3VzaWduLmZyL2NybC95b3VzaWduc2Fzcm9vdDJj\nYS5jcmwwNqA0oDKGMGh0dHA6Ly90bXAzLnlvdXNpZ24uZnIvY3JsL3lvdXNpZ25z\nYXNyb290MmNhLmNybDAdBgNVHQ4EFgQUZcQVpO5GVb7OvXVHwDRARhwa+5EwDgYD\nVR0PAQH/BAQDAgEGMA0GCSqGSIb3DQEBCwUAA4ICAQCuxOXQDSYF0RpYQWonRDlU\nZ64IaGJ5buU4tGzf7rAgIQdXbO/VjjfF9UsjnLopNwWkuSJvINm21obYHcoSwvpz\nlwS/3uJCLxaw5q4SVJ4x5rajh/2qtFzcThSh48rcXcqoxAmc6BzQuIOm9cFUD2Ri\nqUJmg5O+CoLuE1b4i+CsCFL3AoWnBHFZ4YtInQBFIRBhMNPICvYOCF6jjgmMxkWU\nM8SEp7FSFfsy/oPI1dt+k9JjHCXhtWO9ndLvvwvLcjqRO3ItiF9IazsNcNLhaIMA\nlvYiQ+jLpckAuTxj7XHQyJSEofTMPr+ZSgQwUc337MJyxPhTDkch5cQBfnC20Usk\nyjdwwaeiwnNMhESwgDa4Oqw5IOmq+VmqtR+9F9yxACrpyph593F1zYwv7ikik5dI\nIYACb2fKLQrcnCfhm0k1Nt9UXoc9mQzFUK0DWJNLeGJo0rfRQh5ZqhcBG2U0KZFQ\nRtQQEf3zXJxQJGlCn1UMZMJswAzfhMTdGPNzyDI2u+9Q8WT7M2f59Idiae2m79uG\nuStRwN7Vnrpa399YXixOpNTz6d0NFBOAq1Nfwy5cnQDCnT9JkrKidrFKyA21b67m\nSfJIpMSPfFbt3g0h7JPWK7OC4Ydydh92e7/IUhtkudKMoazlwSJ7484dE7NyTpol\n62H0sW/1gmFzE6/QmCUR+w==\n-----END CERTIFICATE-----\n","country":"IT","lastname":null,"firstname":null,"generatedAt":"2023-10-02T09:28:11+02:00"},"reason_source":"Default value added by Yousign"}],"contentType":"application/pdf","consentProcesses":[]}],"member":{"id":"111111111-25c2-481e-7156-********","ip":"00.111.111.111","email":"prova@gmail.com.com","phone":"+39333333333","lastname":"ROSSI","signedAt":"2024-02-13T11:04:13","firstname":"Franco","operationLevel":"custom","authentications":[{"mode":"sms","sha256":"adfaDFADFASDFASDFASDFASDFWEEWQFSDAFADSFASafaedvafafeae","channel":"text","content":"eSIGNATURE: {{code}} is your security code to confirm the signature of your documents.","validatedAt":"2024-02-13T11:04:12"}]},"procedure":{"id":"6f89bd7d-2409-4e4a-8676-942834249539","name":"A test prova","createdAt":"2024-02-13T11:03:40","expiredAt":null,"startedAt":"2024-02-13T11:03:40","workspace":{"id":"/workspaces/d27e41f8-24f1-439d-a0ef-be6aae15fa44","name":"openapi.it"},"description":"A test description","organization":{"id":"/organizations/0a85ecfa-cfad-4290-af81-1c68c0222c99","ip":"1.11.111.111","name":"openapi.it"},"coolingOffPeriodEndsAt":null},"consentProcesses":[]}}},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":"Invalid id"}}}},"404":{"description":"Wrong ID or file not ready","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"},"data":{"type":"object"},"trace":{"type":"string"}},"example":{"success":false,"message":"missing or invalid ID, required","error":470,"data":null,"trace":"WyJpbmRleC5waHBAMTE3OCIsImNsYXNzLkF2V3MucGhwQDI0MiIsImluZGV4LnBocEAxNDM5Il0="}}}}}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica_ui":{"post":{"tags":["Firma elettronica"],"deprecated":true,"summary":"[DEPRECATED] Create a custom UI for e-signatures","description":"**This endpoint is deprecated and no longer supported**.","requestBody":{"content":{"application/json":{}}},"responses":{"200":{"description":"","content":{}},"400":{"description":""}},"security":[{"bearerAuth":[]}]},"get":{"tags":["Firma elettronica"],"deprecated":true,"summary":"[DEPRECATED] List all your custom UIs","responses":{"200":{"description":"","content":{"application/json":{}}},"400":{"description":""}},"security":[{"bearerAuth":[]}]}},"/firma_elettronica_ui/{id}":{"get":{"tags":["Firma elettronica"],"deprecated":true,"summary":"[DEPRECATED] Get custom UI for e-signatures","description":"","responses":{"200":{"description":"","content":{"application/json":{}}},"404":{"description":""}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Firma elettronica"],"deprecated":true,"summary":"[DEPRECATED] Delete custom UI for e-signatures","description":"","responses":{"200":{"description":"","content":{"application/json":{}}},"404":{"description":""}},"security":[{"bearerAuth":[]}]}},"/spid_personale":{"get":{"tags":["SPID"],"summary":"Personal spid","description":"This method allows you to obtain a url for registering a personal spid with a duration of 1 year","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"url":"https://onboarding.namirialtsp.com/wizard/userSelfRegistration?voucher=rzeup-0000GJA0000cNS"},"message":"","success":true,"error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":801,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"spid personale sold out","error":800,"data":null}}}}},"security":[{"bearerAuth":[]}]}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"}}