{"openapi":"3.0.0","info":{"description":"This service provides REST calls to extract information on businesses and companies from simple parameters such as denomination or VAT number.\n\nAt this <a href='https://docs.openapi.it/imprese-sandbox-examples.html' target='_blank'>link</a> you can find a list of companies that allow you to try the service in a sandbox environment.","version":"1.0.0","title":"Imprese","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"termsOfService":"https://openapi.it/en/terms-and-conditions"},"servers":[{"url":"https://imprese.openapi.it","description":"Production"},{"url":"https://test.imprese.openapi.it","description":"Sandbox"}],"tags":[{"name":"Company Information","description":"Starting from basic data of a company such as VAT number, tax code or denomination, detailed information on the company itself is extracted"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Base":{"type":"object","properties":{"cf":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"denominazione":{"type":"string","description":"Legal name of the company"},"piva":{"type":"string","description":"VAT registration number (Italian Partita IVA)"},"toponimo":{"type":"string","description":"toponym of the address"},"via":{"type":"string","description":"street address"},"civico":{"type":"string","description":"number of the address"},"indirizzo":{"type":"string","description":"complete name of the street where the company is located"},"comune":{"type":"string","description":"Town where the company is located"},"frazione":{"type":"string","description":"District where the company is located"},"provincia":{"type":"string","description":"County (Province) where the company is located"},"stato_attivita":{"type":"string","description":"indicates the status of the company according to the Italian Chamber of Commerce","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"]},"timestamp":{"type":"integer","description":"internal update data"},"timestamp_creation":{"type":"integer","description":"internal date of creation of the company"},"timestamp_last_update":{"type":"integer","description":"Latest update of company data"},"cap":{"type":"string","description":"ZIP code (Italian CAP) where the company is located"},"codice_destinatario":{"type":"string","description":"sdi code"},"timestamp_codice_destinatario":{"type":"integer","description":"Latest update of sdi code"},"id":{"type":"string","description":"company id"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates (longitude, latitude)","items":{"type":"number","format":"double"}}}},"data_iscrizione":{"type":"string","description":"date of registration of the company with the chamber of commerce"}}},"BaseElenco":{"type":"object","properties":{"cf":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"denominazione":{"type":"string","description":"Legal name of the company"},"piva":{"type":"string","description":"VAT registration number (Italian Partita IVA)"},"toponimo":{"type":"string","description":"toponym of the address"},"via":{"type":"string","description":"street address"},"civico":{"type":"string","description":"number of the address"},"indirizzo":{"type":"string","description":"complete name of the street where the company is located"},"comune":{"type":"string","description":"Town where the company is located"},"frazione":{"type":"string","description":"District where the company is located"},"provincia":{"type":"string","description":"County (Province) where the company is located"},"stato_attivita":{"type":"string","description":"indicates the status of the company according to the Italian Chamber of Commerce","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"]},"timestamp":{"type":"integer","description":"internal update data"},"timestamp_creation":{"type":"integer","description":"internal date of creation of the company"},"timestamp_last_update":{"type":"integer","description":"Latest update of company data"},"cap":{"type":"string","description":"ZIP code (Italian CAP) where the company is located"},"id":{"type":"string","description":"company id"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates (longitude, latitude)","items":{"type":"number","format":"double"}}}},"dettaglio":{"type":"object","properties":{"codice_natura_giuridica":{"type":"string","description":"company legal code"}}},"data_iscrizione":{"type":"string","description":"date of registration of the company with the chamber of commerce"}}},"Advance":{"type":"object","properties":{"cf":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"denominazione":{"type":"string","description":"Legal name of the company"},"piva":{"type":"string","description":"VAT registration number (Italian Partita IVA)"},"toponimo":{"type":"string","description":"toponym of the address"},"via":{"type":"string","description":"street address"},"civico":{"type":"string","description":"number of the address"},"indirizzo":{"type":"string","description":"complete name of the street where the company is located"},"comune":{"type":"string","description":"Town where the company is located"},"frazione":{"type":"string","description":"District where the company is located"},"provincia":{"type":"string","description":"County (Province) where the company is located"},"stato_attivita":{"type":"string","description":"indicates the status of the company according to the Italian Chamber of Commerce","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"]},"timestamp":{"type":"integer","description":"internal update data"},"timestamp_creation":{"type":"integer","description":"internal date of creation of the company"},"timestamp_last_update":{"type":"integer","description":"Latest update of company data"},"dettaglio":{"type":"object","properties":{"rea":{"type":"string","description":"Economic and Administrative Repertory number for Chamber of Commerce"},"cciaa":{"type":"string","description":"Acronym of the city where the company was registered (e.g. RM as Rome, MI as Milan etc.)"},"codice_ateco":{"type":"string","description":"First level ATECO code"},"descrizione_ateco":{"type":"string","description":"Description of the first level ATECO Code"},"codice_natura_giuridica":{"type":"string","description":"company legal code"},"data_inizio_attivita":{"type":"string","description":"start date of the company's activity"},"pec":{"type":"string","description":"company certified mail"},"bilanci":{"$ref":"#/components/schemas/Bilancio"},"gruppo_iva":{"$ref":"#/components/schemas/GruppoIva"},"cessata":{"type":"boolean","description":"indicates whether the company has ceased or not according to the Tax Office"},"timestamp_cessata":{"type":"integer","description":"Latest update of ceased or not"},"soci":{"$ref":"#/components/schemas/Soci"}}},"cap":{"type":"string","description":"ZIP code (Italian CAP) where the company is located"},"codice_destinatario":{"type":"string","description":"sdi code"},"timestamp_codice_destinatario":{"type":"integer","description":"Latest update of sdi code"},"id":{"type":"string","description":"company id"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates (longitude, latitude)","items":{"type":"number","format":"double"}}}},"data_iscrizione":{"type":"string","description":"date of registration of the company with the chamber of commerce"}}},"Bilancio":{"type":"object","properties":{"anno":{"type":"object","properties":{"data_chiusura_bilancio":{"type":"string","description":"Date of submission of the last balance sheet"},"fatturato":{"type":"integer","description":"annual revenue"},"utile":{"type":"integer","description":"annual profit"},"dipendenti":{"type":"integer","description":"number of employees"},"capitale_sociale":{"type":"integer","description":"share capital of the company"}}}}},"Soci":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string","description":"Legal name of the shareholder"},"nome":{"type":"string","description":"First Name of the shareholder"},"cognome":{"type":"string","description":"Surname of the shareholder"},"cf_socio":{"type":"string","description":"Tax code of shareholder"},"quota":{"type":"number","format":"double","description":"Percentage ownership of the company (%)"}}}},"GruppoIva":{"type":"object","properties":{"partecipazione":{"type":"boolean","description":"participation of the company in the VAT group"},"piva_capogruppo":{"type":"boolean","description":"if the company is at the head of the VAT group"},"anagrafica_ok":{"type":"boolean","description":"if the company data is correct"}}},"GruppoIvaCF":{"type":"object","properties":{"partecipazione":{"type":"boolean","description":"participation of the company in the VAT group"},"piva_capogruppo":{"type":"boolean","description":"if the company is at the head of the VAT group"},"anagrafica_ok":{"type":"boolean","description":"if the company data is correct"},"cf_piva_coerenti":{"type":"boolean","description":"consistency between the tax code and VAT number entered"},"cf_presente":{"type":"boolean","description":"whether or not the Tax Code belongs to the VAT Group"},"cf_partecipante":{"type":"boolean","description":"presence or absence of the Tax Code to the VAT Group"}}},"Autocomplete":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"denominazione":{"type":"string","description":"Legal name of the company"}}}},"FormaGiuridica":{"type":"object","properties":{"codice_natura_giuridica":{"type":"string","description":"company legal code"},"valore":{"type":"string","description":"description of the legal code"}}}}},"paths":{"/base/{piva_cf_or_id}":{"get":{"tags":["Company Information"],"summary":"Basic data","description":"This enpoint returns basic information of a company such as company name and address.","parameters":[{"name":"piva_cf_or_id","in":"path","description":"VAT number, tax code or company ID","required":true,"schema":{"type":"string","example":"12485671007"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Base"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf":"12485671007","denominazione":"OPENAPI S.R.L.","piva":"12485671007","toponimo":"VIALE","via":"F TOMMASO MARINETTI","civico":"221","indirizzo":"VIALE F TOMMASO MARINETTI 221","comune":"ROMA","frazione":null,"provincia":"RM","stato_attivita":"ATTIVA","timestamp":1622452306,"timestamp_creation":1622452306,"timestamp_last_update":1622452306,"cap":"00143","codice_destinatario":"MJ1OYNU","timestamp_codice_destinatario":1622452306,"id":"60b4a85585e34e615c569ef5","gps":{"coordinates":[12.47843,41.8071]},"data_iscrizione":"2013-07-19"},"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Id, cf or piva required","error":200,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":202,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no company matches this id: ","error":203,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf/piva not valid","error":201,"data":null}}}}}}},"/advance":{"get":{"tags":["Company Information"],"summary":"Advanced search and data","description":"With this endpoint we can draw up a list of companies that correspond to certain parameters described below. The call returns a maximum of 100 results even if you set a higher limit.","parameters":[{"name":"denominazione","required":false,"in":"query","description":"name of the company (you can search for parts of the name as long as they are whole words)","schema":{"type":"string","example":"altravia"}},{"name":"provincia","required":false,"in":"query","description":"the code of the region you want to search in","schema":{"type":"string","example":"RM"}},{"name":"codice_ateco","required":false,"in":"query","description":"ateco code","schema":{"type":"string","example":"6201"}},{"name":"cciaa","required":false,"in":"query","description":"Chamber of Commerce","schema":{"type":"string","example":"RM"}},{"name":"rea","required":false,"in":"query","description":"rea code","schema":{"type":"string","example":"1378273"}},{"name":"fatturato_min","required":false,"in":"query","description":"minimum revenue value","schema":{"type":"integer","example":100000}},{"name":"fatturato_max","required":false,"in":"query","description":"maximum revenue value","schema":{"type":"integer","example":1000000}},{"name":"dipendenti_min","required":false,"in":"query","description":"minimum value of employees","schema":{"type":"integer","example":1}},{"name":"dipendenti_max","required":false,"in":"query","description":"maximum value of employees","schema":{"type":"integer","example":5}},{"name":"skip","required":false,"in":"query","description":"to set the number of records you want to skip from the result set","schema":{"type":"integer","example":50}},{"name":"limit","required":false,"in":"query","description":"number of results you want to receive; if not set, the call will return a maximum of 100 results","schema":{"type":"integer","example":10,"minimum":1,"maximum":100}},{"name":"dry_run","required":false,"in":"query","description":"simulates a request by returning only the number of records found and the price","schema":{"type":"integer","example":0,"enum":[1,0]}},{"name":"lat","required":false,"in":"query","description":"latitude","schema":{"type":"number","format":"double","minimum":-90,"maximum":90,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":13.5478}},{"name":"lng","required":false,"in":"query","description":"longitude","schema":{"type":"number","format":"double","minimum":-180,"maximum":180,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":42.859}},{"name":"radius","required":false,"in":"query","description":"radius in meters","schema":{"type":"integer","minimum":0,"maximum":3000,"exclusiveMinimum":true,"exclusiveMaximum":false,"example":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BaseElenco"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf":"12485671007","denominazione":"OPENAPI S.R.L.","piva":"12485671007","toponimo":"VIALE","via":"F TOMMASO MARINETTI","civico":"221","indirizzo":"VIALE F TOMMASO MARINETTI 221","comune":"ROMA","frazione":null,"provincia":"RM","stato_attivita":"ATTIVA","timestamp":1622452306,"timestamp_creation":1622452306,"timestamp_last_update":1622452306,"cap":"00143","id":"60b4a85585e34e615c569ef5","gps":{"coordinates":[12.47843,41.8071]},"dettaglio":{"codice_natura_giuridica":"SR"},"data_iscrizione":"2013-07-19"},{"cf":"00291570844","denominazione":"COM.MAR SRL","piva":"00291570844","toponimo":"VIA","via":"OLIMPICA","indirizzo":"VIA OLIMPICA","comune":"RAVANUSA","frazione":null,"provincia":"AG","stato_attivita":"INATTIVA","timestamp":1643049486,"timestamp_creation":1643049486,"timestamp_last_update":1643049486,"cap":null,"id":"61f2c4d69fb8571d19235463","gps":{"coordinates":[13.9730583,37.2627218]},"dettaglio":{"codice_natura_giuridica":"SR"},"data_iscrizione":"1979-04-05"}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"you have not passed any search parameters","error":205,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":206,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"invalid parameter, set 'lat' between -90 and 90","error":228,"data":null}}}}}}},"/advance/{piva_cf_or_id}":{"get":{"tags":["Company Information"],"summary":"Advanced search and data","description":"This endpoint gets advanced information about a company such as ateco code, balance sheet and pec.","parameters":[{"name":"piva_cf_or_id","required":true,"in":"path","description":"VAT number, tax code or ID","schema":{"type":"string","example":"12485671007"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Advance"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf":"12485671007","denominazione":"OPENAPI S.R.L.","piva":"12485671007","toponimo":"VIALE","via":"F TOMMASO MARINETTI","civico":"221","indirizzo":"VIALE F TOMMASO MARINETTI 221","comune":"ROMA","frazione":null,"provincia":"RM","stato_attivita":"ATTIVA","timestamp":1622452306,"timestamp_creation":1622452306,"timestamp_last_update":1622452306,"dettaglio":{"rea":"1378273","cciaa":"RM","pec":"openapi@legalmail.it","codice_natura_giuridica":"SR","descrizione_ateco":"Produzione di software non connesso all'edizione","codice_ateco":"6201","data_inizio_attivita":"2013-10-20","bilanci":{"2017":{"data_chiusura_bilancio":"2017-12-31","fatturato":1120176,"utile":2928},"2018":{"data_chiusura_bilancio":"2018-12-31","fatturato":1325358,"utile":826},"2019":{"data_chiusura_bilancio":"2019-12-31","fatturato":1799587,"utile":11309,"dipendenti":14,"capitale_sociale":10000}},"gruppo_iva":{"partecipazione":false,"piva_capogruppo":false,"anagrafica_ok":true},"cessata":false,"timestamp_cessata":1622452306,"soci":[{"denominazione":"OPEN HOLDING S.R.L.","nome":null,"cognome":null,"cf_socio":"16935371001","quota":100}]},"cap":"00143","codice_destinatario":"MJ1OYNU","timestamp_codice_destinatario":1622452306,"id":"60b4f9c914e27c27d12a9d67","gps":{"coordinates":[12.47843,41.8071]},"data_iscrizione":"2013-07-19"},"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":208,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no company matches this id: ","error":209,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf/piva not valid","error":207,"data":null}}}}}}},"/closed/{piva_cf_or_id}":{"get":{"tags":["Company Information"],"summary":"Cessation of activity","description":"Simple endpoint to understand in real time if a VAT number has ceased or not according to the Tax Office.","parameters":[{"name":"piva_cf_or_id","in":"path","description":"VAT number, tax code or ID","required":true,"schema":{"type":"string","example":12485671007}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"cessata":{"type":"boolean","description":"indicates whether the company has ceased or not according to the Tax Office"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cessata":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"ID, VAT number or tax code required","error":214,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":216,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no company matches this id: ","error":238,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf/piva not valid","error":237,"data":null}}}}}}},"/gruppoiva/{piva_or_cf}":{"get":{"tags":["Company Information"],"summary":"Membership of a VAT group","description":"From this endpoint you can understand if a company is part of a VAT group and if the tax code is consistent with the VAT number taken as input.","parameters":[{"name":"piva_or_cf","in":"path","description":"VAT number or tax code","required":true,"schema":{"type":"string","example":12485671007}},{"name":"cf","in":"query","required":false,"description":"if a tax code is given, this service will return additional information about the relationship between the VAT group and the tax code","schema":{"type":"string","example":12345678910}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"gruppo_iva":{"oneOf":[{"$ref":"#/components/schemas/GruppoIva"},{"$ref":"#/components/schemas/GruppoIvaCF"}]}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"without CF":{"value":{"data":{"gruppo_iva":{"partecipazione":false,"piva_capogruppo":false,"anagrafica_ok":true}},"success":true,"message":"","error":null}},"with CF":{"value":{"data":{"gruppo_iva":{"partecipazione":false,"piva_capogruppo":false,"anagrafica_ok":true,"cf_piva_coerenti":false,"cf_partecipante":false,"cf_presente":false}},"success":true,"message":"","error":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"VAT number required","error":217,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":219,"data":null}}}}}}},"/pec/{piva_cf_or_id}":{"get":{"tags":["Company Information"],"summary":"Certified e-mail","description":"Starting from a VAT number it extracts the pec of the company.","parameters":[{"name":"piva_cf_or_id","in":"path","description":"VAT number, tax code or ID","required":true,"schema":{"type":"string","example":12485671007}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"pec":{"type":"string","description":"company certified mail"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"pec":"altraviaservizi@legalmail.it"},"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"ID, VAT number or tax code required","error":220,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":221,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no company matches this id: ","error":240,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf/piva not valid","error":239,"data":null}}}}}}},"/autocomplete/{query}":{"get":{"tags":["Company Information"],"summary":"Search by name","description":"This endpoint performs a search on the list of all the available companies with the given query.","parameters":[{"name":"query","in":"path","description":"A search query; '*' can be used as a wildcard to search for strings that start, contain or end with the given query.","required":true,"schema":{"type":"string"},"examples":{"startsWith":{"value":"altravia*","summary":"Starts with"},"endsWith":{"value":"*altravia","summary":"Ends with"},"contains":{"value":"*altravia*","summary":"Contains"}}},{"name":"lat","required":false,"in":"query","description":"latitude","schema":{"type":"number","format":"double","minimum":-90,"maximum":90,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":13.5478}},{"name":"lng","required":false,"in":"query","description":"longitude","schema":{"type":"number","format":"double","minimum":-180,"maximum":180,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":42.859}},{"name":"radius","required":false,"in":"query","description":"radius in meters","schema":{"type":"integer","minimum":0,"maximum":3000,"exclusiveMinimum":true,"exclusiveMaximum":false,"example":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Autocomplete"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"60b4a85585e34e615c569ef5","denominazione":"ALTRAVIA SERVIZI SOCIETA' A RESPONSABILITA' LIMITATA"}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"at least one word or letter is required","error":223,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":226,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"invalid parameter, set 'lng' between -180 and 180","error":229,"data":null}}}}}}},"/forma_giuridica":{"get":{"tags":["Company Information"],"summary":"All legal forms","description":"With this endpoint you can see all the legal forms registered.","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FormaGiuridica"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"codice_natura_giuridica":"AA","valore":"SOCIETA' IN ACCOMANDITA PER AZIONI"},{"codice_natura_giuridica":"AN","valore":"SOCIETA' CONSORTILE IN NOME COLLETTIVO"},{"codice_natura_giuridica":"EI","valore":"ENTE IMPRESA"},{"codice_natura_giuridica":"RR","valore":"SOCIETA' A RESPONSABILITA' LIMITATA A CAPITALE RIDOTTO"}],"success":true,"message":"","error":null}}}}}}},"/forma_giuridica/{codice_natura_giuridica}":{"get":{"tags":["Company Information"],"summary":"Specific legal form","description":"With this endpoint you can see the value of the legal code passed as a parameter.","parameters":[{"name":"codice_natura_giuridica","in":"path","description":"legal code","required":true,"schema":{"type":"string","example":"SP"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FormaGiuridica"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"codice_natura_giuridica":"SP","valore":"SOCIETA' PER AZIONI"},"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no codice_natura_giuridica matches this id: ","error":225,"data":null}}}}}}},"/updates":{"get":{"tags":["Company Information"],"summary":"A list of updated companies","description":"This endpoint returns the list of all companies (just the id).","parameters":[{"name":"lat","required":false,"in":"query","description":"latitude","schema":{"type":"number","format":"double","minimum":-90,"maximum":90,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":13.5478}},{"name":"lng","required":false,"in":"query","description":"longitude","schema":{"type":"number","format":"double","minimum":-180,"maximum":180,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":42.859}},{"name":"radius","required":false,"in":"query","description":"radius in meters","schema":{"type":"integer","minimum":0,"maximum":3000,"exclusiveMinimum":true,"exclusiveMaximum":false,"example":100}},{"name":"skip","required":false,"in":"query","description":"you can set a number of records you want to skip or the id of a company you want to start from","schema":{"type":"integer","example":50}},{"name":"limit","required":false,"in":"query","description":"is used to set the maximum number of results required","schema":{"type":"integer","example":5000}},{"name":"dry_run","required":false,"in":"query","description":"simulates a request by returning only the number of records found","schema":{"type":"integer","example":0,"enum":[1,0]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"company id"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"61f2c4d69fb8571d19235463"},{"id":"61f4r5y69fb8571d19237859"},{"id":"61f2f6t09fb8571d19237773"}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"invalid parameter, set 'lng' between -180 and 180","error":229,"data":null}}}}}}},"/updates/{timestamp}":{"get":{"tags":["Company Information"],"summary":"A list of updated companies","description":"This endpoint returns the list of all companies that have had updates after the time threshold passed via timestamp (just the id).","parameters":[{"name":"timestamp","in":"path","description":"timestamp","required":true,"schema":{"type":"integer","example":1645021792}},{"name":"lat","required":false,"in":"query","description":"latitude","schema":{"type":"number","format":"double","minimum":-90,"maximum":90,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":13.5478}},{"name":"lng","required":false,"in":"query","description":"longitude","schema":{"type":"number","format":"double","minimum":-180,"maximum":180,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":42.859}},{"name":"radius","required":false,"in":"query","description":"radius in meters","schema":{"type":"integer","minimum":0,"maximum":3000,"exclusiveMinimum":true,"exclusiveMaximum":false,"example":100}},{"name":"skip","required":false,"in":"query","description":"you can set a number of records you want to skip or the id of a company you want to start from","schema":{"type":"integer","example":50}},{"name":"limit","required":false,"in":"query","description":"is used to set the maximum number of results required","schema":{"type":"integer","example":5000}},{"name":"dry_run","required":false,"in":"query","description":"simulates a request by returning only the number of records found","schema":{"type":"integer","example":0,"enum":[1,0]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"company id"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"61f2c4d69fb8571d19235463"},{"id":"61f4r5y69fb8571d19237859"}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"invalid parameter, set 'radius' > 0","error":230,"data":null}}}}}}},"/soci/{piva_cf_or_id}":{"get":{"tags":["Company Information"],"summary":"Shareholders of a company","description":"This endpoint returns the list of shareholders of a company who have a share of the company greater than 10 percent.","parameters":[{"name":"piva_cf_or_id","in":"path","description":"VAT number, tax code or company ID","required":true,"schema":{"type":"string","example":"12485671007"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Soci"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"denominazione":"OPEN HOLDING S.R.L.","nome":null,"cognome":null,"cf_socio":"16935371001","quota":100}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Id, cf or piva required","error":227,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":229,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf/piva not valid","error":228,"data":null}}}}}}},"/codice_destinatario/{piva_cf_or_id}":{"get":{"tags":["Company Information"],"summary":"SDI code of a company","description":"This endpoint returns the company's SDI code updated in real time.","parameters":[{"name":"piva_cf_or_id","in":"path","description":"VAT number, tax code or company ID","required":true,"schema":{"type":"string","example":"12485671007"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"codice_destinatario":{"type":"string","description":"sdi code"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"codice_destinatario":"MJ1OYNU"},"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Id, cf or piva required","error":233,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":235,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no company matches this id: ","error":236,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"cf/piva not valid","error":234,"data":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}