{"openapi":"3.0.0","info":{"description":"Oauth is our essential authentication web service to use our services safely. Through this service you can receive, modify and see essential tokens to access all the rest methods of the bees that we provide. <br><br>Check out more at <a href=\"https://developers.openapi.it/services/oauth\">https://developers.openapi.it/services/oauth</a><br>Explore all our services at <a href=\"https://developers.openapi.it/services\">https://developers.openapi.it/services</a>","version":"1.0.0","title":"Oauth","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://oauth.openapi.it","description":"Production"},{"url":"https://test.oauth.openapi.it","description":"Sandbox"}],"tags":[{"name":"token","description":"Receive, view and edit all tokens associated with your account"},{"name":"scopes","description":"Get a list of scopes associated with your account"},{"name":"credit","description":"Your Openapi credit"},{"name":"counters","description":"Get your usage stats"}],"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"}},"schemas":{"Scopes":{"type":"object","properties":{"scopes":{"type":"array","description":"List of scopes for which you want to be authorized to use; you can also pass an asterisk as a wild card for all methods or all domains or all endpoints. For example if I want all the methods and endpoints of a given domain '\\*:comparabili.openapi.it/\\*'; if I want all the scopes '\\*:\\*/\\*'","example":["GET:comparabili.openapi.it/tassonomie","GET:imprese.openapi.it/*","*:*.openapi.it/*"],"items":{"type":"string"}},"expire":{"type":"integer","deprecated":true},"ttl":{"type":"integer","description":"The token lifespan (time-to-live) in seconds, <strong>up to one year</strong>; if not provided, when creating a token it will be set to expire in 1 year from now. The example shows how to request a token that has a lifespan of 30 days.","example":2592000}},"required":["scopes"]},"ScopesEdit":{"type":"object","properties":{"scopes":{"type":"array","description":"List of scopes for which you want to be authorized to use; you can also pass an asterisk as a wild card for all methods or all domains or all endpoints. For example if I want all the methods and endpoints of a given domain '\\*:comparabili.openapi.it/\\*'; if I want all the scopes '\\*:\\*/\\*'","example":["GET:comparabili.openapi.it/tassonomie","GET:imprese.openapi.it/*","*:*.openapi.it/*"],"items":{"type":"string"}},"expire":{"type":"integer","example":1660640780,"description":"An expiration date in expressed as a UNIX timestamp in <strong>seconds</strong>. If not set, the date will be set one year from now"}},"required":["scopes"]},"Token":{"type":"object","properties":{"scopes":{"description":"A list of the scopes you requested, expanded","type":"array","items":{"type":"string"}},"expire":{"type":"integer","description":"A UNIX timestamp, in seconds, rappresenting the expiring date of the token"},"token":{"type":"string","description":"Your new token"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"Tokens":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"string"}},"expire":{"type":"integer","description":"A UNIX timestamp, in seconds, rappresenting the expiring date of the token"},"token":{"type":"string"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"counter":{"type":"object","properties":{"data":{"type":"object","properties":{"<scope>":{"type":"object","properties":{"counter":{"type":"integer","description":"The total number of requests in the selected period."},"paid":{"type":"integer","description":"The number of requests you was (or will be billed) for."},"limit":{"type":"integer","nullable":true,"description":"The number of requests currently included in your plan or subscription: if you don't have any active subscription, <code>limit</code> will report the amount of free requests currently avaiable with your plan. <br>You are billed for the number of requests that exceed <code>limit</code>, also reported in <code>paid</code><br>If <code>limit</code> is <code>false</code>, it means that your plan includes an unlimited amount of requests for the selected period."}}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}},"paths":{"/token":{"post":{"tags":["token"],"summary":"Create a token","description":"With this call passing one or more scopes you receive a token that you will need to authenticate with the same scopes you passed. Tokens with expiration dates can be very useful if you want to restrict access to just the small number of scopes that your application/service needs: in this way you can avoid unwanted requests","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scopes"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"},"example":{"scopes":["POST:valutometro.altravia.com/valutazione"],"expire":1634223407,"token":"5f8711afe4754a532a7a8358","success":true,"message":"","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"missing scopes array","error":110,"data":null}}}}},"security":[{"basicAuth":[]}]},"get":{"tags":["token"],"summary":"List of all unexpired token","description":"Method that returns all the tokens with their scopes still active for your account","parameters":[{"name":"scope","in":"query","description":"name of the scope for which to filter the tokens","required":false,"schema":{"type":"string"},"example":"GET:imprese.openapi.it/base"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tokens"},"example":{"data":[{"scopes":["POST:videoid.altravia.com/videoId"],"expire":1603268553,"token":"5daebc49568fa1398c55186d"},{"scopes":["POST:videoid.altravia.com/request"],"expire":1604049864,"token":"5dbaa848568fa113ad2e7fcf"},{"scopes":["GET:videoid.altravia.com/request"],"expire":1604050325,"token":"5dbaaa15568fa113ad2e7fd1"}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"}},"security":[{"basicAuth":[]}]}},"/token/{token}":{"get":{"tags":["token"],"summary":"Finds a specific token","description":"Method that returns the token you passed in the path","parameters":[{"name":"token","in":"path","description":"requested token","required":true,"schema":{"type":"string"},"example":"5f8041e42efdfc468b6e60ea"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tokens"},"example":{"data":[{"scopes":["GET:imprese.openapi.it/base","GET:imprese.openapi.it/advance"],"expire":1627139406,"token":"5f0efd20568fa12c575182f0"}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Wrong Token","error":125,"data":null}}}}},"security":[{"basicAuth":[]}]},"put":{"tags":["token"],"summary":"Update the entire token object","description":"Method that allows you to modify the entire token object by passing it new ones or the same reference scopes with a new expiration<br><br>Please note that the <b>TTL option</b> is not available for this method.","parameters":[{"name":"token","in":"path","description":"requested token","required":true,"schema":{"type":"string"},"example":"5f8041e42efdfc468b6e60ea"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScopesEdit"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tokens"},"example":{"data":[{"scopes":["GET:comparabili.openapi.it/tassonomie"],"expire":1583942471,"token":"5f0efd20568fa12c575182f0"}],"success":true,"message":"","error":null}}}},"403":{"description":"Forbidden","content":{"application/json":{"example":{"success":false,"message":"Only single tokens are enabled for this method","error":160,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"Missing Token","error":170,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"invalid scopes specified","error":270,"data":null}}}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["token"],"summary":"Update part of token object","description":"Method that allows you to modify individual fields of the token object by passing it new ones or the same reference scopes or a new expiration","parameters":[{"name":"token","in":"path","description":"requested token","required":true,"schema":{"type":"string"},"example":"5f8041e42efdfc468b6e60ea"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scopes"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tokens"},"example":{"data":[{"scopes":["GET:comparabili.openapi.it/tassonomie"],"expire":1583942471,"token":"5f0efd20568fa12c575182f0"}],"success":true,"message":"","error":null}}}},"403":{"description":"Forbidden","content":{"application/json":{"example":{"success":false,"message":"Only single tokens are enabled for this method","error":280,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"Missing Token","error":290,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"missing scopes array and expire","error":310,"data":null}}}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["token"],"summary":"Delete a specific token","description":"Method that allows you to delete a token object from your account","parameters":[{"name":"token","in":"path","description":"requested token","required":true,"schema":{"type":"string"},"example":"5f8041e42efdfc468b6e60ea"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"message":"1 deleted token","success":true,"error":null}}}},"403":{"description":"Forbidden","content":{"application/json":{"example":{"success":false,"message":"Only single tokens are enabled for this method","error":140,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"Missing Token","error":150,"data":null}}}}},"security":[{"basicAuth":[]}]}},"/scopes":{"get":{"tags":["scopes"],"summary":"List of all scopes","description":"Method that returns the list of all scopes for which you have requested the token and therefore associated with your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"data":["GET:comparabili.realgest.it/annunci","GET:cf.altravia.com/person","POST:domains.altravia.com/domain","GET:domains.altravia.com/domain","PUT:domains.altravia.com/domain","PUT:domains.altravia.com/contact","GET:exchange.altravia.com/root","POST:ws.pagasubito.it/pay","PUT:ws.messaggisms.com/messages","GET:postontarget.com/layout","POST:postontarget.com/fields","POST:postontarget.com/search","GET:postontarget.com/state","POST:visengine2.altravia.com/richiesta","GET:visengine2.altravia.com/documento","GET:ws.pecmassiva.com/send","GET:europeanvat.altravia.com/companies","GET:comuni.openapi.it/istat","GET:ws.marchetemporali.com/availability","POST:ws.marchetemporali.com/check_lotto","POST:ws.marchetemporali.com/marca","POST:ws.marchetemporali.com/verifica","GET:comuni.openapi.it/catastale","GET:ws.firmadigitale.com/prodotti","POST:geocoding.realgest.it/reverse","POST:geocoding.realgest.it/geocode","GET:valutometro.altravia.com/contratti","POST:valutometro.altravia.com/quotazione","POST:valutometro.altravia.com/valutazione","GET:visengine2.altravia.com/fornitori","POST:ws.leicode.info/create-lei","POST:ws.leicode.info/renew-lei","DELETE:visengine2.altravia.com/richiesta","GET:ws.ufficiopostale.com/tracking","GET:ws.ufficiopostale.com/dug","GET:ws.ufficiopostale.com/raccomandate","POST:ws.ufficiopostale.com/raccomandate","PATCH:ws.ufficiopostale.com/raccomandate","DELETE:ws.ufficiopostale.com/raccomandate","GET:uploader.altravia.com/collections","POST:uploader.altravia.com/collections","PATCH:uploader.altravia.com/collections","DELETE:uploader.altravia.com/collections","PUT:uploader.altravia.com/collections","POST:ws.dns.altravia.com/zones","GET:ws.dns.altravia.com/zones","DELETE:ws.dns.altravia.com/zones","GET:ws.leicode.info/check-lei","GET:ws.leicode.info/transfer-lei","DELETE:ws.ufficiopostale.com/telegrammi","POST:ws.ufficiopostale.com/telegrammi","GET:pec.openapi.it/verifica_pec","POST:pec.openapi.it/pec","DELETE:pec.openapi.it/pec","DELETE:pec.openapi.it/dominio","GET:pec.openapi.it/comunica_pec","POST:pec.openapi.it/comunica_pec","PATCH:pec.openapi.it/comunica_pec","GET:imprese.openapi.it/base","GET:imprese.openapi.it/advance","GET:imprese.openapi.it/pec","GET:imprese.openapi.it/autocomplete","GET:imprese.openapi.it/gruppoiva","GET:domains.altravia.com/domain","GET:imprese.openapi.it/forma_giuridica","POST:rintraccio.openapi.it/richiesta","GET:rintraccio.openapi.it/richiesta","POST:catasto.openapi.it/richiesta","POST:ws.ufficiopostale.com/ordinarie","GET:visengine2.altravia.com/conservatorie","POST:ws.firmadigitale.com/firma_elettronica","GET:ws.pecmassiva.com/inbox","DELETE:ws.pecmassiva.com/inbox","GET:ws.pecmassiva.com/quota","POST:valutometro.altravia.com/tendenza","POST:valutometro.altravia.com/demografico","POST:valutometro.altravia.com/tempistica","POST:comparabili.openapi.it/ricerca","GET:comparabili.openapi.it/immobile","GET:comparabili.openapi.it/tassonomie","GET:imprese.openapi.it/updates","POST:domains.altravia.com/contact","GET:domains.altravia.com/contact","DELETE:domains.altravia.com/domain","DELETE:domains.altravia.com/contact","GET:domains.altravia.com/check","PUT:domains.altravia.com/restore","GET:ws.pagasubito.it/pay","POST:ws.messaggisms.com/messages","GET:ws.messaggisms.com/messages","POST:postontarget.com/buying","POST:videoid.altravia.com/request","GET:videoid.altravia.com/request","GET:visengine2.altravia.com/visure","PUT:visengine2.altravia.com/richiesta","GET:visengine2.altravia.com/richiesta","POST:ws.pecmassiva.com/send","GET:comuni.openapi.it/cap","GET:comuni.openapi.it/regioni","GET:comuni.openapi.it/province","GET:ws.marchetemporali.com/marche","POST:ws.marchetemporali.com/analisi","GET:comuni.openapi.it/match","GET:ws.firmadigitale.com/richiesta","POST:ws.firmadigitale.com/richiesta","GET:valutometro.altravia.com/immobili","POST:valutometro.altravia.com/indirizzo","GET:ws.leicode.info/lei-records","GET:ws.ufficiopostale.com/indirizzi","GET:ws.ufficiopostale.com/comuni","GET:pa.openapi.it/root","GET:splitpayment.openapi.it/root","GET:ws.ufficiopostale.com/pricing","PATCH:ws.ufficiopostale.com/telegrammi","GET:ws.ufficiopostale.com/telegrammi","GET:pec.openapi.it/pec","PATCH:pec.openapi.it/pec","GET:pec.openapi.it/dominio","POST:pec.openapi.it/dominio","GET:imprese.openapi.it/closed","GET:catasto.openapi.it/territorio","GET:catasto.openapi.it/indirizzo","GET:catasto.openapi.it/richiesta","PATCH:ws.firmadigitale.com/richiesta","GET:ws.ufficiopostale.com/ordinarie","PATCH:ws.ufficiopostale.com/ordinarie","POST:ws.ufficiopostale.com/prioritarie","GET:ws.ufficiopostale.com/prioritarie","PATCH:ws.ufficiopostale.com/prioritarie","GET:ws.firmadigitale.com/firma_elettronica","POST:compravenditeimmobiliari.openapi.it/search","POST:rintraccio.openapi.it/anagrafica","POST:rintraccio.openapi.it/telefoni","POST:rintraccio.openapi.it/negativita","GET:rintraccio.openapi.it/verifica_cf","GET:compravenditeimmobiliari.openapi.it/categories","GET:visurecamerali.openapi.it/impresa","POST:visurecamerali.openapi.it/storica-societa-persone","POST:visurecamerali.openapi.it/ordinaria-societa-persone","GET:visurecamerali.openapi.it/ordinaria-societa-persone","GET:visurecamerali.openapi.it/storica-societa-capitale","POST:visurecamerali.openapi.it/storica-impresa-individuale","GET:visurecamerali.openapi.it/storica-impresa-individuale","POST:pdf.openapi.it/base","POST:visurecamerali.openapi.it/ordinaria-impresa-individuale","GET:visurecamerali.openapi.it/storica-societa-persone","POST:visurecamerali.openapi.it/storica-societa-capitale","POST:visurecamerali.openapi.it/ordinaria-societa-capitale","GET:visurecamerali.openapi.it/ordinaria-societa-capitale","GET:ws.ufficiopostale.com/posta_4_pro","POST:ws.ufficiopostale.com/posta_4_pro","PATCH:ws.ufficiopostale.com/posta_4_pro","GET:ws.ufficiopostale.com/posta_massiva","POST:ws.ufficiopostale.com/posta_massiva","PATCH:ws.ufficiopostale.com/posta_massiva","DELETE:ws.pecmassiva.com/send","GET:visurecamerali.openapi.it/ordinaria-impresa-individuale","GET:ws.firmadigitale.com/firma_elettronica_ui","POST:ws.firmadigitale.com/firma_elettronica_ui","POST:catasto.openapi.it/visura_catastale","GET:catasto.openapi.it/visura_catastale","GET:legalinvoice.openapi.it/account","POST:legalinvoice.openapi.it/forfettario","POST:legalinvoice.openapi.it/start","POST:legalinvoice.openapi.it/pro","PATCH:legalinvoice.openapi.it/account","GET:legalinvoice.openapi.it/modulo_attivazione","DELETE:legalinvoice.openapi.it/account","GET:cap.openapi.it/cerca_comuni","GET:cap.openapi.it/cap","GET:cap.openapi.it/comuni_base","GET:cap.openapi.it/comuni_advance","GET:cap.openapi.it/regioni","GET:cap.openapi.it/province","GET:cap.openapi.it/citta_metropolitane","GET:cap.openapi.it/comuni_soppressi","GET:sdi.openapi.it/invoices","POST:sdi.openapi.it/invoices","GET:sdi.openapi.it/invoices_download","POST:sdi.openapi.it/business_registry_configurations","POST:sdi.openapi.it/api_configurations","DELETE:sdi.openapi.it/api_configurations","GET:sdi.openapi.it/api_configurations","DELETE:sdi.openapi.it/business_registry_configurations","GET:sdi.openapi.it/business_registry_configurations","GET:sdi.openapi.it/invoices_notifications","POST:sdi.openapi.it/supplier_invoice_imports","POST:sdi.openapi.it/customer_invoice_imports","GET:sdi.openapi.it/invoices_stats","PATCH:sdi.openapi.it/business_registry_configurations","POST:sdi.openapi.it/invoices_signature","POST:sdi.openapi.it/invoices_legal_storage","POST:sdi.openapi.it/invoices_signature_legal_storage","POST:sdi.openapi.it/supplier_invoice_imports_legal_storage","POST:sdi.openapi.it/customer_invoice_imports_legal_storage","GET:targa.openapi.it/auto","GET:targa.openapi.it/moto","GET:targa.openapi.it/assicurazione","POST:geocoding.openapi.it/geocode","POST:geocoding.openapi.it/reverse","POST:rintraccio.openapi.it/import","GET:imprese.openapi.it/soci","GET:ws.firmadigitale.com/spid_personale","GET:rpl.openapi.it/request","POST:rpl.openapi.it/request","DELETE:ws.messaggisms.com/messages","POST:rpl.openapi.it/request_batch","GET:company.openapi.com/IT-marketing","GET:company.openapi.com/IT-stakeholders","GET:company.openapi.com/IT-aml","GET:company.openapi.com/IT-full","GET:risk.openapi.com/IT-crif-persona","POST:risk.openapi.com/IT-crif-persona","PATCH:risk.openapi.com/IT-crif-persona","GET:risk.openapi.com/IT-crif-azienda","POST:risk.openapi.com/IT-crif-azienda","PATCH:risk.openapi.com/IT-crif-azienda","GET:ws.ufficiopostale.com/raccomandate_smart","POST:ws.ufficiopostale.com/raccomandate_smart","PATCH:ws.ufficiopostale.com/raccomandate_smart","GET:pec.openapi.it/domini_pec","POST:risk.openapi.com/IT-patrimoniale-persona","GET:risk.openapi.com/IT-patrimoniale-persona","GET:risk.openapi.com/IT-patrimoniale-persona-top","POST:risk.openapi.com/IT-patrimoniale-persona-top","POST:risk.openapi.com/IT-patrimoniale-persona-top-supervisionato","GET:risk.openapi.com/IT-patrimoniale-persona-top-supervisionato","GET:risk.openapi.com/IT-report-persona","POST:risk.openapi.com/IT-report-persona","GET:risk.openapi.com/IT-report-persona-top","POST:risk.openapi.com/IT-report-persona-top","GET:risk.openapi.com/IT-eredi-con-accettazione","POST:risk.openapi.com/IT-eredi-con-accettazione","GET:risk.openapi.com/IT-eredi-senza-accettazione","POST:risk.openapi.com/IT-eredi-senza-accettazione","GET:risk.openapi.com/IT-report-azienda","POST:risk.openapi.com/IT-report-azienda","GET:risk.openapi.com/IT-report-azienda-top","POST:risk.openapi.com/IT-report-azienda-top","GET:risk.openapi.com/IT-report-azienda-top-supervisionato","POST:risk.openapi.com/IT-report-azienda-top-supervisionato","POST:sdi.openapi.it/simulate","GET:oauth.openapi.it/token","DELETE:oauth.openapi.it/token","POST:oauth.openapi.it/token","PUT:oauth.openapi.it/token","PATCH:oauth.openapi.it/token","GET:oauth.openapi.it/scopes","GET:oauth.openapi.it/credit","GET:oauth.openapi.it/counters","GET:imprese.openapi.it/codice_destinatario","GET:visurecamerali.openapi.it/bilancio-ottico","POST:visurecamerali.openapi.it/bilancio-ottico","GET:visurecamerali.openapi.it/certificato-iscrizione","POST:visurecamerali.openapi.it/certificato-iscrizione","GET:visurecamerali.openapi.it/certificato-iscrizione-vigenza","POST:visurecamerali.openapi.it/certificato-iscrizione-vigenza","GET:videoid.openapi.com/IT-identity-verifications","POST:videoid.openapi.com/IT-selfie","POST:videoid.openapi.com/IT-live","POST:videoid.openapi.com/IT-automatic","GET:visurecamerali.openapi.it/soci-attivi","POST:visurecamerali.openapi.it/soci-attivi","GET:risk.openapi.com/IT-richiesta","POST:risk.openapi.com/IT-richiesta","POST:risk.openapi.com/IT-anagrafica","POST:risk.openapi.com/IT-telefoni","POST:risk.openapi.com/IT-negativita","GET:risk.openapi.com/IT-verifica_cf"],"success":true,"message":"","error":null}}}}}},"security":[{"basicAuth":[]}]}},"/credit":{"get":{"tags":["credit"],"summary":"Your Openapi credit","description":"Method that returns your remaining Openapi credit","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"credit":{"type":"number","format":"double"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"credit":423.38},"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"non-existent Openapi credit","error":320,"data":null}}}}},"security":[{"basicAuth":[]}]}},"/counters/total":{"get":{"tags":["counters"],"summary":"Your overall use","description":"Get your usage stats by scope","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/counter"},"example":{"data":{"GET:europeanvat.openapi.it/companies":{"counter":14,"paid":0,"limit":1500},"POST:compravenditeimmobiliari.openapi.it/search":{"counter":100,"paid":90,"limit":10}},"success":true,"message":"","error":null}}}}},"security":[{"basicAuth":[]}]}},"/counters/day/{day}":{"get":{"tags":["counters"],"summary":"Usage stats for a specific day","description":"Get your usage stats by scope","parameters":[{"name":"day","in":"path","description":"The requested date, in YYYY-MM-DD format. Months and days should be with leading zeros.","required":true,"schema":{"type":"string"},"example":"2022-01-01"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/counter"},"example":{"data":{"GET:europeanvat.openapi.it/companies":{"counter":14,"paid":0,"limit":1500},"POST:compravenditeimmobiliari.openapi.it/search":{"counter":100,"paid":90,"limit":10}},"success":true,"message":"","error":null}}}},"404":{"description":"Error thrown when the provided date is invalid or was given with a wrong format","content":{"application/json":{"example":{"success":false,"message":"Wrong date format for the selected range, please format the date like: 2022-01-01","error":610,"data":null}}}}},"security":[{"basicAuth":[]}]}},"/counters/month/{month}":{"get":{"tags":["counters"],"summary":"Usage stats for a specific month","description":"Get your usage stats by scope","parameters":[{"name":"month","in":"path","description":"The requested date, in YYYY-MM format. Months should be with leading zeros.","required":true,"schema":{"type":"string"},"example":"2022-01"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/counter"},"example":{"data":{"GET:europeanvat.openapi.it/companies":{"counter":14,"paid":0,"limit":1500},"POST:compravenditeimmobiliari.openapi.it/search":{"counter":100,"paid":90,"limit":10}},"success":true,"message":"","error":null}}}},"404":{"description":"Error thrown when the provided date is invalid or was given with a wrong format","content":{"application/json":{"example":{"success":false,"message":"Wrong date format for the selected range, please format the date like: 2022-01","error":610,"data":null}}}}},"security":[{"basicAuth":[]}]}},"/counters/year/{year}":{"get":{"tags":["counters"],"summary":"Usage stats for a specific year","description":"Get your usage stats by scope","parameters":[{"name":"year","in":"path","description":"The requested date, in YYYY format.","required":true,"schema":{"type":"string"},"example":"2022"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/counter"},"example":{"data":{"GET:europeanvat.openapi.it/companies":{"counter":14,"paid":0,"limit":1500},"POST:compravenditeimmobiliari.openapi.it/search":{"counter":100,"paid":90,"limit":10}},"success":true,"message":"","error":null}}}},"404":{"description":"Error thrown when the provided date is invalid or was given with a wrong format","content":{"application/json":{"example":{"success":false,"message":"Wrong date format for the selected range, please format the date like: 2022","error":610,"data":null}}}}},"security":[{"basicAuth":[]}]}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"}}