{"openapi":"3.0.0","info":{"description":"Web service that allows you to activate a certified e-mail.","version":"1.0.0","title":"Pec (Posta Elettronica Certificata)","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://pec.openapi.it","description":"Production"},{"url":"https://test.pec.openapi.it","description":"Sandbox"}],"tags":[{"name":"Pec","description":"Methods that allow you to register, activate and modify a certified e-mail"},{"name":"Comunica Pec","description":"Methods that allow you to communicate a certified e-mail to the business register"},{"name":"Domini","description":"Methods that allow you to activate and modify a certified domain"},{"name":"Modulistica","description":"Methods that allow you to download the forms necessary for the management of certified e-mail boxes"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"BodyPostPec":{"type":"object","properties":{"casella_pec":{"type":"string","description":"mailbox name"},"tipo_casella":{"type":"string","description":"type of mailbox","enum":["STANDARD","BRONZE","SILVER","GOLD","DOMICILIODIGITALE","PECMASSIVA"]},"tipo_cliente":{"type":"string","description":"customer type","enum":["IM","PS","PL","PC","A","PV","X"]},"sottotipo_cliente":{"type":"string","description":"customer subtype","enum":["SI","IN","CM","TE","ES","ME","AL","CF","ED","TM","MA","AR","TL","FI","X","PC","PR","PN","PT","PA","PL","LR","LP","LC","LM","LA","LI"]},"sottotipo_cliente_altro":{"type":"string","description":"customer subtype, other"},"nome_richiedente":{"type":"string","description":"customer name"},"cognome_richiedente":{"type":"string","description":"customer surname"},"email":{"type":"string","description":"customer email"},"telefono":{"type":"string","description":"customer telephone"},"cellulare":{"type":"string","description":"customer mobile phone"},"codice_fiscale_richiedente":{"type":"string","description":"customer fiscal code"},"data_nascita_richiedente":{"type":"string","description":"customer date of birth (accepted format: dd/mm/yyyy)"},"sesso_richiedente":{"type":"string","description":"gender","enum":["M","F"]},"nazione_nascita_richiedente":{"type":"string","description":"customer country code"},"comune_nascita_richiedente":{"type":"string","description":"customer city"},"provincia_nascita_richiedente":{"type":"string","description":"customer province code"},"denominazione_titolare":{"type":"string","description":"holder denomination"},"cf_piva_titolare":{"type":"string","description":"holder vat number"},"indirizzo_titolare":{"type":"string","description":"holder address"},"comune_titolare":{"type":"string","description":"holder city"},"cap_titolare":{"type":"string","description":"holder postal code"},"nazione_titolare":{"type":"string","description":"holder country code"},"provincia_titolare":{"type":"string","description":"holder province code"},"callback":{"$ref":"#/components/schemas/Callback"},"autorinnovo":{"type":"boolean","description":"if set to true, it allows the system to renew the account automatically upon expiration, trying to withdraw credit from the owner's purse","default":false},"tipo_documento":{"type":"string","description":"type of identity document","enum":["CARTA_D_IDENTITA","PATENTE","PASSAPORTO"]},"numero_documento":{"type":"string","description":"number of identity document"},"data_scadenza_documento":{"type":"string","description":"expiry date of the identity document (accepted format: dd/mm/yyyy)"},"documento_rilasciato_da":{"type":"string","description":"institution that issued the identity document"},"data_rilascio_documento":{"type":"string","description":"date of issue of the identity document (accepted format: dd/mm/yyyy)"}},"required":["casella_pec","tipo_casella","tipo_cliente","nome_richiedente","cognome_richiedente","email","telefono","codice_fiscale_richiedente","data_nascita_richiedente","sesso_richiedente","nazione_nascita_richiedente","indirizzo_titolare","comune_titolare","cap_titolare","nazione_titolare","provincia_titolare"]},"BodyPostComunicaPec":{"type":"object","properties":{"casella_pec":{"type":"string","description":"certified e-mail box to communicate"},"cf":{"type":"string","description":"tax code of the applicant"},"nome":{"type":"string","description":"name of the applicant"},"cognome":{"type":"string","description":"surname of the applicant"},"qualifica":{"type":"string","description":"qualification of the applicant","enum":["AMMINISTRATORE","COMMISSARIO_GIUDIZIARIO","CURATORE_FALLIMENTARE","LEGALE_RAPPRESENTANTE","LIQUIDATORE","SOCIO","TITOLARE"]},"email":{"type":"string","description":"email of the owner"},"cellulare":{"type":"string","description":"mobile phone of the owner"},"ragione_sociale":{"type":"string","description":"business name"},"cf_piva":{"type":"string","description":"tax code or VAT number"},"comune":{"type":"string","description":"municipality of the company"},"pec_amministratore":{"type":"boolean","description":"Indicates whether the PEC (Certified Email) belongs to the administrator.","default":false,"example":true},"provincia":{"type":"string","description":"province of the company"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["casella_pec","cf","nome","cognome","qualifica","email","cellulare","ragione_sociale","cf_piva","comune","provincia"]},"BodyPostMultiutenza":{"type":"object","properties":{"nome":{"type":"string","description":"name of the user"},"cognome":{"type":"string","description":"surname of the user"},"descrizione":{"type":"string","description":"description"},"email_gestione_password":{"type":"string","description":"email of the user"}},"required":["nome","cognome","descrizione","email_gestione_password"]},"TipologieCliente":{"type":"object","properties":{"IM":{"type":"string","description":"Impresa","enum":["SI - SERVIZI IMPRESE","IN - INFORMATICA","CM - COMMERCIO","TE - TELECOMUNICAZIONI","ES - EDITORIA STAMPA","ME - MECCANICA ELETTRICA","AL - ALIMENTARE","CF - CHIMICA FARMACEUTICA","ED - EDILIZIA","TM - TESSILE MODA","MA - MOBILI ARREDAMENTI","AR - ALBERGHI RISTORANTI","TL - TRASPOSRTI LOGISTICA","FI - FINANZA","X - ALTRO"]},"PS":{"type":"string","description":"Professionista","enum":["PC - COMMERCIALISTA","PR - RAGIONIERE","PN - NOTAIO","PT - TRIBUTARISTA","PA - AVVOCATO","PL - CONSULENTE LAVORO","X - ALTRO"]},"PL":{"type":"string","description":"Pubblica Amministrazione Locale","enum":["LR - REGIONE","LP - PROVINCIA","LC - COMUNE","LM - COMUNITA MONTANA","LA - ASL","LI - CCIAA","X - ALTRO"]},"PC":{"type":"string","description":"Pubblica Amministrazione Centrale"},"A":{"type":"string","description":"Associazione"},"PV":{"type":"string","description":"Privato"},"X":{"type":"string","description":"Altro"}}},"Casella":{"type":"object","properties":{"casella_pec":{"type":"string"},"tipo_casella":{"type":"string"},"tipo_cliente":{"type":"string"},"sottotipo_cliente":{"type":"string"},"sottotipo_cliente_altro":{"type":"string"},"nome_richiedente":{"type":"string"},"cognome_richiedente":{"type":"string"},"email":{"type":"string"},"telefono":{"type":"string"},"cellulare":{"type":"string"},"codice_fiscale_richiedente":{"type":"string"},"data_nascita_richiedente":{"type":"string"},"sesso_richiedente":{"type":"string"},"nazione_nascita_richiedente":{"type":"string"},"comune_nascita_richiedente":{"type":"string"},"provincia_nascita_richiedente":{"type":"string"},"denominazione_titolare":{"type":"string"},"cf_piva_titolare":{"type":"string"},"indirizzo_titolare":{"type":"string"},"comune_titolare":{"type":"string"},"cap_titolare":{"type":"string"},"nazione_titolare":{"type":"string"},"provincia_titolare":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"dominio":{"type":"string"},"owner":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"cod_attivazione":{"type":"string"},"uid":{"type":"string"},"conservazione":{"type":"boolean"},"data_scadenza":{"type":"string"},"descrizione":{"type":"string"},"sms":{"type":"boolean"},"spazio_conservazione":{"type":"integer"},"spazio_disco":{"type":"integer"},"spazio_storico":{"type":"integer"},"stato":{"type":"string","enum":["registrata","in_evasione","evasa","revocata","chiusa","documenti_errati","registrazione_annullata"]},"storico":{"type":"boolean"},"documenti_attivazione":{"type":"array","items":{"type":"string"}},"data_attivazione":{"type":"string"},"documenti_conservazione":{"type":"array","items":{"type":"string"}},"multiutenza":{"type":"array","items":{"$ref":"#/components/schemas/Utenza"}},"id":{"type":"string"},"autorinnovo":{"type":"boolean"},"tipo_documento":{"type":"string","enum":["CARTA_D_IDENTITA","PATENTE","PASSAPORTO"]},"numero_documento":{"type":"string"},"data_scadenza_documento":{"type":"string"},"documento_rilasciato_da":{"type":"string"},"data_rilascio_documento":{"type":"string"}}},"Callback":{"type":"object","properties":{"method":{"type":"string","description":"Indicate through which method you want to receive data with the callback, by default it is POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Name of the field containing the callback return data"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.it/callback.php"},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}}},"Timestamp":{"type":"object","properties":{"registrazione":{"type":"integer"},"ultima_modifica":{"type":"integer"},"evasione":{"type":"integer"},"scadenza":{"type":"integer"},"revoca":{"type":"integer"}}},"RichiesteComunicazionePec":{"type":"object","properties":{"id":{"type":"string"},"casella_pec":{"type":"string"},"stato":{"type":"string","enum":["codice_in_richiesta","in_attesa_di_documenti","documenti_caricati","comunicazione_evasa"]},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"RichiestaComunicazionePec":{"type":"object","properties":{"casella_pec":{"type":"string"},"cf":{"type":"string"},"nome":{"type":"string"},"cognome":{"type":"string"},"qualifica":{"type":"string"},"email":{"type":"string"},"cellulare":{"type":"string"},"ragione_sociale":{"type":"string"},"cf_piva":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"stato":{"type":"string","enum":["codice_in_richiesta","in_attesa_di_documenti","documenti_caricati","comunicazione_evasa"]},"codice_registro_imprese":{"type":"string"},"documenti_registro_imprese":{"type":"array","items":{"type":"string"}},"owner":{"type":"string"},"timestamp":{"type":"integer"},"id":{"type":"string"}}},"Utenza":{"type":"object","properties":{"nome":{"type":"string"},"cognome":{"type":"string"},"descrizione":{"type":"string"},"email_gestione_password":{"type":"string"},"id_utenza":{"type":"string"},"timestamp":{"type":"object","properties":{"attivazione":{"type":"integer"}}},"userid":{"type":"string"}}},"Caselle":{"type":"object","properties":{"casella_pec":{"type":"string"},"tipo_casella":{"type":"string"},"owner":{"type":"string"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"data_scadenza":{"type":"string"},"stato":{"type":"string"},"id":{"type":"string"}}}}},"paths":{"/domini_pec/{dominio}":{"get":{"tags":["Pec"],"summary":"Domain check","description":"This method allows you to check if a domain is eligible for sending or receiving a pec","parameters":[{"name":"dominio","in":"path","description":"Domain","required":true,"schema":{"type":"string","example":"legalmail.it"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string","example":[]}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[],"success":true,"message":"legalmail.it found!","error":null}}}},"204":{"description":"No Content"},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":403,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"domain not valid","error":401,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"domain required","error":400,"data":null}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"example":{"success":false,"message":"service temporarily unavailable","error":402,"data":null}}}}}}},"/verifica_pec/{pec}":{"get":{"tags":["Pec"],"summary":"Availability of a certified e-mail box","description":"This method shows you the availability of a certified e-mail box","parameters":[{"name":"pec","in":"path","description":"Email box","required":true,"schema":{"type":"string","example":"prova_pec@legalmail.it"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"available":{"type":"boolean"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"available":true},"success":true,"message":"","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"invalid casella_pec","error":208,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"casella_pec required","error":207,"data":null}}}}}}},"/pec":{"get":{"tags":["Pec"],"summary":"List of your certified e-mail boxes","description":"This method shows you the list of certified e-mail boxes that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Caselle"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"6040e4613a716838dc4eee0e","casella_pec":"mypec@testcert.legalmail.it","tipo_casella":"BRONZE","stato":"revocata","data_scadenza":"04/03/2022","timestamp":{"registrazione":1614865504,"ultima_modifica":1614868403,"evasione":1614868312,"scadenza":1646391493,"revoca":1614868400},"owner":"mail@domain.com"},{"id":"6040c9df3a716838dc4eede4","casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"STANDARD","stato":"evasa","data_scadenza":"04/03/2022","timestamp":{"registrazione":1614858718,"ultima_modifica":1614859181,"evasione":1614859181,"scadenza":1646391493},"owner":"mail@domain.com"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec linked to this account","error":200,"data":null}}}}}},"post":{"tags":["Pec"],"summary":"Register a new certified mailbox","description":"This method allows you to register a new certified mailbox. \n\nIf you do not have your own certified domain, the mailbox must necessarily consist of: \n\n- 'box_name'@legalmail.it (Es. provapec@legalmail.it) for STANDARD, BRONZE, SILVER AND GOLD mailbox; \n\n- 'box_name'@domiciliodigitale.com (Es. provapec@domiciliodigitale.com) for DOMICILIODIGITALE box; \n\n- 'box_name'@pecmassiva.com (Es. provapec@pecmassiva.com) for PECMASSIVA box. \n\nIn Sandbox must be: 'box_name'@testcert.legalmail.it (Es. provapec@testcert.legalmail.it) or 'box_name'@test.domiciliodigitale.com (Es. provapec@test.domiciliodigitale.com).","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPec"},"example":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"bronze","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"it","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"it","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"BRONZE","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1615199724,"ultima_modifica":1615199726},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10174594","uid":"MA178634","conservazione":false,"data_scadenza":"","descrizione":"prova.sviluppo@testcert.legalmail.it","sms":false,"spazio_conservazione":0,"spazio_disco":0,"spazio_storico":0,"stato":"registrata","storico":false,"id":"6045fdee3a716847a978a471","autorinnovo":false},"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":262,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the domain $dominio is non-existent in the system or belongs to someone else","error":326,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"data_nascita_richiedente not valid, accepted format: dd/mm/yyyy","error":242,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"tipo_casella required","error":224,"data":null}}}}}}},"/pec/{id}":{"get":{"tags":["Pec"],"summary":"Specific certified e-mail address","description":"This method shows you the specific certified e-mail address related to the id","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6040e4613a716838dc4eee0e"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"BRONZE","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1614865504,"ultima_modifica":1614868403,"evasione":1614868312,"scadenza":1646391493,"revoca":1614868400},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10173956","uid":"MA177987","conservazione":true,"data_scadenza":"04/03/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":512,"spazio_disco":3072,"spazio_storico":3072,"stato":"revocata","storico":true,"documenti_attivazione":["6040e4613a716838dc4eee0e_0_attivazione.pdf","6040e4613a716838dc4eee0e_1_attivazione.pdf"],"data_attivazione":"04/03/2021","documenti_conservazione":["6040e4613a716838dc4eee0e_0_conservazione.pdf","6040e4613a716838dc4eee0e_1_conservazione.pdf"],"multiutenza":[{"nome":"luca","cognome":"bianchi","descrizione":"prima utenza","email_gestione_password":"mail@domain.com","id_utenza":"6040e4613a716838dc4eee0e_0","timestamp":{"attivazione":1614868138},"userid":"MA177993"}],"id":"6040e4613a716838dc4eee0e","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":201,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":202,"data":null}}}}}},"delete":{"tags":["Pec"],"summary":"Pec revocation","description":"This method allows you to revoke the specific certified e-mail address related to the id","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6040e4613a716838dc4eee0e"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"BRONZE","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1614865504,"ultima_modifica":1614868403,"evasione":1614868312,"scadenza":1646391493,"revoca":1614868400},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10173956","uid":"MA177987","conservazione":true,"data_scadenza":"04/03/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":512,"spazio_disco":3072,"spazio_storico":3072,"stato":"revocata","storico":true,"documenti_attivazione":["6040e4613a716838dc4eee0e_0_attivazione.pdf","6040e4613a716838dc4eee0e_1_attivazione.pdf"],"data_attivazione":"04/03/2021","documenti_conservazione":["6040e4613a716838dc4eee0e_0_conservazione.pdf","6040e4613a716838dc4eee0e_1_conservazione.pdf"],"multiutenza":[{"nome":"luca","cognome":"bianchi","descrizione":"prima utenza","email_gestione_password":"mail@domain.com","id_utenza":"6040e4613a716838dc4eee0e_0","timestamp":{"attivazione":1614868138},"userid":"MA177993"}],"id":"6040e4613a716838dc4eee0e","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"your pec has already been revoked","error":303,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you can revoke the pec only if it is active","error":304,"data":null}}}}}}},"/pec/{id}/attivazione":{"patch":{"tags":["Pec"],"summary":"Certified e-mail activation","description":"This method allows you, once you have registered your certified electronic mailbox, to activate it by uploading the necessary documentation. The required documentation includes your valid identity document and the completed and signed activation form that you can download using the method GET/pec/{id}/modulo_attivazione. For the boxes of type DOMICILIODIGITALE and PECMASSIVA it is necessary to create a single document comprising the signed activation form and the identity document. If you have uploaded the incorrect documents the request will assume the status of 'documenti_errati' which will allow you to use the activation endpoint again to upload them correctly.","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6045fdee3a716847a978a471"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"documenti":{"oneOf":[{"type":"string","description":"base64_encode(file content); only pdf files are allowed"},{"type":"array","items":{"type":"string","description":"base64_encode(file content); only pdf files are allowed"}}]}}},"example":{"documenti":["JVBERi0xLjUKJeLjz9MKNyAwIG9iago8PAovVHlwZSAvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lIC9UaW1lcyMyME5ldyMyMFJvbWFuCi9GbGFncyAzMgovSXRhbGljQW5nbGUgMAovQXNjZW50IDg5MQovRGVzY2VudCAtMjE2Ci9DYXBIZWlnaHQgNjkzCi9BdmdXaWR0aCA0MDEKL01heFdpZHRoIDI2MTQKL0ZvbnRXZWlnaHQgNDAwCi9YSGVpZ2h0IDI1MAovTGVhZGluZyA0MgovU3RlbVYgNDAKL0ZvbnRCQm94IFstNTY4IC0yMTYgMjA0NiA2OTNdCj4+CmVuZG9iago4IDAgb2JqClsyNTAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyNTAgMCA1MDAgMCA1MDAgMCAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNDQ0IDAgNDQ0IDAgMCAwIDAgMCAyNzggMCAwIDAgMCA1MDAgNTAwIDUwMCAwIDMzMyAzODkgMjc4IDAgNTAwXQplbmRvYmoKNiAwIG9iago8PAovVHlwZSAvRm9udAovU3VidHlwZSAvVHJ1ZVR5cGUKL05hbWUgL0YxCi9CYXNlRm9udCAvVGltZXMjMjBOZXcjMjBSb21hbgovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZwovRm9udERlc2NyaXB0b3IgNyAwIFIKL0ZpcnN0Q2hhciAzMgovTGFzdENoYXIgMTE4Ci9XaWR0aHMgOCAwIFIKPj4KZW5kb2JqCjkgMCBvYmoKPDwKL1R5cGUgL0V4dEdTdGF0ZQovQk0gL05vcm1hbAovY2EgMQo+PgplbmRvYmoKMTAgMCBvYmoKPDwKL1R5cGUgL0V4dEdTdGF0ZQovQk0gL05vcm1hbAovQ0EgMQo+PgplbmRvYmoKMTEgMCBvYmoKPDwKL0ZpbHRlciAvRmxhdGVEZWNvZ","JVBERi0xLjUKJeLjz9MKNyAwIG9iago8PAovVHlwZSAvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lIC9UaW1lcyMyME5ldyMyMFJvbWFuCi9GbGFncyAzMgovSXRhbGljQW5nbGUgMAovQXNjZW50IDg5MQovRGVzY2VudCAtMjE2Ci9DYXBIZWlnaHQgNjkzCi9BdmdXaWR0aCA0MDEKL01heFdpZHRoIDI2MTQKL0ZvbnRXZWlnaHQgNDAwCi9YSGVpZ2h0IDI1MAovTGVhZGluZyA0MgovU3RlbVYgNDAKL0ZvbnRCQm94IFstNTY4IC0yMTYgMjA0NiA2OTNdCj4+CmVuZG9iago4IDAgb2JqClsyNTAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyNTAgMCA1MDAgMCA1MDAgMCAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAw"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"BRONZE","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1615199724,"ultima_modifica":1615200175},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10174594","uid":"MA178634","conservazione":false,"data_scadenza":"","descrizione":"yourpec@testcert.legalmail.it","sms":false,"spazio_conservazione":0,"spazio_disco":0,"spazio_storico":0,"stato":"in_evasione","storico":false,"documenti_attivazione":["6045fdee3a716847a978a471_0_attivazione.pdf","6045fdee3a716847a978a471_1_attivazione.pdf"],"id":"6045fdee3a716847a978a471","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":265,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":266,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"wrong file format, pdf required","error":296,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you can activate the pec only when it is in the 'registrata|documenti_errati' state","error":267,"data":null}}}}}}},"/pec/{id}/modifica":{"patch":{"tags":["Pec"],"summary":"Change mailbox space","description":"This method allows you to change the space of a certified e-mail. You can change the disk space('spazio_disco'), the security archive space('spazio_storico') and the standard storage space('spazio_conservazione'). Only a space upgrade is allowed. Action not allowed for these two types of boxes: DOMICILIODIGITALE, PECMASSIVA.","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6045fdee3a716847a978a471"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"spazio_disco":{"oneOf":[{"type":"string","example":"+1024","multipleOf":1024},{"type":"integer","example":1024,"multipleOf":1024}],"description":"If you put the + symbol in front you go to add space to what you have. If you pass only a number go to set the space with that value."},"spazio_storico":{"oneOf":[{"type":"string","example":"+1024","multipleOf":1024},{"type":"integer","example":1024,"multipleOf":1024}],"description":"If you put the + symbol in front you go to add space to what you have. If you pass only a number go to set the space with that value."},"spazio_conservazione":{"oneOf":[{"type":"string","example":"+512","multipleOf":512},{"type":"integer","example":512,"multipleOf":512}],"description":"If you put the + symbol in front you go to add space to what you have. If you pass only a number go to set the space with that value."}}},"example":{"spazio_disco":"3072","spazio_storico":"+1024","spazio_conservazione":1536}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"GOLD","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1615199724,"evasione":1615199724,"scadenza":1646391493,"ultima_modifica":1615200175},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10174594","uid":"MA178634","conservazione":true,"data_attivazione":"20/04/2021","data_scadenza":"20/04/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":1536,"spazio_disco":3072,"spazio_storico":14336,"stato":"evasa","storico":true,"documenti_attivazione":["6045fdee3a716847a978a471_0_attivazione.pdf","6045fdee3a716847a978a471_1_attivazione.pdf"],"documenti_conservazione":["6045fdee3a716847a978a471_0_conservazione.pdf"],"id":"6045fdee3a716847a978a471","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":265,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":290,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":266,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the system only takes into account multiples of 1024","error":325,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you must first activate the 'conservazione' service","error":282,"data":null}}}}}}},"/pec/{id}/conservazione":{"patch":{"tags":["Pec"],"summary":"Activation of conservation according to law","description":"This method allows you to activate the standard storage service in your certified e-mail. Action not allowed for these two types of boxes: DOMICILIODIGITALE, PECMASSIVA.","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6045fdee3a716847a978a471"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"spazio_conservazione":{"oneOf":[{"type":"string","example":"1024","multipleOf":512},{"type":"integer","example":1024,"multipleOf":512}],"description":"If this parameter is not passed it is set to 512 by default"},"documenti":{"oneOf":[{"type":"string","description":"base64_encode(file content); only pdf files are allowed"},{"type":"array","items":{"type":"string","description":"base64_encode(file content); only pdf files are allowed"}}]}},"required":["documenti"]},"example":{"spazio_conservazione":1024,"documenti":"JVBERi0xLjUKJeLjz9MKNyAwIG9iago8PAovVHlwZSAvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lIC9UaW1lcyMyME5ldyMyMFJvbWFuCi9GbGFncyAzMgovSXRhbGljQW5nbGUgMAovQXNjZW50IDg5MQovRGVzY2VudCAtMjE2Ci9DYXBIZWlnaHQgNjkzCi9BdmdXaWR0aCA0MDEKL01heFdpZHRoIDI2MTQKL0ZvbnRXZWlnaHQgNDAwCi9YSGVpZ2h0IDI1MAovTGVhZGluZyA0MgovU3RlbVYgNDAKL0ZvbnRCQm94IFstNTY4IC0yMTYgMjA0NiA2OTNdCj4+CmVuZG9iago4IDAgb2JqClsyNTAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyNTAgMCA1MDAgMCA1MDAgMCAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNDQ0IDAgNDQ0IDAgMCAwIDAgMCAyNzggMCAwIDAgMCA1MDAgNTAwIDUwMCAwIDMzMyAzODkgMjc4IDAgNTAwXQplbmRvYmoKNiAwIG9iago8PAovVHlwZSAvRm9udAovU3VidHlwZSAvVHJ1ZVR5cGUKL05hbWUgL0YxCi9CYXNlRm9udCAvVGltZXMjMjBOZXcjMjBSb21hbgovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZwovRm9udERlc2NyaXB0b3IgNyAwIFIKL0ZpcnN0Q2hhciAzMgovTGFzdENoYXIgMTE4Ci9XaWR0aHMgOCAwIFIKPj4KZW5kb2JqCjkgMCBvYmoKPDwKL1R5cGUgL0V4dEdTdGF0ZQovQk0gL05vcm1hbAovY2EgMQo+PgplbmRvYmoKMTAgMCBvYmoKPDwKL1R5cGUgL0V4dEdTdGF0ZQovQk0gL05vcm1hbAovQ0EgMQo+PgplbmRvYmoKMTEgMCBvYmoKPDwKL0ZpbHRlciAvRmxhdGVEZWNvZ"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"GOLD","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1615199724,"evasione":1615199724,"scadenza":1646391493,"ultima_modifica":1615200175},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10174594","uid":"MA178634","conservazione":true,"data_attivazione":"20/04/2021","data_scadenza":"20/04/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":1024,"spazio_disco":2048,"spazio_storico":13312,"stato":"evasa","storico":true,"documenti_attivazione":["6045fdee3a716847a978a471_0_attivazione.pdf","6045fdee3a716847a978a471_1_attivazione.pdf"],"documenti_conservazione":["6045fdee3a716847a978a471_0_conservazione.pdf"],"id":"6045fdee3a716847a978a471","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":265,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":297,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":266,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"conservazione service is already active","error":293,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"documenti required","error":294,"data":null}}}}}}},"/pec/{id}/trasformazione":{"patch":{"tags":["Pec"],"summary":"Change box type","description":"This method allows you to change the type of certified email. Only upgrades are allowed, for example from a STANDARD you can switch to a SILVER or GOLD one. Action not allowed for these two types of boxes: DOMICILIODIGITALE, PECMASSIVA.","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6045fdee3a716847a978a471"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tipo_casella":{"type":"string","enum":["STANDARD","BRONZE","SILVER","GOLD"]}}},"example":{"tipo_casella":"GOLD"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"GOLD","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1615199724,"evasione":1615199724,"scadenza":1646391493,"ultima_modifica":1615200175},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10174594","uid":"MA178634","conservazione":false,"data_attivazione":"20/04/2021","data_scadenza":"20/04/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":0,"spazio_disco":2048,"spazio_storico":13312,"stato":"evasa","storico":true,"documenti_attivazione":["6045fdee3a716847a978a471_0_attivazione.pdf","6045fdee3a716847a978a471_1_attivazione.pdf"],"id":"6045fdee3a716847a978a471","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":265,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":279,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":266,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"a downgrade of the 'tipo_casella' is not allowed; only SILVER or GOLD allowed","error":276,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you can trasform your certified mail only if it has been processed","error":272,"data":null}}}}}}},"/pec/{id}/rinnovo":{"get":{"tags":["Pec"],"summary":"Renewal of certified e-mail","description":"This method allows you to renew for one year or re-activate the certified e-mail identified by the id","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6040e4613a716838dc4eee0e"}},{"name":"anni","in":"query","description":"Number of years for which you want to renew the pec box. If not passed it is 1 by default","required":false,"schema":{"type":"integer","example":2}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"BRONZE","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1614865504,"ultima_modifica":1614868403,"evasione":1614868312,"scadenza":1646391493},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10173956","uid":"MA177987","conservazione":true,"data_scadenza":"04/03/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":512,"spazio_disco":3072,"spazio_storico":3072,"stato":"evasa","storico":true,"documenti_attivazione":["6040e4613a716838dc4eee0e_0_attivazione.pdf","6040e4613a716838dc4eee0e_1_attivazione.pdf"],"data_attivazione":"04/03/2021","documenti_conservazione":["6040e4613a716838dc4eee0e_0_conservazione.pdf","6040e4613a716838dc4eee0e_1_conservazione.pdf"],"multiutenza":[{"nome":"luca","cognome":"bianchi","descrizione":"prima utenza","email_gestione_password":"mail@domain.com","id_utenza":"6040e4613a716838dc4eee0e_0","timestamp":{"attivazione":1614868138},"userid":"MA177993"}],"id":"6040e4613a716838dc4eee0e","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":201,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":202,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you can renew only evaded or revoked pec","error":203,"data":null}}}}}}},"/pec/{id}/multiutenza":{"post":{"tags":["Pec"],"summary":"Add user","description":"This method allows you to add a user who can use a pec box. It can only be activated on STANDARD, BRONZE, SILVER and GOLD mailboxes.","parameters":[{"name":"id","in":"path","description":"Pec id","required":true,"schema":{"type":"string","example":"6040e4613a716838dc4eee0e"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostMultiutenza"},"example":{"nome":"luca","cognome":"bianchi","descrizione":"prima utenza","email_gestione_password":"mail@domain.com"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Casella"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"yourpec@testcert.legalmail.it","tipo_casella":"BRONZE","tipo_cliente":"PV","sottotipo_cliente":"","sottotipo_cliente_altro":"","nome_richiedente":"mario","cognome_richiedente":"rossi","email":"mail@domain.com","telefono":"0548798569","codice_fiscale_richiedente":"RSSXXXXXXXX56E","data_nascita_richiedente":"11/04/1982","sesso_richiedente":"M","nazione_nascita_richiedente":"IT","provincia_nascita_richiedente":"RM","denominazione_titolare":"","cf_piva_titolare":"","indirizzo_titolare":"via verdi 20","comune_titolare":"roma","cap_titolare":"00042","nazione_titolare":"IT","provincia_titolare":"rm","callback":{"url":"https://your_domain.it/your_callback.php","field":"data","method":"POST","data":{}},"dominio":"testcert.legalmail.it","owner":"mail@domain.com","timestamp":{"registrazione":1614865504,"ultima_modifica":1614868403,"evasione":1614868312,"scadenza":1646391493},"cellulare":"","comune_nascita_richiedente":"","cod_attivazione":"10173956","uid":"MA177987","conservazione":true,"data_scadenza":"04/03/2022","descrizione":"yourpec@testcert.legalmail.it","sms":true,"spazio_conservazione":512,"spazio_disco":3072,"spazio_storico":3072,"stato":"evasa","storico":true,"documenti_attivazione":["6040e4613a716838dc4eee0e_0_attivazione.pdf","6040e4613a716838dc4eee0e_1_attivazione.pdf"],"data_attivazione":"04/03/2021","documenti_conservazione":["6040e4613a716838dc4eee0e_0_conservazione.pdf","6040e4613a716838dc4eee0e_1_conservazione.pdf"],"multiutenza":[{"nome":"luca","cognome":"bianchi","descrizione":"prima utenza","email_gestione_password":"mail@domain.com","id_utenza":"6040e4613a716838dc4eee0e_0","timestamp":{"attivazione":1614868138},"userid":"MA177993"}],"id":"6040e4613a716838dc4eee0e","autorinnovo":false},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":212,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":220,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no pec found","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"maximum number of users reached: 25","error":217,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"this service cannot be activated on these boxes: DOMICILIODIGITALE|PECMASSIVA","error":390,"data":null}}}}}}},"/comunica_pec":{"get":{"tags":["Comunica Pec"],"summary":"List of your communications","description":"This method shows you all the certified e-mail communications to the business register started","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RichiesteComunicazionePec"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"60ad149c3a7168084f1d2b68","casella_pec":"mypec@pec.com","stato":"comunicazione_evasa","timestamp":1622127248,"owner":"mail@domain.com"},{"id":"60ad0f2a3a716801f42a9773","casella_pec":"yourpec@pec.it","stato":"comunicazione_evasa","timestamp":1622126850,"owner":"mail@domain.com"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request linked to this account","error":332,"data":null}}}}}},"post":{"tags":["Comunica Pec"],"summary":"Communicate a certified e-mail","description":"This method allows you to communicate a certified e-mail to the business register","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostComunicaPec"},"example":{"casella_pec":"mypec@pec.com","cf":"RSSMRA80A01L117D","nome":"mario","cognome":"rossi","qualifica":"LEGALE_RAPPRESENTANTE","email":"mail@domain.com","cellulare":"34xxxxxx18","ragione_sociale":"azienda test","cf_piva":"12345678910","comune":"roma","pec_amministratore":false,"provincia":"RM"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaComunicazionePec"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"mypec@pec.com","cf":"RSSMRA80A01L117D","nome":"mario","cognome":"rossi","qualifica":"LEGALE_RAPPRESENTANTE","email":"mail@domain.com","cellulare":"34xxxxxx18","ragione_sociale":"azienda test","cf_piva":"12345678910","comune":"roma","provincia":"RM","callback":false,"stato":"codice_in_richiesta","codice_registro_imprese":"openapi","documenti_registro_imprese":[],"owner":"mail@domain.com","timestamp":1621955739,"id":"60ad149c3a7168084f1d2b68"},"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":351,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"invalid casella_pec","error":336,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva required","error":344,"data":null}}}}}}},"/comunica_pec/{id}":{"get":{"tags":["Comunica Pec"],"summary":"Specific request for communication pec","description":"This method returns you the specific request marked with the id","parameters":[{"name":"id","in":"path","description":"Comunica Pec id","required":true,"schema":{"type":"string","example":"60ad149c3a7168084f1d2b68"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaComunicazionePec"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"mypec@pec.com","cf":"RSSMRA80A01L117D","nome":"mario","cognome":"rossi","qualifica":"LEGALE_RAPPRESENTANTE","email":"mail@domain.com","cellulare":"349xxxxx18","ragione_sociale":"azienda test","cf_piva":"12345678910","comune":"roma","provincia":"RM","callback":false,"stato":"comunicazione_evasa","codice_registro_imprese":"openapi","documenti_registro_imprese":["60ad149c3a7168084f1d2b68_0_registro_imprese.p7m"],"owner":"mail@domain.com","timestamp":1622127248,"id":"60ad149c3a7168084f1d2b68"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":333,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":334,"data":null}}}}}},"patch":{"tags":["Comunica Pec"],"summary":"Upload the documents","description":"This method allows you to complete the request for communication of your pec to the business register by uploading the necessary documentation. The required documentation includes the completed and digitally signed in p7m format form that you can download using the method GET/comunica_pec/{id}/procura_registro_imprese.","parameters":[{"name":"id","in":"path","description":"Comunica Pec id","required":true,"schema":{"type":"string","example":"60dc8da86c8b04624536bbb2"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"documenti":{"oneOf":[{"type":"string","description":"base64_encode(file content); only p7m files are allowed"},{"type":"array","items":{"type":"string","description":"base64_encode(file content); only p7m files are allowed"}}]}}},"example":{"documenti":"JVBERi0xLjUKJeLjz9MKNyAwIG9iago8PAovVHlwZSAvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lIC9UaW1lcyMyME5ldyMyMFJvbWFuCi9GbGFncyAzMgovSXRhbGljQW5nbGUgMAovQXNjZW50IDg5MQovRGVzY2VudCAtMjE2Ci9DYXBIZWlnaHQgNjkzCi9BdmdXaWR0aCA0MDEKL01heFdpZHRoIDI2MTQKL0ZvbnRXZWlnaHQgNDAwCi9YSGVpZ2h0IDI1MAovTGVhZGluZyA0MgovU3RlbVYgNDAKL0ZvbnRCQm94IFstNTY4IC0yMTYgMjA0NiA2OTNdCj4+CmVuZG9iago4IDAgb2JqClsyNTAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyNTAgMCA1MDAgMCA1MDAgMCAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNDQ0IDAgNDQ0IDAgMCAwIDAgMCAyNzggMCAwIDAgMCA1MDAgNTAwIDUwMCAwIDMzMyAzODkgMjc4IDAgNTAwXQplbmRvYmoKNiAwIG9iago8PAovVHlwZSAvRm9udAovU3VidHlwZSAvVHJ1ZVR5cGUKL05hbWUgL0YxCi9CYXNlRm9udCAvVGltZXMjMjBOZXcjMjBSb21hbgovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZwovRm9udERlc2NyaXB0b3IgNyAwIFIKL0ZpcnN0Q2hhciAzMgovTGFzdENoYXIgMTE4Ci9XaWR0aHMgOCAwIFIKPj4KZW5kb2JqCjkgMCBvYmoKPDwKL1R5cGUgL0V4dEdTdGF0ZQovQk0gL05vcm1hbAovY2EgMQo+PgplbmRvYmoKMTAgMCBvYmoKPDwKL1R5cGUgL0V4dEdTdGF0ZQovQk0gL05vcm1hbAovQ0EgMQo+PgplbmRvYmoKMTEgMCBvYmoKPDwKL0ZpbHRlciAvRmxhdGVEZWNvZ"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaComunicazionePec"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"casella_pec":"mypec@pec.com","cf":"RSSMRA80A01L117D","nome":"mario","cognome":"rossi","qualifica":"LEGALE_RAPPRESENTANTE","email":"mail@domain.com","cellulare":"34xxxxx018","ragione_sociale":"azienda test","cf_piva":"12345678910","comune":"roma","provincia":"RM","callback":false,"stato":"documenti_caricati","codice_registro_imprese":"openapi","documenti_registro_imprese":["60dc8da86c8b04624536bbb2_0_registro_imprese.p7m"],"owner":"mail@domain.com","timestamp":1625067055,"id":"60dc8da86c8b04624536bbb2"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":353,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":354,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"you can only upload documents when stato is 'in_attesa_di_documenti'","error":355,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"documenti required","error":356,"data":null}}}}}}},"/pec/{id}/modulo_attivazione":{"get":{"tags":["Modulistica"],"summary":"Download the activation form","description":"This method allows you to directly download the activation form of a certified e-mail. Once compiled and signed it will be passed in the form of a base 64 encoded string using the PATCH/pec/{id}/attivazione method together with an identity document.","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f7b2e323a716857774a4373"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string","example":"Invalid id"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string","example":"no request matches this id:"}}}},"406":{"description":"Not Acceptable","content":{"text/plain":{"schema":{"type":"string","example":"you cannot activate conservation if you do not first activate a pec"}}}}}}},"/pec/{id}/modulo_conservazione":{"get":{"tags":["Modulistica"],"summary":"Download the activation form","description":"This method allows you to directly download the storage activation form for a certified e-mail. once compiled and signed it will be passed in the form of a base 64 encoded string using the PATCH/pec/{id}/conservazione method together with an identity document.","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f7b2e323a716857774a4373"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string","example":"Invalid id"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string","example":"no request matches this id:"}}}},"406":{"description":"Not Acceptable","content":{"text/plain":{"schema":{"type":"string","example":"you cannot activate conservation if you do not first activate a pec"}}}}}}},"/comunica_pec/{id}/procura_registro_imprese":{"get":{"tags":["Modulistica"],"summary":"Download the power of attorney","description":"This method allows you to download the pec communication form to the business register. Once digitally signed in p7m format it will be passed in the form of a base 64 encoded string using the PATCH/comunica_pec/{id} method.","parameters":[{"name":"id","in":"path","description":"request id","required":true,"schema":{"type":"string","example":"5f7b2e323a716857774a4373"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string","example":"Invalid id"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string","example":"no request matches this id:"}}}},"406":{"description":"Not Acceptable","content":{"text/plain":{"schema":{"type":"string","example":"you cannot download this module, it doesn't exist yet"}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}