{"openapi":"3.0.0","info":{"description":"The API provides endpoints for accessing real estate data, including comparable property data and property valuation information. Users can query the API using various criteria such as property type, location, and contract type to retrieve relevant data.  Overall, the API simplifies access to real estate data, making it easy for developers to integrate property information into their applications.\n\n\n**IN SANDBOX**\n\n In the sandbox environment, consistent test data will be returned for API requests. This ensures predictability and facilitates testing and development processes. Users can rely on the sandbox environment to receive the same predefined data for various scenarios, allowing them to validate their application's functionality reliably without impacting live data or systems.\n","version":"1.0.0","title":"Realestate","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://realestate.openapi.com","description":"Production"},{"url":"https://test.realestate.openapi.com","description":"Sandbox"}],"tags":[{"name":"Real Market Value","description":"The IT-rmv  Retrieve real market value data for properties.\n"},{"name":"Square Meter Value","description":"The IT-smq  Retrieve square meter data for properties.\n"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"sqm_value_start":{"type":"object","properties":{"nome":{"type":"string","description":"Name of the location or address of the property"},"citta":{"type":"string","description":"Name of the city"},"cod_cat":{"type":"string","description":"Category code of the property (Codice Belfiore del comune)"},"provincia":{"type":"string","description":"Province of the property"},"regione":{"type":"string","description":"Name of the region"},"fascia":{"type":"string","description":"Location range of the property"},"address":{"type":"string","description":"Complete address of the property"},"formatted":{"type":"string","description":"Formatted address of the property"},"loc2011":{"type":"string","description":"Localization identifier"},"coordinate":{"type":"object","properties":{"lat":{"type":"number","format":"float","description":"Latitude of the property"},"lng":{"type":"number","format":"float","description":"Longitude of the property"}}},"immobile":{"type":"object","properties":{"type":{"type":"string","description":"Type of property"},"label":{"type":"string","description":"Label of the property type"},"id":{"type":"integer","description":"Identifier of the property type"}}},"quotazione":{"type":"object","properties":{"min":{"type":"number","format":"float","description":"Minimum value of the quotation"},"max":{"type":"number","format":"float","description":"Maximum value of the quotation"},"med":{"type":"string","description":"Average value of the quotation"},"type":{"type":"string","description":"Type of contract for the quotation"},"anno":{"type":"integer","description":"Year of the quotation"},"semestre":{"type":"integer","description":"Semester of the quotation"}}},"timestamp":{"type":"integer","description":"Timestamp of the response"},"success":{"type":"boolean","description":"Indicator of the success of the request"},"message":{"type":"string","description":"Success or error message"},"error":{"type":"string","description":"Error message"}}},"rmv":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"units":{"type":"array","description":"Array containing information about individual properties.","items":{"type":"object","properties":{"belfior_code":{"type":"string","description":"Belfior code of the property."},"town":{"type":"string","description":"Town where the property is located."},"property_sale_date":{"type":"string","format":"date","description":"Date of property sale."},"property_sale_year":{"type":"string","description":"Year of property sale."},"property_sale_month":{"type":"string","description":"Month of property sale."},"property_type":{"type":"string","description":"Type of property (e.g., Residential)."},"omi_zone":{"type":"string","description":"OMI zone code."},"property_type_detail":{"type":"string","description":"Detailed description of property type."},"type":{"type":"string","description":"Type of property (e.g., Residential)."},"category_cat":{"type":"string","description":"Category of the property."},"market_sector":{"type":"string","description":"Market sector of the property."},"keycode":{"type":"string","description":"Unique identifier/key code of the property."},"year":{"type":"string","description":"Year of the property."},"office_code":{"type":"string","description":"Registry Office Code."},"total_property":{"type":"integer","description":"Total number of properties."},"id_property":{"type":"integer","description":"ID property."},"price":{"type":"number","description":"Price of the property."},"mortgage_guarantee":{"type":"integer","description":" The property mortgage guarantee refers to a portion of the property's value secured for a loan. It acts as insurance for the lender in case the borrower defaults on the loan repayment, ensuring they can recover their investment by selling the property."},"latitude":{"type":"number","format":"float","description":"Latitude coordinate of the property."},"longitude":{"type":"number","format":"float","description":"Longitude coordinate of the property."},"address":{"type":"string","description":"Address of the property."},"property_sqm":{"type":"number","description":"Square meters of the property."},"region":{"type":"string","description":"Region where the property is located."},"province":{"type":"string","description":"Province where the property is located."},"area":{"type":"string","description":"Area where the property is located."},"property_sqm_total":{"type":"number","description":"Total square meters of the property."},"estimate_property_sqm":{"type":"number","description":"Estimated square meters of the property."},"surface":{"type":"number","description":"Surface area of the property."}}}},"keycode":{"type":"string","description":"Unique identifier/key code of the property."},"price":{"type":"number","description":"Price of the property."},"property_type":{"type":"string","description":"Type of property (e.g., Residential)."},"property_sale_date":{"type":"string","format":"date","description":"Date of property sale."},"latitude":{"type":"number","format":"float","description":"Latitude coordinate of the property."},"longitude":{"type":"number","format":"float","description":"Longitude coordinate of the property."},"property_sqm":{"type":"number","description":"Square meters of the property."},"distance_form":{"type":"number","format":"float","description":"Distance from a reference point."}}}}}},"sqm_value_advanced":{"type":"object","properties":{"data":{"type":"object","properties":{"nome":{"type":"string","description":"Name of the location or address of the property"},"citta":{"type":"string","description":"Name of the city"},"cod_cat":{"type":"string","description":"Category code of the property (Codice Belfiore del comune)"},"provincia":{"type":"string","description":"Province of the property"},"regione":{"type":"string","description":"Name of the region"},"fascia":{"type":"string","description":"Location range of the property"},"address":{"type":"string","description":"Complete address of the property"},"formatted":{"type":"string","description":"Formatted address of the property"},"loc2011":{"type":"string","description":"Localization identifier"},"coordinate":{"type":"object","properties":{"lat":{"type":"number","format":"float","description":"Latitude of the property"},"lng":{"type":"number","format":"float","description":"Longitude of the property"}}},"immobile":{"type":"object","properties":{"type":{"type":"string","description":"Type of property"},"label":{"type":"string","description":"Label of the property type"},"id":{"type":"integer","description":"Identifier of the property type"}}},"quotazione":{"type":"object","properties":{"min":{"type":"number","format":"float","description":"Minimum value of the quotation"},"max":{"type":"number","format":"float","description":"Maximum value of the quotation"},"med":{"type":"number","format":"float","description":"Average value of the quotation"},"type":{"type":"string","description":"Type of contract for the quotation"},"anno":{"type":"integer","description":"Year of the quotation"},"semestre":{"type":"integer","description":"Semester of the quotation"}}},"ripartizione_annunci":{"type":"object","properties":{"vendita":{"type":"object","description":"Distribution of advertisements for sales","additionalProperties":{"type":"object","properties":{"tipologia":{"type":"string","description":"Type of property advertised for sale"},"percentuale":{"type":"number","format":"float","description":"Percentage of advertisements for this property type"}}}},"affitto":{"type":"object","description":"Distribution of advertisements for rentals","additionalProperties":{"type":"object","properties":{"tipologia":{"type":"string","description":"Type of property advertised for rent"},"percentuale":{"type":"number","format":"float","description":"Percentage of advertisements for this property type"}}}}}},"dimensioni":{"type":"array","description":"Distribution of property sizes","items":{"type":"object","properties":{"label":{"type":"string","description":"Size range label"},"percentuale":{"type":"number","format":"float","description":"Percentage of properties within this size range"}}}},"capoluoghi_vendite_zona":{"type":"object","description":"Sales statistics for the area","additionalProperties":{"type":"object","properties":{"num_abitazioni_zona":{"type":"string","description":"Number of properties in the area"},"numero_abitazioni_vendute":{"type":"string","description":"Number of properties sold"},"perc_variazione_annuale":{"type":"string","description":"Percentage change from the previous year"},"dinamicita_mercato_residenziale":{"type":"string","description":"Residential market dynamism"}}}},"demografico":{"type":"object","description":"Demographic data for the area","properties":{"pop":{"type":"object","description":"Population statistics","properties":{"media_componenti_famiglia":{"type":"string","description":"Average family size"},"dimensione_nuclei_familiari":{"type":"string","description":"Family size distribution"},"livello_anzianita":{"type":"string","description":"Elderly population level"},"livello_istruzione":{"type":"string","description":"Education level"},"livello_disoccupazione":{"type":"string","description":"Unemployment level"}}},"stock":{"type":"object","description":"Housing stock statistics","properties":{"abitanti_per_edificio":{"type":"string","description":"Residents per building"},"abitazioni_per_edificio":{"type":"string","description":"Houses per building"},"prc_edifici_produttivi_commerciali":{"type":"string","description":"Percentage of commercial buildings"},"prc_edifici_residenziali":{"type":"string","description":"Percentage of residential buildings"},"mq_abitazione_media":{"type":"string","description":"Average house size"},"prc_abitazioni_di_proprieta":{"type":"string","description":"Percentage of owned houses"},"prc_abitazioni_vuote_o_2_case":{"type":"string","description":"Percentage of vacant houses or second homes"}}},"geo":{"type":"object","description":"Geographic data","properties":{"id":{"type":"string","description":"Geographic ID"},"loc2011":{"type":"string","description":"Localization identifier"},"id_provincia":{"type":"string","description":"Province identifier"},"cod_cat":{"type":"string","description":"Category code"},"tipo_localita":{"type":"string","description":"Type of locality"},"nome_localita":{"type":"string","description":"Name of the locality"},"altitudine":{"type":"string","description":"Altitude"}}},"rischio_sismico":{"type":"string","description":"Seismic risk"},"capoluogo":{"type":"array","description":"Headquarters statistics","items":{"type":"object","properties":{"media_num_abitazioni_zona":{"type":"string","description":"Average number of properties in the area"},"media_numero_abitazioni_vendute":{"type":"string","description":"Average number of properties sold"},"dinamicita_mercato_residenziale":{"type":"string","description":"Residential market dynamism"}}}}}},"tempistiche":{"type":"array","description":"Timing statistics","items":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","description":"Size range label"},"media_giorni":{"type":"integer","description":"Average days to complete transaction"}}}}}}},"success":{"type":"boolean","description":"Indicator of the success of the request"},"message":{"type":"string","description":"Success or error message"},"error":{"type":"string","description":"Error message"}}}}},"paths":{"/IT-rmv":{"post":{"tags":["Real Market Value"],"summary":"Retrieve property transaction details and  information","description":"The RMV endpoint allows users to query real estate properties based on various criteria. Users can search by property type, specifying whether they are looking for residential, non-residential, or pertinential properties. Additionally, users can define search parameters such as search radius, minimum and maximum price range, and the period of interest, including start and end dates. Furthermore, users can filter properties by contract type using the provided catastral codes. Searches can be conducted either by address or geographic coordinates, offering flexibility in how users locate properties.\n\n  `immobili_residenziali`:\n  The codes provided represent different categories of residential properties. These codes are used to identify and distinguish various types of properties intended for residential purposes, such as apartments, villas, cottages, and other residential dwellings.\n  \n  **In this category fall all the codes listed below**:\n  \n \n  **A01\n  A02\n  A03\n  A04\n  A05\n  A06\n  A07\n  A08\n  A09\n  A11**\n  \n  \n  `immobili_non_residenziali`:\n  The codes provided represent different categories of non-residential properties. These codes are used to identify and distinguish various types of properties not intended for residential purposes, such as commercial buildings, offices, warehouses, and industrial facilities.\n   \n  **In this category fall all the codes listed below**:\n  \n  \n  **A10\n  C01\n  C02\n  C03\n  C04\n  C06\n  D01\n  D02\n  D03\n  D05\n  D06\n  D07\n  D08\n  D10**\n  \n  `pertinenziali`:\n  The codes provided represent different categories of properties classified as 'pertinenziali'. These properties are closely related or connected to residential or non-residential properties and may include garages, parking spaces, and other auxiliary structures.\n   \n  **In this category fall all the codes listed below**:\n  \n \n  **C02\n  C06**\n\nThe mandatory fields are:\n- **property_type**\n- **address** or **latitude** and **longitude** \n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"property_type":{"type":"string","description":"Description of the property type","enum":["immobili_residenziali","immobili_non_residenziali","pertinenziali"]},"address":{"type":"string","description":"Property address. It must be composed of at least 5 alphanumeric characters and cannot exceed 255 characters.","example":"via schivardi 6, ROMA"},"latitude":{"type":"string","description":"Latitude coordinate in Decimal-degree(WGS84).","example":41.237037},"longitude":{"type":"string","description":"Longitude coordinate in Decimal-degree(WGS84).","example":16.502849},"search_radius":{"type":"integer","description":"Search area expressed in meters. Minimum value: 50, maximum value: 20000. Default: 250 if not declared.","minimum":50,"maximum":20000,"default":250,"example":250},"min_amount":{"type":"integer","description":"Minimum search amount in euros. Integers without punctuation. Not used as a selective criterion if not declared.","example":100000},"max_amount":{"type":"integer","description":"Maximum search amount in euros. Integers without punctuation. Not used as a selective criterion if not declared.","example":900000},"start_year":{"type":"integer","description":"Start year of the search. Integer from 2019. If not declared, the last 2 years are considered.","minimum":2019,"example":2019},"start_month":{"type":"integer","description":"Start month of the search. Integer value between 1 and 12. If not declared, the current month of the last 2 years is considered.","example":"01"},"end_year":{"type":"integer","description":"End year of the search. Integer corresponding to the end year of the search. If not declared, the last 2 years are considered.","example":2023},"end_month":{"type":"string","description":"End month of the search. Integer value between 1 and 12. If not declared, the current month of the last 2 years is considered.","example":"01"},"cc":{"type":"array","items":{"type":"string","description":"Contract type selected from the list in description es: A10 C01 C02 C03 C04              C06 D01 D02 D03 D05 D06 D07 D08 D10.\n","example":"A01"}}},"required":["address","property_type"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/rmv"}},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"example":{"data":[{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-02-01","property_sale_year":"2023","property_sale_month":"2","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C02","market_sector":"PER","keycode":"cd06ee2fef0b46dbbcf86569aae0586c","year":"2023","office_code":"RM10","total_property":3,"id_property":1,"price":439500,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI, 36","property_sqm":6,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":157,"estimate_property_sqm":1.5,"surface":6},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-02-01","property_sale_year":"2023","property_sale_month":"2","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"cd06ee2fef0b46dbbcf86569aae0586c","year":"2023","office_code":"RM10","total_property":3,"id_property":2,"price":439500,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI, 36","property_sqm":31,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":157,"estimate_property_sqm":15.5,"surface":31},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-02-01","property_sale_year":"2023","property_sale_month":"2","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"cd06ee2fef0b46dbbcf86569aae0586c","year":"2023","office_code":"RM10","total_property":3,"id_property":3,"price":439500,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI, 36","property_sqm":140,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":157,"estimate_property_sqm":140,"surface":140}],"keycode":"cd06ee2fef0b46dbbcf86569aae0586c","price":439500,"property_type":"Residenziale singolo","property_sale_date":"2023-02-01","latitude":41.8057123,"longitude":12.4385838,"property_sqm":157,"distance_form":0.017519356902882553},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-10-01","property_sale_year":"2023","property_sale_month":"10","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C02","market_sector":"PER","keycode":"f2863b325e9c4908a73099c1010ed9c8","year":"2023","office_code":"RM10","total_property":2,"id_property":1,"price":148769,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI 000010","property_sqm":8,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":128,"estimate_property_sqm":2,"surface":8},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-10-01","property_sale_year":"2023","property_sale_month":"10","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"f2863b325e9c4908a73099c1010ed9c8","year":"2023","office_code":"RM10","total_property":2,"id_property":2,"price":148769,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI 000010","property_sqm":126,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":128,"estimate_property_sqm":126,"surface":126}],"keycode":"f2863b325e9c4908a73099c1010ed9c8","price":148769,"property_type":"Residenziale singolo","property_sale_date":"2023-10-01","latitude":41.8057123,"longitude":12.4385838,"property_sqm":128,"distance_form":0.017519356902882553},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-05-01","property_sale_year":"2023","property_sale_month":"5","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"de9126af2749423b819cac2b0eea8967","year":"2023","office_code":"RM10","total_property":2,"id_property":1,"price":450000,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI 000010","property_sqm":16,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":146,"estimate_property_sqm":8,"surface":16},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-05-01","property_sale_year":"2023","property_sale_month":"5","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"de9126af2749423b819cac2b0eea8967","year":"2023","office_code":"RM10","total_property":2,"id_property":2,"price":450000,"mortgage_guarantee":1,"latitude":41.8057123,"longitude":12.4385838,"address":"VIA ANTONIO SCHIVARDI 000010","property_sqm":138,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":146,"estimate_property_sqm":138,"surface":138}],"keycode":"de9126af2749423b819cac2b0eea8967","price":450000,"property_type":"Residenziale singolo","property_sale_date":"2023-05-01","latitude":41.8057123,"longitude":12.4385838,"property_sqm":146,"distance_form":0.017519356902882553},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2022-10-01","property_sale_year":"2022","property_sale_month":"10","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"44dc00bdf3034f068938c9bc987a80be","year":"2022","office_code":"RM10","total_property":2,"id_property":2,"price":530000,"mortgage_guarantee":1,"latitude":41.8060644,"longitude":12.4384177,"address":"VIA ANTONIO SCHIVARDI, 7","property_sqm":170,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":186,"estimate_property_sqm":170,"surface":170},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2022-10-01","property_sale_year":"2022","property_sale_month":"10","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"44dc00bdf3034f068938c9bc987a80be","year":"2022","office_code":"RM10","total_property":2,"id_property":1,"price":530000,"mortgage_guarantee":1,"latitude":41.8060644,"longitude":12.4384177,"address":"VIA ANTONIO SCHIVARDI, 7","property_sqm":32,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":186,"estimate_property_sqm":16,"surface":32}],"keycode":"44dc00bdf3034f068938c9bc987a80be","price":530000,"property_type":"Residenziale singolo","property_sale_date":"2022-10-01","latitude":41.8060644,"longitude":12.4384177,"property_sqm":186,"distance_form":0.02519723025055234},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-01-01","property_sale_year":"2023","property_sale_month":"1","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"105fdd509ed84c05a5395b4eef6c652b","year":"2023","office_code":"RM10","total_property":3,"id_property":1,"price":535000,"mortgage_guarantee":1,"latitude":41.8056608,"longitude":12.4380928,"address":"VIA ILDEBRANDO VIVANTI, 174","property_sqm":12,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":171.5,"estimate_property_sqm":6,"surface":12},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-01-01","property_sale_year":"2023","property_sale_month":"1","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"105fdd509ed84c05a5395b4eef6c652b","year":"2023","office_code":"RM10","total_property":3,"id_property":2,"price":535000,"mortgage_guarantee":1,"latitude":41.8056608,"longitude":12.4380928,"address":"VIA ILDEBRANDO VIVANTI, 174","property_sqm":17,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":171.5,"estimate_property_sqm":8.5,"surface":17},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-01-01","property_sale_year":"2023","property_sale_month":"1","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"105fdd509ed84c05a5395b4eef6c652b","year":"2023","office_code":"RM10","total_property":3,"id_property":3,"price":535000,"mortgage_guarantee":1,"latitude":41.8056608,"longitude":12.4380928,"address":"VIA ILDEBRANDO VIVANTI, 174","property_sqm":157,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":171.5,"estimate_property_sqm":157,"surface":157}],"keycode":"105fdd509ed84c05a5395b4eef6c652b","price":535000,"property_type":"Residenziale singolo","property_sale_date":"2023-01-01","latitude":41.8056608,"longitude":12.4380928,"property_sqm":171.5,"distance_form":0.03637843321278157},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-01-01","property_sale_year":"2023","property_sale_month":"1","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C02","market_sector":"PER","keycode":"e5401ba77592470dbd9eff40dfa7b1eb","year":"2023","office_code":"RM10","total_property":2,"id_property":1,"price":473000,"mortgage_guarantee":1,"latitude":41.8065811,"longitude":12.4389099,"address":"VIALE BEATA VERGINE DEL CARMELO 000143","property_sqm":12,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":148,"estimate_property_sqm":3,"surface":12},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-01-01","property_sale_year":"2023","property_sale_month":"1","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"e5401ba77592470dbd9eff40dfa7b1eb","year":"2023","office_code":"RM10","total_property":2,"id_property":2,"price":473000,"mortgage_guarantee":1,"latitude":41.8065811,"longitude":12.4389099,"address":"VIALE BEATA VERGINE DEL CARMELO 000143","property_sqm":145,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":148,"estimate_property_sqm":145,"surface":145}],"keycode":"e5401ba77592470dbd9eff40dfa7b1eb","price":473000,"property_type":"Residenziale singolo","property_sale_date":"2023-01-01","latitude":41.8065811,"longitude":12.4389099,"property_sqm":148,"distance_form":0.09045102193209242},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2022-05-01","property_sale_year":"2022","property_sale_month":"5","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"RM102022050412","year":"2022","office_code":"RM10","total_property":2,"id_property":1,"price":170247,"mortgage_guarantee":1,"latitude":41.8065811,"longitude":12.4389099,"address":"VIALE BEATA VERGINE DEL CARMELO 000143","property_sqm":11,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO  VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":162.5,"estimate_property_sqm":5.5,"surface":11},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2022-05-01","property_sale_year":"2022","property_sale_month":"5","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"RM102022050412","year":"2022","office_code":"RM10","total_property":2,"id_property":2,"price":170247,"mortgage_guarantee":1,"latitude":41.8065811,"longitude":12.4389099,"address":"VIALE BEATA VERGINE DEL CARMELO 000181","property_sqm":157,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO  VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":162.5,"estimate_property_sqm":157,"surface":157}],"keycode":"RM102022050412","price":170247,"property_type":"Residenziale singolo","property_sale_date":"2022-05-01","latitude":41.8065811,"longitude":12.4389099,"property_sqm":162.5,"distance_form":0.09045102193209242},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2022-09-01","property_sale_year":"2022","property_sale_month":"9","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"47434eebd71a445dbe26103c975f80e9","year":"2022","office_code":"RM10","total_property":1,"id_property":1,"price":172732,"mortgage_guarantee":1,"latitude":41.8065811,"longitude":12.4389099,"address":"VIALE BEATA VERGINE DEL CARMELO, 149","property_sqm":154,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":154,"estimate_property_sqm":154,"surface":154}],"keycode":"47434eebd71a445dbe26103c975f80e9","price":172732,"property_type":"Residenziale singolo","property_sale_date":"2022-09-01","latitude":41.8065811,"longitude":12.4389099,"property_sqm":154,"distance_form":0.09045102193209242},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2022-09-01","property_sale_year":"2022","property_sale_month":"9","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"30a1db4b89d8479685ce904f399ec572","year":"2022","office_code":"RM10","total_property":1,"id_property":1,"price":385000,"mortgage_guarantee":1,"latitude":41.8065811,"longitude":12.4389099,"address":"VIALE BEATA VERGINE DEL CARMELO, 149","property_sqm":155,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":155,"estimate_property_sqm":155,"surface":155}],"keycode":"30a1db4b89d8479685ce904f399ec572","price":385000,"property_type":"Residenziale singolo","property_sale_date":"2022-09-01","latitude":41.8065811,"longitude":12.4389099,"property_sqm":155,"distance_form":0.09045102193209242},{"units":[{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-06-01","property_sale_year":"2023","property_sale_month":"6","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"A02","market_sector":"RES","keycode":"3d03e256828048b58ce75197def2fb03","year":"2023","office_code":"RM10","total_property":2,"id_property":2,"price":480000,"mortgage_guarantee":1,"latitude":41.8050856,"longitude":12.4391081,"address":"VIA ANTONIO SCHIVARDI 000045","property_sqm":171,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":187,"estimate_property_sqm":171,"surface":171},{"belfior_code":"H501","town":"ROMA","property_sale_date":"2023-06-01","property_sale_year":"2023","property_sale_month":"6","property_type":"Residenziale","omi_zone":"D82","property_type_detail":"Residenziale singolo","type":"Residenziale","category_cat":"C06","market_sector":"PER","keycode":"3d03e256828048b58ce75197def2fb03","year":"2023","office_code":"RM10","total_property":2,"id_property":1,"price":480000,"mortgage_guarantee":1,"latitude":41.8050856,"longitude":12.4391081,"address":"VIA ANTONIO SCHIVARDI 000045","property_sqm":32,"region":"Lazio","province":"RM","area":"EUR MOSTACCIANO - VIALE BEATA VERGINE DEL CARMELO","property_sqm_total":187,"estimate_property_sqm":16,"surface":32}],"keycode":"3d03e256828048b58ce75197def2fb03","price":480000,"property_type":"Residenziale singolo","property_sale_date":"2023-06-01","latitude":41.8050856,"longitude":12.4391081,"property_sqm":187,"distance_form":0.09961142405776394}],"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"417":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"service temoporarily not available","error":201,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"Value address not set or invalid length for address","error":228,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/IT-sqm_value_start":{"post":{"tags":["Square Meter Value"],"summary":"Retrieve basic property information","description":"The SQM endpoint provides users with detailed information on the value per square meter of properties in a given region. Through parameters such as property type, location, and contract, users can obtain precise data to assess price trends and plan strategic real estate investments. The 'type' parameter offers a selection of property types, such as residential buildings, offices, shops, warehouses, and more, each associated with a unique numerical ID.\n\nThe 'type' parameter allows selection from various property types, including:\n- 1: Ville e Villini\n- 5: Negozi\n- 6: Uffici\n- 7: Capannoni tipici\n- 8: Capannoni industriali\n- 9: Magazzini\n- 10: Laboratori\n- 13: Box e Autorimesse\n- 14: Posto auto coperti\n- 15: Posto auto scoperti\n- 19: Abitazioni in stabili signorili\n- 20: Abitazioni in stabili civili\n- 21: Abitazioni in stabili economici\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Property address. It must be composed of at least 5 alphanumeric characters and cannot exceed 255 characters.","example":"via schivardi 6, ROMA"},"for":{"type":"string","description":"'Contract type: 'rent' for Rent, 'sale' for Sale'","enum":["rent","sale"]},"type":{"type":"number","description":"Property type: '20' for Residential Buildings, '19' for Luxury Residential Buildings, '21' for Affordable Residential Buildings, '1' for Villas and Cottages, '6' for Offices, '5' for Shops, '13' for Garages and Parking Spaces, '14' for Covered Parking Spaces, '15' for Uncovered Parking Spaces, '9' for Warehouses, '10' for Laboratories, '7' for Typical Warehouses, '8' for Industrial Warehouses","enum":[20,19,21,1,6,5,13,14,15,9,10,7,8]}},"required":["for","type","address"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/sqm_value_start"}},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"example":{"data":{"nome":"Eur Mostacciano Viale Beata Vergine Del Carmelo","citta":"Roma","cod_cat":"H501","provincia":"RM","regione":"Lazio","fascia":"semicentrale","address":"Via Antonio Schivardi, 6, 00144 Roma RM, Italia","formatted":"Via Antonio Schivardi, 6, 00144 Roma RM, Italia","loc2011":"5809112","coordinate":{"lat":41.80584,"lng":12.43846},"immobile":{"type":"Abitazioni in stabili civili","label":"Valori di Affitto Abitazioni in stabili civili al Mq","id":20},"quotazione":{"min":10.95,"max":16.03,"med":"13.49","type":"rent","anno":2023,"semestre":2},"timestamp":1713870397,"success":true,"message":"","error":null}}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"service temoporarily not available","error":202,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"Value address not set or invalid length for address","error":200,"data":null}}}}},"security":[{"bearerAuth":[]}]}},"/IT-sqm_value_advanced":{"post":{"tags":["Square Meter Value"],"summary":"Retrieve detailed property information including sales and demographic data","description":"The SQM Advanced endpoint enhances the standard SQM service by providing comprehensive insights into property valuation trends and market dynamics. In addition to the core parameters available in the basic SQM endpoint, the Advanced endpoint offers additional data fields, including:\n\nDetailed breakdowns of property sales distribution by type, facilitating a deeper understanding of market segmentation.\n\nDemographic statistics such as population density, household composition, education levels, and employment rates, offering valuable socio-economic context for investment decisions.\n\nGeographic information including altitude, local administrative divisions, and seismic risk assessment, providing crucial geographical insights for risk management and location-based strategies.\n\nTimeliness metrics indicating average selling durations across different property size categories, aiding in forecasting and decision-making processes.\n\nThis enriched dataset empowers users with comprehensive analytics to make informed real estate investment decisions and optimize portfolio strategies.\n\nThe 'type' parameter allows selection from various property types, including:\n- 1: Ville e Villini\n- 5: Negozi\n- 6: Uffici\n- 7: Capannoni tipici\n- 8: Capannoni industriali\n- 9: Magazzini\n- 10: Laboratori\n- 13: Box e Autorimesse\n- 14: Posto auto coperti\n- 15: Posto auto scoperti\n- 19: Abitazioni in stabili signorili\n- 20: Abitazioni in stabili civili\n- 21: Abitazioni in stabili economici\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Property address. It must be composed of at least 5 alphanumeric characters and cannot exceed 255 characters.","example":"via schivardi 6, ROMA"},"for":{"type":"string","description":"'Contract type: 'rent' for Rent, 'sale' for Sale'","enum":["rent","sale"]},"type":{"type":"number","description":"Property type: '20' for Residential Buildings, '19' for Luxury Residential Buildings, '21' for Affordable Residential Buildings, '1' for Villas and Cottages, '6' for Offices, '5' for Shops, '13' for Garages and Parking Spaces, '14' for Covered Parking Spaces, '15' for Uncovered Parking Spaces, '9' for Warehouses, '10' for Laboratories, '7' for Typical Warehouses, '8' for Industrial Warehouses","enum":[20,19,21,1,6,5,13,14,15,9,10,7,8]}},"required":["for","type","address"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/sqm_value_advanced"}},"success":{"type":"boolean","description":"Indicates if the request was successful."},"message":{"type":"string","description":"A message related to the request."},"error":{"type":"number","description":"An error message if the request encountered an error, otherwise null."}}},"example":{"data":{"nome":"Eur Mostacciano Viale Beata Vergine Del Carmelo","citta":"Roma","cod_cat":"H501","provincia":"RM","regione":"Lazio","fascia":"semicentrale","address":"via schivardi 6 Roma","formatted":"Via Antonio Schivardi, 6, 00144 Roma RM, Italia","loc2011":"5809112","coordinate":{"lat":41.80584,"lng":12.43846},"immobile":{"type":"Abitazioni in stabili civili","label":"Valori di Vendita Abitazioni in stabili civili al Mq","id":20},"quotazione":{"min":2371,"max":3476,"med":2924,"type":"sale"},"ripartizione_annunci":{"vendita":{"1":{"tipologia":"Appartamenti","percentuale":75.52},"2":{"tipologia":"Locali ed Uffici","percentuale":12.590000000000002},"12":{"tipologia":"Ville e Villini","percentuale":6.29},"14":{"tipologia":"Box e Garage","percentuale":5.59}},"affitto":{"1":{"tipologia":"Appartamenti","percentuale":51.22},"2":{"tipologia":"Locali ed Uffici","percentuale":36.59},"14":{"tipologia":"Box e Garage","percentuale":12.2}}},"dimensioni":[{"label":"0-50 Mq","percentuale":12.04},{"label":"50-85 Mq","percentuale":27.78},{"label":"85-115 Mq","percentuale":12.96},{"label":"115-145 Mq","percentuale":11.11},{"label":"Oltre 145 Mq","percentuale":36.11}],"capoluoghi_vendite_zona":{"2019":{"num_abitazioni_zona":"4451","numero_abitazioni_vendute":"190","perc_variazione_annuale":"67.770","dinamicita_mercato_residenziale":"molto alta"},"2020":{"num_abitazioni_zona":"4451","numero_abitazioni_vendute":"105","perc_variazione_annuale":"-44.65","dinamicita_mercato_residenziale":"Medio alta"},"2021":{"num_abitazioni_zona":"4451","numero_abitazioni_vendute":"144","perc_variazione_annuale":"37.086","dinamicita_mercato_residenziale":"alta"},"2022":{"num_abitazioni_zona":"4679","numero_abitazioni_vendute":"139","perc_variazione_annuale":"-3.4722","dinamicita_mercato_residenziale":"medio alta"}},"demografico":{"pop":{"media_componenti_famiglia":"2.19","dimensione_nuclei_familiari":"medi","livello_anzianita":"medio basso","livello_istruzione":"superiore alla media","livello_disoccupazione":"bassa"},"stock":{"abitanti_per_edificio":"18.41","abitazioni_per_edificio":"8.29","prc_edifici_produttivi_commerciali":"17.000","prc_edifici_residenziali":"81.000","mq_abitazione_media":"100.02","prc_abitazioni_di_proprieta":"73.000","prc_abitazioni_vuote_o_2_case":"7.000"},"geo":{"id":"282","loc2011":"5809112","id_provincia":"86","cod_cat":"H501","tipo_localita":"Municipio","nome_localita":"XII Municipio","altitudine":"0"},"rischio_sismico":"medio","capoluogo":[{"media_num_abitazioni_zona":"4586.2857","media_numero_abitazioni_vendute":"139.4286","dinamicita_mercato_residenziale":"alta"}]},"tempistiche":[[{"label":"0 50 Mq","media_giorni":169},{"label":"50 85 Mq","media_giorni":178},{"label":"85 115 Mq","media_giorni":150},{"label":"115 145 Mq","media_giorni":161},{"label":"Oltre 145 Mq","media_giorni":145}]],"timestamp":1713871388},"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":611,"data":null}}}},"417":{"description":"Expectation Failed","content":{"application/json":{"example":{"success":false,"message":"service temoporarily not available","error":202,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"Value address not set or invalid length for address","error":200,"data":null}}}}},"security":[{"bearerAuth":[]}]}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"}}