{"openapi":"3.0.0","info":{"description":"Web service that allows you to obtain a crif search on a person or a company and personal information about a natural or legal person such as personal data, telephones and the presence of negative events.","version":"1.0.0","title":"Risk","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://risk.openapi.com","description":"Production"},{"url":"https://test.risk.openapi.com","description":"Sandbox"}],"tags":[{"name":"Persona","description":"Reports and Certificates on a Person"},{"name":"Azienda","description":"Reports and Certificates on a Company"},{"name":"CHECK","description":"Personal information about a natural or legal person"},{"name":"Creditscore","description":"The service exclusively verifies tax codes or VAT numbers registered with the Chamber of Commerce."},{"name":"Kyc","description":"Know Your Customer"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"BodyPostPersonaEu":{"type":"object","properties":{"name":{"type":"string","description":"first name"},"surname":{"type":"string","description":"last name"},"taxCode":{"type":"string","description":"taxCode / italian cf (codice fiscale)"},"callback":{"$ref":"#/components/schemas/Callback"},"textPdf":{"type":"string","description":"description in cover footer pdf"},"titlePdf":{"type":"string","description":"Title cover  pdf"},"logoPdf":{"type":"string","description":"URL for personal cover logo"}},"required":["name","surname","taxCode"]},"BodyPostAziendaEu":{"type":"object","properties":{"companyName":{"type":"string","description":"company's name"},"taxCode":{"type":"string","description":"taxCode / italian cf (codice fiscale)"},"vatCode":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"textPdf":{"type":"string","description":"description in cover footer pdf"},"titlePdf":{"type":"string","description":"Title cover  pdf"},"logoPdf":{"type":"string","description":"URL for personal cover logo"}},"required":["companyName","taxCode"]},"BodyPostPersona":{"type":"object","properties":{"first_name":{"type":"string","description":"first name"},"last_name":{"type":"string","description":"last name"},"email":{"type":"string","description":"email","format":"email"},"birth_date":{"type":"string","description":"birth date","format":"date"},"gender":{"type":"string","description":"gender","enum":["M","F"]},"fiscal_code":{"type":"string","description":"fiscal code"},"birth_city":{"type":"string","description":"birth city"},"birth_province":{"type":"string","description":"birth province"},"birth_country":{"type":"string","description":"birth country"},"residence_address":{"type":"string","description":"residence address"},"residence_street_number":{"type":"string","description":"residence street number"},"residence_city":{"type":"string","description":"residence city"},"residence_postal_code":{"type":"string","description":"residence postal code"},"residence_province":{"type":"string","description":"residence province"},"residence_country":{"type":"string","description":"residence country"},"document_type":{"type":"string","description":"document type","enum":["IDENTITY_CARD","DRIVING_LICENSE","PASSPORT"]},"document_number":{"type":"string","description":"document number"},"release_date":{"type":"string","description":"document release date","format":"date"},"expiration_date":{"type":"string","description":"document expiration date","format":"date"},"release_city":{"type":"string","description":"document release city"},"release_province":{"type":"string","description":"document release province"},"public_authority":{"type":"string","description":"public authority that issued the document"},"document_file":{"oneOf":[{"type":"string"},{"type":"string","format":"byte"}],"description":"document file in pdf format"},"health_insurance_card_file":{"oneOf":[{"type":"string"},{"type":"string","format":"byte"}],"description":"health insurance card file in pdf format"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["first_name","last_name","email","birth_date","gender","fiscal_code","birth_city","birth_province","birth_country","residence_address","residence_street_number","residence_city","residence_postal_code","residence_province","residence_country","document_type","document_number","release_date","expiration_date","release_city","release_province","public_authority","document_file","health_insurance_card_file"]},"BodyPostAzienda":{"type":"object","properties":{"company_name":{"type":"string","description":"company name"},"company_legal_form":{"type":"string","description":"company legal form"},"company_tax_code":{"type":"string","description":"company tax code"},"company_vat_number":{"type":"string","description":"company vat number"},"company_certified_email":{"type":"string","description":"company certified email","format":"email"},"company_sdi":{"type":"string","description":"company sdi invoice code"},"company_address":{"type":"string","description":"company address"},"company_street_number":{"type":"string","description":"company street number"},"company_city":{"type":"string","description":"company city"},"company_postal_code":{"type":"string","description":"company postal code"},"company_province":{"type":"string","description":"company province"},"company_country":{"type":"string","description":"company country"},"first_name":{"type":"string","description":"legal representative first name"},"last_name":{"type":"string","description":"legal representative last name"},"birth_date":{"type":"string","description":"legal representative birth date","format":"date"},"gender":{"type":"string","description":"legal representative gender","enum":["M","F"]},"fiscal_code":{"type":"string","description":"legal representative fiscal code"},"birth_city":{"type":"string","description":"legal representative birth city"},"birth_province":{"type":"string","description":"legal representative birth province"},"birth_country":{"type":"string","description":"legal representative birth country"},"residence_address":{"type":"string","description":"legal representative residence address"},"residence_street_number":{"type":"string","description":"legal representative residence street number"},"residence_city":{"type":"string","description":"legal representative residence city"},"residence_postal_code":{"type":"string","description":"legal representative residence postal code"},"residence_province":{"type":"string","description":"legal representative residence province"},"residence_country":{"type":"string","description":"legal representative residence country"},"document_type":{"type":"string","description":"legal representative document type","enum":["IDENTITY_CARD","DRIVING_LICENSE","PASSPORT"]},"document_number":{"type":"string","description":"legal representative document number"},"release_date":{"type":"string","description":"legal representative document release date","format":"date"},"expiration_date":{"type":"string","description":"legal representative document expiration date","format":"date"},"release_city":{"type":"string","description":"legal representative document release city"},"release_province":{"type":"string","description":"legal representative document release province"},"public_authority":{"type":"string","description":"ublic authority that issued the legal representative document"},"document_file":{"oneOf":[{"type":"string"},{"type":"string","format":"byte"}],"description":"legal representative document file in pdf format"},"health_insurance_card_file":{"oneOf":[{"type":"string"},{"type":"string","format":"byte"}],"description":"legal representative health insurance card file in pdf format"},"company_registration_report_file":{"oneOf":[{"type":"string"},{"type":"string","format":"byte"}],"description":"company registration report file in pdf format"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["company_name","company_legal_form","company_tax_code","company_vat_number","company_certified_email","company_address","company_street_number","company_city","company_postal_code","company_province","company_country","first_name","last_name","birth_date","gender","fiscal_code","birth_city","birth_province","birth_country","residence_address","residence_street_number","residence_city","residence_postal_code","residence_province","residence_country","document_type","document_number","release_date","expiration_date","release_city","release_province","public_authority","document_file","health_insurance_card_file","company_registration_report_file"]},"Richieste":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","awaiting_delegation","in_progress","complete"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"RichiestaPersonaEuData":{"type":"object","properties":{"taxCode":{"type":"string"},"surname":{"type":"string"},"name":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"state":{"type":"string"},"creationTimestamp":{"type":"integer"},"owner":{"type":"string"},"namePdf":{"type":"string"},"lastUpdateTimestamp":{"type":"integer"},"id":{"type":"string"}}},"RichiestaAziendaEuData":{"type":"object","properties":{"taxCode":{"type":"string"},"companyName":{"type":"string"},"name":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"state":{"type":"string"},"creationTimestamp":{"type":"integer"},"owner":{"type":"string"},"namePdf":{"type":"string"},"lastUpdateTimestamp":{"type":"integer"},"id":{"type":"string"}}},"RichiestaPersonaEuResponse":{"$ref":"#/components/schemas/RichiestaPersonaEuData"},"RichiestaPersona":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string","format":"email"},"birth_date":{"type":"string","format":"date"},"gender":{"type":"string","enum":["M","F"]},"fiscal_code":{"type":"string"},"birth_city":{"type":"string"},"birth_province":{"type":"string"},"birth_country":{"type":"string"},"residence_address":{"type":"string"},"residence_street_number":{"type":"string"},"residence_city":{"type":"string"},"residence_postal_code":{"type":"string"},"residence_province":{"type":"string"},"residence_country":{"type":"string"},"document_type":{"type":"string","enum":["IDENTITY_CARD","DRIVING_LICENSE","PASSPORT"]},"document_number":{"type":"string"},"release_date":{"type":"string","format":"date"},"expiration_date":{"type":"string","format":"date"},"release_city":{"type":"string"},"release_province":{"type":"string"},"public_authority":{"type":"string"},"document_file":{"type":"string"},"health_insurance_card_file":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"state":{"type":"string","enum":["processing","awaiting_delegation","in_progress","complete"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"},"delegation_file":{"type":"string"},"signed_delegation_file":{"type":"string"},"id":{"type":"string"}}},"RichiestaAzienda":{"type":"object","properties":{"company_name":{"type":"string"},"company_legal_form":{"type":"string"},"company_tax_code":{"type":"string"},"company_vat_number":{"type":"string"},"company_certified_email":{"type":"string","format":"email"},"company_sdi":{"type":"string"},"company_address":{"type":"string"},"company_street_number":{"type":"string"},"company_city":{"type":"string"},"company_postal_code":{"type":"string"},"company_province":{"type":"string"},"company_country":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"birth_date":{"type":"string","format":"date"},"gender":{"type":"string","enum":["M","F"]},"fiscal_code":{"type":"string"},"birth_city":{"type":"string"},"birth_province":{"type":"string"},"birth_country":{"type":"string"},"residence_address":{"type":"string"},"residence_street_number":{"type":"string"},"residence_city":{"type":"string"},"residence_postal_code":{"type":"string"},"residence_province":{"type":"string"},"residence_country":{"type":"string"},"document_type":{"type":"string","enum":["IDENTITY_CARD","DRIVING_LICENSE","PASSPORT"]},"document_number":{"type":"string"},"release_date":{"type":"string","format":"date"},"expiration_date":{"type":"string","format":"date"},"release_city":{"type":"string"},"release_province":{"type":"string"},"public_authority":{"type":"string"},"document_file":{"type":"string"},"health_insurance_card_file":{"type":"string"},"company_registration_report_file":{"type":"string"},"callback":{"$ref":"#/components/schemas/Callback"},"state":{"type":"string","enum":["processing","awaiting_delegation","in_progress","complete"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"},"delegation_file":{"type":"string"},"signed_delegation_file":{"type":"string"},"id":{"type":"string"}}},"Callback":{"type":"object","properties":{"method":{"type":"string","description":"Indicate through which method you want to receive data with the callback, by default it is POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Name of the field containing the callback return data (required with method: POST)"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.it/callback.php"},"headers":{"type":"object","properties":{"key":{"type":"string"}},"description":"contains key:value strings that you want to arrive as headers","example":{"session_id":"9834r5fh589494"}},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}}},"RichiesteRT":{"type":"object","properties":{"id":{"type":"string"},"cf_piva":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED"]},"esito":{"$ref":"#/components/schemas/Esito"},"timestamp":{"type":"integer"},"owner":{"type":"string"}}},"RichiestaRT":{"type":"object","properties":{"status":{"type":"string","enum":["PENDING","COMPLETED"]},"date_request":{"type":"string"},"date_completion":{"type":"string"},"id":{"type":"string"},"cf_piva":{"type":"string"},"tipo":{"type":"array","items":{"type":"string","enum":["negativita"]}},"callback":{"$ref":"#/components/schemas/NewCallback"},"esito":{"$ref":"#/components/schemas/Esito"},"timestamp":{"type":"integer"},"owner":{"type":"string"},"soggetto":{"$ref":"#/components/schemas/Soggetto"},"logo_pdf":{"type":"string","format":"URL"},"title_pdf":{"type":"string"},"text_pdf":{"type":"string"}}},"Soggetto":{"type":"object","properties":{"code":{"type":"string"},"negativita":{"type":"object","properties":{"protesti":{"type":"boolean"},"procedure":{"type":"boolean"},"pregiudizievoli":{"type":"boolean"},"coinvoltoInProcedura":{"type":"boolean"}}},"dettaglio_negativita":{"$ref":"#/components/schemas/DettaglioNegativita"}}},"BodyPostRichiestaRT":{"type":"object","properties":{"cf_piva":{"type":"string"},"callback":{"$ref":"#/components/schemas/NewCallback"},"text_pdf":{"type":"string","description":"Custom description of the first page of the negativity report in PDF format"},"title_pdf":{"type":"string","description":"Custom title of the negativity report in PDF format"},"logo_pdf":{"type":"string","format":"URL","description":"Custom logo for the negative report in PDF format (must be passed via URL)"}},"required":["cf_piva"]},"Esito":{"type":"object","properties":{"codice":{"type":"integer","enum":[200,404,500]},"info":{"type":"string"}}},"NewCallback":{"type":"object","description":"This is our standardized OpenAPI callback system. It enables the configuration of parameters for receiving notifications about status updates of asynchronous requests to this endpoint.","properties":{"method":{"type":"string","description":"Specify the callback method. When set to 'POST', a standard HTTP POST request will be initiated with the Content-Type header set to application/x-www-form-urlencoded. The JSON data will be encoded into a key-value pair named data (customizable using the field parameter) within the request body. If the method is set to 'JSON', a direct HTTP POST request will be made with the Content-Type header set to application/json. The raw JSON data will be directly inserted into the request body without any encoding.","enum":["POST","JSON"],"default":"JSON"},"field":{"type":"string","description":"This parameter works in conjunction with the 'method' parameter set to 'POST'. When provided as a string, it determines the name of the parameter that will be sent in the POST request.","example":"data","default":"data"},"url":{"type":"string","format":"uri","description":"A valid URL capable of handling POST requests must be entered into this parameter. For endpoints requiring authentication, the 'headers' parameter can be used to specify 'basic auth' or 'bearer auth'. The maximum timeout is 30 seconds. If 'retry' is set, the system will retry up to 'retry' times until a 200 status code is received.","example":"https://www.mysite.com/myEndpoint"},"retry":{"type":"integer","description":"The maximum number of attempts is defined by the 'retry' parameter. If the maximum number of attempts is reached without a successful status code (e.g., 200 OK), the request is considered a final failure. A time interval is often introduced between attempts to avoid overloading the server. This interval may increase exponentially with each attempt to reduce the impact on an overloaded server. The 'retry' parameter is configured to retry the request only in case of specific status codes, typically those indicating temporary errors (e.g., 502, 503) or network issues.","example":3,"maximum":5,"minimum":5,"default":0},"headers":{"type":"object","properties":{"key":{"type":"string"}},"description":"A collection of HTTP headers to be sent with the request. Each header is defined as a key-value pair. Headers can be used for various purposes, including authentication, content negotiation, and custom metadata.","example":{"session_id":"9834r5fh589494"}},"custom":{"type":"object","description":"This object can be populated with any additional data you wish to include in the callback response. This data will be accessible within the 'custom' parameter of the callback function. You can use this to store and retrieve any relevant information that you need for your application.","example":{"my_custom_id":"123456789"}}},"required":["url"]},"DettaglioNegativita":{"type":"object","properties":{"pregiudizievoli":{"type":"array","items":{"type":"object","properties":{"cancellata":{"type":"boolean","description":"cancelled"},"codice_comune_conservatoria":{"type":"string","description":"conservatory town code"},"codice_comune_istat_conservatoria":{"type":"string","description":"Istat town code of the conservatory"},"codice_ministeriale_pregiudizievole":{"type":"string","description":"prejudicial ministerial code"},"codice_pregiudizievole":{"type":"string","description":"prejudicial code"},"codice_valuta_importo_capitale":{"type":"string","description":"principal amount currency code"},"codice_valuta_importo_iscritto":{"type":"string","description":"currency code of the entered amount"},"comune_conservatoria":{"type":"string","description":"municipality of the conservatory"},"conservatoria":{"type":"string","description":"conservatory"},"contro":{"type":"array","items":{"type":"object","properties":{"codice_comune_nascita":{"type":"string","description":"birth town code"},"codice_comune_sede":{"type":"string","description":"town code of the venue"},"codice_fiscale":{"type":"string","description":"tax code"},"codice_istat_comune_nascita":{"type":"string","description":"birth town Istat code"},"codice_istat_comune_sede":{"type":"string","description":"Istat town code of the venue"},"cognome":{"type":"string","description":"surname"},"comune_nascita":{"type":"string","description":"birth town"},"comune_sede":{"type":"string","description":"town of the venue"},"data_nascita":{"type":"string","description":"birth date"},"denominazione":{"type":"string","description":"denomination"},"nome":{"type":"string","description":"name"},"persona_fisica":{"type":"boolean","description":"natural person"},"provincia_nascita":{"type":"string","description":"birth province"},"provincia_sede":{"type":"string","description":"province of the venue"},"sesso":{"type":"string","description":"gender"}}}},"data_registrazione":{"type":"string","description":"registration date"},"favore":{"type":"array","items":{"type":"object","properties":{"codice_comune_nascita":{"type":"string","description":"birth town code"},"codice_comune_sede":{"type":"string","description":"town code of the venue"},"codice_fiscale":{"type":"string","description":"tax code"},"codice_istat_comune_nascita":{"type":"string","description":"birth town Istat code"},"codice_istat_comune_sede":{"type":"string","description":"Istat town code of the venue"},"cognome":{"type":"string","description":"surname"},"comune_nascita":{"type":"string","description":"birth town"},"comune_sede":{"type":"string","description":"town of the venue"},"data_nascita":{"type":"string","description":"birth date"},"denominazione":{"type":"string","description":"denomination"},"nome":{"type":"string","description":"name"},"persona_fisica":{"type":"boolean","description":"natural person"},"provincia_nascita":{"type":"string","description":"birth province"},"provincia_sede":{"type":"string","description":"province of the venue"},"sesso":{"type":"string","description":"gender"}}}},"immobili":{"type":"array","items":{"type":"object","properties":{"categoria":{"type":"string","description":"category"},"codice_categoria":{"type":"string","description":"category code"},"codice_comune":{"type":"string","description":"town code"},"codice_comune_istat":{"type":"string","description":"Istat town code"},"comune":{"type":"string","description":"town"},"foglio":{"type":"string","description":"cadastral sheet"},"indirizzo":{"type":"string","description":"address"},"mappale":{"type":"string","description":"map"},"sub":{"type":"string","description":"cadastral subaltern"}}}},"importo_capitale":{"type":"number","description":"principal amount"},"importo_iscritto":{"type":"number","description":"amount entered"},"numero_generale":{"type":"string","description":"general number"},"numero_particolare":{"type":"string","description":"particular number"},"pregiudizievole":{"type":"string","description":"prejudicial"},"provincia_conservatoria":{"type":"string","description":"conservatory province"},"solo_sunto_disponibile":{"type":"boolean","description":"only summary available"},"sunto_pregiudizievole":{"type":"object","properties":{"cancellata":{"type":"boolean","description":"cancelled"},"codice_fiscale":{"type":"string","description":"tax code"},"data_cancellazione_totale":{"type":"string","description":"total cancellation date"},"data_ultima_pregiudizievole":{"type":"string","description":"prejudicial last date"},"importo_complessivo":{"type":"number","description":"total amount"},"numero_iscrizioni_pregiudizievoli":{"type":"number","description":"number of prejudicial registrations"},"numero_pregiudizievoli":{"type":"number","description":"prejudicial number"},"numero_pregiudizievoli_cancellate":{"type":"number","description":"number of prejudicial deleted"},"numero_trascrizioni_pregiudizievoli":{"type":"number","description":"number of prejudicial transcriptions"}}}}}},"presenzaPregiudizievoli":{"type":"boolean","description":"presence of prejudicial"},"presenzaProcedure":{"type":"boolean","description":"presence of procedures"},"presenzaProtesti":{"type":"boolean","description":"presence of protests"},"procedure":{"type":"array","items":{"type":"object","properties":{"accordo_ristrutturazione_debiti":{"type":"boolean","description":"debt restructuring agreement"},"cciaa":{"type":"string","description":"Chamber of Commerce"},"codice_comune_tribunale":{"type":"string","description":"court city code"},"codice_fiscale":{"type":"string","description":"tax code"},"codice_natura_giuridica":{"type":"string","description":"legal nature code"},"codice_procedura":{"type":"string","description":"procedure code"},"commento":{"type":"string","description":"comment"},"data_caricamento":{"type":"string","description":"upload date"},"data_chiusura":{"type":"string","description":"closing date"},"data_esecuzione":{"type":"string","description":"execution date"},"data_omologa":{"type":"string","description":"approval date"},"data_provvedimento":{"type":"string","description":"date of provision"},"data_revoca":{"type":"string","description":"revocation date"},"denominazione":{"type":"string","description":"denomination"},"descrizione_procedura":{"type":"string","description":"procedure description"},"domanda_ammissione_concordato":{"type":"boolean","description":"admission request agreed"},"identificativo_procedura":{"type":"string","description":"procedure identifier"},"indirizzo":{"type":"object","properties":{"altre_indicazioni":{"type":"string","description":"other indications"},"cap":{"type":"string","description":"zip code"},"codice_comune":{"type":"string","description":"town code"},"codice_comune_istat":{"type":"string","description":"Istat town code"},"codice_stato_estero":{"type":"string","description":"foreign country code"},"comune":{"type":"string","description":"town"},"denominazione":{"type":"string","description":"denomination"},"frazione":{"type":"string","description":"hamlet"},"provincia":{"type":"string","description":"province"},"stato_estero":{"type":"string","description":"foreign country"}}},"natura_giuridica":{"type":"string","description":"legal nature"},"numero_rea":{"type":"string","description":"rea number"},"persone_coinvolte":{"type":"array","items":{"type":"object","properties":{"cariche":{"type":"array","items":{"type":"object","properties":{"codice_carica":{"type":"string","description":"position code"},"descrizione_carica":{"type":"string","description":"position description"}}}},"codice_comune_nascita":{"type":"string","description":"birth town code"},"codice_fiscale":{"type":"string","description":"tax code"},"codice_istat_comune_nascita":{"type":"string","description":"birth town Istat code"},"codice_stato_nascita":{"type":"string","description":"birth state code"},"cognome":{"type":"string","description":"surname"},"comune_nascita":{"type":"string","description":"birth town"},"data_nascita":{"type":"string","description":"birth date"},"denominazione":{"type":"string","description":"denomination"},"indirizzo_residenza":{"type":"object","properties":{"altre_indicazioni":{"type":"string","description":"other indications"},"cap":{"type":"string","description":"zip code"},"codice_comune":{"type":"string","description":"town code"},"codice_comune_istat":{"type":"string","description":"Istat town code"},"codice_stato_estero":{"type":"string","description":"foreign country code"},"comune":{"type":"string","description":"town"},"denominazione":{"type":"string","description":"denomination"},"frazione":{"type":"string","description":"hamlet"},"provincia":{"type":"string","description":"province"},"stato_estero":{"type":"string","description":"foreign country"}}},"legale_rappresentante":{"type":"boolean","description":"legal representative"},"nome":{"type":"string","description":"name"},"persona_fisica":{"type":"boolean","description":"natural person"},"provincia_nascita":{"type":"string","description":"birth province"},"sesso":{"type":"string","description":"gender"},"stato_nascita":{"type":"string","description":"birth country"}}}},"progressivo_procedura":{"type":"number","description":"progressive procedure"},"provincia_tribunale":{"type":"string","description":"province court"},"riferimento_sentenza":{"type":"string","description":"sentence reference"},"tribunale":{"type":"string","description":"court"}}}},"protesti":{"type":"array","items":{"type":"object","properties":{"codice_comune_nascita":{"type":"string","description":"birth town code"},"codice_fiscale":{"type":"string","description":"tax code"},"codice_istat_comune_nascita":{"type":"string","description":"birth town Istat code"},"codice_stato_nascita":{"type":"string","description":"birth country code"},"data_nascita":{"type":"string","description":"birth date"},"denominazione":{"type":"string","description":"denomination"},"effetti":{"type":"array","items":{"type":"object","properties":{"cciaa":{"type":"string","description":"Chamber of Commerce"},"codice_comune_levata":{"type":"string","description":"Code of the municipality where the protest was made"},"codice_informazione_legata_effetto":{"type":"string","description":"code information related to effect"},"codice_istat_comune_levata":{"type":"string","description":"Istat code of the municipality where the protest was made"},"codice_motivo_rifiuto_pagamento":{"type":"string","description":"payment refusal reason code"},"codice_stato_effetto":{"type":"string","description":"effect status code"},"codice_tipo_effetto":{"type":"string","description":"effect type code"},"codice_tipo_scadenza":{"type":"string","description":"expiration type code"},"comune_levata":{"type":"string","description":"municipality where the protest was made"},"data_iscrizione":{"type":"string","description":"registration date"},"data_levata":{"type":"string","description":"date of protest"},"data_scadenza":{"type":"string","description":"expiry date"},"importo":{"type":"number","description":"amount"},"informazione":{"type":"string","description":"information"},"informazione_legata_effetto":{"type":"string","description":"information related to the effect"},"motivo_rifiuto_pagamento":{"type":"string","description":"reason for refusal of payment"},"provincia_levata":{"type":"string","description":"province where the protest was made"},"stato_effetto":{"type":"string","description":"effect state"},"tipo_effetto":{"type":"string","description":"effect type"},"tipo_scadenza":{"type":"string","description":"expiration type"}}}},"identificativo_protesto":{"type":"number","description":"protest identifier"},"indirizzo_residenza":{"type":"object","properties":{"altre_indicazioni":{"type":"string","description":"other indications"},"cap":{"type":"string","description":"zip code"},"codice_comune":{"type":"string","description":"town code"},"codice_comune_istat":{"type":"string","description":"Istat town code"},"codice_stato_estero":{"type":"string","description":"foreign country code"},"comune":{"type":"string","description":"town"},"denominazione":{"type":"string","description":"denomination"},"frazione":{"type":"string","description":"hamlet"},"provincia":{"type":"string","description":"province"},"stato_estero":{"type":"string","description":"foreign country"}}},"luogo_nascita":{"type":"string","description":"place of birth"},"provincia_nascita":{"type":"string","description":"birth province"},"stato_nascita":{"type":"string","description":"birth country"}}}}}},"PayloadPostKyc":{"type":"object","properties":{"query":{"$ref":"#/components/schemas/KycQuery"},"callback":{"$ref":"#/components/schemas/NewCallback"}},"required":["query"]},"PayloadPostKycMonitoring":{"type":"object","properties":{"name":{"type":"string","description":"monitoring name"},"query":{"$ref":"#/components/schemas/KycQuery"},"callback":{"$ref":"#/components/schemas/NewCallback"},"autorenew":{"type":"boolean","description":"to set the auto-renewal (after 1 year), by default it is true"}},"required":["name","query"]},"KycQuery":{"type":"object","description":"name or firstName/lastName combination required","properties":{"name":{"type":"string","description":"full name"},"firstName":{"type":"string","description":"first name"},"lastName":{"type":"string","description":"last name"},"birthDate":{"type":"string","description":"birth date (yyyy-mm-dd)","format":"date"},"entityType":{"type":"string","description":"entity tipe (Individual/Legal Entity/Website/Vessel/Aircraft/Unknown)","enum":["I","L","W","VE","AC","NA"]},"removeDeceased":{"type":"boolean","description":"if you want to remove deceased entities"}},"required":["name","firstName","lastName"]},"KycRequests":{"type":"object","properties":{"type":{"type":"string","description":"request type","enum":["pep","adverse_media","sanction_list","full"]},"creationTimestamp":{"type":"string","description":"creation timestamp"},"lastUpdateTimestamp":{"type":"string","description":"last update timestamp"},"state":{"type":"string","description":"request state","enum":["PENDING","COMPLETED"]},"id":{"type":"string","description":"request id"}}},"KycMonitoringRequests":{"type":"object","properties":{"type":{"type":"string","description":"monitoring type","enum":["full"]},"creationTimestamp":{"type":"string","description":"creation timestamp"},"lastUpdateTimestamp":{"type":"string","description":"last update timestamp"},"state":{"type":"string","description":"monitoring state","enum":["PENDING","ACTIVATED","DELETED"]},"id":{"type":"string","description":"request id"}}},"KycRequest":{"type":"object","properties":{"query":{"$ref":"#/components/schemas/KycQuery"},"callback":{"$ref":"#/components/schemas/NewCallback"},"type":{"type":"string","description":"request type","enum":["pep","adverse_media","sanction_list","full"]},"evidences":{"type":"array","items":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/KycEvidence"}},"id":{"type":"string","description":"entity id"}}}},"creationTimestamp":{"type":"string","description":"creation timestamp"},"lastUpdateTimestamp":{"type":"string","description":"last update timestamp"},"state":{"type":"string","description":"request state","enum":["PENDING","COMPLETED"]},"entities":{"type":"array","items":{"$ref":"#/components/schemas/KycEntity"}},"id":{"type":"string","description":"request id"}}},"KycMonitoringRequest":{"type":"object","properties":{"name":{"type":"string","description":"monitoring name"},"query":{"$ref":"#/components/schemas/KycQuery"},"callback":{"$ref":"#/components/schemas/NewCallback"},"type":{"type":"string","description":"request type","enum":["full"]},"autorenew":{"type":"boolean","description":"to set the auto-renewal (after 1 year), by default it is true"},"evidences":{"type":"array","items":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/KycEvidence"}},"id":{"type":"string","description":"entity id"}}}},"creationTimestamp":{"type":"string","description":"creation timestamp"},"lastUpdateTimestamp":{"type":"string","description":"last update timestamp"},"expiryTimestamp":{"type":"string","description":"expiry timestamp"},"state":{"type":"string","description":"request state","enum":["PENDING","ACTIVATED","DELETED"]},"entities":{"type":"array","items":{"$ref":"#/components/schemas/KycEntity"}},"id":{"type":"string","description":"request id"}}},"KycEvidence":{"type":"object","properties":{"list_description":{"type":"array","description":"a description of the list in which this evidence has been found","items":{"type":"string"}},"rationales":{"type":"array","items":{"type":"object","properties":{"date_start":{"type":"string","description":"indicates the start date assigned by the source (formatted as [[DD.]MM.]YYYY)"},"offence":{"type":"string","description":"this field is used to define the offence in which the entity is involved"},"inquiry":{"type":"string","description":"this field is used to define the inquiry in which the entity is involved"},"subject":{"type":"string","description":"this field categorizes the reason why this entity is connected to the evidence"},"locations":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string","description":"the country of the location (ISO3 format)"},"address":{"type":"string","description":"an indication of the location"},"city":{"type":"string","description":"the city of the location"},"street":{"type":"string","description":"the street of the location"},"region":{"type":"string","description":"the region of the location"},"type":{"type":"string","description":"the type of the address","enum":["address","rationale_place","birth_place","reference_area","residency","legal_address","headquarters","operational_address"]}}},"description":"this list contains all Locations associated with the entity, for example it may contain a reference or the place of birth"},"details":{"type":"string","description":"this field is used to describe in more detail the involvement of the entity"},"date_end":{"type":"string","description":"the date in which the entity is no longer being mentioned in the source or the date that the source sets as date_end (formatted as [[DD.]MM.]YYYY)"},"links":{"type":"array","items":{"type":"string"},"description":"this list contains the URLs of the webpage associated with the rationales"},"facts":{"type":"string","description":"this field is used to define the facts in which the entity is involved"},"status":{"type":"string","description":"this field is used to define the status of the rationale in which the entity is involved","example":"(non-exhaustive list of Conviction, Acquittal, Allegations/Investigations, etc.)"}}}},"publication_date":{"type":"array","items":{"type":"string"},"description":"the dates in which the information has been published by the source (formatted as [[DD.]MM.]YYYY)"},"source":{"type":"array","items":{"type":"string"},"description":"this field defines where the information has been found; it might be a newspaper, an authority, or a website"},"list":{"type":"array","items":{"type":"string"},"description":"the list name given from the source in which this evidence has been found (e.g., Top Ten Most Wanted - FBI)"},"organization":{"type":"array","description":"The organization is a Legal Entity (type L). The organization field of an evidence will be valorized if the organization's information has been collected. Organization (in the PEP dataset); the entity in which the politically exposed person performs his or her public function. NB. the organization and the source may be different parties; the organization is the party that issued the information while the source is the party that published the news.","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"the type of code"},"value":{"type":"string","description":"the actual code"}}},"description":"this list contains all the codes associated with the entity; each object contains the actual code and the type of code associated (e.g., Passport, ID Document, LEI Code)"},"death_dates":{"type":"array","items":{"type":"object","properties":{"day":{"type":"integer","description":"day"},"month":{"type":"integer","description":"month"},"year":{"type":"integer","description":"year"},"inferred":{"type":"boolean"}}},"description":"this field contains the death dates associated with the entity, each object contains the day, month and year separated in three different fields as it's also possible to have a death_date object that only contains the year or only the year and the month (however the year will always be set). This object also contains an additional field inferred, this field is used when the death date is uncertain"},"gender":{"type":"string","description":"this field contains the gender of the entity (Male, Female, Unknown/not a person)","enum":["M","F","NA"]},"organization_details":{"type":"object","description":"this field contains the detail of the organization. Only if entity_type = 'L' the field can be valued; if valued, it will contain the details of the organization whose main properties have been expressed in the other fields","properties":{"organization_subtype":{"type":"string","description":"defines the organization sub-type of the organization (e.g., central+direct, central+indirect, regional+direct, etc.)"},"organization_type":{"type":"string","description":"defines the organization type of the organization (e.g., State Owned Enterprise, Independent Authority, etc.)"},"sector":{"type":"string","description":"defines the sector of the organization using the Global Industry Classification Standard"},"population":{"type":"string","description":"represents the population of the organization (i.e., number of people resident in the municipality)"}}},"birth_dates":{"type":"array","items":{"type":"object","properties":{"day":{"type":"integer","description":"day"},"month":{"type":"integer","description":"month"},"year":{"type":"integer","description":"year"},"inferred":{"type":"boolean"}}},"description":"this field contains the birthdates associated with the entity; each object contains the day, month and year separated in three different fields as it's also possible to have a birth_date object that only contains the year or only the year and the month (however the year will always be set, birth dates never contain only the day or day and month with no year indicated). This object also contains an additional field \"inferred\", this field is used when the birthdate is uncertain (for example in cases where the source does only specify an age)"},"nationalities":{"type":"array","items":{"type":"string"},"description":"this list contains the nationalities (as String) associated with the entity"},"names":{"type":"array","items":{"type":"object","properties":{"full_name":{"type":"string","description":"the full name of the entity"},"native":{"type":"boolean","description":"if set to true this field defines that this name is written in non-Latin characters"},"last_name":{"type":"string","description":"the last name of the entity"},"title":{"type":"string","description":"the title of the entity (Mr, Ms, etc.)"},"first_name":{"type":"string","description":"the first name of the entity"},"primary":{"type":"boolean","description":"if set to true this field defines that this name record is the primary of this entity. This is merely a suggestion for the visualization of the information in the user interface, when multiple aliases are available. The attribute \"primary\" is not intended to indicate the official name (e.g., the one indicated in official documents)"}}},"description":"this list contains the names associated with the entity; there may be multiple variations of a name associated with the same entity (e.g., alias)"},"entity_type":{"type":"string","description":"entity tipe (Individual/Legal Entity/Website/Vessel/Aircraft/Unknown)","enum":["I","L","W","VE","AC","NA"]},"locations":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string","description":"the country of the location (ISO3 format)"},"address":{"type":"string","description":"an indication of the location"},"city":{"type":"string","description":"the city of the location"},"street":{"type":"string","description":"the street of the location"},"region":{"type":"string","description":"the region of the location"},"type":{"type":"string","description":"the type of the address","enum":["address","rationale_place","birth_place","reference_area","residency","legal_address","headquarters","operational_address"]}}},"description":"this list contains all Locations associated with the entity, for example it may contain a reference or the place of birth"}}}},"datasets":{"type":"array","items":{"type":"string"},"description":"this field indicates the dataset from which the record originates"}}},"KycEntity":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"the type of code"},"value":{"type":"string","description":"the actual code"}}},"description":"this list contains all the codes associated with the entity; each object contains the actual code and the type of code associated (e.g., Passport, ID Document, LEI Code)"},"death_dates":{"type":"array","items":{"type":"object","properties":{"day":{"type":"integer","description":"day"},"month":{"type":"integer","description":"month"},"year":{"type":"integer","description":"year"},"inferred":{"type":"boolean"}}},"description":"this field contains the death dates associated with the entity, each object contains the day, month and year separated in three different fields as it's also possible to have a death_date object that only contains the year or only the year and the month (however the year will always be set). This object also contains an additional field inferred, this field is used when the death date is uncertain"},"gender":{"type":"string","description":"this field contains the gender of the entity (Male, Female, Unknown/not a person)","enum":["M","F","NA"]},"organization_details":{"type":"object","description":"this field contains the detail of the organization. Only if entity_type = 'L' the field can be valued; if valued, it will contain the details of the organization whose main properties have been expressed in the other fields","properties":{"organization_subtype":{"type":"string","description":"defines the organization sub-type of the organization (e.g., central+direct, central+indirect, regional+direct, etc.)"},"organization_type":{"type":"string","description":"defines the organization type of the organization (e.g., State Owned Enterprise, Independent Authority, etc.)"},"sector":{"type":"string","description":"defines the sector of the organization using the Global Industry Classification Standard"},"population":{"type":"string","description":"represents the population of the organization (i.e., number of people resident in the municipality)"}}},"birth_dates":{"type":"array","items":{"type":"object","properties":{"day":{"type":"integer","description":"day"},"month":{"type":"integer","description":"month"},"year":{"type":"integer","description":"year"},"inferred":{"type":"boolean"}}},"description":"this field contains the birthdates associated with the entity; each object contains the day, month and year separated in three different fields as it's also possible to have a birth_date object that only contains the year or only the year and the month (however the year will always be set, birth dates never contain only the day or day and month with no year indicated). This object also contains an additional field \"inferred\", this field is used when the birthdate is uncertain (for example in cases where the source does only specify an age)"},"nationalities":{"type":"array","items":{"type":"string"},"description":"this list contains the nationalities (as String) associated with the entity"},"photo":{"type":"array","items":{"type":"string"},"description":"this field contains a list of photos associated with this entity"},"recaps":{"type":"array","items":{"type":"object","properties":{"lang":{"type":"string","description":"language code of the recap, following the ISO 639-1 standard (e.g., en for English, it for Italian)"},"recap":{"type":"string","description":"the text of the summary in the specified language"}}},"description":"this field contains a list of summaries (recaps) for the entity, each in a different language. Each entry includes a language code and the corresponding summary text"},"names":{"type":"array","items":{"type":"object","properties":{"full_name":{"type":"string","description":"the full name of the entity"},"native":{"type":"boolean","description":"if set to true this field defines that this name is written in non-Latin characters"},"last_name":{"type":"string","description":"the last name of the entity"},"title":{"type":"string","description":"the title of the entity (Mr, Ms, etc.)"},"first_name":{"type":"string","description":"the first name of the entity"},"primary":{"type":"boolean","description":"if set to true this field defines that this name record is the primary of this entity. This is merely a suggestion for the visualization of the information in the user interface, when multiple aliases are available. The attribute \"primary\" is not intended to indicate the official name (e.g., the one indicated in official documents)"}}},"description":"this list contains the names associated with the entity; there may be multiple variations of a name associated with the same entity (e.g., alias)"},"entity_type":{"type":"string","description":"entity tipe (Individual/Legal Entity/Website/Vessel/Aircraft/Unknown)","enum":["I","L","W","VE","AC","NA"]},"locations":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string","description":"the country of the location (ISO3 format)"},"address":{"type":"string","description":"an indication of the location"},"city":{"type":"string","description":"the city of the location"},"street":{"type":"string","description":"the street of the location"},"region":{"type":"string","description":"the region of the location"},"type":{"type":"string","description":"the type of the address","enum":["address","rationale_place","birth_place","reference_area","residency","legal_address","headquarters","operational_address"]}}},"description":"this list contains all Locations associated with the entity, for example it may contain a reference or the place of birth"},"id":{"type":"string","description":"entity id"},"last_update":{"type":"object","properties":{"entity":{"type":"string","format":"date"},"adverse_media":{"type":"string","format":"date"},"pep":{"type":"string","format":"date"},"local_politicians":{"type":"string","format":"date"},"legal_enforcement":{"type":"string","format":"date"},"sanctions":{"type":"string","format":"date"},"whitelists":{"type":"string","format":"date"}},"description":"object that contains the last updated date (ISO date yyyy-mm-dd) of the entity and of all the entity's Dataset. It can be null when the last update date could not be recorded for technical reasons (e.g., when migrating to the new format)"}}}}},"paths":{"/IT-crif-persona":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your persona crif requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Richieste"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}},"post":{"tags":["Persona"],"summary":"Request for a crif search on a person","description":"This method allows you to request a crif to search on a person. It is important to provide a copy of an identity document and a copy of a health card in pdf format.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersona"},"example":{"first_name":"mario","last_name":"rossi","email":"m.rossi@openapi.it","birth_date":"1990-04-28","gender":"m","fiscal_code":"mrrrss89d28l117d","birth_city":"terni","birth_province":"tr","birth_country":"italia","residence_address":"via rossini","residence_street_number":"2","residence_city":"terni","residence_postal_code":"05100","residence_province":"tr","residence_country":"italia","document_type":"IDENTITY_CARD","document_number":"IT567TRF","release_date":"2010-12-01","expiration_date":"2030-12-01","release_city":"terni","release_province":"tr","public_authority":"comune","document_file":"JVBERi0xLjQKMSAwIG9iago8PAovVGl0bGUgKP7/AFAAUgBPAEMAVQBSAEEpCi9DcmVhdG9yICj+/wB3AGsAaAB0AG0AbAB0AG8AcABkAGYAIAAwAC4AMQAyAC4ANikKL1Byb2R1Y2VyICj+/wBRAHQAIAA0AC4AOAAuADcpCi9DcmVhdGlvbkRhdGUgKEQ6MjAyMzA1MTExMjE5NTIrMDInMDAnKQo","health_insurance_card_file":"JVBERi0xLjMKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291cmNlcyAyIDAgUgovQ29udGVudHMgNCAwIFI+PgplbmRvYmoKNCAwIG9iago8PC9GaWx0ZXIgL0ZsYXRlRGVjb2RlIC9MZW5ndGggMjg1NT4+CnN0cmVhbQp4nKVa2XLjuBV976+4b85UeWCCO3teAlOQGgkXNUl5qlzzoliyw5QsTiT1TFV/TT4tn5ILgJvctgg7L6bF7dxz9wvQhr99sogXwJ94sCwLFp9uK7iZU6A2/obqEXj1yfOJH0EQUGLZ8AyeExKv/72D8tO/QT/","callback":{"url":"https://your_domain.it/your_callback.php","method":"POST","field":"data","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersona"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersona"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"first_name":"mario","last_name":"rossi","email":"m.rossi@openapi.it","birth_date":"1990-04-28","gender":"m","fiscal_code":"mrrrss89d28l117d","birth_city":"terni","birth_province":"tr","birth_country":"italia","residence_address":"via rossini","residence_street_number":"2","residence_city":"terni","residence_postal_code":"05100","residence_province":"tr","residence_country":"italia","document_type":"IDENTITY_CARD","document_number":"IT567TRF","release_date":"2010-12-01","expiration_date":"2030-12-01","release_city":"terni","release_province":"tr","public_authority":"comune","document_file":"f962040df0eb57939e53aebb4cdea490.pdf","health_insurance_card_file":"7cf5042a4d50d33a5947c0743b23d7c4.pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"POST","field":"data","headers":{"session_id":"oiwejdf89453urf945jfg"},"data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"fiscal_code not valid","error":205,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"first_name required","error":200,"data":null}}}}}}},"/IT-crif-persona/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific persona crif request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersona"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"first_name":"mario","last_name":"rossi","email":"m.rossi@openapi.it","birth_date":"1990-04-28","gender":"m","fiscal_code":"mrrrss89d28l117d","birth_city":"terni","birth_province":"tr","birth_country":"italia","residence_address":"via rossini","residence_street_number":"2","residence_city":"terni","residence_postal_code":"05100","residence_province":"tr","residence_country":"italia","document_type":"IDENTITY_CARD","document_number":"IT567TRF","release_date":"2010-12-01","expiration_date":"2030-12-01","release_city":"terni","release_province":"tr","public_authority":"comune","document_file":"f962040df0eb57939e53aebb4cdea490.pdf","health_insurance_card_file":"7cf5042a4d50d33a5947c0743b23d7c4.pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"POST","field":"data","headers":{"session_id":"oiwejdf89453urf945jfg"},"data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}},"patch":{"tags":["Persona"],"summary":"Upload the delegation file","description":"This method allows you to upload the delegation file. The delegation file must be completed and signed. You can download it via the method GET/IT-crif-persona/{id}/delega.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"signed_delegation_file":{"type":"string","format":"byte","description":"base64_encode(file content); only pdf files are allowed"}}},"example":{"signed_delegation_file":"JVBERi0xLjMKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291cmNlcyAyIDAgUgovQ29udGVudHMgNCAwIFI+PgplbmRvYmoKNCAwIG9iago8PC9GaWx0ZXIgL0ZsYXRlRGVjb2RlIC9MZW5ndGggMjg1NT4+CnN0cmVhbQp4nKVa2XLjuBV976+4b85UeWCCO3teAlOQGgkXNUl5qlzzoliyw5QsTiT1TFV/TT4tn5ILgJvctgg7L6bF7dxz9wvQhr99sogXwJ94sCwLFp9uK7iZU6A2/obqEXj1yfOJH0EQUGLZ8AyeExKv/72D8tO/QT"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersona"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"first_name":"mario","last_name":"rossi","email":"m.rossi@openapi.it","birth_date":"1990-04-28","gender":"m","fiscal_code":"mrrrss89d28l117d","birth_city":"terni","birth_province":"tr","birth_country":"italia","residence_address":"via rossini","residence_street_number":"2","residence_city":"terni","residence_postal_code":"05100","residence_province":"tr","residence_country":"italia","document_type":"IDENTITY_CARD","document_number":"IT567TRF","release_date":"2010-12-01","expiration_date":"2030-12-01","release_city":"terni","release_province":"tr","public_authority":"comune","document_file":"f962040df0eb57939e53aebb4cdea490.pdf","health_insurance_card_file":"7cf5042a4d50d33a5947c0743b23d7c4.pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"POST","field":"data","headers":{"session_id":"oiwejdf89453urf945jfg"},"data":{}},"state":"in_progress","creation_timestamp":1685530639,"last_update_timestamp":1685531562,"owner":"m.rossi@gmail.it","delegation_file":"6477280f496e98e849017aa7_delega.pdf","signed_delegation_file":"bf165943a95f2b778203617a9de5115f.pdf","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":305,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":306,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"you can't upload the delegation yet","error":307,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"signed_delegation_file required","error":309,"data":null}}}}}}},"/IT-crif-persona/{id}/delega":{"get":{"tags":["Persona"],"summary":"Download the delegation file","description":"This method allows you to directly download the delegation file. Once compiled and signed it will be passed in the form of a base 64 encoded string using the PATCH/IT-crif-persona/{id} method.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the delegation has not yet been created","error":303,"data":null}}}}}}},"/IT-patrimoniale-persona":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your patrimoniale-persona requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-patrimoniale-persona/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific persona patrimoniale-persona request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-patrimoniale-persona/{id}/download":{"get":{"tags":["Persona"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-patrimoniale-persona/":{"post":{"tags":["Persona"],"summary":"Request for a patrimoniale search on a person","description":"This method allows you to request a patrimoniale-persona to search on a person. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersonaEu"},"example":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"taxCode Required","content":{"application/json":{"example":{"success":false,"message":"taxCode required.","error":321,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"taxCode not valid","error":322,"data":null}}}}}}},"/IT-patrimoniale-persona-top":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your patrimoniale-persona requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-patrimoniale-persona-top/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific persona patrimoniale-persona request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-patrimoniale-persona-top/{id}/download":{"get":{"tags":["Persona"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-patrimoniale-persona-top/":{"post":{"tags":["Persona"],"summary":"Request for a patrimoniale search on a person","description":"This method allows you to request a patrimoniale-top to search on a person. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersonaEu"},"example":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"taxCode Required","content":{"application/json":{"example":{"success":false,"message":"taxCode required.","error":321,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"taxCode not valid","error":322,"data":null}}}}}}},"/IT-report-persona-top":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your report-persona-top requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-report-persona-top/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific persona report-persona-top request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-report-persona-top/{id}/download":{"get":{"tags":["Persona"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-report-persona-top/":{"post":{"tags":["Persona"],"summary":"Request for a patrimoniale search on a person","description":"This method allows you to request a report-persona-top to search on a person. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersonaEu"},"example":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"taxCode Required","content":{"application/json":{"example":{"success":false,"message":"taxCode required.","error":321,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"taxCode not valid","error":322,"data":null}}}}}}},"/IT-report-persona":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your report-persona requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-report-persona/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific report-persona request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-report-persona/{id}/download":{"get":{"tags":["Persona"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-report-persona/":{"post":{"tags":["Persona"],"summary":"Request for a report-persona search on a person","description":"This method allows you to request a report-persona to search on a person. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersonaEu"},"example":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"taxCode Required","content":{"application/json":{"example":{"success":false,"message":"taxCode required.","error":321,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"taxCode not valid","error":322,"data":null}}}}}}},"/IT-eredi-con-accettazione":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your eredi-con-accettazione requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-eredi-con-accettazione/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific eredi-con-accettazione request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-eredi-con-accettazione/{id}/download":{"get":{"tags":["Persona"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-eredi-con-accettazione/":{"post":{"tags":["Persona"],"summary":"Request for a eredi-con-accettazione to search on a person","description":"This method allows you to request a report-persona to search on a person. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersonaEu"},"example":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"taxCode Required","content":{"application/json":{"example":{"success":false,"message":"taxCode required.","error":321,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"taxCode not valid","error":322,"data":null}}}}}}},"/IT-eredi-senza-accettazione":{"get":{"tags":["Persona"],"summary":"List of your requests about the person","description":"This method shows you the list of your eredi-senza-accettazione requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: mario.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-eredi-senza-accettazione/{id}":{"get":{"tags":["Persona"],"summary":"Specific request","description":"This method shows you the specific eredi-senza-accettazione request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-eredi-senza-accettazione/{id}/download":{"get":{"tags":["Persona"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-eredi-senza-accettazione/":{"post":{"tags":["Persona"],"summary":"Request for a eredi-senza-accettazione to search on a person","description":"This method allows you to request a report-persona to search on a person. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostPersonaEu"},"example":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaPersonaEuResponse"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"name":"mario","surname":"rossi","taxCode":"RSSMRX90A28A883L","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error":null}}}},"400":{"description":"taxCode Required","content":{"application/json":{"example":{"success":false,"message":"taxCode required.","error":321,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Billing error message: Insufficient Credit in Wallet: 200 > 1.1935842939015E-12 code 810","error":610,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"taxCode not valid","error":322,"data":null}}}}}}},"/IT-report-azienda":{"get":{"tags":["Azienda"],"summary":"List of your requests about the company","description":"This method shows you the list of your report-azienda requests that belong to your account","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["processing","completed"]},"creation_timestamp":{"type":"integer"},"last_update_timestamp":{"type":"integer"},"owner":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"state":"complete","creation_timestamp":1685369206,"last_update_timestamp":1685369607,"owner":"gcloud-tests@openapi.it","id":"6040e4613a716838dc4eee0e"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests linked to this username: company.rossi@openapi.com","error":300,"data":null}}}}}}},"/IT-report-azienda/{id}":{"get":{"tags":["Azienda"],"summary":"Specific request","description":"This method shows you the specific report-azienda request related to the id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaAziendaEuData"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/IT-report-azienda/{id}/download":{"get":{"tags":["Azienda"],"summary":"This method allows you to directly download the pdf file with the required data.","description":"Download the pdf file after it is ready. In the test you can simulate the creation of the pdf using  \"url/id?callback\" and after that you  can download it.","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6477280f496e98e849017aa7"}}],"responses":{"200":{"description":"A PDF file","content":{"application/pdf":{"schema":{"type":"string","format":"binary"},"examples":{"application/pdf":{"value":"6477280f496e98e849017aa7.pdf"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"the pdf has not yet been created","error":303,"data":null}}}}}}},"/IT-report-azienda/":{"post":{"tags":["Azienda"],"summary":"Request for a report-azienda to search on a person","description":"This method allows you to request a report-azienda to search on a company. You can customize your report with titlePdf, logoPdf, textPdf otherewise the default values would be used","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyPostAziendaEu"},"example":{"companyName":"rossi.srl","taxCode":11111111112,"vatCode":11111111112,"logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":{"session_id":"oiwejdf89453urf945jfg"}}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"example":{"data":{"companyName":"rossi.srl","taxCode":11111111112,"vatCode":11111111112,"logoPdf":"https://www.mariorossi.com/assets/img/mariorossi.png","titlePdf":"My title","textPdf":"description pdf","callback":{"url":"https://your_domain.it/your_callback.php","method":"JSON","headers":null,"session_id":"oiwejdf89453urf945jfg","data":{}},"state":"processing","creation_timestamp":1685530639,"last_update_timestamp":1685530639,"owner":"m.rossi@gmail.it","id":"6477280f496e98e849017aa7"},"success":true,"message":"","error
[...]
