{"openapi":"3.0.0","info":{"version":"1.0.0","title":"SDI","description":"This service allows you to handle interactions with the Italian SDI (Sistema Di Interscambio)\n\n You can configure your account to send invoices directly to the legal storage by setting the api_configuration to your needs\n\n## Before we begin\n\nIn order to receive supplier invoices, you need to register our Recipient Code on the Italian Revenue Agency's website. Please follow this step-by-step guide and provide the following code when required: JKKZDGR\n\n ## Get started:\n\n\n1. Create an BusinessRegistryConfiguration with <b>POST /business_registry_configurations</b> for your <em>fiscal_id</em> and your *email*\n\n1. A mail will be sent to your address to activate the account on the legal storage platform, if required.\n\n1. Create an ApiConfiguration for your BusinessRegistryConfiguration with <b>POST /api_configurations</b>.\n This endpoint can be configured to receive all the notifications with a callback.\n\n1. Create an XML invoice on the endpoint relative to your configuration\n\nTo see an example of the callback objects, plese check the **Callbacks** tab in the `/api_configurations` request<br><br><br>Please note that in the English translation:\n\n<b>Customer invoices: Fatture attive</b>\n\n<b>Supplier invoices: Fatture passive</b>\n\n<b>Legal storage: Certificazione a norma</b>\n\n## Interacting with the legal storage \n\nLegal Storage is the service that enables the legal preservation for your documents. All the stored documents are available into the legal storage management software, a third party software.\n\nWhen creating a BusinessRegistryConfiguration, you will be asked to provide an email address which will be registed on the platform. You will receive an email containing all the steps to complete the registration and access the platform.\n\n## Reactivating a BusinessRegistryConfiguration\nIf you receive a callback but you have no credit left on your wallet, your account will be temporarily suspended: when this happens, you will be sent a reminder email immediately. In order to re-activate it after a wallet recharge, you would need to submit a PATCH request to `/business_registry_configurations/{fiscal_id}/activate`\n\n ## Interacting with the Public Administration (PA)\n\nInvoices to the Public Administration are automatically detected and signed.","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://sdi.openapi.it","description":"Production"},{"url":"https://test.sdi.openapi.it","description":"Sandbox"}],"tags":[{"name":"BusinessRegistryConfiguration"},{"name":"ApiConfigurations"},{"name":"Create invoices","description":"Both standard and simplified invoices are supported, to private entities or to the Public Administration"},{"name":"Invoices"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Notification":{"type":"object","description":"","properties":{"uuid":{"type":"string"},"invoice_uuid":{"type":"string"},"created_at":{"description":"The date the notification was received.","type":"string"},"type":{"description":"The notification type (2 letters code).","type":"string"},"message":{"description":"The notification message model.","type":"string"},"downloaded":{"description":"The notification was downloaded (automatically when received by webhook or manually for polling integrations).","type":"boolean"},"downloaded_at":{"description":"Notification download date.","type":"string","format":"date-time"},"file_name":{"type":"string"}}},"CustomerInvoiceCallback":{"type":"object","properties":{"event":{"type":"string","description":"The type of event (e.g., customer-invoice)"},"data":{"type":"object","properties":{"invoice":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier for the invoice"},"created_at":{"type":"string","format":"date-time","description":"Timestamp of invoice creation"},"filename":{"type":"string","description":"Name of the invoice file"},"file_id":{"type":"integer","description":"Unique identifier for the file"},"payload":{"type":"object","properties":{"fattura_elettronica_header":{"$ref":"#/components/schemas/FatturaElettronicaHeader"},"fattura_elettronica_body":{"type":"array","items":{"$ref":"#/components/schemas/FatturaElettronicaBody"}}}}}}}}}},"FatturaElettronicaHeader":{"type":"object","properties":{"dati_trasmissione":{"$ref":"#/components/schemas/DatiTrasmissione"},"cedente_prestatore":{"$ref":"#/components/schemas/CedentePrestatore"},"rappresentante_fiscale":{"type":"object","nullable":true,"description":"Fiscal representative details (if applicable)"},"cessionario_committente":{"$ref":"#/components/schemas/CessionarioCommittente"},"terzo_intermediario_o_soggetto_emittente":{"type":"object","nullable":true,"description":"Third-party intermediary or issuing subject details (if applicable)"},"soggetto_emittente":{"type":"object","nullable":true,"description":"Issuing subject details (if applicable)"}}},"DatiTrasmissione":{"type":"object","properties":{"id_trasmittente":{"$ref":"#/components/schemas/IdFiscaleIva"},"progressivo_invio":{"type":"string","description":"Progressive number of the transmission"},"formato_trasmissione":{"type":"string","description":"Transmission format code"},"codice_destinatario":{"type":"string","description":"Recipient code"},"contatti_trasmittente":{"type":"object","nullable":true,"description":"Transmitter contact details"},"pec_destinatario":{"type":"string","nullable":true,"description":"Recipient's certified email address"}}},"IdFiscaleIva":{"type":"object","properties":{"id_paese":{"type":"string","description":"Country ID"},"id_codice":{"type":"string","description":"VAT number or fiscal code"}}},"CedentePrestatore":{"type":"object","properties":{"dati_anagrafici":{"$ref":"#/components/schemas/DatiAnagrafici"},"sede":{"$ref":"#/components/schemas/Sede"},"stabile_organizzazione":{"type":"object","nullable":true,"description":"Permanent establishment details (if applicable)"},"iscrizione_rea":{"type":"object","nullable":true,"description":"REA (Economic and Administrative Index) registration details"},"contatti":{"type":"object","nullable":true,"description":"Contact details"},"riferimento_amministrazione":{"type":"string","nullable":true,"description":"Administrative reference"}}},"DatiAnagrafici":{"type":"object","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/IdFiscaleIva"},"codice_fiscale":{"type":"string","nullable":true,"description":"Fiscal code"},"anagrafica":{"$ref":"#/components/schemas/Anagrafica"},"albo_professionale":{"type":"string","nullable":true,"description":"Professional register"},"provincia_albo":{"type":"string","nullable":true,"description":"Province of professional register"},"numero_iscrizione_albo":{"type":"string","nullable":true,"description":"Registration number in professional register"},"data_iscrizione_albo":{"type":"string","nullable":true,"description":"Date of registration in professional register"},"regime_fiscale":{"type":"string","description":"Fiscal regime code"}}},"Anagrafica":{"type":"object","properties":{"denominazione":{"type":"string","description":"Company name"},"nome":{"type":"string","nullable":true,"description":"First name (for individuals)"},"cognome":{"type":"string","nullable":true,"description":"Last name (for individuals)"},"titolo":{"type":"string","nullable":true,"description":"Title"},"cod_eori":{"type":"string","nullable":true,"description":"EORI code"}}},"Sede":{"type":"object","properties":{"indirizzo":{"type":"string","description":"Address"},"numero_civico":{"type":"string","nullable":true,"description":"Street number"},"cap":{"type":"string","description":"Postal code"},"comune":{"type":"string","description":"City"},"provincia":{"type":"string","description":"Province"},"nazione":{"type":"string","description":"Country"}}},"CessionarioCommittente":{"type":"object","properties":{"dati_anagrafici":{"$ref":"#/components/schemas/DatiAnagrafici"},"sede":{"$ref":"#/components/schemas/Sede"},"stabile_organizzazione":{"type":"object","nullable":true,"description":"Permanent establishment details (if applicable)"},"rappresentante_fiscale":{"type":"object","nullable":true,"description":"Fiscal representative details (if applicable)"}}},"FatturaElettronicaBody":{"type":"object","properties":{"dati_generali":{"$ref":"#/components/schemas/DatiGenerali"},"dati_beni_servizi":{"$ref":"#/components/schemas/DatiBeniServizi"},"dati_veicoli":{"type":"object","nullable":true,"description":"Vehicle data (if applicable)"},"dati_pagamento":{"type":"object","nullable":true,"description":"Payment data"},"allegati":{"type":"object","nullable":true,"description":"Attachments"}}},"DatiGenerali":{"type":"object","properties":{"dati_generali_documento":{"$ref":"#/components/schemas/DatiGeneraliDocumento"},"dati_ordine_acquisto":{"type":"object","nullable":true,"description":"Purchase order data"},"dati_contratto":{"type":"object","nullable":true,"description":"Contract data"},"dati_convenzione":{"type":"object","nullable":true,"description":"Convention data"},"dati_ricezione":{"type":"object","nullable":true,"description":"Reception data"},"dati_fatture_collegate":{"type":"object","nullable":true,"description":"Related invoices data"},"dati_sal":{"type":"object","nullable":true,"description":"Work progress data"},"dati_ddt":{"type":"object","nullable":true,"description":"Transport document data"},"dati_trasporto":{"type":"object","nullable":true,"description":"Transport data"},"fattura_principale":{"type":"object","nullable":true,"description":"Main invoice data"}}},"DatiGeneraliDocumento":{"type":"object","properties":{"tipo_documento":{"type":"string","description":"Document type code"},"divisa":{"type":"string","description":"Currency"},"data":{"type":"string","format":"date","description":"Document date"},"numero":{"type":"string","description":"Document number"},"dati_ritenuta":{"type":"object","nullable":true,"description":"Withholding tax data"},"dati_bollo":{"type":"object","nullable":true,"description":"Stamp duty data"},"dati_cassa_previdenziale":{"type":"object","nullable":true,"description":"Social security fund data"},"sconto_maggiorazione":{"type":"object","nullable":true,"description":"Discount or surcharge data"},"importo_totale_documento":{"type":"number","nullable":true,"description":"Total document amount"},"arrotondamento":{"type":"number","nullable":true,"description":"Rounding amount"},"causale":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Reason for the document"},"art73":{"type":"boolean","nullable":true,"description":"Indicates if the document falls under Article 73 of Presidential Decree 633/72"}}},"DatiBeniServizi":{"type":"object","properties":{"dettaglio_linee":{"type":"array","items":{"$ref":"#/components/schemas/DettaglioLinee"}},"dati_riepilogo":{"type":"array","items":{"$ref":"#/components/schemas/DatiRiepilogo"}}}},"DettaglioLinee":{"type":"object","properties":{"numero_linea":{"type":"integer","description":"Line number"},"tipo_cessione_prestazione":{"type":"string","nullable":true,"description":"Type of sale or service"},"codice_articolo":{"type":"object","nullable":true,"description":"Article code"},"descrizione":{"type":"string","description":"Description of the item or service"},"quantita":{"type":"number","nullable":true,"description":"Quantity"},"unita_misura":{"type":"string","nullable":true,"description":"Unit of measure"},"data_inizio_periodo":{"type":"string","format":"date","nullable":true,"description":"Start date of the period"},"data_fine_periodo":{"type":"string","format":"date","nullable":true,"description":"End date of the period"},"prezzo_unitario":{"type":"string","description":"Unit price"},"sconto_maggiorazione":{"type":"object","nullable":true,"description":"Discount or surcharge data"},"prezzo_totale":{"type":"string","description":"Total price"},"aliquota_iva":{"type":"string","description":"VAT rate"},"ritenuta":{"type":"object","nullable":true,"description":"Withholding tax data"},"natura":{"type":"string","nullable":true,"description":"Nature of the transaction"},"riferimento_amministrazione":{"type":"string","nullable":true,"description":"Administrative reference"},"altri_dati_gestionali":{"type":"array","items":{"type":"object"},"nullable":true,"description":"Other management data"}}},"DatiRiepilogo":{"type":"object","properties":{"aliquota_iva":{"type":"string","description":"VAT rate"},"natura":{"type":"string","nullable":true,"description":"Nature of the transaction"},"spese_accessorie":{"type":"number","nullable":true,"description":"Accessory expenses"},"arrotondamento":{"type":"number","nullable":true,"description":"Rounding amount"},"imponibile_importo":{"type":"string","description":"Taxable amount"},"imposta":{"type":"string","description":"Tax amount"},"esigibilita_iva":{"type":"string","nullable":true,"description":"VAT chargeability"},"riferimento_normativo":{"type":"string","nullable":true,"description":"Regulatory reference"}}},"LegalStorageReceiptSimulateCallback":{"type":"object","description":"Schema for Legal Storage Receipt Simulate Callback","properties":{"event":{"type":"string","description":"Type of event"},"data":{"type":"object","description":"Data related to the event","properties":{"uuid":{"type":"string","description":"Unique identifier for the receipt"},"status":{"type":"string","description":"Status of the legal storage receipt"},"receipt_received_at":{"type":"string","format":"date-time","description":"Date and time when the receipt was received"},"object_type":{"type":"string","description":"Type of object stored"},"object_id":{"type":"string","description":"Unique identifier for the object"},"message":{"type":"string","nullable":true,"description":"Additional message"},"preserved_object_id":{"type":"string","description":"Unique identifier for the preserved object"},"weight":{"type":"integer","description":"Weight of the preserved object"},"created_at":{"type":"string","format":"date-time","description":"Date and time when the object was created"}}}}},"SupplierInvoiceSimulateCallback":{"type":"object","description":"Schema for Supplier Invoice Simulate Callback","properties":{"event":{"type":"string","description":"Type of event"},"data":{"type":"object","description":"Data related to the event","properties":{"invoice":{"type":"object","description":"Invoice details","properties":{"uuid":{"type":"string","description":"Unique identifier for the invoice"},"created_at":{"type":"string","format":"date-time","description":"Date and time when the invoice was created"},"filename":{"type":"string","description":"Name of the invoice file"},"file_id":{"type":"string","description":"Identifier for the file"},"payload":{"type":"object","description":"Payload of the invoice","properties":{"fattura_elettronica_header":{"type":"object","description":"Header details of the electronic invoice","properties":{"dati_trasmissione":{"type":"object","description":"Transmission data","properties":{"id_trasmittente":{"type":"string","nullable":true,"description":"Transmitter ID"},"progressivo_invio":{"type":"string","nullable":true,"description":"Progressive sending number"},"formato_trasmissione":{"type":"string","nullable":true,"description":"Transmission format"},"codice_destinatario":{"type":"string","description":"Recipient code"},"contatti_trasmittente":{"type":"string","nullable":true,"description":"Transmitter contact"},"pec_destinatario":{"type":"string","description":"Recipient certified email"}}},"cedente_prestatore":{"type":"object","description":"Seller or service provider details","properties":{"dati_anagrafici":{"type":"object","description":"Anagraphic data","properties":{"id_fiscale_iva":{"type":"object","description":"VAT identification number","properties":{"id_paese":{"type":"string","description":"Country code"},"id_codice":{"type":"string","description":"Identification code"}}},"codice_fiscale":{"type":"string","nullable":true,"description":"Fiscal code"},"anagrafica":{"type":"object","description":"Anagraphic data","properties":{"denominazione":{"type":"string","description":"Name of the entity"}}}}},"sede":{"type":"object","description":"Address details","properties":{"indirizzo":{"type":"string","description":"Address"},"numero_civico":{"type":"string","nullable":true,"description":"Civic number"},"cap":{"type":"string","description":"Postal code"},"comune":{"type":"string","description":"City"},"provincia":{"type":"string","description":"Province"},"nazione":{"type":"string","description":"Country"}}}}},"rappresentante_fiscale":{"type":"object","description":"Fiscal representative","nullable":true,"properties":{"id_fiscale_iva":{"type":"object","description":"VAT identification number","properties":{"id_paese":{"type":"string","description":"Country code"},"id_codice":{"type":"string","description":"Identification code"}}},"codice_fiscale":{"type":"string","nullable":true,"description":"Fiscal code"},"anagrafica":{"type":"object","description":"Anagraphic data","properties":{"denominazione":{"type":"string","description":"Name of the representative"}}},"sede":{"type":"object","description":"Address details","properties":{"indirizzo":{"type":"string","description":"Address"},"numero_civico":{"type":"string","nullable":true,"description":"Civic number"},"cap":{"type":"string","description":"Postal code"},"comune":{"type":"string","description":"City"},"provincia":{"type":"string","description":"Province"},"nazione":{"type":"string","description":"Country"}}}}}}}}}}}}}}},"CustomerNotificationSimulateCallback":{"type":"object","description":"Schema for Customer Notification Simulate Callback","properties":{"event":{"type":"string","description":"Type of event"},"data":{"type":"object","description":"Data related to the event","properties":{"notification":{"type":"object","description":"Notification details","properties":{"uuid":{"type":"string","description":"Unique identifier for the notification"},"invoice_uuid":{"type":"string","description":"Unique identifier for the invoice"},"created_at":{"type":"string","format":"date-time","description":"Date and time when the notification was created"},"type":{"type":"string","description":"Type of notification"},"message":{"type":"object","description":"Message details","properties":{"identificativo_sdi":{"type":"string","description":"SDI identifier"},"nome_file":{"type":"string","description":"File name"},"data_ora_ricezione":{"type":"string","format":"date-time","description":"Date and time of receipt"},"riferimento_archivio":{"type":"object","description":"Archive reference","properties":{"identificativo_sdi":{"type":"string","description":"SDI identifier for the archive"},"nome_file":{"type":"string","description":"File name for the archive"}}},"lista_errori":{"type":"object","description":"List of errors","properties":{"Errore":{"type":"object","description":"Error details","properties":{"Codice":{"type":"string","description":"<a href='https://docs.openapi.it/Code-error-sdi-static.html' target='_blank'>Here</a>   you can check the error\n"},"Descrizione":{"type":"string","description":"Error description"}}}}},"message_id":{"type":"string","description":"Message identifier"},"note":{"type":"string","description":"Additional notes"}}},"downloaded":{"type":"boolean","description":"Indicates if the file has been downloaded"},"file_name":{"type":"string","description":"File name"},"invoice":{"type":"object","description":"Invoice details","properties":{"fattura_elettronica_header":{"type":"object","description":"Header details of the electronic invoice","properties":{"dati_trasmissione":{"type":"object","description":"Transmission data","properties":{"id_trasmittente":{"type":"string","description":"Transmitter ID"},"progressivo_invio":{"type":"string","description":"Progressive sending number"},"formato_trasmissione":{"type":"string","description":"Transmission format"},"codice_destinatario":{"type":"string","description":"Recipient code"},"contatti_trasmittente":{"type":"string","description":"Transmitter contact"},"pec_destinatario":{"type":"string","description":"Recipient certified email"}}},"cedente_prestatore":{"type":"object","description":"Seller or service provider details","properties":{"dati_anagrafici":{"type":"object","description":"Anagraphic data","properties":{"id_fiscale_iva":{"type":"object","description":"VAT identification number","properties":{"id_paese":{"type":"string","description":"Country code"},"id_codice":{"type":"string","description":"Identification code"}}},"codice_fiscale":{"type":"string","description":"Fiscal code"},"anagrafica":{"type":"object","description":"Anagraphic data","properties":{"denominazione":{"type":"string","description":"Name of the entity"}}}}},"sede":{"type":"object","description":"Address details","properties":{"indirizzo":{"type":"string","description":"Address"},"cap":{"type":"string","description":"Postal code"},"comune":{"type":"string","description":"City"},"provincia":{"type":"string","description":"Province"},"nazione":{"type":"string","description":"Country"}}}}},"rappresentante_fiscale":{"type":"object","description":"Fiscal representative","properties":{"id_fiscale_iva":{"type":"object","description":"VAT identification number","properties":{"id_paese":{"type":"string","description":"Country code"},"id_codice":{"type":"string","description":"Identification code"}}},"codice_fiscale":{"type":"string","description":"Fiscal code"},"anagrafica":{"type":"object","description":"Anagraphic data","properties":{"denominazione":{"type":"string","description":"Name of the representative"}}},"sede":{"type":"object","description":"Address details","properties":{"indirizzo":{"type":"string","description":"Address"},"numero_civico":{"type":"string","description":"Civic number"},"cap":{"type":"string","description":"Postal code"},"comune":{"type":"string","description":"City"},"provincia":{"type":"string","description":"Province"},"nazione":{"type":"string","description":"Country"}}}}}}}}}}}}}}},"SupplierInvoiceSimulate":{"type":"object","properties":{"fattura_elettronica_header":{"type":"object","properties":{"dati_trasmissione":{"type":"object","properties":{"codice_destinatario":{"type":"string"}}},"cedente_prestatore":{"type":"object","properties":{"dati_anagrafici":{"type":"object","properties":{"id_fiscale_iva":{"type":"object","properties":{"id_paese":{"type":"string"},"id_codice":{"type":"string"}}},"anagrafica":{"type":"object","properties":{"denominazione":{"type":"string"}}},"regime_fiscale":{"type":"string"}}},"sede":{"type":"object","properties":{"indirizzo":{"type":"string"},"cap":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"nazione":{"type":"string"}}}}},"cessionario_committente":{"type":"object","properties":{"dati_anagrafici":{"type":"object","properties":{"id_fiscale_iva":{"type":"object","properties":{"id_paese":{"type":"string"},"id_codice":{"type":"string","required":["id_codice"]}}},"anagrafica":{"type":"object","properties":{"denominazione":{"type":"string"}}}}},"sede":{"type":"object","properties":{"indirizzo":{"type":"string"},"cap":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"nazione":{"type":"string"}}}}}}},"fattura_elettronica_body":{"type":"array","items":{"type":"object","properties":{"dati_generali":{"type":"object","properties":{"dati_generali_documento":{"type":"object","properties":{"tipo_documento":{"type":"string"},"divisa":{"type":"string"},"data":{"type":"string"},"numero":{"type":"string"}}}}},"dati_beni_servizi":{"type":"object","properties":{"dettaglio_linee":{"type":"array","items":{"type":"object","properties":{"numero_linea":{"type":"integer"},"descrizione":{"type":"string"},"prezzo_unitario":{"type":"string"},"prezzo_totale":{"type":"string"},"aliquota_iva":{"type":"string"}}}},"dati_riepilogo":{"type":"array","items":{"type":"object","properties":{"aliquota_iva":{"type":"string"},"imponibile_importo":{"type":"string"},"imposta":{"type":"string"}}}}}}}}}}},"SupplierInvoiceImport_94cf0087d8b28e4f4ec3c97f11f6cd6a":{"type":"object","description":"","required":["invoice"],"properties":{"invoice":{"description":"The base64 encoded invoice XML.","type":"string"},"metadata":{"description":"The base64 encoded invoice metadata XML. If it is not provided you must provide invoice_file_name and sdi_id.","type":"string"},"invoice_file_name":{"description":"The invoice filename, to be provided only when there is not metadata.","type":"string"},"sdi_id":{"description":"he invoice SDI ID, to be provided only when there is not metadata.","type":"string"}}},"SupplierInvoiceImport_9463fbb572de38cd53ef0f6b5f0f4e9f":{"type":"object","description":"","properties":{"uuid":{"description":"The UUID used to identify uniquely the invoice. In case the invoice XML embeds multiple bodies, you will get an array of UUIDs.","type":"string"}}},"PreservedDocument-read":{"type":"object","description":"","properties":{"created_at":{"readOnly":true,"type":"string","format":"date-time"},"uuid":{"readOnly":true,"type":"string"},"status":{"readOnly":true,"description":"Can be on of \"to_be_stored\", \"sent\", \"stored\", \"error\".","type":"string"},"receipt_received_at":{"readOnly":true,"type":"string","format":"date-time"},"object_type":{"readOnly":true,"description":"Can be one of \"customer invoice\", \"supplier invoice\", \"extra sdi supplier invoice\".","type":"string"},"object_id":{"readOnly":true,"description":"The id of the object that went into the legal storage (e.g. Invoice).","type":"string"},"message":{"readOnly":true,"description":"The messages received from the legal storage.","type":"string"},"preserved_object_id":{"readOnly":true,"description":"The legal storage object id.","type":"string"},"weight":{"readOnly":true,"description":"The weight in bytes of the preserved document.","type":"integer"}}},"BusinessRegistry-read":{"type":"object","description":"","properties":{"uuid":{"type":"string"},"head_office_address_street":{"type":"string"},"head_office_address_street_number":{"type":"string"},"head_office_address_zip_code":{"type":"string"},"head_office_address_city":{"type":"string"},"head_office_address_province":{"type":"string"},"head_office_address_country":{"description":"ISO 3166-1 alpha-2 code","type":"string"},"office_address_street":{"type":"string"},"office_address_street_number":{"type":"string"},"office_address_zip_code":{"type":"string"},"office_address_city":{"type":"string"},"office_address_province":{"type":"string"},"office_address_country":{"description":"ISO 3166-1 alpha-2 code","type":"string"},"business_vat_number_country":{"description":"ISO 3166-1 alpha-2 code","type":"string"},"business_vat_number_code":{"type":"string"},"business_fiscal_code":{"type":"string"},"business_name":{"type":"string"},"name":{"type":"string"},"surname":{"type":"string"},"title":{"type":"string"},"cod_eori":{"type":"string"},"professional_register":{"type":"string"},"professional_register_province":{"type":"string"},"professional_register_registration_number":{"type":"string"},"professional_register_registration_date":{"description":"ISO 8601:2004 (YYYY-MM-DD)","type":"string","format":"date-time"},"tax_regime":{"type":"string"},"contact_phone":{"type":"string"},"contact_fax":{"type":"string"},"contact_email":{"type":"string"},"rea_registration_office":{"description":"2 chars Italian province","type":"string"},"rea_registration_number":{"type":"string"},"rea_registration_share_capital":{"type":"string"},"rea_registration_sole_shareholder":{"description":"SU sole shareholder, SM many shareholders","type":"string"},"rea_registration_liquidation_status":{"description":"LS in liquidation, LN not in liquidation","type":"string"},"reference_administration":{"type":"string"},"fiscal_representative_vat_number_country":{"description":"ISO 3166-1 alpha-2 code","type":"string"},"fiscal_representative_vat_number_code":{"type":"string"},"fiscal_representative_fiscal_code":{"type":"string"},"fiscal_representative_denomination":{"type":"string"},"fiscal_representative_name":{"type":"string"},"fiscal_representative_surname":{"type":"string"},"fiscal_representative_title":{"type":"string"},"fiscal_representative_cod_eori":{"type":"string"}},"required":["head_office_address_street","head_office_address_zip_code","head_office_address_city","head_office_address_country"]},"Invoice-read":{"type":"object","description":"","properties":{"created_at":{"readOnly":true,"type":"string","format":"date-time"},"uuid":{"readOnly":true,"type":"string"},"type":{"readOnly":true,"type":"integer"},"payload":{"readOnly":true,"type":"string"},"sender":{"$ref":"#/components/schemas/BusinessRegistry-read"},"recipient":{"$ref":"#/components/schemas/BusinessRegistry-read"},"notifications":{"readOnly":true,"type":"array","items":{"type":"string"}},"sdi_file_name":{"readOnly":true,"type":"string"},"sdi_file_id":{"readOnly":true,"type":"string"},"signed":{"readOnly":true,"type":"boolean"},"legally_stored":{"readOnly":true,"type":"boolean"},"preserved_document":{"$ref":"#/components/schemas/PreservedDocument-read"},"downloaded":{"readOnly":true,"description":"The invoice was downloaded (automatically when received by webhook or manually for polling integrations).","type":"boolean"},"downloaded_at":{"readOnly":true,"type":"string","format":"date-time"},"marking":{"readOnly":true,"description":"The marking represent the current status of the invoice.","type":"string"},"notice":{"readOnly":true,"type":"string"},"retry_information":{"readOnly":true,"type":"string"},"transmission_format":{"readOnly":true,"description":"Transmission format specified into the invoice.","type":"string"},"to_pa":{"readOnly":true,"type":"boolean"}}},"Invoice-read-pdf":{"type":"object","description":"Get the PDF representation of an invoice in binary format.","properties":{"data":{"description":"PDF representation of the invoice","type":"string","example":null}}},"Invoice-read-html":{"example":"<html xmlns:b=\"http://www.fatturapa.gov.it/sdi/fatturapa/v1.1\" xmlns:c=\"http://www.fatturapa.gov.it/sdi/fatturapa/v1.0\"\n    xmlns:a=\"http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.2\"\n    xmlns:d=\"http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.0\">\n\n<head>\n\n\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <style type=\"text/css\">\n        #fattura-elettronica {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            margin-left: auto;\n            margin-right: auto;\n            max-width: 1280px;\n            min-width: 800px;\n            padding: 0;\n        }\n\n        #fattura-elettronica div.page {}\n\n        .tbHeader {\n            width: 800px;\n            border: 2px solid black;\n        }\n\n\n        tr td {\n            vertical-align: top;\n        }\n\n        .tdHead {\n            width: 50%;\n            height: 91px;\n            border: 1px solid black;\n        }\n\n        .tableHead {\n            font-size: smaller;\n            width: 100%;\n        }\n\n        .headBorder {}\n\n        .headerLabel {\n            color: #282828;\n            font-weight: bold;\n\n\n        }\n\n        .headContent {\n            margin-left: 10px;\n            margin-bottom: 0px\n        }\n\n        .mt5 {\n            margin-top: 5px\n        }\n\n\n        tr.break {\n            page-break-after: always;\n        }\n\n        .ulAllegati {\n            margin-top: 0px;\n        }\n\n\n        .separa {\n            height: 20px;\n        }\n\n        table.tbTitolo {\n            width: 800px;\n            table-layout: fixed;\n            border-collapse: collapse;\n            word-wrap: normal;\n        }\n\n        table.tbTitolo th {\n            padding-left: 5px;\n            padding-right: 5px;\n            border: solid 1px #000000;\n            border-bottom: none;\n            background-color: LightCyan;\n            font-size: x-small;\n\n        }\n\n\n        table.tbFoglio {\n            width: 800px;\n            table-layout: fixed;\n            border-collapse: collapse;\n            word-wrap: break-word;\n        }\n\n        table.tbFoglio th {\n            padding-left: 5px;\n            padding-right: 5px;\n            border: solid 1px #000000;\n            background-color: LightGrey;\n\n\n            font-size: x-small;\n\n\n        }\n\n        table.tbFoglio tbody {\n            border: solid 1px #000000;\n        }\n\n        table.tbFoglio th .perc {\n            width: 50px;\n        }\n\n        table.tbFoglio td {\n            font-size: small;\n\n            border-right: solid 1px #000000;\n            border-bottom: none;\n            border-left: solid 1px #000000;\n        }\n\n        table.tbFoglio tr {}\n\n        .textRight {\n            text-align: right;\n        }\n\n        .textCenter {\n            text-align: center;\n        }\n\n        .textPerc {\n            width: 50px;\n        }\n\n        td.Ritenuta {\n            width: 50px;\n            text-align: center;\n        }\n\n        th.title,\n        .title td {\n            width: 48%\n        }\n\n        th.perc {\n            width: 50px;\n        }\n\n        th.perc2 {\n            width: 40px;\n        }\n\n        th.data {\n            width: 80px;\n        }\n\n        th.import {\n            width: 100px;\n        }\n\n        td.import {\n            text-align: right;\n        }\n\n        th.import2 {\n            width: 80px;\n        }\n\n        td.import2 {\n            text-align: right;\n        }\n\n        th.ximport {\n            width: 100px;\n        }\n\n        td.ximport {\n            text-align: center;\n        }\n\n        th.ximport2 {\n            width: 80px;\n        }\n\n        td.ximport2 {\n            text-align: center;\n        }\n\n        td.data {\n            text-align: center;\n        }\n\n        .tx-xsmall {\n            font-size: x-small;\n        }\n\n        .tx-small {\n            font-size: small;\n        }\n\n        .import {\n            text-align: right;\n        }\n\n        table.tbNoBorder {\n            border-collapse: collapse;\n            margin-bottom: 5px;\n            font-size: small;\n            text-align: center;\n            width: 800px;\n        }\n    </style>\n</head>\n\n<body>\n    <div id=\"fattura-container\">\n        <div id=\"fattura-elettronica\" class=\"page\">\n            <table id=\"tbHeader\" class=\"tbHeader\">\n                <tr>\n                    <td class=\"tdHead\">\n                        <table class=\"tableHead\">\n                            <tr>\n                                <td>\n                                    <div class=\"headBorder\">\n                                        <label class=\"headerLabel\">Cedente/prestatore (fornitore) </label>\n                                        <div class=\"headContent mt5\">\n\n                                            Identificativo fiscale ai fini IVA:\n                                            <span>IT12345openapi</span>\n                                        </div>\n                                        <div class=\"headContent\"></div>\n                                        <div class=\"headContent\">\n\n                                            Denominazione:\n                                            <span>franco</span>\n                                        </div>\n                                        <div class=\"headContent\"></div>\n                                        <div class=\"headContent\">\n\n                                            Regime fiscale:\n                                            <span>RF01</span>\n                                            ordinario\n                                        </div>\n                                        <div class=\"headContent\">\n\n                                            Indirizzo:\n                                            <span>Via di Qua, 1 </span>\n                                        </div>\n                                        <div class=\"headContent\"><span>\n\n                                      Comune:\n                                      <span>Milano</span>\n\n                                            Provincia:\n                                            <span>MI</span></span>\n                                        </div>\n                                        <div class=\"headContent\"><span>\n                                      Cap:\n                                      <span>76011</span>\n\n                                            Nazione:\n                                            <span>IT</span></span>\n                                        </div>\n                                        <div class=\"headContent\"></div>\n                                        <div class=\"headContent\"></div>\n                                        <div class=\"headContent\"></div>\n                                    </div>\n                                </td>\n                            </tr>\n                        </table>\n                    </td>\n                    <td class=\"tdHead\">\n                        <table class=\"tableHead\">\n                            <tr>\n                                <td>\n                                    <div class=\"headBorder\">\n                                        <label class=\"headerLabel\">Cessionario/committente (cliente) </label>\n                                        <div class=\"headContent mt5\">\n\n                                            Identificativo fiscale ai fini IVA:\n                                            <span>ITRSSFNC85M01H501D</span>\n                                        </div>\n                                        <div class=\"headContent\"></div>\n                                        <div class=\"headContent\">\n\n                                            Denominazione:\n                                            <span>RSSFNC85M01H501D</span>\n                                        </div>\n                                        <div class=\"headContent\"></div>\n                                        <div class=\"headContent\">\n\n                                            Indirizzo:\n                                            <span>Via di La, 2 </span>\n                                        </div>\n                                        <div class=\"headContent\"><span>\n\n                                      Comune:\n                                      <span>Milano</span>\n\n                                            Provincia:\n                                            <span>MI</span></span>\n                                        </div>\n                                        <div class=\"headContent\"><span>\n                                      Cap:\n                                      <span>76011</span>\n\n                                            Nazione:\n                                            <span>IT</span></span>\n                                        </div>\n                                        <div class=\"headContent\"></div>\n                                    </div>\n                                </td>\n                            </tr>\n                        </table>\n                    </td>\n                </tr>\n            </table>\n            <div style=\"height:10px\"></div>\n            <table class=\"tbFoglio\">\n                <thead>\n                    <tr>\n                        <th>Tipologia documento</th>\n                        <th class=\"perc\">Art. 73</th>\n                        <th>Numero documento</th>\n                        <th class=\"data\">Data documento</th>\n                        <th>Codice destinatario</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <td>TD01\n                            fattura\n                        </td>\n                        <td class=\"ritenuta\"></td>\n                        <td class=\"textCenter\">1</td>\n                        <td class=\"data\">10-07-2018</td>\n                        <td class=\"textCenter\">pippo</td>\n                    </tr>\n                </tbody>\n            </table>\n            <div class=\"separa\"></div>\n            <table class=\"tbFoglio\">\n                <thead>\n                    <tr>\n                        <th width=\"80px\">Cod. articolo</th>\n                        <th>Descrizione</th>\n                        <th class=\"import2\">Quantità</th>\n                        <th class=\"import2\">Prezzo unitario</th>\n                        <th class=\"perc2\">UM</th>\n                        <th class=\"perc\">Sconto o magg.</th>\n                        <th class=\"perc2\">%IVA</th>\n                        <th class=\"ximport\">Prezzo totale</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <td></td>\n                        <td>articolo24</td>\n                        <td class=\"import2\"></td>\n                        <td class=\"import\">310,00</td>\n                        <td class=\"textCenter\"></td>\n                        <td class=\"import\"></td>\n                        <td class=\"import\">22,00</td>\n                        <td>\n                            <div class=\"import\">120,00</div>\n                        </td>\n                    </tr>\n                </tbody>\n            </table>\n            <div class=\"separa\"></div>\n            <table class=\"tbTitolo\">\n                <thead>\n                    <tr>\n                        <th>RIEPILOGHI IVA E TOTALI</th>\n                    </tr>\n                </thead>\n            </table>\n            <table class=\"tbFoglio\">\n                <thead>\n                    <tr>\n                        <th colspan=\"3\">esigibilità iva / riferimenti normativi</th>\n                        <th class=\"perc\">%IVA</th>\n                        <th>Spese accessorie</th>\n                        <th class=\"perc\">Arr.</th>\n                        <th colspan=\"2\">Totale imponibile</th>\n                        <th colspan=\"2\">Totale imposta</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <td colspan=\"3\"><span>Esigib. non dich. (si presume immediata)</span></td>\n                        <td class=\"import\">10,00</td>\n                        <td class=\"import\"></td>\n                        <td class=\"import\"></td>\n                        <td colspan=\"2\" class=\"import\">10,00</td>\n                        <td colspan=\"2\" class=\"import\">2,20</td>\n                    </tr>\n                    <tr>\n                        <th colspan=\"2\">\n                            Imposta bollo\n                        </th>\n                        <th colspan=\"3\">\n                            Sconto/Maggiorazione\n                        </th>\n                        <th class=\"perc\">Arr.</th>\n                        <th colspan=\"4\">\n                            Totale documento\n                        </th>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" class=\"import\"></td>\n                        <td colspan=\"3\" class=\"import\"></td>\n                        <td class=\"import\"></td>\n                        <td colspan=\"4\" class=\"import\"></td>\n                    </tr>\n                </tbody>\n            </table>\n            <div class=\"separa\"></div>\n            <table class=\"tbFoglio\">\n                <thead>\n                    <tr>\n                        <th style=\"width:200px\">Modalità pagamento</th>\n                        <th>Dettagli</th>\n                        <th style=\"width:180px\">Scadenze</th>\n                        <th class=\"ximport\">Importo</th>\n                    </tr>\n                </thead>\n                <tbody></tbody>\n            </table>\n            <div style=\"height:10px\"></div>\n        </div>\n    </div>\n</body>\n\n</html>\n"},"BusinessRegistryConfiguration-read":{"type":"object","properties":{"id":{"type":"string"},"fiscal_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"apply_signature":{"type":"boolean"},"apply_legal_storage":{"type":"boolean"},"active":{"type":"boolean"}},"example":{"id":"xxxxxxxxxxxxx","fiscal_id":"000133445566","name":"My company","email":"me@example.com","apply_signature":true,"apply_legal_storage":true}},"ApiConfiguration-write":{"type":"object","properties":{"fiscal_id":{"type":"string"},"callbacks":{"type":"array","items":{"type":"object","properties":{"event":{"description":"The event code can be one of `supplier-invoice`, `customer-invoice`, `customer-notification`, `legal-storage-missing-vat`, `legal-storage-receipt`","type":"string"},"url":{"type":"string"},"auth_header":{"description":"The name of the header that will contain your authorization token","type":"string"},"field":{"description":"The json field where the payload will be sent.","example":"data","type":"string"}}}}},"example":{"fiscal_id":"000133445566","callbacks":[{"event":"supplier-invoice","url":"https://example.com/callback","auth_header":"Bearer 123456789"},{"event":"legal-storage-missing-vat","url":"https://example.com/callback","auth_header":"Bearer 123456789"},{"event":"customer-notification","url":"https://example.com/callback","auth_header":"Bearer 123456789"}]},"required":["fiscal_id","callbacks"]},"businessPatch-write":{"type":"object","properties":{"active":{"type":"boolean"}},"example":{"active":true},"required":["active"]},"ApiConfiguration-read":{"type":"object","properties":{"id":{"type":"string"},"callbacks":{"type":"array","items":{"type":"object","properties":{"event":{"description":"The event code can be one of `supplier-invoice`, `customer-invoice`, `customer-notification`, `legal-storage-missing-vat`, `legal-storage-receipt`","type":"string"},"url":{"type":"string"},"auth_header":{"description":"The name of the header that will contain your authorization token","type":"string"},"field":{"description":"The json field where the payload will be sent.","example":"data","type":"string"}}}}},"example":{"id":"000133445566","fiscal_id":"prova_1709657829273","callbacks":{"event":"supplier-invoice","url":"https://example.com/callback","auth_header":"Bearer 123456789"}}},"Invoice-write":{"type":"object","description":"","required":["fattura_elettronica_header","fattura_elettronica_body"],"properties":{"fattura_elettronica_header":{"$ref":"#/components/schemas/FatturaPAFatturaElettronicaHeader-read"},"fattura_elettronica_body":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAFatturaElettronicaBody-read"}}}},"FatturaPAAllegati-read":{"type":"object","description":"","required":["nome_attachment","attachment"],"properties":{"nome_attachment":{"type":"string"},"algoritmo_compressione":{"type":"string"},"formato_attachment":{"type":"string"},"descrizione_attachment":{"type":"string"},"attachment":{}}},"FatturaPAAllegati-write":{"type":"object","description":"","required":["nome_attachment","attachment"],"properties":{"nome_attachment":{"type":"string"},"algoritmo_compressione":{"type":"string"},"formato_attachment":{"type":"string"},"descrizione_attachment":{"type":"string"},"attachment":{}}},"FatturaPAAltriDatiGestionali-read":{"type":"object","description":"Section that allows users to enter, with reference to a detail line, information useful for administrative, management, etc.","required":["tipo_dato"],"properties":{"tipo_dato":{"description":"Code that identifies the type of information","type":"string"},"riferimento_testo":{"type":"string"},"riferimento_numero":{"type":"string"},"riferimento_data":{"type":"string","format":"date-time"}}},"FatturaPAAltriDatiGestionali-write":{"type":"object","description":"Section that allows users to enter, with reference to a detail line, information useful for administrative, management, etc.","required":["tipo_dato"],"properties":{"tipo_dato":{"description":"Code that identifies the type of information","type":"string"},"riferimento_testo":{"type":"string"},"riferimento_numero":{"type":"string"},"riferimento_data":{"type":"string","format":"date-time"}}},"FatturaPAAnagrafica-read":{"type":"object","description":"","properties":{"denominazione":{"description":"Company name, to be filled in case 'nome' and 'cognome' are empty","type":"string"},"nome":{"description":"Physical person's name, to be filled with 'cognome' in case 'denominazione' is empty","type":"string"},"cognome":{"description":"Physical person's surname, to be filled with 'name' in case 'denominazione' is empty","type":"string"},"titolo":{"type":"string"},"cod_eori":{"description":"Economic Operator Registration and Identification","type":"string"}}},"FatturaPAAnagrafica-write":{"type":"object","description":"","properties":{"denominazione":{"description":"Company name, to be filled in case 'nome' and 'cognome' are empty","type":"string"},"nome":{"description":"Physical person's name, to be filled with 'cognome' in case 'denominazione' is empty","type":"string"},"cognome":{"description":"Physical person's surname, to be filled with 'name' in case 'denominazione' is empty","type":"string"},"titolo":{"type":"string"},"cod_eori":{"description":"Economic Operator Registration and Identification","type":"string"}}},"FatturaPACedentePrestatore-read":{"type":"object","description":"This is the supplier related section","required":["dati_anagrafici","sede"],"properties":{"dati_anagrafici":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiCedentePrestatore-read"},"sede":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"stabile_organizzazione":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"iscrizione_rea":{"$ref":"#/components/schemas/FatturaPAIscrizioneREA-read"},"contatti":{"$ref":"#/components/schemas/FatturaPAContatti-read"},"riferimento_amministrazione":{"type":"string"}}},"FatturaPACedentePrestatore-write":{"type":"object","description":"This is the supplier related section","required":["dati_anagrafici","sede"],"properties":{"dati_anagrafici":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiCedentePrestatore-read"},"sede":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"stabile_organizzazione":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"iscrizione_rea":{"$ref":"#/components/schemas/FatturaPAIscrizioneREA-read"},"contatti":{"$ref":"#/components/schemas/FatturaPAContatti-read"},"riferimento_amministrazione":{"type":"string"}}},"FatturaPACessionarioCommittente-read":{"type":"object","description":"This is the customer related section","required":["dati_anagrafici","sede"],"properties":{"dati_anagrafici":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiCessionarioCommittente-read"},"sede":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"stabile_organizzazione":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"rappresentante_fiscale":{"$ref":"#/components/schemas/FatturaPARappresentanteFiscaleCessionarioCommittente-read"}}},"FatturaPACessionarioCommittente-write":{"type":"object","description":"This is the customer related section","required":["dati_anagrafici","sede"],"properties":{"dati_anagrafici":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiCessionarioCommittente-read"},"sede":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"stabile_organizzazione":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"rappresentante_fiscale":{"$ref":"#/components/schemas/FatturaPARappresentanteFiscaleCessionarioCommittente-read"}}},"FatturaPACodiceArticolo-read":{"type":"object","description":"","required":["codice_tipo","codice_valore"],"properties":{"codice_tipo":{"type":"string"},"codice_valore":{"type":"string"}}},"FatturaPACodiceArticolo-write":{"type":"object","description":"","required":["codice_tipo","codice_valore"],"properties":{"codice_tipo":{"type":"string"},"codice_valore":{"type":"string"}}},"FatturaPAContatti-read":{"type":"object","description":"","properties":{"telefono":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"}}},"FatturaPAContatti-write":{"type":"object","description":"","properties":{"telefono":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"}}},"FatturaPAContattiTrasmittente-read":{"type":"object","description":"","properties":{"telefono":{"type":"string"},"email":{"type":"string"}}},"FatturaPAContattiTrasmittente-write":{"type":"object","description":"","properties":{"telefono":{"type":"string"},"email":{"type":"string"}}},"FatturaPADatiAnagraficiCedentePrestatore-read":{"type":"object","description":"","required":["id_fiscale_iva","anagrafica","regime_fiscale"],"properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"},"albo_professionale":{"type":"string"},"provincia_albo":{"type":"string"},"numero_iscrizione_albo":{"type":"string"},"data_iscrizione_albo":{"type":"string","format":"date-time"},"regime_fiscale":{"description":"Can be one of\n    RF01\t\tOrdinario\n    RF02\t\tContribuenti minimi (art.1, c.96-117, L. 244/07)\n    RF04\t\tAgricoltura e attività connesse e pesca (artt.34 e 34-bis, DPR 633/72)\n    RF05\t\tVendita sali e tabacchi (art.74, c.1, DPR. 633/72)\n    RF06\t\tCommercio fiammiferi (art.74, c.1, DPR  633/72)\n    RF07\t\tEditoria (art.74, c.1, DPR  633/72)\n    RF08\t\tGestione servizi telefonia pubblica (art.74, c.1, DPR 633/72)\n    RF09\t\tRivendita documenti di trasporto pubblico e di sosta (art.74, c.1, DPR  633/72)\n    RF10\t\tIntrattenimenti, giochi e altre attività di cui alla tariffa allegata al DPR 640/72 (art.74, c.6, DPR 633/72)\n    RF11\t\tAgenzie viaggi e turismo (art.74-ter, DPR 633/72)\n    RF12\t\tAgriturismo (art.5, c.2, L. 413/91)\n    RF13\t\tVendite a domicilio (art.25-bis, c.6, DPR  600/73)\n    RF14\t\tRivendita beni usati, oggetti d’arte, d’antiquariato o da collezione (art.36, DL 41/95)\n    RF15\t\tAgenzie di vendite all’asta di oggetti d’arte, antiquariato o da collezione (art.40-bis, DL 41/95)\n    RF16\t\tIVA per cassa P.A. (art.6, c.5, DPR 633/72)\n    RF17\t\tIVA per cassa (art. 32-bis, DL 83/2012)\n    RF18\t\tAltro\n    RF19\t\tRegime forfettario (art.1, c.54-89, L. 190/2014)","type":"string"}}},"FatturaPADatiAnagraficiCedentePrestatore-write":{"type":"object","description":"","required":["id_fiscale_iva","anagrafica","regime_fiscale"],"properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"},"albo_professionale":{"type":"string"},"provincia_albo":{"type":"string"},"numero_iscrizione_albo":{"type":"string"},"data_iscrizione_albo":{"type":"string","format":"date-time"},"regime_fiscale":{"description":"Can be one of\n    RF01\t\tOrdinario\n    RF02\t\tContribuenti minimi (art.1, c.96-117, L. 244/07)\n    RF04\t\tAgricoltura e attività connesse e pesca (artt.34 e 34-bis, DPR 633/72)\n    RF05\t\tVendita sali e tabacchi (art.74, c.1, DPR. 633/72)\n    RF06\t\tCommercio fiammiferi (art.74, c.1, DPR  633/72)\n    RF07\t\tEditoria (art.74, c.1, DPR  633/72)\n    RF08\t\tGestione servizi telefonia pubblica (art.74, c.1, DPR 633/72)\n    RF09\t\tRivendita documenti di trasporto pubblico e di sosta (art.74, c.1, DPR  633/72)\n    RF10\t\tIntrattenimenti, giochi e altre attività di cui alla tariffa allegata al DPR 640/72 (art.74, c.6, DPR 633/72)\n    RF11\t\tAgenzie viaggi e turismo (art.74-ter, DPR 633/72)\n    RF12\t\tAgriturismo (art.5, c.2, L. 413/91)\n    RF13\t\tVendite a domicilio (art.25-bis, c.6, DPR  600/73)\n    RF14\t\tRivendita beni usati, oggetti d’arte, d’antiquariato o da collezione (art.36, DL 41/95)\n    RF15\t\tAgenzie di vendite all’asta di oggetti d’arte, antiquariato o da collezione (art.40-bis, DL 41/95)\n    RF16\t\tIVA per cassa P.A. (art.6, c.5, DPR 633/72)\n    RF17\t\tIVA per cassa (art. 32-bis, DL 83/2012)\n    RF18\t\tAltro\n    RF19\t\tRegime forfettario (art.1, c.54-89, L. 190/2014)","type":"string"}}},"FatturaPADatiAnagraficiCessionarioCommittente-read":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"}},"required":["anagrafica"]},"FatturaPADatiAnagraficiCessionarioCommittente-write":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"}},"required":["anagrafica"]},"FatturaPADatiAnagraficiRappresentanteFiscale-read":{"type":"object","description":"","required":["id_fiscale_iva","anagrafica"],"properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"}}},"FatturaPADatiAnagraficiRappresentanteFiscale-write":{"type":"object","description":"","required":["id_fiscale_iva","anagrafica"],"properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"}}},"FatturaPADatiAnagraficiTerzoIntermediario-read":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"}},"required":["anagrafica"]},"FatturaPADatiAnagraficiTerzoIntermediario-write":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"}},"required":["anagrafica"]},"FatturaPADatiAnagraficiVettore-read":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"},"numero_licenza_guida":{"type":"string"}},"required":["anagrafica"]},"FatturaPADatiAnagraficiVettore-write":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"codice_fiscale":{"type":"string"},"anagrafica":{"$ref":"#/components/schemas/FatturaPAAnagrafica-read"},"numero_licenza_guida":{"type":"string"}},"required":["anagrafica"]},"FatturaPADatiBeniServizi-read":{"type":"object","description":"","properties":{"dettaglio_linee":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADettaglioLinee-read"}},"dati_riepilogo":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiRiepilogo-read"}}}},"FatturaPADatiBeniServizi-write":{"type":"object","description":"","properties":{"dettaglio_linee":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADettaglioLinee-read"}},"dati_riepilogo":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiRiepilogo-read"}}}},"FatturaPADatiBollo-read":{"type":"object","description":"","required":["bollo_virtuale"],"properties":{"bollo_virtuale":{"type":"string"},"importo_bollo":{"type":"string"}}},"FatturaPADatiBollo-write":{"type":"object","description":"","required":["bollo_virtuale"],"properties":{"bollo_virtuale":{"type":"string"},"importo_bollo":{"type":"string"}}},"FatturaPADatiCassaPrevidenziale-read":{"type":"object","description":"","required":["tipo_cassa","al_cassa","importo_contributo_cassa","aliquota_iva"],"properties":{"tipo_cassa":{"description":"Can be one of\n    TC01\t\tCassa nazionale previdenza e assistenza avvocati e procuratori legali\n    TC02\t\tCassa previdenza dottori commercialisti\n    TC03\t\tCassa previdenza e assistenza geometri\n    TC04\t\tCassa nazionale previdenza e assistenza ingegneri e architetti liberi professionisti\n    TC05\t\tCassa nazionale del notariato\n    TC06\t\tCassa nazionale previdenza e assistenza ragionieri e periti commerciali\n    TC07\t\tEnte nazionale assistenza agenti e rappresentanti di commercio (ENASARCO)\n    TC08\t\tEnte nazionale previdenza e assistenza consulenti del lavoro (ENPACL)\n    TC09\t\tEnte nazionale previdenza e assistenza medici (ENPAM)\n    TC10\t\tEnte nazionale previdenza e assistenza farmacisti (ENPAF)\n    TC11\t\tEnte nazionale previdenza e assistenza veterinari (ENPAV)\n    TC12\t\tEnte nazionale previdenza e assistenza impiegati dell'agricoltura (ENPAIA)\n    TC13\t\tFondo previdenza impiegati imprese di spedizione e agenzie marittime\n    TC14\t\tIstituto nazionale previdenza giornalisti italiani (INPGI)\n    TC15\t\tOpera nazionale assistenza orfani sanitari italiani (ONAOSI)\n    TC16\t\tCassa autonoma assistenza integrativa giornalisti italiani (CASAGIT)\n    TC17\t\tEnte previdenza periti industriali e periti industriali laureati (EPPI)\n    TC18\t\tEnte previdenza e assistenza pluricategoriale (EPAP)\n    TC19\t\tEnte nazionale previdenza e assistenza biologi (ENPAB)\n    TC20\t\tEnte nazionale previdenza e assistenza professione infermieristica (ENPAPI)\n    TC21\t\tEnte nazionale previdenza e assistenza psicologi (ENPAP)\n    TC22\t\tINPS","type":"string"},"al_cassa":{"type":"string"},"importo_contributo_cassa":{"type":"string"},"imponibile_cassa":{"type":"string"},"aliquota_iva":{"type":"string"},"ritenuta":{"type":"string"},"natura":{"description":"Can be one of\n    N1\t\tescluse ex art. 15\n    N2\t\tnon soggette\n    N2.1\t\tnon soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72\n    N2.2\t\tnon soggette - altri casi\n    N3\t\tnon imponibili\n    N3.1\t\tnon imponibili - esportazioni\n    N3.2\t\tnon imponibili - cessioni intracomunitarie\n    N3.3\t\tnon imponibili - cessioni verso San Marino\n    N3.4\t\tnon imponibili - operazioni assimilate alle cessioni all'esportazione\n    N3.5\t\tnon imponibili - a seguito di dichiarazioni d'intento\n    N3.6\t\tnon imponibili - altre operazioni che non concorrono alla formazione del plafond\n    N4\t\tesenti\n    N5\t\tregime del margine / IVA non esposta in fattura\n    N6\t\tinversione contabile (per le operazioni in reverse charge ovvero nei casi di autofatturazione per acquisti extra UE di servizi ovvero per importazioni di beni nei soli casi previsti)\n    N6.1\t\tinversione contabile - cessione di rottami e altri materiali di recupero\n    N6.2\t\tinversione contabile - cessione di oro e argento puro\n    N6.3\t\tinversione contabile - subappalto nel settore edile\n    N6.4\t\tinversione contabile - cessione di fabbricati\n    N6.5\t\tinversione contabile - cessione di telefoni cellulari\n    N6.6\t\tinversione contabile - cessione di prodotti elettronici\n    N6.7\t\tinversione contabile - prestazioni comparto edile e settori connessi\n    N6.8\t\tinversione contabile - operazioni settore energetico\n    N6.9\t\tinversione contabile - altri casi\n    N7\t\tIVA assolta in altro stato UE (vendite a distanza ex art. 40 c. 3 e 4 e art. 41 c. 1 lett. b,  DL 331/93; prestazione di servizi di telecomunicazioni, tele-radiodiffusione ed elettronici ex art. 7-sexies lett. f, g, art. 74-sexies DPR 633/72)","type":"string"},"riferimento_amministrazione":{"type":"string"}}},"FatturaPADatiCassaPrevidenziale-write":{"type":"object","description":"","required":["tipo_cassa","al_cassa","importo_contributo_cassa","aliquota_iva"],"properties":{"tipo_cassa":{"description":"Can be one of\n    TC01\t\tCassa nazionale previdenza e assistenza avvocati e procuratori legali\n    TC02\t\tCassa previdenza dottori commercialisti\n    TC03\t\tCassa previdenza e assistenza geometri\n    TC04\t\tCassa nazionale previdenza e assistenza ingegneri e architetti liberi professionisti\n    TC05\t\tCassa nazionale del notariato\n    TC06\t\tCassa nazionale previdenza e assistenza ragionieri e periti commerciali\n    TC07\t\tEnte nazionale assistenza agenti e rappresentanti di commercio (ENASARCO)\n    TC08\t\tEnte nazionale previdenza e assistenza consulenti del lavoro (ENPACL)\n    TC09\t\tEnte nazionale previdenza e assistenza medici (ENPAM)\n    TC10\t\tEnte nazionale previdenza e assistenza farmacisti (ENPAF)\n    TC11\t\tEnte nazionale previdenza e assistenza veterinari (ENPAV)\n    TC12\t\tEnte nazionale previdenza e assistenza impiegati dell'agricoltura (ENPAIA)\n    TC13\t\tFondo previdenza impiegati imprese di spedizione e agenzie marittime\n    TC14\t\tIstituto nazionale previdenza giornalisti italiani (INPGI)\n    TC15\t\tOpera nazionale assistenza orfani sanitari italiani (ONAOSI)\n    TC16\t\tCassa autonoma assistenza integrativa giornalisti italiani (CASAGIT)\n    TC17\t\tEnte previdenza periti industriali e periti industriali laureati (EPPI)\n    TC18\t\tEnte previdenza e assistenza pluricategoriale (EPAP)\n    TC19\t\tEnte nazionale previdenza e assistenza biologi (ENPAB)\n    TC20\t\tEnte nazionale previdenza e assistenza professione infermieristica (ENPAPI)\n    TC21\t\tEnte nazionale previdenza e assistenza psicologi (ENPAP)\n    TC22\t\tINPS","type":"string"},"al_cassa":{"type":"string"},"importo_contributo_cassa":{"type":"string"},"imponibile_cassa":{"type":"string"},"aliquota_iva":{"type":"string"},"ritenuta":{"type":"string"},"natura":{"description":"Can be one of\n    N1\t\tescluse ex art. 15\n    N2\t\tnon soggette\n    N2.1\t\tnon soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72\n    N2.2\t\tnon soggette - altri casi\n    N3\t\tnon imponibili\n    N3.1\t\tnon imponibili - esportazioni\n    N3.2\t\tnon imponibili - cessioni intracomunitarie\n    N3.3\t\tnon imponibili - cessioni verso San Marino\n    N3.4\t\tnon imponibili - operazioni assimilate alle cessioni all'esportazione\n    N3.5\t\tnon imponibili - a seguito di dichiarazioni d'intento\n    N3.6\t\tnon imponibili - altre operazioni che non concorrono alla formazione del plafond\n    N4\t\tesenti\n    N5\t\tregime del margine / IVA non esposta in fattura\n    N6\t\tinversione contabile (per le operazioni in reverse charge ovvero nei casi di autofatturazione per acquisti extra UE di servizi ovvero per importazioni di beni nei soli casi previsti)\n    N6.1\t\tinversione contabile - cessione di rottami e altri materiali di recupero\n    N6.2\t\tinversione contabile - cessione di oro e argento puro\n    N6.3\t\tinversione contabile - subappalto nel settore edile\n    N6.4\t\tinversione contabile - cessione di fabbricati\n    N6.5\t\tinversione contabile - cessione di telefoni cellulari\n    N6.6\t\tinversione contabile - cessione di prodotti elettronici\n    N6.7\t\tinversione contabile - prestazioni comparto edile e settori connessi\n    N6.8\t\tinversione contabile - operazioni settore energetico\n    N6.9\t\tinversione contabile - altri casi\n    N7\t\tIVA assolta in altro stato UE (vendite a distanza ex art. 40 c. 3 e 4 e art. 41 c. 1 lett. b,  DL 331/93; prestazione di servizi di telecomunicazioni, tele-radiodiffusione ed elettronici ex art. 7-sexies lett. f, g, art. 74-sexies DPR 633/72)","type":"string"},"riferimento_amministrazione":{"type":"string"}}},"FatturaPADatiDDT-read":{"type":"object","description":"","required":["numero_ddt"],"properties":{"numero_ddt":{"type":"string"},"data_ddt":{"type":"string","format":"date-time"},"riferimento_numero_linea":{"type":"array","items":{"type":"string"}}}},"FatturaPADatiDDT-write":{"type":"object","description":"","required":["numero_ddt"],"properties":{"numero_ddt":{"type":"string"},"data_ddt":{"type":"string","format":"date-time"},"riferimento_numero_linea":{"type":"array","items":{"type":"string"}}}},"FatturaPADatiDocumentiCorrelati-read":{"type":"object","description":"","properties":{"riferimento_numero_linea":{"type":"array","items":{"type":"integer"}},"id_documento":{"type":"string"},"data":{"type":"string","format":"date-time"},"num_item":{"type":"string"},"codice_commessa_convenzione":{"type":"string"},"codice_cup":{"type":"string"},"codice_cig":{"type":"string"}},"required":["id_documento"]},"FatturaPADatiDocumentiCorrelati-write":{"type":"object","description":"","properties":{"riferimento_numero_linea":{"type":"array","items":{"type":"integer"}},"id_documento":{"type":"string"},"data":{"type":"string","format":"date-time"},"num_item":{"type":"string"},"codice_commessa_convenzione":{"type":"string"},"codice_cup":{"type":"string"},"codice_cig":{"type":"string"}},"required":["id_documento"]},"FatturaPADatiGenerali-read":{"type":"object","description":"","required":["dati_generali_documento"],"properties":{"dati_generali_documento":{"$ref":"#/components/schemas/FatturaPADatiGeneraliDocumento-read"},"dati_ordine_acquisto":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_contratto":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_convenzione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_ricezione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_fatture_collegate":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_sal":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiSAL-read"}},"dati_ddt":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDDT-read"}},"dati_trasporto":{"$ref":"#/components/schemas/FatturaPADatiTrasporto-read"},"fattura_principale":{"$ref":"#/components/schemas/FatturaPAFatturaPrincipale-read"}}},"FatturaPADatiGenerali-write":{"type":"object","description":"","required":["dati_generali_documento"],"properties":{"dati_generali_documento":{"$ref":"#/components/schemas/FatturaPADatiGeneraliDocumento-read"},"dati_ordine_acquisto":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_contratto":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_convenzione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_ricezione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_fatture_collegate":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDocumentiCorrelati-read"}},"dati_sal":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiSAL-read"}},"dati_ddt":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiDDT-read"}},"dati_trasporto":{"$ref":"#/components/schemas/FatturaPADatiTrasporto-read"},"fattura_principale":{"$ref":"#/components/schemas/FatturaPAFatturaPrincipale-read"}}},"FatturaPADatiGeneraliDocumento-read":{"type":"object","description":"","required":["tipo_documento","divisa","data","numero"],"properties":{"tipo_documento":{"description":"Can be one of\n    TD01\t\tfattura\n    TD02\t\tacconto/anticipo su fattura\n    TD03\t\tacconto/anticipo su parcella\n    TD04\t\tnota di credito\n    TD05\t\tnota di debito\n    TD06\t\tparcella\n    TD16\t\tintegrazione fattura reverse charge interno\n    TD17\t\tintegrazione/autofattura per acquisto servizi dall'estero\n    TD18\t\tintegrazione per acquisto di beni intracomunitari\n    TD19\t\tintegrazione/autofattura per acquisto di beni ex art.17 c.2 DPR 633/72\n    TD20\t\tautofattura per regolarizzazione e integrazione delle fatture (ex art.6 c.8 d.lgs. 471/97  o  art.46 c.5 D.L. 331/93)\n    TD21\t\tautofattura per splafonamento\n    TD22\t\testrazione beni da Deposito IVA\n    TD23\t\testrazione beni da Deposito IVA con versamento dell'IVA\n    TD24\t\tfattura differita di cui all'art. 21, comma 4, lett. a)\n    TD25\t\tfattura differita di cui all'art. 21, comma 4, terzo periodo lett. b)\n    TD26\t\tcessione di beni ammortizzabili e per passaggi interni (ex art.36 DPR 633/72)\n    TD27\t\tfattura per autoconsumo o per cessioni gratuite senza rivalsa","type":"string"},"divisa":{"type":"string"},"data":{"type":"string","format":"date-time"},"numero":{"type":"string"},"dati_ritenuta":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiRitenuta-read"}},"dati_bollo":{"$ref":"#/components/schemas/FatturaPADatiBollo-read"},"dati_cassa_previdenziale":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiCassaPrevidenziale-read"}},"sconto_maggiorazione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAScontoMaggiorazione-read"}},"importo_totale_documento":{"type":"string"},"arrotondamento":{"type":"string"},"causale":{"type":"array","items":{"type":"string"}},"art73":{"type":"string"}}},"FatturaPADatiGeneraliDocumento-write":{"type":"object","description":"","required":["tipo_documento","divisa","data","numero"],"properties":{"tipo_documento":{"description":"Can be one of\n    TD01\t\tfattura\n    TD02\t\tacconto/anticipo su fattura\n    TD03\t\tacconto/anticipo su parcella\n    TD04\t\tnota di credito\n    TD05\t\tnota di debito\n    TD06\t\tparcella\n    TD16\t\tintegrazione fattura reverse charge interno\n    TD17\t\tintegrazione/autofattura per acquisto servizi dall'estero\n    TD18\t\tintegrazione per acquisto di beni intracomunitari\n    TD19\t\tintegrazione/autofattura per acquisto di beni ex art.17 c.2 DPR 633/72\n    TD20\t\tautofattura per regolarizzazione e integrazione delle fatture (ex art.6 c.8 d.lgs. 471/97  o  art.46 c.5 D.L. 331/93)\n    TD21\t\tautofattura per splafonamento\n    TD22\t\testrazione beni da Deposito IVA\n    TD23\t\testrazione beni da Deposito IVA con versamento dell'IVA\n    TD24\t\tfattura differita di cui all'art. 21, comma 4, lett. a)\n    TD25\t\tfattura differita di cui all'art. 21, comma 4, terzo periodo lett. b)\n    TD26\t\tcessione di beni ammortizzabili e per passaggi interni (ex art.36 DPR 633/72)\n    TD27\t\tfattura per autoconsumo o per cessioni gratuite senza rivalsa","type":"string"},"divisa":{"type":"string"},"data":{"type":"string","format":"date-time"},"numero":{"type":"string"},"dati_ritenuta":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiRitenuta-write"}},"dati_bollo":{"$ref":"#/components/schemas/FatturaPADatiBollo-read"},"dati_cassa_previdenziale":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiCassaPrevidenziale-read"}},"sconto_maggiorazione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAScontoMaggiorazione-read"}},"importo_totale_documento":{"type":"string"},"arrotondamento":{"type":"string"},"causale":{"type":"array","items":{"type":"string"}},"art73":{"type":"string"}}},"FatturaPADatiPagamento-read":{"type":"object","description":"","required":["condizioni_pagamento"],"properties":{"condizioni_pagamento":{"type":"string"},"dettaglio_pagamento":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADettaglioPagamento-read"}}}},"FatturaPADatiPagamento-write":{"type":"object","description":"","required":["condizioni_pagamento"],"properties":{"condizioni_pagamento":{"type":"string"},"dettaglio_pagamento":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADettaglioPagamento-read"}}}},"FatturaPADatiRiepilogo-read":{"type":"object","description":"","required":["aliquota_iva","imponibile_importo","imposta"],"properties":{"aliquota_iva":{"type":"string"},"natura":{"description":"Can be one of\n    N1\t\tescluse ex art. 15\n    N2\t\tnon soggette\n    N2.1\t\tnon soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72\n    N2.2\t\tnon soggette - altri casi\n    N3\t\tnon imponibili\n    N3.1\t\tnon imponibili - esportazioni\n    N3.2\t\tnon imponibili - cessioni intracomunitarie\n    N3.3\t\tnon imponibili - cessioni verso San Marino\n    N3.4\t\tnon imponibili - operazioni assimilate alle cessioni all'esportazione\n    N3.5\t\tnon imponibili - a seguito di dichiarazioni d'intento\n    N3.6\t\tnon imponibili - altre operazioni che non concorrono alla formazione del plafond\n    N4\t\tesenti\n    N5\t\tregime del margine / IVA non esposta in fattura\n    N6\t\tinversione contabile (per le operazioni in reverse charge ovvero nei casi di autofatturazione per acquisti extra UE di servizi ovvero per importazioni di beni nei soli casi previsti)\n    N6.1\t\tinversione contabile - cessione di rottami e altri materiali di recupero\n    N6.2\t\tinversione contabile - cessione di oro e argento puro\n    N6.3\t\tinversione contabile - subappalto nel settore edile\n    N6.4\t\tinversione contabile - cessione di fabbricati\n    N6.5\t\tinversione contabile - cessione di telefoni cellulari\n    N6.6\t\tinversione contabile - cessione di prodotti elettronici\n    N6.7\t\tinversione contabile - prestazioni comparto edile e settori connessi\n    N6.8\t\tinversione contabile - operazioni settore energetico\n    N6.9\t\tinversione contabile - altri casi\n    N7\t\tIVA assolta in altro stato UE (vendite a distanza ex art. 40 c. 3 e 4 e art. 41 c. 1 lett. b,  DL 331/93; prestazione di servizi di telecomunicazioni, tele-radiodiffusione ed elettronici ex art. 7-sexies lett. f, g, art. 74-sexies DPR 633/72)","type":"string"},"spese_accessorie":{"type":"string"},"arrotondamento":{"type":"string"},"imponibile_importo":{"type":"string"},"imposta":{"type":"string"},"esigibilita_iva":{"description":"Codes that can be used:\n    I IVA ad esigibilità immediata\n    D IVA ad esigibilità differita\n    S scissione dei pagamenti","type":"string"},"riferimento_normativo":{"type":"string"}}},"FatturaPADatiRiepilogo-write":{"type":"object","description":"","required":["aliquota_iva","imponibile_importo","imposta"],"properties":{"aliquota_iva":{"type":"string"},"natura":{"description":"Can be one of\n    N1\t\tescluse ex art. 15\n    N2\t\tnon soggette\n    N2.1\t\tnon soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72\n    N2.2\t\tnon soggette - altri casi\n    N3\t\tnon imponibili\n    N3.1\t\tnon imponibili - esportazioni\n    N3.2\t\tnon imponibili - cessioni intracomunitarie\n    N3.3\t\tnon imponibili - cessioni verso San Marino\n    N3.4\t\tnon imponibili - operazioni assimilate alle cessioni all'esportazione\n    N3.5\t\tnon imponibili - a seguito di dichiarazioni d'intento\n    N3.6\t\tnon imponibili - altre operazioni che non concorrono alla formazione del plafond\n    N4\t\tesenti\n    N5\t\tregime del margine / IVA non esposta in fattura\n    N6\t\tinversione contabile (per le operazioni in reverse charge ovvero nei casi di autofatturazione per acquisti extra UE di servizi ovvero per importazioni di beni nei soli casi previsti)\n    N6.1\t\tinversione contabile - cessione di rottami e altri materiali di recupero\n    N6.2\t\tinversione contabile - cessione di oro e argento puro\n    N6.3\t\tinversione contabile - subappalto nel settore edile\n    N6.4\t\tinversione contabile - cessione di fabbricati\n    N6.5\t\tinversione contabile - cessione di telefoni cellulari\n    N6.6\t\tinversione contabile - cessione di prodotti elettronici\n    N6.7\t\tinversione contabile - prestazioni comparto edile e settori connessi\n    N6.8\t\tinversione contabile - operazioni settore energetico\n    N6.9\t\tinversione contabile - altri casi\n    N7\t\tIVA assolta in altro stato UE (vendite a distanza ex art. 40 c. 3 e 4 e art. 41 c. 1 lett. b,  DL 331/93; prestazione di servizi di telecomunicazioni, tele-radiodiffusione ed elettronici ex art. 7-sexies lett. f, g, art. 74-sexies DPR 633/72)","type":"string"},"spese_accessorie":{"type":"string"},"arrotondamento":{"type":"string"},"imponibile_importo":{"type":"string"},"imposta":{"type":"string"},"esigibilita_iva":{"description":"Codes that can be used:\n    I IVA ad esigibilità immediata\n    D IVA ad esigibilità differita\n    S scissione dei pagamenti","type":"string"},"riferimento_normativo":{"type":"string"}}},"FatturaPADatiRitenuta-read":{"type":"object","description":"","required":["tipo_ritenuta","importo_ritenuta","aliquota_ritenuta","causale_pagamento"],"properties":{"tipo_ritenuta":{"description":"Can be one of\n    RT01\t\tritenuta persone fisiche\n    RT02\t\tritenuta persone giuridiche\n    RT03\t\tcontributo INPS\n    RT04\t\tcontributo ENASARCO\n    RT05\t\tcontributo ENPAM\n    RT06\t\taltro contributo previdenziale","type":"string"},"importo_ritenuta":{"type":"string"},"aliquota_ritenuta":{"type":"string"},"causale_pagamento":{"type":"string"}}},"FatturaPADatiRitenuta-write":{"type":"object","description":"","required":["tipo_ritenuta","importo_ritenuta","aliquota_ritenuta","causale_pagamento"],"properties":{"tipo_ritenuta":{"description":"Can be one of\n    RT01\t\tritenuta persone fisiche\n    RT02\t\tritenuta persone giuridiche\n    RT03\t\tcontributo INPS\n    RT04\t\tcontributo ENASARCO\n    RT05\t\tcontributo ENPAM\n    RT06\t\taltro contributo previdenziale","type":"string"},"importo_ritenuta":{"type":"string"},"aliquota_ritenuta":{"type":"string"},"causale_pagamento":{"type":"string"}}},"FatturaPADatiSAL-read":{"type":"object","description":"","required":["riferimento_fase"],"properties":{"riferimento_fase":{"type":"integer"}}},"FatturaPADatiSAL-write":{"type":"object","description":"","required":["riferimento_fase"],"properties":{"riferimento_fase":{"type":"integer"}}},"FatturaPADatiTrasmissione-read":{"type":"object","description":"","properties":{"id_trasmittente":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"progressivo_invio":{"readOnly":true,"type":"string"},"formato_trasmissione":{"readOnly":true,"type":"string"},"codice_destinatario":{"type":"string"},"contatti_trasmittente":{"$ref":"#/components/schemas/FatturaPAContattiTrasmittente-read"},"pec_destinatario":{"type":"string"}},"required":["codice_destinatario"]},"FatturaPADatiTrasmissione-write":{"type":"object","description":"","required":["codice_destinatario"],"properties":{"codice_destinatario":{"type":"string"},"pec_destinatario":{"type":"string"}}},"FatturaPADatiTrasporto-read":{"type":"object","description":"","properties":{"dati_anagrafici_vettore":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiVettore-read"},"mezzo_trasporto":{"type":"string"},"causale_trasporto":{"type":"string"},"numero_colli":{"type":"integer"},"descrizione":{"type":"string"},"unita_misura_peso":{"type":"string"},"peso_lordo":{"type":"string"},"peso_netto":{"type":"string"},"data_ora_ritiro":{"type":"string","format":"date-time"},"data_inizio_trasporto":{"type":"string","format":"date-time"},"tipo_resa":{"type":"string"},"indirizzo_resa":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"data_ora_consegna":{"type":"string","format":"date-time"}}},"FatturaPADatiTrasporto-write":{"type":"object","description":"","properties":{"dati_anagrafici_vettore":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiVettore-read"},"mezzo_trasporto":{"type":"string"},"causale_trasporto":{"type":"string"},"numero_colli":{"type":"integer"},"descrizione":{"type":"string"},"unita_misura_peso":{"type":"string"},"peso_lordo":{"type":"string"},"peso_netto":{"type":"string"},"data_ora_ritiro":{"type":"string","format":"date-time"},"data_inizio_trasporto":{"type":"string","format":"date-time"},"tipo_resa":{"type":"string"},"indirizzo_resa":{"$ref":"#/components/schemas/FatturaPAIndirizzo-read"},"data_ora_consegna":{"type":"string","format":"date-time"}}},"FatturaPADatiVeicoli-read":{"type":"object","description":"","required":["data","totale_percorso"],"properties":{"data":{"type":"string","format":"date-time"},"totale_percorso":{"type":"string"}}},"FatturaPADatiVeicoli-write":{"type":"object","description":"","required":["data","totale_percorso"],"properties":{"data":{"type":"string","format":"date-time"},"totale_percorso":{"type":"string"}}},"FatturaPADettaglioLinee-read":{"type":"object","description":"","required":["numero_linea","descrizione","prezzo_unitario","prezzo_totale","aliquota_iva"],"properties":{"numero_linea":{"type":"integer"},"tipo_cessione_prestazione":{"type":"string"},"codice_articolo":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPACodiceArticolo-read"}},"descrizione":{"type":"string"},"quantita":{"type":"string"},"unita_misura":{"type":"string"},"data_inizio_periodo":{"type":"string","format":"date-time"},"data_fine_periodo":{"type":"string","format":"date-time"},"prezzo_unitario":{"type":"string"},"sconto_maggiorazione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAScontoMaggiorazione-read"}},"prezzo_totale":{"type":"string"},"aliquota_iva":{"type":"string"},"ritenuta":{"type":"string"},"natura":{"description":"Can be one of\n    N1\t\tescluse ex art. 15\n    N2\t\tnon soggette\n    N2.1\t\tnon soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72\n    N2.2\t\tnon soggette - altri casi\n    N3\t\tnon imponibili\n    N3.1\t\tnon imponibili - esportazioni\n    N3.2\t\tnon imponibili - cessioni intracomunitarie\n    N3.3\t\tnon imponibili - cessioni verso San Marino\n    N3.4\t\tnon imponibili - operazioni assimilate alle cessioni all'esportazione\n    N3.5\t\tnon imponibili - a seguito di dichiarazioni d'intento\n    N3.6\t\tnon imponibili - altre operazioni che non concorrono alla formazione del plafond\n    N4\t\tesenti\n    N5\t\tregime del margine / IVA non esposta in fattura\n    N6\t\tinversione contabile (per le operazioni in reverse charge ovvero nei casi di autofatturazione per acquisti extra UE di servizi ovvero per importazioni di beni nei soli casi previsti)\n    N6.1\t\tinversione contabile - cessione di rottami e altri materiali di recupero\n    N6.2\t\tinversione contabile - cessione di oro e argento puro\n    N6.3\t\tinversione contabile - subappalto nel settore edile\n    N6.4\t\tinversione contabile - cessione di fabbricati\n    N6.5\t\tinversione contabile - cessione di telefoni cellulari\n    N6.6\t\tinversione contabile - cessione di prodotti elettronici\n    N6.7\t\tinversione contabile - prestazioni comparto edile e settori connessi\n    N6.8\t\tinversione contabile - operazioni settore energetico\n    N6.9\t\tinversione contabile - altri casi\n    N7\t\tIVA assolta in altro stato UE (vendite a distanza ex art. 40 c. 3 e 4 e art. 41 c. 1 lett. b,  DL 331/93; prestazione di servizi di telecomunicazioni, tele-radiodiffusione ed elettronici ex art. 7-sexies lett. f, g, art. 74-sexies DPR 633/72)","type":"string"},"riferimento_amministrazione":{"type":"string"},"altri_dati_gestionali":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAAltriDatiGestionali-read"}}}},"FatturaPADettaglioLinee-write":{"type":"object","description":"","required":["numero_linea","descrizione","prezzo_unitario","prezzo_totale","aliquota_iva"],"properties":{"numero_linea":{"type":"integer"},"tipo_cessione_prestazione":{"type":"string"},"codice_articolo":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPACodiceArticolo-read"}},"descrizione":{"type":"string"},"quantita":{"type":"string"},"unita_misura":{"type":"string"},"data_inizio_periodo":{"type":"string","format":"date-time"},"data_fine_periodo":{"type":"string","format":"date-time"},"prezzo_unitario":{"type":"string"},"sconto_maggiorazione":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAScontoMaggiorazione-read"}},"prezzo_totale":{"type":"string"},"aliquota_iva":{"type":"string"},"ritenuta":{"type":"string"},"natura":{"description":"Can be one of\n    N1\t\tescluse ex art. 15\n    N2\t\tnon soggette\n    N2.1\t\tnon soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72\n    N2.2\t\tnon soggette - altri casi\n    N3\t\tnon imponibili\n    N3.1\t\tnon imponibili - esportazioni\n    N3.2\t\tnon imponibili - cessioni intracomunitarie\n    N3.3\t\tnon imponibili - cessioni verso San Marino\n    N3.4\t\tnon imponibili - operazioni assimilate alle cessioni all'esportazione\n    N3.5\t\tnon imponibili - a seguito di dichiarazioni d'intento\n    N3.6\t\tnon imponibili - altre operazioni che non concorrono alla formazione del plafond\n    N4\t\tesenti\n    N5\t\tregime del margine / IVA non esposta in fattura\n    N6\t\tinversione contabile (per le operazioni in reverse charge ovvero nei casi di autofatturazione per acquisti extra UE di servizi ovvero per importazioni di beni nei soli casi previsti)\n    N6.1\t\tinversione contabile - cessione di rottami e altri materiali di recupero\n    N6.2\t\tinversione contabile - cessione di oro e argento puro\n    N6.3\t\tinversione contabile - subappalto nel settore edile\n    N6.4\t\tinversione contabile - cessione di fabbricati\n    N6.5\t\tinversione contabile - cessione di telefoni cellulari\n    N6.6\t\tinversione contabile - cessione di prodotti elettronici\n    N6.7\t\tinversione contabile - prestazioni comparto edile e settori connessi\n    N6.8\t\tinversione contabile - operazioni settore energetico\n    N6.9\t\tinversione contabile - altri casi\n    N7\t\tIVA assolta in altro stato UE (vendite a distanza ex art. 40 c. 3 e 4 e art. 41 c. 1 lett. b,  DL 331/93; prestazione di servizi di telecomunicazioni, tele-radiodiffusione ed elettronici ex art. 7-sexies lett. f, g, art. 74-sexies DPR 633/72)","type":"string"},"riferimento_amministrazione":{"type":"string"},"altri_dati_gestionali":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAAltriDatiGestionali-read"}}}},"FatturaPADettaglioPagamento-read":{"type":"object","description":"","properties":{"beneficiario":{"type":"string"},"modalita_pagamento":{"description":"Can be one of\n    MP01\t\tcontanti\n    MP02\t\tassegno\n    MP03\t\tassegno circolare\n    MP04\t\tcontanti presso Tesoreria\n    MP05\t\tbonifico\n    MP06\t\tvaglia cambiario\n    MP07\t\tbollettino bancario\n    MP08\t\tcarta di pagamento\n    MP09\t\tRID\n    MP10\t\tRID utenze\n    MP11\t\tRID veloce\n    MP12\t\tRIBA\n    MP13\t\tMAV\n    MP14\t\tquietanza erario\n    MP15\t\tgiroconto su conti di contabilità speciale\n    MP16\t\tdomiciliazione bancaria\n    MP17\t\tdomiciliazione postale\n    MP18\t\tbollettino di c/c postale\n    MP19\t\tSEPA Direct Debit\n    MP20\t\tSEPA Direct Debit CORE\n    MP21\t\tSEPA Direct Debit B2B\n    MP22\t\tTrattenuta su somme già riscosse\n    MP23        PagoPA","type":"string"},"data_riferimento_termini_pagamento":{"type":"string","format":"date-time"},"giorni_termini_pagamento":{"type":"integer"},"data_scadenza_pagamento":{"type":"string","format":"date-time"},"importo_pagamento":{"type":"string"},"cod_ufficio_postale":{"type":"string"},"cognome_quietanzante":{"type":"string"},"nome_quietanzante":{"type":"string"},"cf_quietanzante":{"type":"string"},"titolo_quietanzante":{"type":"string"},"istituto_finanziario":{"type":"string"},"iban":{"type":"string"},"abi":{"type":"string"},"cab":{"type":"string"},"bic":{"type":"string"},"sconto_pagamento_anticipato":{"type":"string"},"data_limite_pagamento_anticipato":{"type":"string","format":"date-time"},"penalita_pagamenti_ritardati":{"type":"string"},"data_decorrenza_penale":{"type":"string","format":"date-time"},"codice_pagamento":{"type":"string"}},"required":["modalita_pagamento","importo_pagamento"]},"FatturaPADettaglioPagamento-write":{"type":"object","description":"","properties":{"beneficiario":{"type":"string"},"modalita_pagamento":{"description":"Can be one of\n    MP01\t\tcontanti\n    MP02\t\tassegno\n    MP03\t\tassegno circolare\n    MP04\t\tcontanti presso Tesoreria\n    MP05\t\tbonifico\n    MP06\t\tvaglia cambiario\n    MP07\t\tbollettino bancario\n    MP08\t\tcarta di pagamento\n    MP09\t\tRID\n    MP10\t\tRID utenze\n    MP11\t\tRID veloce\n    MP12\t\tRIBA\n    MP13\t\tMAV\n    MP14\t\tquietanza erario\n    MP15\t\tgiroconto su conti di contabilità speciale\n    MP16\t\tdomiciliazione bancaria\n    MP17\t\tdomiciliazione postale\n    MP18\t\tbollettino di c/c postale\n    MP19\t\tSEPA Direct Debit\n    MP20\t\tSEPA Direct Debit CORE\n    MP21\t\tSEPA Direct Debit B2B\n    MP22\t\tTrattenuta su somme già riscosse\n    MP23        PagoPA","type":"string"},"data_riferimento_termini_pagamento":{"type":"string","format":"date-time"},"giorni_termini_pagamento":{"type":"integer"},"data_scadenza_pagamento":{"type":"string","format":"date-time"},"importo_pagamento":{"type":"string"},"cod_ufficio_postale":{"type":"string"},"cognome_quietanzante":{"type":"string"},"nome_quietanzante":{"type":"string"},"cf_quietanzante":{"type":"string"},"titolo_quietanzante":{"type":"string"},"istituto_finanziario":{"type":"string"},"iban":{"type":"string"},"abi":{"type":"string"},"cab":{"type":"string"},"bic":{"type":"string"},"sconto_pagamento_anticipato":{"type":"string"},"data_limite_pagamento_anticipato":{"type":"string","format":"date-time"},"penalita_pagamenti_ritardati":{"type":"string"},"data_decorrenza_penale":{"type":"string","format":"date-time"},"codice_pagamento":{"type":"string"}},"required":["modalita_pagamento","importo_pagamento"]},"FatturaPAFatturaElettronicaBody-read":{"type":"object","description":"","required":["dati_generali","dati_beni_servizi"],"properties":{"dati_generali":{"$ref":"#/components/schemas/FatturaPADatiGenerali-read"},"dati_beni_servizi":{"$ref":"#/components/schemas/FatturaPADatiBeniServizi-read"},"dati_veicoli":{"$ref":"#/components/schemas/FatturaPADatiVeicoli-read"},"dati_pagamento":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiPagamento-read"}},"allegati":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAAllegati-read"}}}},"FatturaPAFatturaElettronicaBody-write":{"type":"object","description":"","required":["dati_generali","dati_beni_servizi"],"properties":{"dati_generali":{"$ref":"#/components/schemas/FatturaPADatiGenerali-read"},"dati_beni_servizi":{"$ref":"#/components/schemas/FatturaPADatiBeniServizi-read"},"dati_veicoli":{"$ref":"#/components/schemas/FatturaPADatiVeicoli-read"},"dati_pagamento":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPADatiPagamento-read"}},"allegati":{"type":"array","items":{"$ref":"#/components/schemas/FatturaPAAllegati-read"}}}},"FatturaPAFatturaElettronicaHeader-read":{"type":"object","description":"","required":["dati_trasmissione","cedente_prestatore","cessionario_committente"],"properties":{"dati_trasmissione":{"$ref":"#/components/schemas/FatturaPADatiTrasmissione-read"},"cedente_prestatore":{"$ref":"#/components/schemas/FatturaPACedentePrestatore-read"},"rappresentante_fiscale":{"$ref":"#/components/schemas/FatturaPARappresentanteFiscale-read"},"cessionario_committente":{"$ref":"#/components/schemas/FatturaPACessionarioCommittente-read"},"terzo_intermediario_o_soggetto_emittente":{"$ref":"#/components/schemas/FatturaPATerzoIntermediarioSoggettoEmittente-read"},"soggetto_emittente":{"type":"string"}}},"FatturaPAFatturaElettronicaHeader-write":{"type":"object","description":"","required":["dati_trasmissione","cedente_prestatore","cessionario_committente"],"properties":{"dati_trasmissione":{"$ref":"#/components/schemas/FatturaPADatiTrasmissione-read"},"cedente_prestatore":{"$ref":"#/components/schemas/FatturaPACedentePrestatore-read"},"rappresentante_fiscale":{"$ref":"#/components/schemas/FatturaPARappresentanteFiscale-read"},"cessionario_committente":{"$ref":"#/components/schemas/FatturaPACessionarioCommittente-read"},"terzo_intermediario_o_soggetto_emittente":{"$ref":"#/components/schemas/FatturaPATerzoIntermediarioSoggettoEmittente-read"},"soggetto_emittente":{"type":"string"}}},"FatturaPAFatturaPrincipale-read":{"type":"object","description":"","required":["numero_fattura_principale"],"properties":{"numero_fattura_principale":{"type":"string"},"data_fattura_principale":{"type":"string","format":"date-time"}}},"FatturaPAFatturaPrincipale-write":{"type":"object","description":"","required":["numero_fattura_principale"],"properties":{"numero_fattura_principale":{"type":"string"},"data_fattura_principale":{"type":"string","format":"date-time"}}},"FatturaPAIdFiscale-read":{"type":"object","description":"","required":["id_paese","id_codice"],"properties":{"id_paese":{"description":"ISO 3166-1 alpha-2 code","type":"string"},"id_codice":{"description":"Tax identification code","type":"string"}}},"FatturaPAIdFiscale-write":{"type":"object","description":"","required":["id_paese","id_codice"],"properties":{"id_paese":{"description":"ISO 3166-1 alpha-2 code","type":"string"},"id_codice":{"description":"Tax identification code","type":"string"}}},"FatturaPAIndirizzo-read":{"type":"object","description":"","required":["indirizzo","cap","comune","nazione"],"properties":{"indirizzo":{"type":"string"},"numero_civico":{"type":"string"},"cap":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"nazione":{"type":"string"}}},"FatturaPAIndirizzo-write":{"type":"object","description":"","required":["indirizzo","cap","comune","nazione"],"properties":{"indirizzo":{"type":"string"},"numero_civico":{"type":"string"},"cap":{"type":"string"},"comune":{"type":"string"},"provincia":{"type":"string"},"nazione":{"type":"string"}}},"FatturaPAIscrizioneREA-read":{"type":"object","description":"","required":["ufficio","numero_rea","stato_liquidazione"],"properties":{"ufficio":{"type":"string"},"numero_rea":{"type":"string"},"capitale_sociale":{"type":"string"},"socio_unico":{"type":"string"},"stato_liquidazione":{"type":"string"}}},"FatturaPAIscrizioneREA-write":{"type":"object","description":"","required":["ufficio","numero_rea","stato_liquidazione"],"properties":{"ufficio":{"type":"string"},"numero_rea":{"type":"string"},"capitale_sociale":{"type":"string"},"socio_unico":{"type":"string"},"stato_liquidazione":{"type":"string"}}},"FatturaPARappresentanteFiscale-read":{"type":"object","description":"","required":["dati_anagrafici"],"properties":{"dati_anagrafici":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiRappresentanteFiscale-read"}}},"FatturaPARappresentanteFiscale-write":{"type":"object","description":"","required":["dati_anagrafici"],"properties":{"dati_anagrafici":{"$ref":"#/components/schemas/FatturaPADatiAnagraficiRappresentanteFiscale-read"}}},"FatturaPARappresentanteFiscaleCessionarioCommittente-read":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"denominazione":{"type":"string"},"nome":{"type":"string"},"cognome":{"type":"string"}}},"FatturaPARappresentanteFiscaleCessionarioCommittente-write":{"type":"object","description":"","properties":{"id_fiscale_iva":{"$ref":"#/components/schemas/FatturaPAIdFiscale-read"},"denominazione":{"type":"string"},"nome":{"type":"string"},"cognome":{"type":"string"}}},"FatturaPAScontoMaggiorazione-read":{"type":"object","description":"","required":["tipo"],"properties":{"tipo":{"type":"string"},"percentuale":{"type":"string"},"importo":{"type":"string"}}},"FatturaPAScontoMaggiorazione-write":{"type":"object","description":"","required":["tipo"],"properties":{"tipo":{"type":"string"},"percentuale":{"type":"string"},"importo":{"type":"string"}}},"FatturaPASemplificataAllegati-read":{"type":"object","description":"","required":["nome_attachment","attachment"],"properties":{"nome_attachment":{"type":"string"},"algoritmo_compressione":{"type":"string"},"formato_attachment":{"type":"string"},"descrizione_attachment":{"type":"string"},"attachment":{}}},"FatturaPASemplificataAllegati-write":{"type":"object","description":"","required":["n
[...]
