{"openapi":"3.0.2","info":{"description":"Use this API to verify the validity and trustworthiness of data such as email addresses and mobile phone numbers.","version":"1.0.0","title":"Trust","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://trust.openapi.com","description":"Production"},{"url":"https://test.trust.openapi.com","description":"Sandbox"}],"tags":[{"name":"HLR","description":"\"Home Location Register\" query for mobile phone numbers validation"},{"name":"Email","description":"Email validation services"},{"name":"IP & Proxy","description":"IP Address validation and proxy detection services"},{"name":"URL","description":"URL scanning and threat analysis services"},{"name":"Identity Verification","description":"Identity verification services"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"mobile-start":{"type":"object","properties":{"id":{"example":"66d9e92216065fa37f3c9841","type":"string","description":"Is returned creating a request using the POST method"},"state":{"example":"DONE","type":"string","enum":["NEW","WAIT","DONE"],"description":"Define the status of the request. \"DONE\" means the request is complete and the request data is available"},"requestedNumber":{"example":"00393939989747","type":"string","description":"The mobile phone number requested as url parameter"},"formattedNumber":{"example":"+393939989747","type":"string","description":"The normalized mobile phone number used by the system"},"numberType":{"type":"string","example":"MOBILE","description":"Must be always \"MOBILE\" for this application"},"isPossible":{"type":"boolean"},"isValid":{"type":"boolean"},"regionCode":{"type":"string","example":"IT"},"isValidNumberForRegion":{"type":"boolean"},"network":{"type":"string","description":"The name of the current network","example":"MNO - Vodafone Italy"},"originalNetwork":{"type":"string","description":"The name of the original network","example":"MNO - TIM (Telecom Italia SpA)"},"roaming":{"type":"boolean","description":"Roaming refers to the ability of a mobile device to connect to a network different from its home network, typically when the device is in a different geographic location. The current \"roaming\" status indicates whether the device is currently connected to a roaming network."},"ported":{"type":"boolean","description":"If the user switched carriers while keeping the same number."},"country":{"type":"string","example":"Italy"},"countryPrefix":{"type":"string","example":"39"},"details":{"type":"string"},"createdAt":{"type":"string","example":"2024-09-06T13:56:19+00:00","format":"date-time"},"updatedAt":{"type":"string","example":"2024-09-06T13:56:19+00:00","format":"date-time"}}},"email-start":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the validation request, returned when the request is created.","example":"eml_77e9e92216065fa37f3c9842","readOnly":true},"state":{"type":"string","description":"Processing state of the validation request. 'DONE' means the validation is complete and results are available.","enum":["NEW","WAIT","DONE"],"example":"DONE"},"requestedEmail":{"type":"string","format":"email","description":"The original email address as provided by the client in the request.","example":" Test.User@EXAMPLE.COM "},"email":{"type":"string","format":"email","description":"The email address that was processed, possibly after initial cleanup (e.g., trimming spaces).","example":"Test.User@EXAMPLE.COM"},"emailNormalized":{"type":"string","format":"email","description":"The normalized version of the email address used for validation (e.g., lowercase).","example":"test.user@example.com"},"status":{"type":"string","description":"The overall validation status of the email address.","enum":["valid","invalid","risky","unknown"],"example":"valid"},"validSpf":{"type":"boolean","description":"Indicates if the domain's SPF record is valid and allows mail from the detected mail servers.","example":true},"spfDetails":{"$ref":"#/components/schemas/SpfDetails"},"validDmarc":{"type":"boolean","description":"Indicates if the domain has a valid DMARC record and the policy is met.","example":true},"dmarcDetails":{"$ref":"#/components/schemas/DmarcDetails"},"details":{"type":"string","description":"A more specific code or message detailing the validation sub-status (e.g., 'mailbox_valid', 'domain_invalid', 'smtp_error').","example":"mailbox_valid","nullable":true},"free":{"type":"boolean","description":"Indicates if the email address is from a free email provider (e.g., Gmail, Outlook.com).","example":true},"role":{"type":"boolean","description":"Indicates if the email address is a role-based account (e.g., admin@, support@, info@).","example":false},"disposable":{"type":"boolean","description":"Indicates if the email address is from a known disposable email provider.","example":false},"catchAll":{"type":"boolean","description":"Indicates if the email domain is configured as a catch-all.","example":false,"nullable":true},"hasAntispam":{"type":"boolean","description":"Indicates if the mail server for the domain has recognized antispam systems.","example":true,"nullable":true},"mailboxFull":{"type":"boolean","description":"Indicates if the mailbox is reported as full (if determinable).","example":false,"nullable":true},"didYouMean":{"type":"string","format":"email","description":"A suggested correction if a common typo is detected in the email's domain.","example":"user@gmail.com","nullable":true},"createdAt":{"type":"string","format":"date-time","description":"Timestamp of when the validation request was created.","example":"2025-05-27T10:00:00Z","readOnly":true},"updatedAt":{"type":"string","format":"date-time","description":"Timestamp of when the validation request was last updated.","example":"2025-05-27T10:00:05Z","readOnly":true}}},"SpfFormalValidity":{"type":"object","description":"Details about the formal validity of the SPF record.","properties":{"startsWithVspf1":{"type":"boolean","description":"Indicates if the record starts with 'v=spf1'."},"hasValidAllMechanism":{"type":"boolean","description":"Indicates if a valid 'all' mechanism is present."},"dnsMechanismLookupCount":{"type":"integer","description":"Count of DNS lookups for mechanisms."},"maxDnsMechanismLookups":{"type":"integer","description":"Maximum allowed DNS lookups for mechanisms."},"voidLookupCount":{"type":"integer","description":"Count of void DNS lookups."},"maxVoidLookups":{"type":"integer","description":"Maximum allowed void DNS lookups."},"hasRedirectModifier":{"type":"boolean","description":"Indicates if a 'redirect' modifier is present."},"redirectDomain":{"type":"string","nullable":true,"description":"Domain specified in the 'redirect' modifier.","example":"_spf.example.com"},"syntaxErrors":{"type":"array","items":{"type":"string"},"description":"List of syntax errors found.","example":["Unknown mechanism: xyz"]},"warnings":{"type":"array","items":{"type":"string"},"description":"List of warnings generated during analysis.","example":["PTR mechanism used, which is discouraged."]},"explanationDomain":{"type":"string","nullable":true,"description":"Domain specified in the 'exp' modifier.","example":"exp.example.com"}}},"SpfMechanism":{"type":"object","description":"Details of a parsed SPF mechanism. Structure may vary based on mechanism type (e.g., includedReport, redirectedReport).","properties":{"term":{"type":"string","description":"The original mechanism term.","example":"+mx"},"mechanism":{"type":"string","description":"The type of mechanism (e.g., 'ip4', 'include', 'a').","example":"mx"},"value":{"type":"string","nullable":true,"description":"The value associated with the mechanism.","example":"mail.example.com"},"qualifier":{"type":"string","description":"The qualifier of the mechanism (+, -, ~, ?).","example":"+"},"lookupCost":{"type":"integer","description":"The DNS lookup cost of the mechanism.","example":1},"isVoidLookup":{"type":"boolean","description":"Indicates if this mechanism resulted in a void lookup."},"ipsFound":{"type":"array","items":{"type":"string"},"description":"IPs specifically found by this mechanism.","example":["192.0.2.1","2001:db8::1"]},"effectiveResultIfMatched":{"type":"string","description":"The SPF result if this mechanism were to match (PASS, FAIL, etc.).","example":"PASS"},"includedReport":{"$ref":"#/components/schemas/SpfDetails"},"redirectedReport":{"$ref":"#/components/schemas/SpfDetails"}},"additionalProperties":true},"SpfAllMechanismDetails":{"type":"object","nullable":true,"description":"Details of the 'all' mechanism if present.","properties":{"term":{"type":"string","example":"-all"},"qualifier":{"type":"string","example":"-"},"result":{"type":"string","example":"FAIL"}}},"SpfCollectedIpAddresses":{"type":"object","description":"IP addresses collected during SPF analysis.","properties":{"ip4":{"type":"array","items":{"type":"string"},"example":["192.0.2.0/24"]},"ip6":{"type":"array","items":{"type":"string"},"example":["2001:db8:1234::/48"]},"fromA":{"type":"array","items":{"type":"string"},"example":["203.0.113.5"]},"fromMx":{"type":"array","items":{"type":"string"},"example":["203.0.113.10"]}}},"SpfSummary":{"type":"object","description":"Summary of the SPF analysis.","properties":{"totalDnsMechanismLookupsUsed":{"type":"integer","example":3},"finalProcessingResult":{"type":"string","description":"Final processing result of the SPF record (e.g., NEUTRAL, PERMERROR, NONE).","example":"FAIL"},"evaluationLog":{"type":"array","items":{"type":"string"},"example":["Mechanism 'mx' matched.","Mechanism '-all' encountered."]}}},"SpfDetails":{"type":"object","description":"Complete details of the SPF record analysis.","properties":{"domain":{"type":"string","example":"example.com"},"dnsServerUsed":{"type":"string","nullable":true,"description":"DNS server used for this specific SPF analysis.","example":"8.8.8.8"},"queriedDnsForTxt":{"type":"boolean"},"selectedSpfRecord":{"type":"string","nullable":true,"example":"v=spf1 mx -all"},"formalValidity":{"$ref":"#/components/schemas/SpfFormalValidity"},"parsedMechanisms":{"type":"array","items":{"$ref":"#/components/schemas/SpfMechanism"}},"allMechanismDetails":{"$ref":"#/components/schemas/SpfAllMechanismDetails"},"collectedIpAddresses":{"$ref":"#/components/schemas/SpfCollectedIpAddresses"},"summary":{"$ref":"#/components/schemas/SpfSummary"}}},"DmarcDetails":{"type":"object","description":"Complete details of the DMARC record analysis.","properties":{"recordFound":{"type":"boolean"},"record":{"type":"string","nullable":true,"example":"v=DMARC1; p=reject; rua=mailto:dmarc@example.com"},"dnsQueryDomain":{"type":"string","example":"_dmarc.example.com"},"dnsServerUsed":{"type":"string","nullable":true,"description":"DNS server used for this specific DMARC analysis.","example":"1.1.1.1"},"policy":{"type":"string","nullable":true,"enum":["none","quarantine","reject"],"example":"reject"},"subdomainPolicy":{"type":"string","nullable":true,"enum":["none","quarantine","reject"],"example":"none"},"alignmentDkim":{"type":"string","enum":["r","s"],"example":"r"},"alignmentSpf":{"type":"string","enum":["r","s"],"example":"r"},"percentage":{"type":"integer","example":100},"reportingUrisAggregate":{"type":"array","items":{"type":"string"},"example":["mailto:aggrep@example.com"]},"reportingUrisFailure":{"type":"array","items":{"type":"string"},"example":["mailto:authfail@example.com"]},"failureOptions":{"type":"array","items":{"type":"string"},"example":["0","1","d","s"]},"errors":{"type":"array","items":{"type":"string"},"example":["Invalid tag: xyz=abc"]},"warnings":{"type":"array","items":{"type":"string"},"example":["pct tag not found, defaulting to 100."]}}},"EmailAuthReport":{"type":"object","description":"Complete email authentication analysis report for a domain.","properties":{"domainAnalyzed":{"type":"string","description":"The domain that was analyzed.","example":"example.com"},"dnsServerUsedGlobalOverride":{"type":"string","nullable":true,"description":"The DNS server specified as a global override, if any.","example":"8.8.8.8"},"validSpf":{"type":"boolean","description":"Indicates if a valid and processable SPF record was found (does not imply a 'PASS' result for a specific IP)."},"spfDetails":{"$ref":"#/components/schemas/SpfDetails"},"validDmarc":{"type":"boolean","description":"Indicates if a valid and processable DMARC record was found."},"dmarcDetails":{"$ref":"#/components/schemas/DmarcDetails"}}},"email-start-200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/email-start"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}}},"example":{"data":{"email":"example@openapi.com","validSpf":false,"validDmarc":true,"spfDetails":{"domain":"openapi.com","dnsServerUsed":"1.1.1.1","queriedDnsForTxt":true,"selectedSpfRecord":"v=spf1 include:spf.mailtrusted.org include:emsd1.com include:mailgun.org -all","formalValidity":{"startsWithVspf1":true,"hasValidAllMechanism":false,"dnsMechanismLookupCount":10,"maxDnsMechanismLookups":10,"voidLookupCount":0,"maxVoidLookups":2,"hasRedirectModifier":false,"redirectDomain":null,"syntaxErrors":["DNS lookup limit at 'include:_spf2.mailgun.org'."],"warnings":[],"explanationDomain":null},"parsedMechanisms":[{"term":"include:spf.mailtrusted.org","mechanism":"include","value":"spf.mailtrusted.org","qualifier":"+","lookupCost":1,"isVoidLookup":false,"ipsFound":[],"effectiveResultIfMatched":"PASS","includedReport":{"recurse":"all submechanisms included"}},{"term":"include:emsd1.com","mechanism":"include","value":"emsd1.com","qualifier":"+","lookupCost":1,"isVoidLookup":false,"ipsFound":[],"effectiveResultIfMatched":"PASS","includedReport":{"recurse":"all submechanisms included"}}],"allMechanismDetails":null,"collectedIpAddresses":{"ip4":["207.180.201.22","207.180.222.205","207.180.226.204","etc"],"ip6":["2001:4860:4000::/36","2404:6800:4000::/36","etc"],"fromA":[],"fromMx":[]},"summary":{"totalDnsMechanismLookupsUsed":10,"finalProcessingResult":"PERMERROR","evaluationLog":[]}},"dmarcDetails":{"recordFound":true,"record":"v=DMARC1; p=none","dnsQueryDomain":"_dmarc.openapi.com","dnsServerUsed":"8.8.8.8","policy":"none","subdomainPolicy":null,"alignmentDkim":"r","alignmentSpf":"r","percentage":100,"reportingUrisAggregate":[],"reportingUrisFailure":[],"failureOptions":[],"errors":[],"warnings":[]},"requestedEmail":"example@openapi.com","createdAt":"2025-07-25T14:02:23+00:00","updatedAt":"2025-07-25T14:02:27+00:00","state":"DONE","status":"valid","details":"","free":false,"role":false,"disposable":false,"catchAll":false,"hasAntispam":false,"mailboxFull":false,"didYouMean":"","emailNormalized":"example@openapi.com","id":"68838e6f535918d0da0a2865"},"success":true,"message":"","error":null}}}},"ip-advanced":{"type":"object","properties":{"id":{"type":"string","description":"","example":"68838421827e938c9a0f53e6"},"ip":{"type":"string","description":"","example":"142.251.209.46"},"createdAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T13:18:25+00:00"},"updatedAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T13:18:25+00:00"},"state":{"type":"string","description":"","example":"DONE"},"requestedIp":{"type":"string"},"message":{"type":"string","description":"Message describing the result of the API call.","example":"Success"},"success":{"type":"boolean","description":"Was the API call successful?","example":true},"proxy":{"type":"boolean","description":"Is this IP address a proxy? (SOCKS, Elite, Anonymous, VPN, TOR, etc.)","example":false},"host":{"type":"string","description":"Hostname of the IP address, if available.","example":"mil04s51-in-f14.1e100.net"},"isp":{"type":"string","description":"Internet Service Provider of the IP address.","example":"-"},"organization":{"type":"string","description":"Organization of the IP address.","example":"Google Workspace"},"asn":{"type":"string","description":"Autonomous System Number of the IP address.","example":"-"},"countryCode":{"type":"string","description":"Two letter country code of the IP address.","example":"IT"},"city":{"type":"string","description":"City of the IP address. In some cases, this may be the nearest major city.","example":"Milan"},"region":{"type":"string","description":"Region or state of the IP address.","example":"Lombardia"},"timezone":{"type":"string","description":"Timezone of the IP address's location.","example":"Europe/Rome"},"latitude":{"type":"number","description":"Latitude of the IP address.","example":45.47000122},"longitude":{"type":"number","description":"Longitude of the IP address.","example":9.19999981},"zipCode":{"type":"string","description":"Zip or postal code of the IP address.","example":"N/A"},"isCrawler":{"type":"boolean","description":"Is this IP associated with a crawler or search engine bot? (Google, Bing, Yandex, etc.)","example":false},"connectionType":{"type":"string","description":"Classification of the IP address connection type. (Residential, Corporate, Education, Mobile, Data Center)","example":"Data Center"},"recentAbuse":{"type":"boolean","description":"Has this IP address been associated with recent abusive behavior? Abuse could be forum spam, brute force login attempts, distributing malware, etc.","example":false},"abuseVelocity":{"type":"string","description":"How frequently is abuse reported for this IP address from our threat network. (high, medium, low, none)","example":"none"},"botStatus":{"type":"boolean","description":"Is this IP address a known bot? This value is updated in real-time and can be used to fight bots and click fraud.","example":false},"frequentAbuser":{"type":"string"},"highRiskAttacks":{"type":"string"},"sharedConnection":{"type":"string"},"dynamicConnection":{"type":"string"},"securityScanner":{"type":"string"},"trustedNetwork":{"type":"string"},"operatingSystem":{"type":"array","items":{}},"browser":{"type":"array","items":{}},"deviceBrand":{"type":"array","items":{}},"deviceModel":{"type":"array","items":{}},"transactionDetails":{"type":"array","items":{}},"errors":{"type":"array","items":{}},"vpn":{"type":"boolean","description":"Is this IP address a VPN? This can include both commercial and private VPNs.","example":false},"tor":{"type":"boolean","description":"Is this IP address a TOR exit node?","example":false},"activeVpn":{"type":"boolean","description":"Is this IP address currently an active VPN connection? This check is done in real-time and is the most accurate way to detect VPN connections.","example":false},"activeTor":{"type":"boolean","description":"Is this IP address currently an active TOR connection? This check is done in real-time and is the most accurate way to detect TOR connections.","example":false},"mobile":{"type":"boolean","description":"Is this IP a mobile connection? (cellular) This is useful for identifying mobile users.","example":false},"fraudScore":{"type":"integer","description":"Fraud score for the IP address. 0 is the lowest risk and 100 is the highest risk.","example":0}}},"url-advanced":{"type":"object","properties":{"id":{"type":"string","description":"","example":"68837ffa535918d0da0a2856"},"url":{"type":"string","description":"","example":"www.openapi.com"},"createdAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T13:00:42+00:00"},"updatedAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T13:00:43+00:00"},"state":{"type":"string","description":"","example":"DONE"},"requestedUrl":{"type":"string","description":"","example":"www.openapi.com"},"message":{"type":"string","description":"Message describing the result of the API call.","example":"Success."},"success":{"type":"boolean","description":"Was the API call successful?","example":true},"unsafe":{"type":"boolean","description":"Is this URL suspected of being malicious or used for phishing? This value is the primary indicator of a malicious URL.","example":false},"domain":{"type":"string","description":"Domain of the final URL after all redirects.","example":"openapi.com"},"ipAddress":{"type":"string","description":"The IP address of the URL's host. This value will be N/A if the IP address could not be determined.","example":"N/A"},"countryCode":{"type":"string"},"languageCode":{"type":"string"},"server":{"type":"string"},"contentType":{"type":"string"},"statusCode":{"type":"integer"},"pageSize":{"type":"integer"},"domainRank":{"type":"integer"},"dnsValid":{"type":"boolean"},"parking":{"type":"boolean"},"pageTitle":{"type":"string"},"shortLinkRedirect":{"type":"boolean"},"hostedContent":{"type":"boolean"},"riskyTld":{"type":"boolean"},"spfRecord":{"type":"boolean"},"dmarcRecord":{"type":"boolean"},"mxRecords":{"type":"array","items":{}},"nsRecords":{"type":"array","items":{}},"aRecords":{"type":"array","items":{}},"errors":{"type":"array","items":{}},"riskScore":{"type":"integer","description":"The risk score for the URL, which estimates the probability of the URL being malicious. Risk scores 85+ are high risk.","example":86},"suspicious":{"type":"boolean","description":"Is this URL suspected of being suspicious or risky? This value is a lighter version of the 'unsafe' value and indicates the URL may be part of a malicious campaign.","example":true},"phishing":{"type":"boolean","description":"Is this URL associated with a phishing campaign? Phishing URLs are used to steal sensitive user data.","example":false},"malware":{"type":"boolean","description":"Is this URL associated with malware or viruses? These URLs are used to infect users with malicious software.","example":false},"spamming":{"type":"boolean","description":"Is this URL associated with spamming? These URLs are used in unsolicited emails and messages.","example":false},"adult":{"type":"boolean","description":"Is this URL associated with adult content?","example":false},"category":{"type":"string","description":"The category of the URL's content. (eg. 'Social Networking', 'Technology', etc.)","example":"N/A"},"technologies":{"type":"array","items":{"type":"string"},"description":"","example":["Google Tag Manager"]},"domainAge":{"type":"object","properties":{"human":{"type":"string","example":"23 years ago"},"timestamp":{"type":"integer","example":1017170444},"iso":{"type":"string","example":"2002-03-26T14:20:44-05:00"}},"description":"An object containing the domain's age in a human friendly format as well as a corresponding ISO 8601 formatted date and timestamp."},"redirected":{"type":"boolean","description":"Was the user's link redirected to a different URL?","example":true},"scannedUrl":{"type":"string","description":"","example":"http://www.openapi.com"},"finalUrl":{"type":"string","description":"","example":"https://openapi.com"}}},"email-advanced":{"type":"object","properties":{"id":{"type":"string","description":"","example":"68824e7a933ef7b3a5017d38"},"email":{"type":"string","description":"","example":"example@gmail.com"},"spfDetails":{"$ref":"#/components/schemas/SpfDetails"},"dmarcDetails":{"$ref":"#/components/schemas/DmarcDetails"},"createdAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T12:44:46+00:00"},"updatedAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T12:44:46+00:00"},"state":{"type":"string","description":"","example":"DONE"},"message":{"type":"string","description":"Message describing the result of the API call.","example":"Success."},"success":{"type":"boolean","description":"Was the API call successful?","example":true},"valid":{"type":"boolean","description":"Is this email address valid? (true/false)","example":true},"disposable":{"type":"boolean","description":"Is this email suspected of being a disposable email address? (true/false) These emails are from temporary email address providers and are often used for abuse.","example":false},"smtpScore":{"type":"integer","description":"SMTP verification score. 0: invalid, 1: risky, 2: valid, 3: valid & whitelisted. Scores 2+ are safe to email.","example":3},"overallScore":{"type":"integer","description":"Overall email reputation score. 0: invalid, 1: risky, 2: valid, 3: valid & whitelisted. Scores 2+ are safe to email.","example":4},"firstName":{"type":"string"},"generic":{"type":"boolean","description":"Is this a generic email address? (true/false) These emails are not associated with a person, but rather a group or company.","example":false},"common":{"type":"boolean","description":"Is this a common free email provider? (true/false) These emails are from popular email providers like Gmail, Yahoo, etc.","example":true},"dnsValid":{"type":"boolean","description":"Does the domain have valid DNS records? (true/false)","example":true},"honeypot":{"type":"boolean","description":"Is this email a known honeypot or spam trap? (true/false) These emails are used to identify spammers and should not be emailed.","example":false},"deliverability":{"type":"string","description":"How likely is this email to be delivered to the recipient's inbox? (high, medium, low)","example":"high"},"frequentComplainer":{"type":"boolean","description":"Is this email address associated with a frequent complainer? (true/false) These users are known to frequently mark emails as spam.","example":false},"spamTrapScore":{"type":"string","description":"Is this email a known spam trap? (high, medium, low, none) Scores of 'high' or 'medium' are not safe to email and should be removed from your mailing list.","example":"none"},"catchAll":{"type":"boolean","description":"Is this email a catch-all address? (true/false) These emails will receive mail for any address at the domain. This setting can be detected with medium accuracy.","example":false},"timedOut":{"type":"boolean"},"suspect":{"type":"boolean","description":"This value will be true if the email address is suspected of being abusive or fraudulent. We recommend evaluating the user further.","example":false},"recentAbuse":{"type":"boolean","description":"Has this email address been associated with recent abuse? Abuse could be forum spam, brute force login attempts, distributing malware, etc.","example":false},"fraudScore":{"type":"integer","description":"The fraud score for the email address. 0 is the lowest risk and 100 is the highest risk.","example":0},"suggestedDomain":{"type":"string"},"leaked":{"type":"boolean"},"sanitizedEmail":{"type":"string","description":"The sanitized email address. This is the email address with all comments, whitespace, and other non-essential characters removed.","example":"example@gmail.com"},"identityData":{"type":"string"},"domainAge":{"type":"object","properties":{"human":{"type":"string","example":"30 years ago"},"timestamp":{"type":"integer","example":808286400},"iso":{"type":"string","example":"1995-08-13T00:00:00-04:00"}},"description":"An object containing the domain's age in a human friendly format as well as a corresponding ISO 8601 formatted date and timestamp."},"firstSeen":{"type":"object","properties":{"human":{"type":"string","example":"2 years ago"},"timestamp":{"type":"integer","example":1706083391},"iso":{"type":"string","example":"2024-01-24T03:03:11-05:00"}},"description":"An object containing the first time this email was seen by the network in a human friendly format as well as a corresponding ISO 8601 formatted date and timestamp."},"riskyTld":{"type":"boolean"},"spfRecord":{"type":"boolean","description":"Does the domain have a valid SPF record? (true/false) This indicates the domain has a valid SPF record, which is a good sign of a legitimate domain.","example":true},"dmarcRecord":{"type":"boolean","description":"Does the domain have a valid DMARC record? (true/false) This indicates the domain has a valid DMARC record, which is a good sign of a legitimate domain.","example":true},"mxRecords":{"type":"array","items":{"type":"string"}},"aRecords":{"type":"array","items":{"type":"string"}},"errors":{"type":"array","items":{}}}},"mobile-advanced":{"type":"object","properties":{"id":{"type":"string","description":"","example":"68837adc827e938c9a0f53e0"},"requestedNumber":{"type":"string","description":"","example":"+393334567890"},"formattedNumber":{"type":"string","description":"The phone number formatted in a local format.","example":"+393334567890"},"createdAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T12:38:52+00:00"},"updatedAt":{"type":"string","format":"date-time","description":"","example":"2025-07-25T12:38:52+00:00"},"state":{"type":"string","description":"","example":"DONE"},"message":{"type":"string","description":"Message describing the result of the API call.","example":"Phone is valid."},"success":{"type":"boolean","description":"Was the API call successful?","example":true},"valid":{"type":"boolean","description":"Is this phone number valid? (true/false)","example":true},"active":{"type":"boolean","description":"Is this phone number active and in service? This value is returned when the 'active' parameter is passed with the request.","example":true},"localFormat":{"type":"string","description":"The phone number formatted in a local format.","example":"340 554 6935"},"fraudScore":{"type":"integer","description":"The fraud score for the phone number. 0 is the lowest risk and 100 is the highest risk.","example":0},"recentAbuse":{"type":"boolean","description":"Has this phone number been associated with recent abuse? Abuse could be forum spam, brute force login attempts, fake accounts, etc.","example":false},"voip":{"type":"string","description":"Is this phone number a Voice over IP (VOIP) number? (true/false) This can also be an object containing additional details.","example":"-"},"prepaid":{"type":"boolean","description":"Is this phone number a prepaid number? (true/false) This indicates the phone number is not a contract number.","example":false},"risky":{"type":"boolean","description":"Is this phone number considered risky? (true/false) This indicates the phone number is likely to be a temporary or disposable number.","example":false},"name":{"type":"string","description":"The name of the person or company associated with the phone number. This value is only returned when the 'name' parameter is passed with the request.","example":"N/A"},"identityData":{"type":"string"},"carrier":{"type":"string","description":"The carrier of the phone number. (eg. 'Verizon Wireless', 'T-Mobile', etc.)","example":"VODAFONE"},"lineType":{"type":"string","description":"The line type of the phone number. (eg. 'Wireless', 'Landline', 'VOIP', etc.)","example":"Wireless"},"country":{"type":"string","description":"The country of the phone number.","example":"IT"},"region":{"type":"string"},"city":{"type":"string","description":"The city of the phone number. In some cases, this may be the nearest major city.","example":"Rome"},"accurateCountryCode":{"type":"boolean"},"zipCode":{"type":"string"},"timezone":{"type":"string","description":"The timezone of the phone number's location.","example":"Europe/Rome"},"dialingCode":{"type":"integer","description":"The dialing code of the phone number's country.","example":39},"doNotCall":{"type":"boolean","description":"Is this phone number on the national Do Not Call registry? (true/false)","example":false},"leaked":{"type":"boolean","description":"Has this phone number been leaked in a data breach? (true/false) This indicates the phone number has been compromised in a data breach.","example":false},"spammer":{"type":"boolean","description":"Is this phone number associated with spamming? (true/false) This indicates the phone number has been reported for spamming.","example":false},"activeStatus":{"type":"string"},"mcc":{"type":"string","description":"Mobile Country Code, if available.","example":"222"},"mnc":{"type":"string","description":"Mobile Network Code, if available.","example":"10"},"transactionDetails":{"type":"array","items":{}},"errors":{"type":"array","items":{}}}},"ip-advanced-200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ip-advanced"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string","nullable":true}}},"example":{"data":{"ip":"142.251.209.46","createdAt":"2025-07-29T12:17:11+00:00","updatedAt":"2025-07-29T12:17:11+00:00","state":"DONE","requestedIp":"142.251.209.46","message":"Success","success":true,"proxy":false,"host":"mil04s51-in-f14.1e100.net","isp":"-","organization":"Google Workspace","asn":"-","countryCode":"IT","city":"Milan","region":"Lombardia","timezone":"Europe/Rome","latitude":45.47000122,"longitude":9.19999981,"zipCode":"N/A","isCrawler":false,"connectionType":"Data Center","recentAbuse":false,"abuseVelocity":"none","botStatus":false,"vpn":false,"tor":false,"activeVpn":false,"activeTor":false,"mobile":false,"fraudScore":0,"frequentAbuser":"-","highRiskAttacks":"-","sharedConnection":"-","dynamicConnection":"-","securityScanner":"-","trustedNetwork":"-","operatingSystem":[],"browser":[],"deviceBrand":[],"deviceModel":[],"transactionDetails":[],"errors":[],"id":"6888bbc73eb5c5964009f933"},"success":true,"message":"Success","error":null}}}},"url-advanced-200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/url-advanced"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string","nullable":true}}},"example":{"data":{"url":"www.google.com","createdAt":"2025-07-29T12:18:19+00:00","updatedAt":"2025-07-29T12:18:19+00:00","state":"DONE","requestedUrl":"www.google.com","message":"Success.","success":true,"unsafe":false,"domain":"google.com","ipAddress":"N/A","countryCode":"N/A","languageCode":"N/A","server":"N/A","contentType":"N/A","riskScore":86,"statusCode":421,"pageSize":165,"domainRank":0,"dnsValid":false,"suspicious":true,"phishing":false,"malware":false,"parking":false,"spamming":false,"adult":false,"category":"N/A","pageTitle":"N/A","shortLinkRedirect":false,"hostedContent":false,"riskyTld":false,"spfRecord":false,"dmarcRecord":false,"technologies":[],"domainAge":{"human":"N/A","timestamp":null,"iso":null},"redirected":false,"mxRecords":[],"nsRecords":[],"aRecords":[],"scannedUrl":"http://www.google.com","finalUrl":"http://www.google.com","errors":[],"id":"6888bc0be1e23f3575051bd4"},"success":true,"message":"Success.","error":null}}}},"email-advanced-200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/email-advanced"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string","nullable":true}}},"example":{"data":{"email":"riskyemail@example.com","spfDetails":{"domain":"example.com","dnsServerUsed":"1.1.1.1","queriedDnsForTxt":true,"selectedSpfRecord":"v=spf1 include:spf.mailtrusted.org include:emsd1.com include:mailgun.org -all","formalValidity":{"startsWithVspf1":true,"hasValidAllMechanism":false,"dnsMechanismLookupCount":10,"maxDnsMechanismLookups":10,"voidLookupCount":0,"maxVoidLookups":2,"hasRedirectModifier":false,"redirectDomain":null,"syntaxErrors":["DNS lookup limit at 'include:_spf2.mailgun.org'."],"warnings":[],"explanationDomain":null},"summary":{"totalDnsMechanismLookupsUsed":10,"finalProcessingResult":"PERMERROR","evaluationLog":[]}},"dmarcDetails":{"recordFound":true,"record":"v=DMARC1; p=none","dnsQueryDomain":"_dmarc.example.com","dnsServerUsed":"8.8.8.8","policy":"none","subdomainPolicy":null,"alignmentDkim":"r","alignmentSpf":"r","percentage":100,"reportingUrisAggregate":[],"reportingUrisFailure":[],"failureOptions":[],"errors":[],"warnings":[]},"createdAt":"2025-07-29T12:11:17+00:00","updatedAt":"2025-07-29T12:11:17+00:00","state":"DONE","message":"Success.","success":true,"valid":false,"disposable":false,"smtpScore":1,"overallScore":1,"firstName":"Unknown","generic":false,"common":false,"dnsValid":true,"honeypot":false,"deliverability":"low","frequentComplainer":false,"spamTrapScore":"none","catchAll":false,"timedOut":false,"suspect":false,"recentAbuse":true,"fraudScore":91,"suggestedDomain":"N/A","leaked":false,"sanitizedEmail":"riskyemail@example.com","identityData":"-","domainAge":{"human":"23 years ago","timestamp":1017170444,"iso":"2002-03-26T14:20:44-05:00"},"firstSeen":{"human":"just now","timestamp":1753778540,"iso":"2025-07-29T04:42:20-04:00"},"riskyTld":false,"spfRecord":false,"dmarcRecord":true,"mxRecords":["aspmx.l.google.com","alt3.aspmx.l.google.com","alt4.aspmx.l.google.com","alt1.aspmx.l.google.com","alt2.aspmx.l.google.com"],"aRecords":["172.67.70.113","104.26.10.156","104.26.11.156"],"errors":[],"id":"6888ba65e1e23f3575051bd3"},"success":true,"message":"Success.","error":null}}}},"mobile-advanced-200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/mobile-advanced"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string","nullable":true}}},"example":{"data":{"requestedNumber":"+393391234567","formattedNumber":"+393391234567","createdAt":"2025-07-29T12:13:25+00:00","updatedAt":"2025-07-29T12:13:25+00:00","state":"DONE","message":"Phone is valid.","success":true,"valid":true,"active":true,"localFormat":"339 123 4567","fraudScore":0,"recentAbuse":false,"voip":"-","prepaid":false,"risky":false,"name":"Unknown","identityData":"-","carrier":"VODAFONE","lineType":"Wireless","country":"IT","region":"N/A","city":"Rome","accurateCountryCode":false,"zipCode":"N/A","timezone":"Europe/Rome","dialingCode":39,"doNotCall":false,"leaked":false,"spammer":false,"activeStatus":"N/A","mcc":"222","mnc":"10","transactionDetails":[],"errors":[],"id":"6888bae43eb5c5964009f930"},"success":true,"message":"Phone is valid.","error":null}}}},"idv-flash-start-new":{"type":"object","properties":{"createdAt":{"type":"string","description":"Creation timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"updatedAt":{"type":"string","description":"Last update timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"email":{"type":"string","description":"The email address is used solely to associate the verification request. No emails or communications will be sent to this address.","example":"example@openapi.com","format":"email"},"name":{"type":"string","description":"Full name of the user.","example":"Mario Openapi"},"redirectUrl":{"type":"string","description":"The URL where the user will be redirected after the process.","example":"https://openapi.com"},"state":{"type":"string","enum":["NEW","DONE"],"description":"Processing state of the request. It can be 'NEW' or 'DONE'.","example":"NEW"},"verificationUrl":{"type":"string","description":"The unique URL to perform the identity verification session.","example":"https://idv.checkout.com/2f1701c7-d071-4531-ac13-ad85141ca093"},"status":{"type":"string","description":"The current status of the verification.","example":"pending_redirection"},"details":{"type":"string","description":"Additional details about the status.","example":""},"riskLabels":{"type":"array","description":"List of identified risk labels. If status='NEW', the array is empty.","items":{},"example":[]},"id":{"type":"string","description":"Unique identifier of the request.","example":"691df14809a1848428063cc4"},"documents":{"type":"array","description":"List of processed documents. If status='NEW', the array is empty.","items":{},"example":[]}}},"idv-flash-advanced-new":{"type":"object","properties":{"createdAt":{"type":"string","description":"Creation timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"updatedAt":{"type":"string","description":"Last update timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"email":{"type":"string","description":"The email address is used solely to associate the verification request. No emails or communications will be sent to this address.","example":"example@openapi.com","format":"email"},"name":{"type":"string","description":"Full name of the user.","example":"Mario Openapi"},"redirectUrl":{"type":"string","description":"The URL where the user will be redirected after the process.","example":"https://openapi.com"},"state":{"type":"string","enum":["NEW","DONE"],"description":"Processing state of the request. It can be 'NEW' or 'DONE'.","example":"NEW"},"verificationUrl":{"type":"string","description":"The unique URL to perform the identity verification session.","example":"https://idv.checkout.com/2f1701c7-d071-4531-ac13-ad85141ca093"},"status":{"type":"string","description":"The current status of the verification.","example":"pending_redirection"},"details":{"type":"string","description":"Additional details about the status.","example":""},"riskLabels":{"type":"array","description":"List of identified risk labels. If status='NEW', the array is empty.","items":{},"example":[]},"id":{"type":"string","description":"Unique identifier of the request.","example":"691df14809a1848428063cc4"},"documents":{"type":"array","description":"List of processed documents. If status='NEW', the array is empty.","items":{},"example":[]}}},"idv-expert-new":{"type":"object","properties":{"createdAt":{"type":"string","description":"Creation timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"updatedAt":{"type":"string","description":"Last update timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"email":{"type":"string","description":"The email address is used solely to associate the verification request. No emails or communications will be sent to this address.","example":"example@openapi.com","format":"email"},"name":{"type":"string","description":"Full name of the user.","example":"Mario Openapi"},"redirectUrl":{"type":"string","description":"The URL where the user will be redirected after the process.","example":"https://openapi.com"},"state":{"type":"string","enum":["NEW","DONE"],"description":"Processing state of the request. It can be 'NEW' or 'DONE'.","example":"NEW"},"verificationUrl":{"type":"string","description":"The unique URL to perform the identity verification session.","example":"https://idv.checkout.com/2f1701c7-d071-4531-ac13-ad85141ca093"},"status":{"type":"string","description":"The current status of the verification.","example":"pending_redirection"},"details":{"type":"string","description":"Additional details about the status.","example":""},"riskLabels":{"type":"array","description":"List of identified risk labels. If status='NEW', the array is empty.","items":{},"example":[]},"id":{"type":"string","description":"Unique identifier of the request.","example":"691df14809a1848428063cc4"},"documents":{"type":"array","description":"List of processed documents. If status='NEW', the array is empty.","items":{},"example":[]}}},"idv-flash-start-done":{"type":"object","properties":{"createdAt":{"type":"string","description":"Creation timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"updatedAt":{"type":"string","description":"Last update timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"email":{"type":"string","description":"The email address is used solely to associate the verification request. No emails or communications will be sent to this address.","example":"example@openapi.com","format":"email"},"name":{"type":"string","description":"Full name of the user.","example":"Mario Openapi"},"redirectUrl":{"type":"string","description":"The URL where the user will be redirected after the process.","example":"https://openapi.com"},"state":{"type":"string","enum":["NEW","DONE"],"description":"Processing state of the request. It can be 'NEW' or 'DONE'.","example":"DONE"},"verificationUrl":{"type":"string","description":"The unique URL to perform the identity verification session.","example":"https://idv.checkout.com/2f1701c7-d071-4531-ac13-ad85141ca093"},"status":{"type":"string","description":"The current status of the verification.","example":"verified"},"details":{"type":"string","description":"Additional details about the status.","example":""},"riskLabels":{"type":"array","description":"List of identified risk labels."},"id":{"type":"string","description":"Unique identifier of the request.","example":"691df14809a1848428063cc4"},"documents":{"type":"array","description":"List of processed documents.","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the document (e.g., ID, PASSPORT).","example":"ID"},"number":{"type":"string","description":"The document number.","example":"CA12345AA"},"issuingCountry":{"type":"string","description":"The country that issued the document (ISO code).","example":"IT"},"issueDate":{"type":"string","description":"The date when the document was issued.","example":"2019-10-30","format":"date"},"expiryDate":{"type":"string","description":"The expiration date of the document.","example":"2030-08-24","format":"date"},"mrz":{"type":"string","description":"The Machine Readable Zone (MRZ) text extracted from the document.","example":"C<ITACA12345AA1<<<<<<<<<<<<<<<1234567A7654321ITA<<<<<<<<<<<1OPENAPI<<MARIO<<<<<<<<<<<<<"},"birthDate":{"type":"string","description":"The date of birth extracted from the document.","example":"2003-08-24","format":"date"},"firstName":{"type":"string","description":"The first name extracted from the document.","example":"MARIO"},"lastName":{"type":"string","description":"The last name extracted from the document.","example":"OPENAPI"},"fullName":{"type":"string","description":"The full name extracted from the document.","example":"MARIO OPENAPI"}}}}}},"idv-flash-advanced-done":{"type":"object","properties":{"createdAt":{"type":"string","description":"Creation timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"updatedAt":{"type":"string","description":"Last update timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"email":{"type":"string","description":"The email address is used solely to associate the verification request. No emails or communications will be sent to this address.","example":"example@openapi.com","format":"email"},"name":{"type":"string","description":"Full name of the user.","example":"Mario Openapi"},"redirectUrl":{"type":"string","description":"The URL where the user will be redirected after the process.","example":"https://openapi.com"},"state":{"type":"string","enum":["NEW","DONE"],"description":"Processing state of the request. It can be 'NEW' or 'DONE'.","example":"DONE"},"verificationUrl":{"type":"string","description":"The unique URL to perform the identity verification session.","example":"https://idv.checkout.com/2f1701c7-d071-4531-ac13-ad85141ca093"},"status":{"type":"string","description":"The current status of the verification.","example":"verified"},"details":{"type":"string","description":"Additional details about the status.","example":""},"riskLabels":{"type":"array","description":"List of identified risk labels."},"id":{"type":"string","description":"Unique identifier of the request.","example":"691df14809a1848428063cc4"},"documents":{"type":"array","description":"List of processed documents.","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the document (e.g., ID, PASSPORT).","example":"ID"},"number":{"type":"string","description":"The document number.","example":"CA12345AA"},"issuingCountry":{"type":"string","description":"The country that issued the document (ISO code).","example":"IT"},"issueDate":{"type":"string","description":"The date when the document was issued.","example":"2019-10-30","format":"date"},"expiryDate":{"type":"string","description":"The expiration date of the document.","example":"2030-08-24","format":"date"},"mrz":{"type":"string","description":"The Machine Readable Zone (MRZ) text extracted from the document.","example":"C<ITACA12345AA1<<<<<<<<<<<<<<<1234567A7654321ITA<<<<<<<<<<<1OPENAPI<<MARIO<<<<<<<<<<<<<"},"birthDate":{"type":"string","description":"The date of birth extracted from the document.","example":"2003-08-24","format":"date"},"firstName":{"type":"string","description":"The first name extracted from the document.","example":"MARIO"},"lastName":{"type":"string","description":"The last name extracted from the document.","example":"OPENAPI"},"fullName":{"type":"string","description":"The full name extracted from the document.","example":"MARIO OPENAPI"}}}}}},"idv-expert-done":{"type":"object","properties":{"createdAt":{"type":"string","description":"Creation timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"updatedAt":{"type":"string","description":"Last update timestamp of the request.","example":"2025-11-19T16:33:12+00:00","format":"date-time"},"email":{"type":"string","description":"The email address is used solely to associate the verification request. No emails or communications will be sent to this address.","example":"example@openapi.com","format":"email"},"name":{"type":"string","description":"Full name of the user.","example":"Mario Openapi"},"redirectUrl":{"type":"string","description":"The URL where the user will be redirected after the process.","example":"https://openapi.com"},"state":{"type":"string","enum":["NEW","DONE"],"description":"Processing state of the request. It can be 'NEW' or 'DONE'.","example":"DONE"},"verificationUrl":{"type":"string","description":"The unique URL to perform the identity verification session.","example":"https://idv.checkout.com/2f1701c7-d071-4531-ac13-ad85141ca093"},"status":{"type":"string","description":"The current status of the verification.","example":"verified"},"details":{"type":"string","description":"Additional details about the status.","example":""},"riskLabels":{"type":"array","description":"List of identified risk labels."},"id":{"type":"string","description":"Unique identifier of the request.","example":"691df14809a1848428063cc4"},"documents":{"type":"array","description":"List of processed documents.","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the document (e.g., ID, PASSPORT).","example":"ID"},"number":{"type":"string","description":"The document number.","example":"CA12345AA"},"issuingCountry":{"type":"string","description":"The country that issued the document (ISO code).","example":"IT"},"issueDate":{"type":"string","description":"The date when the document was issued.","example":"2019-10-30","format":"date"},"expiryDate":{"type":"string","description":"The expiration date of the document.","example":"2030-08-24","format":"date"},"mrz":{"type":"string","description":"The Machine Readable Zone (MRZ) text extracted from the document.","example":"C<ITACA12345AA1<<<<<<<<<<<<<<<1234567A7654321ITA<<<<<<<<<<<1OPENAPI<<MARIO<<<<<<<<<<<<<"},"birthDate":{"type":"string","description":"The date of birth extracted from the document.","example":"2003-08-24","format":"date"},"firstName":{"type":"string","description":"The first name extracted from the document.","example":"MARIO"},"lastName":{"type":"string","description":"The last name extracted from the document.","example":"OPENAPI"},"fullName":{"type":"string","description":"The full name extracted from the document.","example":"MARIO OPENAPI"}}}}}}}},"paths":{"/mobile-start/{id}":{"get":{"tags":["HLR"],"summary":"Retrive a request","description":"Returns a request detail to check the \"state\"","parameters":[{"name":"id","in":"path","description":"request id obtained using the \"POST\" method","required":true,"schema":{"type":"string","example":"66c881896de559cb65055392"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/mobile-start"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}}},"example":{"data":{"isPossible":true,"isValid":true,"regionCode":"IT","isValidNumberForRegion":true,"numberType":"MOBILE","requestedNumber":"00393332114774","formattedNumber":"+393332114774","createdAt":"2024-09-06T13:56:19+00:00","updatedAt":"2024-09-06T13:56:19+00:00","state":"DONE","network":"MNO - Vodafone Italy","originalNetwork":"MNO - TIM (Telecom Italia SpA)","roaming":false,"ported":true,"country":"Italy","countryPrefix":"39","details":"DELIVERED_TO_HANDSET","id":"66db0a03e8ba8710290e3c0f"},"success":true,"message":"","error":""}}}},"404":{"description":"Not Found","content":{"application/json":{"examples":{"error-320":{"value":{"success":false,"message":"Not Found","error":320,"data":null}}}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"examples":{"error-310":{"value":{"success":false,"message":"invalid id provided","error":310,"data":null}}}}}}}}},"/mobile-start/{mobile-phone-number}":{"post":{"tags":["HLR"],"summary":"Create a new HLR request","description":"Create a new request, the body post is used to specify \"callback\" parameters. The system will start a globl HLR lookup on the specified phone number.<br> Some mobile carriers and network congestion can slow down the request. If the search takes longer than 10 seconds, you'll get a partial result with a status of \"NEW\" or \"WAIT\". Just wait for a notification when the search is finished. You can also check the status manually using the GET method and the provided ID.","parameters":[{"name":"mobile-phone-number","in":"path","description":"The mobile phone in complete of the international prefix","required":true,"schema":{"type":"string","example":"+393939989747"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"properties":{"callback":{"type":"object","description":"This is our standardized OpenAPI callback system. It enables the configuration of parameters for receiving notifications about status updates of asynchronous requests to this endpoint.","properties":{"method":{"type":"string","description":"Specify the callback method. When set to 'POST', a standard HTTP POST request will be initiated with the Content-Type header set to application/x-www-form-urlencoded. The JSON data will be encoded into a key-value pair named data (customizable using the field parameter) within the request body. If the method is set to 'JSON', a direct HTTP POST request will be made with the Content-Type header set to application/json. The raw JSON data will be directly inserted into the request body without any encoding.","enum":["POST","JSON"],"default":"JSON"},"field":{"type":"string","description":"This parameter works in conjunction with the 'method' parameter set to 'POST'. When provided as a string, it determines the name of the parameter that will be sent in the POST request.","example":"data","default":"data"},"url":{"type":"string","format":"uri","description":"A valid URL capable of handling POST requests must be entered into this parameter. For endpoints requiring authentication, the 'headers' parameter can be used to specify 'basic auth' or 'bearer auth'. The maximum timeout is 30 seconds. If 'retry' is set, the system will retry up to 'retry' times until a 200 status code is received.","example":"https://www.mysite.com/myEndpoint"},"retry":{"type":"integer","description":"The maximum number of attempts is defined by the 'retry' parameter. If the maximum number of attempts is reached without a successful status code (e.g., 200 OK), the request is considered a final failure. A time interval is often introduced between attempts to avoid overloading the server. This interval may increase exponentially with each attempt to reduce the impact on an overloaded server. The 'retry' parameter is configured to retry the request only in case of specific status codes, typically those indicating temporary errors (e.g., 502, 503) or network issues.","example":3,"maximum":5,"minimum":5,"default":0},"headers":{"type":"object","properties":{"key":{"type":"string"}},"additionalProperties":{"type":"string"},"description":"A collection of HTTP headers to be sent with the request. Each header is defined as a key-value pair. Headers can be used for various purposes, including authentication, content negotiation, and custom metadata.","example":{"session_id":"9834r5fh589494"}},"custom":{"type":"object","description":"This object can be populated with any additional data you wish to include in the callback response. This data will be accessible within the 'custom' parameter of the callback function. You can use this to store and retrieve any relevant information that you need for your application.","example":{"my_custom_id":"123456789"}}},"required":["url"]}}},"example":{"callback":{"url":"https://your-server.site/123232","custom":{"myKey":"myValue"}}}}}},"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/mobile-start"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}}},"example":{"data":{"isPossible":true,"isValid":true,"regionCode":"IT","isValidNumberForRegion":true,"numberType":"MOBILE","requestedNumber":"00393332114474","formattedNumber":"+393332114474","createdAt":"2024-09-06T13:56:19+00:00","updatedAt":"2024-09-06T13:56:19+00:00","state":"DONE","network":"MNO - Vodafone Italy","originalNetwork":"MNO - TIM (Telecom Italia SpA)","roaming":false,"ported":true,"country":"Italy","countryPrefix":"39","details":"DELIVERED_TO_HANDSET","id":"66db0a03e8ba8710290e3c0f"},"success":true,"message":"","error":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"examples":{"error-706":{"value":{"success":false,"message":"invalid mobile phone number","error":706,"data":null}},"error-708":{"value":{"success":false,"message":"Callback object not valid.","error":708,"data":null}},"error-709":{"value":{"success":false,"message":"Callback object not valid.","error":709,"data":null}},"error-710":{"value":{"success":false,"message":"invalid mobile phone number","error":710,"data":null}},"error-711":{"value":{"success":false,"message":"invalid mobile phone number","error":711,"data":null}},"error-730":{"value":{"success":false,"message":"invalid id provided","error":730,"data":null}},"error-740":{"value":{"success":false,"message":"Not Found","error":740,"data":null}}}}}}}}},"/email-start/{id}":{"get":{"tags":["Email"],"summary":"Retrieve an email validation request","description":"Returns an email validation request detail to check the \"state\" and results.","parameters":[{"name":"id","in":"path","description":"Request ID obtained using the POST /email-start/{email} method","required":true,"schema":{"type":"string","example":"77e9e92216065fa37f3c9842"}}],"responses":{"200":{"$ref":"#/components/schemas/email-start-200"},"404":{"description":"Not Found","content":{"application/json":{"examples":{"error-420":{"value":{"success":false,"message":"Request not found","error":420,"data":null}}}}}},"406":{"description":"Not Acceptable - Invalid ID","content":{"application/json":{"examples":{"error-410":{"value":{"success":false,"message":"invalid id provided","error":410,"data":null}}}}}}}}},"/email-start/{email}":{"post":{"tags":["Email"],"summary":"Create a new email validation request","description":"Create a new request to validate an email address. The body can specify callback parameters. The system will start an email validation process. If the validation takes longer than a few seconds, you might get a partial result with status 'NEW' or 'WAIT'. Check status manually using GET /email-start/{id} or wait for callback.","parameters":[{"name":"email","in":"path","description":"The email address to validate.","required":true,"schema":{"type":"string","format":"email","example":"user@example.com"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"callback":{"url":"https://your-server.site/email-callback","custom":{"orderId":"email-check-456"}}}}}},"responses":{"200":{"$ref":"#/components/schemas/email-start-200"},"400":{"description":"Bad Request - Invalid email format or callback parameters","content":{"application/json":{"examples":{"invalidEmail":{"value":{"success":false,"message":"invalid email address provided","error":810,"data":null}},"invalidCallbackUrl":{"value":{"success":false,"message":"malformed 'url' parameter, must be a valid url in 'callback'","error":704,"data":null}}}}}},"406":{"description":"Not Acceptable - Business logic errors","content":{"application/json":{"examples":{"error-810":{"value":{"success":false,"message":"invalid email address provided","error":810,"data":null}},"error-704":{"value":{"success":false,"message":"malformed 'url' parameter, must be a valid url in 'callback'","error":704,"data":null}},"error-420":{"value":{"success":false,"message":"Request not found","error":420,"data":null}},"error-410":{"value":{"success":false,"message":"invalid id provided","error":410,"data":null}}}}}}}}},"/mobile-advanced/{id}":{"get":{"tags":["HLR"],"summary":"Retrieve an advanced mobile phone validation request","description":"Returns the details of an advanced mobile phone validation request to check its state and results.","parameters":[{"name":"id","in":"path","description":"Request ID obtained from the POST method.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/schemas/mobile-advanced-200"},"404":{"description":"Request not found"}}}},"/mobile-advanced/{mobile-phone-number}":{"post":{"tags":["HLR"],"summary":"Create a new advanced mobile phone validation request","description":"Create a new request for an advanced mobile phone validation, including fraud score, carrier, line type, and more. If the validation takes longer than a few seconds, you might get a partial result with status 'NEW' or 'WAIT'. Check status manually using GET /mobile-advanced/{id} or wait for callback.","parameters":[{"name":"mobile-phone-number","in":"path","description":"The mobile phone number to validate, including the international prefix.","required":true,"schema":{"type":"string","example":"+393334567890"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"callback":{"url":"https://your-server.site/mobile-callback","custom":{"orderId":"mobile-check-456"}}}}}},"responses":{"200":{"$ref":"#/components/schemas/mobile-advanced-200"},"400":{"description":"Bad Request - Invalid phone number format"}}}},"/email-advanced/{id}":{"get":{"tags":["Email"],"summary":"Retrieve an advanced email validation request","description":"Returns the details of an advanced email validation request to check its state and results.","parameters":[{"name":"id","in":"path","description":"Request ID obtained from the POST method.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/schemas/email-advanced-200"},"404":{"description":"Request not found"}}}},"/email-advanced/{email}":{"post":{"tags":["Email"],"summary":"Create a new advanced email validation request","description":"Create a new request for an advanced email validation, including fraud score, deliverability, and reputation. If the validation takes longer than a few seconds, you might get a partial result with status 'NEW' or 'WAIT'. Check status manually using GET /email-advanced/{id} or wait for callback.","parameters":[{"name":"email","in":"path","description":"The email address to validate.","required":true,"schema":{"type":"string","format":"email","example":"example@gmail.com"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"callback":{"url":"https://your-server.site/email-callback","custom":{"orderId":"email-check-456"}}}}}},"responses":{"200":{"$ref":"#/components/schemas/email-advanced-200"},"400":{"description":"Bad Request - Invalid email format"}}}},"/ip-advanced/{id}":{"get":{"tags":["IP & Proxy"],"summary":"Retrieve an advanced IP analysis request","description":"Returns the details of an IP analysis request to check its state and results.","parameters":[{"name":"id","in":"path","description":"Request ID obtained from the POST method.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/schemas/ip-advanced-200"},"404":{"description":"Request not found"}}}},"/ip-advanced/{ip}":{"post":{"tags":["IP & Proxy"],"summary":"Create a new advanced IP analysis request","description":"Create a new request to analyze an IP address for proxy, VPN, or TOR connections, and assess its fraud score and reputation. If the validation takes longer than a few seconds, you might get a partial result with status 'NEW' or 'WAIT'. Check status manually using GET /ip-advanced/{id} or wait for callback.","parameters":[{"name":"ip","in":"path","description":"The IP address to analyze.","required":true,"schema":{"type":"string","format":"ipv4","example":"1.1.1.1"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"callback":{"url":"https://your-server.site/ip-callback","custom":{"orderId":"ip-check-456"}}}}}},"responses":{"200":{"$ref":"#/components/schemas/ip-advanced-200"},"400":{"description":"Bad Request - Invalid IP format"}}}},"/url-advanced/{id}":{"get":{"tags":["URL"],"summary":"Retrieve an advanced URL scan request","description":"Returns the details of a URL scan request to check its state and results.","parameters":[{"name":"id","in":"path","description":"Request ID obtained from the POST method.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/schemas/url-advanced-200"},"404":{"description":"Request not found"}}}},"/url-advanced/{url}":{"post":{"tags":["URL"],"summary":"Create a new advanced URL scan request","description":"Create a new request to scan a URL for phishing, malware, and other threats, and assess its risk score. If the validation takes longer than a few seconds, you might get a partial result with status 'NEW' or 'WAIT'. Check status manually using GET /url-advanced/{id} or wait for callback.","parameters":[{"name":"url","in":"path","description":"The URL to scan. It must be URL encoded.","required":true,"schema":{"type":"string","example":"https://example.com"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"callback":{"url":"https://your-server.site/url-callback","custom":{"orderId":"url-check-456"}}}}}},"responses":{"200":{"$ref":"#/components/schemas/url-advanced-200"},"400":{"description":"Bad Request - Invalid URL format"}}}},"/idv-flash-start/{id}":{"get":{"tags":["Identity Verification"],"summary":"Retrieve an Identity Verification request","description":"Returns the details of an Identity Verification request. Use Accept: application/pdf to get a full PDF report.","parameters":[{"name":"id","in":"path","description":"Request ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/idv-flash-start-done"}},"application/pdf":{"schema":{"type":"string","format":"binary"},"description":"Full verification report in PDF format."}}},"404":{"description":"Request not found"}}}},"/idv-flash-advanced/{id}":{"get":{"tags":["Identity Verification"],"summary":"Retrieve an Advanced Identity Verification request","description":"Returns the details of an Advanced Identity Verification request. Use Accept: application/pdf to get a full PDF report.","parameters":[{"name":"id","in":"path","description":"Request ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/idv-flash-advanced-done"}},"application/pdf":{"schema":{"type":"string","format":"binary"},"description":"Full verification report in PDF format."}}},"404":{"description":"Request not found"}}}},"/idv-expert/{id}":{"get":{"tags":["Identity Verification"],"summary":"Retrieve an Expert Identity Verification request","description":"Returns the details of an Expert Identity Verification request. Use Accept: application/pdf to get a full PDF report.","parameters":[{"name":"id","in":"path","description":"Request ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/idv-expert-done"}},"application/pdf":{"schema":{"type":"string","format":"binary"},"description":"Full verification report in PDF format."}}},"404":{"description":"Request not found"}}}},"/idv-flash-start/{id}/front":{"get":{"tags":["Identity Verification"],"summary":"Retrieve document front image","description":"Returns the PNG image of the front side of the document.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-flash-start/{id}/back":{"get":{"tags":["Identity Verification"],"summary":"Retrieve document back image","description":"Returns the PNG image of the back side of the document.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-flash-advanced/{id}/front":{"get":{"tags":["Identity Verification"],"summary":"Retrieve document front image","description":"Returns the PNG image of the front side of the document.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-flash-advanced/{id}/back":{"get":{"tags":["Identity Verification"],"summary":"Retrieve document back image","description":"Returns the PNG image of the back side of the document.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-flash-advanced/{id}/face":{"get":{"tags":["Identity Verification"],"summary":"Retrieve face capture image","description":"Returns the PNG image of the face captured during verification.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-expert/{id}/front":{"get":{"tags":["Identity Verification"],"summary":"Retrieve document front image","description":"Returns the PNG image of the front side of the document.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-expert/{id}/back":{"get":{"tags":["Identity Verification"],"summary":"Retrieve document back image","description":"Returns the PNG image of the back side of the document.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-expert/{id}/face":{"get":{"tags":["Identity Verification"],"summary":"Retrieve face capture image","description":"Returns the PNG image of the face captured during verification.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Image not found"}}}},"/idv-flash-start":{"post":{"tags":["Identity Verification"],"summary":"Create a new Identity Verification request","description":"Creates a new verification request. You will receive a verificationUrl to redirect the user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","name","redirectUrl"],"properties":{"email":{"type":"string","format":"email","description":"The email associated with the request.","example":"example@openapi.com"},"name":{"type":"string","description":"The declared name. Must match the name on the document.","example":"Mario Openapi"},"redirectUrl":{"type":"string","format":"uri","description":"The URL to redirect the user to after the verification process.","example":"https://openapi.com"},"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"email":"example@openapi.com","name":"Mario Openapi","redirectUrl":"https://openapi.com","callback":{"url":"https://your-server.site/idv-callback","custom":{"orderId":"idv-check-123"}}}}}},"responses":{"200":{"description":"Request created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/idv-flash-start-new"}}}},"400":{"description":"Bad Request - Invalid input parameters"}}}},"/idv-flash-advanced":{"post":{"tags":["Identity Verification"],"summary":"Create a new Advanced Identity Verification request","description":"Creates a new advanced verification request. You will receive a verificationUrl to redirect the user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","name","redirectUrl"],"properties":{"email":{"type":"string","format":"email","description":"The email associated with the request.","example":"example@openapi.com"},"name":{"type":"string","description":"The declared name. Must match the name on the document.","example":"Mario Openapi"},"redirectUrl":{"type":"string","format":"uri","description":"The URL to redirect the user to after the verification process.","example":"https://openapi.com"},"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"email":"example@openapi.com","name":"Mario Openapi","redirectUrl":"https://openapi.com","callback":{"url":"https://your-server.site/idv-callback","custom":{"orderId":"idv-check-123"}}}}}},"responses":{"200":{"description":"Request created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/idv-flash-advanced-new"}}}},"400":{"description":"Bad Request - Invalid input parameters"}}}},"/idv-expert":{"post":{"tags":["Identity Verification"],"summary":"Create a new Expert Identity Verification request","description":"Creates a new expert verification request. You will receive a verificationUrl to redirect the user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","name","redirectUrl"],"properties":{"email":{"type":"string","format":"email","description":"The email associated with the request.","example":"example@openapi.com"},"name":{"type":"string","description":"The declared name. Must match the name on the document.","example":"Mario Openapi"},"redirectUrl":{"type":"string","format":"uri","description":"The URL to redirect the user to after the verification process.","example":"https://openapi.com"},"callback":{"$ref":"#/paths/~1mobile-start~1{mobile-phone-number}/post/requestBody/content/application~1json/schema/properties/callback"}}},"example":{"email":"example@openapi.com","name":"Mario Openapi","redirectUrl":"https://openapi.com","callback":{"url":"https://your-server.site/idv-callback","custom":{"orderId":"idv-check-123"}}}}}},"responses":{"200":{"description":"Request created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/idv-expert-new"}}}},"400":{"description":"Bad Request - Invalid input parameters"}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}