{"openapi":"3.0.0","info":{"description":"This service offers rest calls to take advantage of a whole series of chamber of commerce, cadastral or patronage services linked to businesses and individuals","version":"2.0.0","title":"Visengine 2.0","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://visengine2.altravia.com","description":"Production"},{"url":"https://test.visengine2.altravia.com","description":"Sandbox"}],"tags":[{"name":"visure","description":"Section dedicated to calls showing all available services and their input parameters"},{"name":"richiesta","description":"Real and own calls to access service requests, to enter and modify input parameters and to close the transaction"},{"name":"documento","description":"Area dedicated to the use of the requested service through the output of a document"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Visure":{"type":"object","properties":{"nome_visura":{"type":"string"},"nome_categoria":{"type":"string"},"hash_visura":{"type":"string"}}},"Visura":{"type":"object","properties":{"nome_visura":{"type":"string"},"nome_categoria":{"type":"string"},"json_struttura":{"$ref":"#/components/schemas/JsonStruttura"},"ricerca":{"type":"boolean"},"prezzo_visura":{"type":"number","format":"double"},"prezzo_ricerca":{"type":"number","format":"double"},"hash_visura":{"type":"string"},"opzioni":{"type":"array","items":{"$ref":"#/components/schemas/Opzione"}},"sincrona":{"type":"boolean"}}},"JsonStruttura":{"type":"object","properties":{"campi":{"$ref":"#/components/schemas/Campo"},"validazione":{"type":"string"},"istruzioni":{"type":"string"},"istruzioni_ricerca":{"type":"string"}}},"Campo":{"type":"object","properties":{"$0":{"$ref":"#/components/schemas/Dollaro"},"$n":{"$ref":"#/components/schemas/Dollaro"}}},"Dollaro":{"type":"object","properties":{"nome":{"type":"string"},"tipo":{"type":"string"},"opzioni":{"type":"string"},"ordine":{"type":"string"},"istruzioni":{"type":"string"},"null":{"type":"boolean"}}},"Opzione":{"type":"object","properties":{"tipo":{"type":"string"},"prezzo":{"type":"number","format":"double"},"nome":{"type":"string"}}},"PostBody":{"type":"object","properties":{"state":{"type":"integer","enum":[0,1],"description":"By default it is 1, if you pass 0 the transaction is only initialized and remains open with the possibility of modifying the fields through the Put"},"test":{"type":"boolean","description":"If passed to true it simulates the validation of the data and also returns the prices of the service"},"hash_visura":{"type":"string","description":"Identification of the requested service"},"json_visura":{"$ref":"#/components/schemas/JsonVisura"},"callback_data":{"$ref":"#/components/schemas/CallbackData"},"email_target":{"type":"string","description":"Allows you to receive the requested service document directly via email once the service has been processed"},"opzioni":{"type":"object","description":"Allows you to pass options if provided in the 'json_struttura' of the 'visura'","properties":{"opzione_0":{"type":"boolean"},"opzione_n":{"type":"boolean"}},"example":{"opzione_0":true}}}},"PostBody_Id":{"type":"object","properties":{"json_visura":{"$ref":"#/components/schemas/JsonVisura"}}},"PutBody":{"type":"object","properties":{"state":{"type":"integer","enum":[0,1],"description":"If the transaction is still open, with state at 0, it will not be validated and passed to the system until 1 is passed"},"json_visura":{"$ref":"#/components/schemas/JsonVisura"},"json_visura.$n":{"type":"string","description":"Allows you to change the single input field required by the service"},"email_target":{"type":"string","description":"Allows you to receive the requested service document directly via email once the service has been processed"}}},"PutBodySearch":{"type":"object","properties":{"id_ricerca":{"type":"string","description":"Identifier of the search for which we have a result"},"indice":{"type":"integer","description":"Index of the search result we have chosen"}}},"Richieste":{"type":"object","properties":{"_id":{"type":"string"},"state":{"type":"integer"},"hash_visura":{"type":"string"},"nome":{"type":"string"},"ricerca":{"type":"boolean"},"id_ricerca":{"type":"string"},"prezzo_visura":{"type":"integer","format":"double"},"prezzo_ricerca":{"type":"integer","format":"double"},"indice_ricerca":{"type":"integer"},"stato_richiesta":{"type":"string","enum":["In ricerca","In erogazione","Dati disponibili","Visura evasa","Annullata"]},"email_target":{"type":"string"},"timestamp_creation":{"type":"integer","format":"timestamp"},"timestamp_last_update":{"type":"integer","format":"timestamp"},"owner":{"type":"string"},"sincrona":{"type":"boolean"}}},"Richiesta":{"type":"object","properties":{"_id":{"type":"string"},"state":{"type":"integer"},"hash_visura":{"type":"string"},"nome":{"type":"string"},"callback":{"type":"string"},"ricerca":{"type":"boolean"},"id_ricerca":{"type":"string"},"prezzo_visura":{"type":"number","format":"double"},"prezzo_ricerca":{"type":"number","format":"double"},"indice_ricerca":{"type":"integer"},"stato_richiesta":{"type":"string","enum":["In ricerca","In erogazione","Dati disponibili","Visura evasa","Annullata"]},"email_target":{"type":"string"},"allegati":{"type":"array","items":{"type":"string"}},"timestamp_creation":{"type":"integer"},"timestamp_last_update":{"type":"integer"},"timestamp_stati":{"$ref":"#/components/schemas/TimestampStati"},"callback_data":{"$ref":"#/components/schemas/CallbackData"},"opzioni":{"type":"array","items":{"$ref":"#/components/schemas/Opzione"}},"owner":{"type":"string"},"sincrona":{"type":"boolean"},"ricerche":{"type":"array","items":{"$ref":"#/components/schemas/Ricerca"}},"esito":{"$ref":"#/components/schemas/Esito"}}},"TimestampStati":{"type":"object","properties":{"in_ricerca":{"type":"integer"},"in_erogazione":{"type":"integer"},"dati_disponibili":{"type":"integer"},"visura_evasa":{"type":"integer"},"annullata":{"type":"integer"}}},"Ricerca":{"type":"object","properties":{"id_ricerca":{"type":"string"},"stato_ricerca":{"type":"string"},"json_ricerca":{"type":"string"},"json_mappato":{"type":"object","properties":{"field":{"type":"string"}}},"json_risultato":{"type":"string"}}},"Esito":{"type":"object","properties":{"info":{"type":"string"},"codice":{"type":"string"}}},"JsonVisura":{"type":"object","description":"Object to pass all required input fields to generate an output document from the requested service. If you have to pass a file, it must be passed like this: name + '|data:' + file type + ';base64,' + base64_encode(file content); example: '$2' : 'test_file|data:image/png;base64,abcdefghijklmnopqrstuvwxyz0123456789'","properties":{"$0":{"type":"string"},"$n":{"type":"string"}}},"CallbackData":{"type":"object","properties":{"method":{"type":"string","enum":["JSON","POST"],"description":"Indicate through which method you want to receive data with the callback, by default it is POST"},"field":{"type":"string","description":"Name of the field containing the callback return data"},"url":{"type":"string","example":"https://www.mysite.it/callback.php","description":"Url where the callback call will be made"},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}}},"Allegato":{"type":"object","properties":{"nome":{"type":"string"},"dimensione":{"type":"integer"},"file":{"type":"string","format":"base64encode"}}}}},"paths":{"/visure":{"get":{"tags":["visure"],"summary":"List of all services","description":"For each element of the list, 'hash_visura' is important, which identifies the service","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Visure"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"nome_visura":"Visura Camerale Ordinaria - società di Capitale","nome_categoria":"Camerali","hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3"},{"nome_visura":"Visura Camerale Ordinaria - società di Persone","nome_categoria":"Camerali","hash_visura":"a87ff679a2f3e71d9181a67b7542122c"},{"nome_visura":"Visura Camerale Ordinaria - Impresa Individuale","nome_categoria":"Camerali","hash_visura":"e4da3b7fbbce2345d7772b0674a318d5"},{"nome_visura":"Visura Camerale Storica - Società di Capitale","nome_categoria":"Camerali","hash_visura":"8f14e45fceea167a5a36dedd4bea2543"},{"nome_visura":"Visura Camerale Storica - Società di Persone","nome_categoria":"Camerali","hash_visura":"c9f0f895fb98ab9159f51fd0297e236d"},{"nome_visura":"Visura Camerale Storica - Impresa Individuale","nome_categoria":"Camerali","hash_visura":"45c48cce2e2d7fbdea1afc51c7c6ad26"},{"nome_visura":"Fascicolo Società di Capitali","nome_categoria":"Camerali","hash_visura":"eb626b8f493fbd4a89de4ae3b5789147"},{"nome_visura":"Fascicolo Società di Persone","nome_categoria":"Camerali","hash_visura":"6085866c3a98b508803953428b96736c"},{"nome_visura":"Fascicolo Storico Società di Persone","nome_categoria":"Camerali","hash_visura":"6dfd9cc7a7acf26a8beb29a21b51e97c"},{"nome_visura":"Fascicolo Storico Società di Capitali","nome_categoria":"Camerali","hash_visura":"3aa2115fc50a8368205d2973cb6c6aac"},{"nome_visura":"Certificato artigiano","nome_categoria":"Camerali","hash_visura":"9ef82f015e2fcaf0d69e89dc54999465"},{"nome_visura":"Certificato di iscrizione","nome_categoria":"Camerali","hash_visura":"fab482bf67a418f00d596b7296750a9a"},{"nome_visura":"Visura Protesti Persona Fisica","nome_categoria":"Camerali","hash_visura":"36228bd6463299189b071d91ff935347"},{"nome_visura":"Visura Protesti Società","nome_categoria":"Camerali","hash_visura":"494264bd80bd2a45b927d571bdad3d76"},{"nome_visura":"Visura Protesti e Pregiudizievoli Persona Fisica","nome_categoria":"Camerali","hash_visura":"aa9dc6a1abb0154ace5365c3617be629"},{"nome_visura":"Visura Protesti e Pregiudizievoli Società","nome_categoria":"Camerali","hash_visura":"0a90a897970a6f33ccf2880642dd91d0"},{"nome_visura":"DURC Online","nome_categoria":"Camerali","hash_visura":"3cbbb9c833f1c94af35494820cda3370"},{"nome_visura":"Bilancio Ottico","nome_categoria":"Camerali","hash_visura":"a52edc05d2248d614a5ac356ed056f9c"},{"nome_visura":"Bilancio XBRL","nome_categoria":"Camerali","hash_visura":"ede0b4cd4ad06227a0d88a00088c3e0f"},{"nome_visura":"Eventi Negativi Azienda","nome_categoria":"Camerali","hash_visura":"4b3c07cd4f7c18ba0b60dc6925ed6f2b"},{"nome_visura":"Eventi Negativi Persona","nome_categoria":"Camerali","hash_visura":"b39746d875eb7231c7f8a6e047d9924c"},{"nome_visura":"Cariche Attive Persona","nome_categoria":"Camerali","hash_visura":"f3a0979f15915b337aafabcd89c5ee70"},{"nome_visura":"Certificato Storico","nome_categoria":"Camerali","hash_visura":"86d7aeb8f8d72f8891dba9b328d63f94"},{"nome_visura":"Visura Camerale Ordinaria con Ricerca","nome_categoria":"Camerali","hash_visura":"afa0b4cu7yd06226i5d89p00077c3j6t"},{"nome_visura":"Visura Camerale Storica con Ricerca","nome_categoria":"Camerali","hash_visura":"tot0b5cv7yd66626i5i90p00453c3p0u"},{"nome_visura":"Visura Camerale Inglese","nome_categoria":"Camerali","hash_visura":"de971262c4960d06665cfd43ad6431d8"},{"nome_visura":"Visura Centrale Rischi persona fisica","nome_categoria":"Camerali","hash_visura":"526b6c8415936433f5a217d2bf7d2a72"},{"nome_visura":"Visura Centrale Rischi Persona Giuridica","nome_categoria":"Camerali","hash_visura":"8e238ef3e28fd887c014879179ece1b0"},{"nome_visura":"Visura Experian","nome_categoria":"Camerali","hash_visura":"b56c410cdfd569bfc0160821d4b3b26b"},{"nome_visura":"Elaborato Planimetrico","nome_categoria":"Catastali","hash_visura":"99d9da7b8fbf8a60054a48217fc5d5a1"},{"nome_visura":"Planimetria Catastale","nome_categoria":"Catastali","hash_visura":"4ff728695eab3ab9eaa6f58b22cd5734"},{"nome_visura":"Relazione Immobiliare Light","nome_categoria":"Servizi immobiliari","hash_visura":"155e32c7eafa9bf45fd65f8647a9a623"},{"nome_visura":"Relazione Immobiliare Intermedia","nome_categoria":"Servizi immobiliari","hash_visura":"fc9c42046d8a25706dda92e5521f1e24"},{"nome_visura":"Relazione Immobiliare Plus","nome_categoria":"Servizi immobiliari","hash_visura":"761733d82c59112d91302e82aa97177f"},{"nome_visura":"Estratto Contributivo","nome_categoria":"Patronato","hash_visura":"cf711d0121f5a2f95a8694d960124bd1"},{"nome_visura":"RICHIESTA ANF DIP senza autorizzazione","nome_categoria":"Patronato","hash_visura":"81a9493aa70517869216d4a7bc41a4af"},{"nome_visura":"ISEE","nome_categoria":"Patronato","hash_visura":"6aa0789f5ba34684b2bc5ccf364f8929"},{"nome_visura":"730 Singolo","nome_categoria":"Patronato","hash_visura":"38934ffe45179c4d5b88e2a6b849799a"},{"nome_visura":"730 Congiunto","nome_categoria":"Patronato","hash_visura":"38a18478a1b223e0da81a6e0fcc730df"},{"nome_visura":"NASPI","nome_categoria":"Patronato","hash_visura":"61987f81efc1a1cdde3ba0f8f48a3aaa"},{"nome_visura":"Pensione di vecchiaia","nome_categoria":"Patronato","hash_visura":"5fec14002548c9ae115758500c8981ee"},{"nome_visura":"CUD Pensionati","nome_categoria":"Patronato","hash_visura":"df66c5f10a4ce1162c56f762c562d79c"},{"nome_visura":"Certificato di residenza AIRE","nome_categoria":"Patronato","hash_visura":"e34c38d9b1b17217fafb605fe5fa75b4"},{"nome_visura":"Certificato di matrimonio","nome_categoria":"Patronato","hash_visura":"754216257d9bb0f0fa12d3bc5414d560"},{"nome_visura":"Certificato di residenza anagrafica","nome_categoria":"Patronato","hash_visura":"69663cda34a03ef7efc253262baea547"},{"nome_visura":"Certificato storico di residenza","nome_categoria":"Patronato","hash_visura":"9747dc915d45feae44933faff87339a9"},{"nome_visura":"Certificato stato di famiglia","nome_categoria":"Patronato","hash_visura":"4c84e22bbabd5f25b0102bb3bfe82790"},{"nome_visura":"Visura Proprietari PRA","nome_categoria":"Patronato","hash_visura":"89031e957e9cebc4f6e64948f2353727"},{"nome_visura":"Visura Bolli","nome_categoria":"Patronato","hash_visura":"2800b5f326a8f298761cde42da9f6c53"},{"nome_visura":"Visura Targa PRA","nome_categoria":"Patronato","hash_visura":"7deb1e62338cf1d811b3a74c3c1a1bc2"},{"nome_visura":"IMU CALCOLO","nome_categoria":"Patronato","hash_visura":"4d085e4448d523d18aa7f76f53662ff8"},{"nome_visura":"Reddito di Cittadinanza con ISEE","nome_categoria":"Patronato","hash_visura":"b6887eb9c3e6238a1b3a19217225f085"},{"nome_visura":"Indennità di Maternità","nome_categoria":"Patronato","hash_visura":"aee4f1dc8266a392f326a2b17e86d1d0"},{"nome_visura":"Rettifica ISEE","nome_categoria":"Patronato","hash_visura":"ec76981f4a38a771af76b64af93a109b"},{"nome_visura":"OBIS-M","nome_categoria":"Patronato","hash_visura":"bc74d769203eb5c33f2a40e91c076ec3"},{"nome_visura":"Pacchetto Finanziaria","nome_categoria":"Patronato","hash_visura":"e767a64dec5b382cbff27b3e46f41441"},{"nome_visura":"ISEE CORRENTE","nome_categoria":"Patronato","hash_visura":"57c24ad72bd57ba4d796622504086e02"},{"nome_visura":"AUTORIZZAZIONE ANF DIP","nome_categoria":"Patronato","hash_visura":"42fa97e7dc036947f44b9ecff50e0bcb"},{"nome_visura":"REM","nome_categoria":"Patronato","hash_visura":"460b31652b679e975bc4f3e29c3c01e6"},{"nome_visura":"NASPI COM","nome_categoria":"Patronato","hash_visura":"3d1eee78a4a76432d4a09a30574c177e"},{"nome_visura":"ISEE SOCIO SANITARIO A CICLO CONTINUO","nome_categoria":"Patronato","hash_visura":"917a50a70cf6df1d161600168bba5222"},{"nome_visura":"DIMISSIONI VOLONTARIE","nome_categoria":"Patronato","hash_visura":"232489febe7e589192ac50dee2a05a56"},{"nome_visura":"Revoca Dimissioni telematiche volontarie","nome_categoria":"Patronato","hash_visura":"442500298a5af635d303565238a998b9"},{"nome_visura":"Pensione Superstiti","nome_categoria":"Patronato","hash_visura":"079e2c420c93f633ac4c8954f27c1299"},{"nome_visura":"Reddito di Cittadinanza","nome_categoria":"Patronato","hash_visura":"1f40fac47d50ad0c80b0426d3da1519f"},{"nome_visura":"Richiesta assegno invalidità (con accompagno e senza)","nome_categoria":"Patronato","hash_visura":"0089e0f8be42f26c4e52251391333a8f"},{"nome_visura":"Ricostituzione dei contributi","nome_categoria":"Patronato","hash_visura":"3a3bf5e4220fb00cc8eb5457c44ebea9"},{"nome_visura":"Rinnovo assegno invalidità (con accompagno e senza)","nome_categoria":"Patronato","hash_visura":"9476764f6f469bd45e91652eb0400619"},{"nome_visura":"Calcolo e Previsione Pensione","nome_categoria":"Patronato","hash_visura":"1f9dfd7e9a73918756470d9618fb317d"},{"nome_visura":"NASpI Anticipata","nome_categoria":"Patronato","hash_visura":"4430f340c6f44778da912a061de271a4"},{"nome_visura":"Reddito di Cittadinanza Com esteso","nome_categoria":"Patronato","hash_visura":"7fa0ede91e5096663d87a15d97355fd9"},{"nome_visura":"Indennità per congedi straordinari (legge 104)","nome_categoria":"Patronato","hash_visura":"f35c959882a5c6be1bd227654ed8eded"},{"nome_visura":"Indennità per congedo parentale","nome_categoria":"Patronato","hash_visura":"8a7c8386fff43d28182cfa2ad24a3532"},{"nome_visura":"Riscatto leva militare","nome_categoria":"Patronato","hash_visura":"0d9ada4b11f4493674559264d6879948"},{"nome_visura":"Domanda Assegno Unico","nome_categoria":"Patronato","hash_visura":"224fcc49770edad354cdd9c480a7e50e"},{"nome_visura":"Esponenti Attivi Azienda","nome_categoria":"Camerali","hash_visura":"95cb552053977ca50c9e9b37532edd20"},{"nome_visura":"Quote Attive Persona","nome_categoria":"Camerali","hash_visura":"367ff20236e836d81470f00ba1d9f703"},{"nome_visura":"Soci Attivi Azienda","nome_categoria":"Camerali","hash_visura":"70a1b5d29d8efaae6ef9616841fd6f72"},{"nome_visura":"Certificato di matrimonio tradotto (GB-ES-FR)","nome_categoria":"Patronato","hash_visura":"1ec97fba0a0b42a95c27043850077341"},{"nome_visura":"Estratto di matrimonio","nome_categoria":"Patronato","hash_visura":"90a405e6916d7245a6a6bb4a0ad5f9b0"},{"nome_visura":"Copia integrale atto di matrimonio","nome_categoria":"Patronato","hash_visura":"fd2875faac6640f5a7ecba51f8e68816"},{"nome_visura":"Estratto di matrimonio tradotto (GB-ES-FR)","nome_categoria":"Patronato","hash_visura":"239689b89ac34c9143c96c981b552520"},{"nome_visura":"Copia integrale atto di matrimonio tradotto (GB-ES-FR)","nome_categoria":"Patronato","hash_visura":"1eebd39478f59e60dd2b3809fcbf9085"},{"nome_visura":"Certificato di matrimonio tradotto (altre lingue)","nome_categoria":"Patronato","hash_visura":"4c82d4d3aa2d0f26f61337ae22dd324d"},{"nome_visura":"Estratto di matrimonio tradotto (altre lingue)","nome_categoria":"Patronato","hash_visura":"90295381c8ebd0a3bfd18d35f315574b"},{"nome_visura":"Copia integrale atto di matrimonio tradotto (altre lingue)","nome_categoria":"Patronato","hash_visura":"b3e909f65b8c8669acd681037f49abf2"},{"nome_visura":"Domanda di Cittadinanza Italiana","nome_categoria":"Patronato","hash_visura":"642ad03a651c6ae3cd152dc85faf7677"},{"nome_visura":"Domanda Esame A2 per Carta di Soggiorno","nome_categoria":"Patronato","hash_visura":"2631ec9b62135de4186f509fea7d954b"},{"nome_visura":"Ricongiungimento 1 Familiare","nome_categoria":"Patronato","hash_visura":"04e0d6e942eb231d4f265920a39cdcb2"},{"nome_visura":"Ricongiungimento 2 Familiari","nome_categoria":"Patronato","hash_visura":"07bfc62769ffcffe647fab84c0c127f0"},{"nome_visura":"Ricongiungimento 3 Familiari","nome_categoria":"Patronato","hash_visura":"e65a00e447340c9e57d5c334b2446f8d"},{"nome_visura":"Ricongiungimento 4 Familiari","nome_categoria":"Patronato","hash_visura":"378b1bb4fc29809619d220975729c013"}],"success":true,"message":"","error":null}}}}}}},"/visure/{hash_visura}":{"get":{"tags":["visure"],"summary":"Service identified with hash_visura","description":"Service description with input parameters, prices and validation instructions. \n\nFor these 2 visure: \n- Planimetria Catastale - 4ff728695eab3ab9eaa6f58b22cd5734 \n- Durc Online - 3cbbb9c833f1c94af35494820cda3370 \n\nit is important to download the delegation file which will then have to be uploaded during the POST/richiesta phase. The link to download the delegation file can be found by decoding in base 64 the 'istruzioni' field of the visura object.","parameters":[{"name":"hash_visura","in":"path","description":"hash_visura of visura to return","required":true,"schema":{"type":"string","example":"8f14e45fceea167a5a36dedd4bea2543"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Visura"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome_visura":"Visura Camerale Ordinaria - società di Capitale ","ricerca":false,"nome_categoria":"Camerali","json_struttura":{"campi":{"$0":{"nome":"NRea","tipo":"denominazione","null":false,"istruzioni":"Inserire il Numero di Rea dell'azienda"},"$1":{"nome":"Cciaa","tipo":"denominazione","null":false,"istruzioni":"Inserire la Cciaa dell'Azienda","ordine":"1"}},"validazione":"$0 && $1  ","istruzioni":"PHA+UGVyIHJpY2hpZWRlcmUgbGEgVmlzdXJhIENhbWVyYWxlIE9yZGluYXJpYSAtIFNvY2lldCZhZ3JhdmU7IGRpIENhcGl0YWxlIGluc2VyaXNjaSBpIHNlZ3VlbnRpIGRhdGk6Jm5ic3A7Jm5ic3A7PHN0cm9uZz5OcmVhPC9zdHJvbmc+Jm5ic3A7ZSA8c3Ryb25nPkNjaWFhPC9zdHJvbmc+PC9wPg0K","istruzioni_ricerca":""},"hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3","prezzo_visura":4.9,"prezzo_ricerca":0,"sincrona":false,"opzioni":null},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"wrong hash_visura","error":200,"data":null}}}}}}},"/richiesta":{"get":{"tags":["richiesta"],"summary":"List of all requests","description":"Summary list of all requests made from your profile","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Richieste"}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"_id":"5f22f722065afc42223c7131","state":1,"hash_visura":"f3a0979f15915b337aafabcd89c5ee70","nome":"Cariche Societarie","ricerca":false,"id_ricerca":null,"prezzo_visura":5,"prezzo_ricerca":0,"indice_ricerca":null,"stato_richiesta":"Visura evasa","email_target":null,"timestamp_creation":1596127010,"timestamp_last_update":1596127022,"owner":"a.venanzoni@altravia.com","sincrona":false},{"_id":"5f22f5b5065afc21cc60a27a","state":1,"hash_visura":"f3a0979f15915b337aafabcd89c5ee70","nome":"Cariche Societarie","ricerca":false,"id_ricerca":null,"prezzo_visura":5,"prezzo_ricerca":0,"indice_ricerca":null,"stato_richiesta":"Visura evasa","email_target":null,"timestamp_creation":1596126645,"timestamp_last_update":1596126717,"owner":"a.venanzoni@altravia.com","sincrona":false},{"_id":"5f16beaa065afc1c0b354aac","state":0,"hash_visura":"b39746d875eb7231c7f8a6e047d9924c","nome":"Eventi Negativi Persona","ricerca":false,"id_ricerca":null,"prezzo_visura":2,"prezzo_ricerca":0,"indice_ricerca":null,"stato_richiesta":"Annullata","email_target":null,"timestamp_creation":1595326122,"timestamp_last_update":1595345114,"owner":"a.venanzoni@altravia.com","sincrona":false}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request related to your account","error":203,"data":null}}}}}},"post":{"tags":["richiesta"],"summary":"Creating a request","description":"Call to instantiate a new service request. Possibility to create it immediately complete or through transactionality you can finish completing it with a put","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBody"},"example":{"hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3","json_visura":{"$1":"RM","$0":"1378273"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"_id":"5f2829ce065afc21cc60ad0e","state":1,"hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3","nome":"Visura Camerale Ordinaria - società di Capitale ","callback":"_rib_cam_Ordinaria","ricerca":false,"id_ricerca":null,"prezzo_visura":4.78,"prezzo_ricerca":0,"indice_ricerca":null,"stato_richiesta":"In erogazione","email_target":null,"allegati":[],"timestamp_creation":1596467662,"timestamp_last_update":1596467663,"timestamp_stati":{"in_ricerca":1596467663,"in_erogazione":1596467663},"callback_data":false,"opzioni":null,"owner":"a.venanzoni@altravia.com","sincrona":false,"ricerche":[{"id_ricerca":"5f2829ce065afc21cc60ad0e_0","stato_ricerca":"Ricerca evasa","json_ricerca":"{\"$1\":\"RM\",\"$0\":\"1378273\"}","json_mappato":{"NRea":"1378273","Cciaa":"RM"},"json_risultato":null}],"esito":{"codice":"0","info":"OK"}},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"email is considered invalid!","error":209,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":211,"data":null}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"example":{"success":false,"message":"Insufficient data to validate the request: ","error":250,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"hash_visura required","error":204,"data":null}}}}}}},"/richiesta/{_id}":{"get":{"tags":["richiesta"],"summary":"Finds request by _id","description":"Service that returns your request marked by the identifier passed in the path","parameters":[{"name":"_id","in":"path","description":"_id of request to return","required":true,"schema":{"type":"string","example":"5f22f722065afc42223c7131"}}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"_id":"5f22f722065afc42223c7131","state":1,"hash_visura":"f3a0979f15915b337aafabcd89c5ee70","nome":"Cariche Societarie","callback":"_rib_cam_Cariche","ricerca":false,"id_ricerca":null,"prezzo_visura":5,"prezzo_ricerca":0,"indice_ricerca":null,"stato_richiesta":"Visura evasa","email_target":null,"allegati":["5f22f722065afc42223c7131.pdf"],"timestamp_creation":1596127010,"timestamp_last_update":1596127022,"timestamp_stati":{"in_ricerca":1596127010,"in_erogazione":1596127010,"dati_disponibili":1596127017,"visura_evasa":1596127022},"callback_data":false,"opzioni":null,"owner":"a.venanzoni@altravia.com","sincrona":false,"ricerche":[{"id_ricerca":"5f22f722065afc42223c7131_0","stato_ricerca":"Ricerca evasa","json_ricerca":"{\"$0\":\"SCRLCU73R02H501H\"}","json_mappato":{"Codice Fiscale":"SCRLCU73R02H501H"},"json_risultato":null}],"esito":{"codice":"0","info":"OK"}},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Invalid id","error":201,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request matches this id: t56yh843827583475g875hgj","error":202,"data":null}}}}}},"post":{"tags":["richiesta"],"summary":"Add a search to the request","description":"Services that have the parameter 'ricerca' : 1 allow you to add additional searches to the first service request","parameters":[{"name":"_id","in":"path","description":"_id of request to add a search to","required":true,"schema":{"type":"string","example":"5f2829ce065afc21cc60ad0e"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBody_Id"},"example":{"json_visura":{"$1":"12345678910","$0":""}}}}},"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"_id":"5f2829ce065afc21cc60ad0e","state":1,"hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3","nome":"Visura Camerale Ordinaria - società di Capitale ","callback":"_rib_cam_Ordinaria","ricerca":true,"id_ricerca":null,"prezzo_visura":4.78,"prezzo_ricerca":0.38,"indice_ricerca":null,"stato_richiesta":"In ricerca","email_target":null,"allegati":[],"timestamp_creation":1596467662,"timestamp_last_update":1596469730,"timestamp_stati":{"in_ricerca":1596469730},"callback_data":false,"opzioni":null,"owner":"a.venanzoni@altravia.com","sincrona":false,"ricerche":[{"id_ricerca":"5f2829ce065afc21cc60ad0e_0","stato_ricerca":"Ricerca evasa","json_ricerca":"{\"$1\":\"12485671007\",\"$0\":\"\"}","json_mappato":{"Partita Iva o Codice Fiscale":"12485671007","Denominazione/Ragione Sociale":""},"json_risultato":"{\"indice_0\":{\"Cciaa\":\"RM\",\"NRea\":\"1378273\",\"Denominazione\":\"ALTRAVIA SERVIZI SOCIETA' A RESPONSABILITA' LIMITATA\",\"CodFisc\":\"12485671007\",\"PIva\":\"12485671007\",\"NatGiu\":{\"!cod\":\"SR\",\"!gruppo\":\"1\",\"!\":\"SOCIETA' A RESPONSABILITA' LIMITATA\"},\"StatoAttivitaR\":{\"!cod\":\"R\",\"!semaforo\":\"V\",\"!\":\"REGISTRATA\"},\"Ateco07\":{\"!cod\":\"6201\",\"!\":\"Produzione di software non connesso all'edizione\"},\"Indirizzo\":{\"Provincia\":{\"!regione\":\"12\",\"!\":\"RM\"},\"Comune\":\"ROMA\",\"Toponimo\":\"VIALE\",\"Via\":\"F TOMMASO MARINETTI\",\"NCivico\":\"221\",\"Cap\":\"00143\"},\"!completa\":\"S\",\"!idBicAzienda\":\"126507\"}}"},{"id_ricerca":"5f2829ce065afc21cc60ad0e_1","json_ricerca":"{\"$1\":\"12345678910\",\"$0\":\"\"}","json_mappato":{"Partita Iva o Codice Fiscale":"12345678910","Denominazione/Ragione Sociale":""},"stato_ricerca":"Errore su richiesta dati","json_risultato":null}],"esito":{"codice":"101","info":"Errore parametro input: KO - Attenzione Codice Fiscale non valido! Nessun soggetto trovato su ANITA. Inibito acquisto su IC."}},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Invalid id","error":219,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":225,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the request is in state 0, not yet finalized","error":221,"data":null}}}},"409":{"description":"Conflict","content":{"application/json":{"example":{"success":false,"message":"this request does not allow the addition of a search","error":222,"data":null}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"example":{"success":false,"message":"Insufficient data to validate the request: ","error":250,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"json_visura required","error":224,"data":null}}}}}},"put":{"tags":["richiesta"],"summary":"Updates the request","description":"This call allows you to update the search fields of the request and to close the transaction","parameters":[{"name":"_id","in":"path","description":"request _id","required":true,"schema":{"type":"string","example":"5f2829ce065afc21cc60ad0e"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutBody"},"example":{"json_visura.$0":"altravia","state":1}}}},"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"_id":"5f283eae065afc21cf466ea4","state":1,"hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3","nome":"Visura Camerale Ordinaria - società di Capitale ","callback":"_rib_cam_Ordinaria","ricerca":false,"id_ricerca":null,"prezzo_visura":4.78,"prezzo_ricerca":0,"indice_ricerca":null,"stato_richiesta":"In erogazione","email_target":null,"allegati":[],"timestamp_creation":1596473006,"timestamp_last_update":1596473023,"timestamp_stati":{"in_ricerca":1596473023,"in_erogazione":1596473023},"callback_data":false,"opzioni":null,"owner":"a.venanzoni@altravia.com","sincrona":false,"ricerche":[{"id_ricerca":"5f283eae065afc21cf466ea4_0","stato_ricerca":"Ricerca evasa","json_ricerca":"{\"$1\":\"BS\",\"$0\":\"572372\"}","json_mappato":{"NRea":"572372","Cciaa":"BS"},"json_risultato":null}],"esito":{"codice":"0","info":"OK"}},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"the request has already been closed","error":239,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests matches this id: 342tfdt567yhgy8897ujt454","error":228,"data":null}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"example":{"success":false,"message":"error in the input data: ","error":229,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"id required","error":226,"data":null}}}}}}},"/richiesta/{_id}/ricerche":{"put":{"tags":["richiesta"],"summary":"Updates the request with the chosen index and search","description":"In services with 'ricerca': 1 the final document is released upon choice of the search result","parameters":[{"name":"_id","in":"path","description":"request _id","required":true,"schema":{"type":"string","example":"5f283eae065afc21cf466ea4"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutBodySearch"},"example":{"id_ricerca":"5f283eae065afc21cf466ea4_0","indice":1}}}},"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"_id":"5f283eae065afc21cf466ea4","state":1,"hash_visura":"eccbc87e4b5ce2fe28308fd9f2a7baf3","nome":"Visura Camerale Ordinaria - società di Capitale ","callback":"_rib_cam_Ordinaria","ricerca":true,"id_ricerca":"5f283eae065afc21cf466ea4_0","prezzo_visura":4.78,"prezzo_ricerca":0.38,"indice_ricerca":1,"stato_richiesta":"In erogazione","email_target":null,"allegati":[],"timestamp_creation":1596473006,"timestamp_last_update":1596473804,"timestamp_stati":{"in_ricerca":1596473023,"in_erogazione":1596473804},"callback_data":false,"opzioni":null,"owner":"a.venanzoni@altravia.com","sincrona":false,"ricerche":[{"id_ricerca":"5f283eae065afc21cf466ea4_0","stato_ricerca":"Ricerca evasa","json_ricerca":"{\"$1\":\"\",\"$0\":\"altravia\"}","json_mappato":{"Partita Iva o Codice Fiscale":"","Denominazione/Ragione Sociale":"altravia"},"json_risultato":"{\"indice_0\":{\"Cciaa\":\"BS\",\"NRea\":\"572372\",\"Denominazione\":\"ALTRAVIA SRL\",\"CodFisc\":\"03900850987\",\"PIva\":\"03900850987\",\"NatGiu\":{\"!cod\":\"SR\",\"!gruppo\":\"1\",\"!\":\"SOCIETA' A RESPONSABILITA' LIMITATA\"},\"StatoAttivitaR\":{\"!cod\":\"R\",\"!semaforo\":\"V\",\"!\":\"REGISTRATA\"},\"Ateco07\":{\"!cod\":\"702209\",\"!\":\"Altre attivita' di consulenza imprenditoriale e altra consulenza amministrativo-gestionale e pianificazione aziendale\"},\"Indirizzo\":{\"Provincia\":{\"!regione\":\"03\",\"!\":\"BS\"},\"Comune\":\"ROVATO\",\"Toponimo\":\"CORSO\",\"Via\":\"BONOMELLI\",\"NCivico\":\"19\",\"Cap\":\"25038\"},\"!completa\":\"S\",\"!idBicAzienda\":\"128054\"},\"indice_1\":{\"Cciaa\":\"CT\",\"NRea\":\"404661\",\"Denominazione\":\"ALTRAVIA SOCIETA' A RESPONSABILITA' LIMITATA SEMPLIFICATA\",\"CodFisc\":\"05526560874\",\"PIva\":\"05526560874\",\"NatGiu\":{\"!cod\":\"RS\",\"!gruppo\":\"1\",\"!\":\"SOCIETA' A RESPONSABILITA' LIMITATA SEMPLIFICATA\"},\"StatoAttivitaR\":{\"!cod\":\"R\",\"!semaforo\":\"V\",\"!\":\"REGISTRATA\"},\"Indirizzo\":{\"Provincia\":{\"!regione\":\"19\",\"!\":\"CT\"},\"Comune\":\"CATANIA\",\"Toponimo\":\"VIA\",\"Via\":\"DELLE SCALE\",\"NCivico\":\"10\\/18\",\"Cap\":\"95129\"},\"!completa\":\"S\",\"!idBicAzienda\":\"128376\"},\"indice_2\":{\"Cciaa\":\"GE\",\"NRea\":\"420546\",\"Denominazione\":\"FAIR SOCIETA' COOPERATIVA SOCIALE\",\"CodFisc\":\"01585470998\",\"PIva\":\"01585470998\",\"NatGiu\":{\"!cod\":\"OO\",\"!gruppo\":\"1\",\"!\":\"COOPERATIVA SOCIALE\"},\"StatoAttivitaR\":{\"!cod\":\"R\",\"!semaforo\":\"V\",\"!\":\"REGISTRATA\"},\"Ateco07\":{\"!cod\":\"829999\",\"!\":\"Altri servizi di sostegno alle imprese nca\"},\"Indirizzo\":{\"Provincia\":{\"!regione\":\"07\",\"!\":\"GE\"},\"Comune\":\"GENOVA\",\"Toponimo\":\"VICO\",\"Via\":\"DELLA TARTARUGA\",\"NCivico\":\"2\\/R\",\"Cap\":\"16123\"},\"!completa\":\"S\",\"!idBicAzienda\":\"128056\"},\"indice_3\":{\"Cciaa\":\"RM\",\"NRea\":\"1031523\",\"Denominazione\":\"ALTRAVIA - SOCIETA' A RESPONSABILITA' LIMITATA IN LIQUIDAZIONE\",\"CodFisc\":\"07432261001\",\"PIva\":\"07432261001\",\"NatGiu\":{\"!cod\":\"SR\",\"!gruppo\":\"1\",\"!\":\"SOCIETA' A RESPONSABILITA' LIMITATA\"},\"StatoAttivitaR\":{\"!cod\":\"R\",\"!semaforo\":\"V\",\"!\":\"REGISTRATA\"},\"Ateco07\":{\"!cod\":\"6201\",\"!\":\"Produzione di software non connesso all'edizione\"},\"Indirizzo\":{\"Provincia\":{\"!regione\":\"12\",\"!\":\"RM\"},\"Comune\":\"ROMA\",\"Toponimo\":\"VIA\",\"Via\":\"F.TOMMASO MARINETTI\",\"NCivico\":\"221\",\"Cap\":\"00143\"},\"!completa\":\"S\",\"!idBicAzienda\":\"\"},\"indice_4\":{\"Cciaa\":\"RM\",\"NRea\":\"1378273\",\"Denominazione\":\"ALTRAVIA SERVIZI SOCIETA' A RESPONSABILITA' LIMITATA\",\"CodFisc\":\"12485671007\",\"PIva\":\"12485671007\",\"NatGiu\":{\"!cod\":\"SR\",\"!gruppo\":\"1\",\"!\":\"SOCIETA' A RESPONSABILITA' LIMITATA\"},\"StatoAttivitaR\":{\"!cod\":\"R\",\"!semaforo\":\"V\",\"!\":\"REGISTRATA\"},\"Ateco07\":{\"!cod\":\"6201\",\"!\":\"Produzione di software non connesso all'edizione\"},\"Indirizzo\":{\"Provincia\":{\"!regione\":\"12\",\"!\":\"RM\"},\"Comune\":\"ROMA\",\"Toponimo\":\"VIALE\",\"Via\":\"F TOMMASO MARINETTI\",\"NCivico\":\"221\",\"Cap\":\"00143\"},\"!completa\":\"S\",\"!idBicAzienda\":\"126507\"}}"}],"esito":{"codice":"0","info":"OK"}},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"indice must be >= 0","error":234,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"Insufficient Credit in Wallet: 182.03","error":237,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests matches this id: tr546547uyyhhg64545r4f4546","error":228,"data":null}}}},"409":{"description":"Conflict","content":{"application/json":{"example":{"success":false,"message":"the request does not produce results to choose from, it is processed directly with the POST","error":230,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"indice not valid or required","error":233,"data":null}}}}}}},"/documento/{_id}":{"get":{"tags":["documento"],"summary":"Document generated by the request","description":"Allows to obtain the document relating to a specific request","parameters":[{"name":"_id","in":"path","description":"request _id","required":true,"schema":{"type":"string","example":"5f22f5b5065afc21cc60a27a"}}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"5f22f5b5065afc21cc60a27a.zip","dimensione":10206,"file":"++6+47433njVP9ZcX1XNtWUsKrTya9FGhwiXgdp5j5OPh0FpaKWVpjP8CUEjFjYzYwYTI3YS5wZGZVVAUAAwhDKF91eAsAAQQhAAAABCEAAABQSwUGAAAAAAEAAQBiAAAAZicAAAAA"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Invalid id","error":243,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests matches this id: 4345uygyug578754g","error":244,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":247,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"id required","error":242,"data":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}