{"openapi":"3.0.0","info":{"description":"Web service that allows you to obtain a company registration certificate or the financial statements.","version":"1.0.0","title":"Visure Camerali","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://visurecamerali.openapi.it","description":"Production"},{"url":"https://test.visurecamerali.openapi.it","description":"Sandbox"}],"tags":[{"name":"Cerca Imprese","description":"Business search tool"},{"name":"Imprese Individuali","description":"It allows you to obtain an ordinary or historical chamber of commerce registration on an individual company"},{"name":"Società di Capitale","description":"It allows you to obtain an ordinary or historical chamber of commerce registration on a joint stock or the financial statement document company"},{"name":"Società di Persone","description":"It allows you to obtain an ordinary or historical chamber of commerce registration on a partnership"},{"name":"Certificati Camerali","description":"Allows you to obtain Chamber of Commerce certificates for every type of company registered with the Chamber of Commerce"},{"name":"Soci","description":"Allows you to obtain a document on the active members of a joint stock company or partnership"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Richieste":{"type":"array","items":{"type":"object","properties":{"cf_piva_id":{"type":"string","description":"tax code, VAT number or ID"},"tipo":{"type":"string","description":"type of request"},"stato_richiesta":{"type":"string","enum":["In ricerca","In erogazione","Dati disponbili","Visura evasa","Annullata"],"description":"status of the request"},"timestamp_last_update":{"type":"integer","description":"last update of the request"},"owner":{"type":"string","description":"owner of the request"},"id":{"type":"string","description":"request id"}}}},"Richiesta":{"type":"object","properties":{"cf_piva_id":{"type":"string","description":"tax code, VAT number or ID"},"tipo":{"type":"string","description":"type of request"},"stato_richiesta":{"type":"string","enum":["In ricerca","In erogazione","Dati disponbili","Visura evasa","Annullata"],"description":"status of the request"},"timestamp_creation":{"type":"integer","description":"creation timestamp"},"timestamp_last_update":{"type":"integer","description":"last update of the request"},"allegati":{"type":"array","items":{"type":"string"},"description":"documents downloadable from the request"},"callback":{"$ref":"#/components/schemas/Callback"},"owner":{"type":"string","description":"owner of the request"},"id":{"type":"string","description":"request id"}}},"RichiestaBilancio":{"type":"object","properties":{"cf_piva_id":{"type":"string","description":"tax code, VAT number or ID"},"anno_chiusura":{"type":"string","description":"financial statement closing year","nullable":true},"tipo":{"type":"string","description":"type of request"},"stato_richiesta":{"type":"string","enum":["In ricerca","In erogazione","Dati disponbili","Visura evasa","Annullata"],"description":"status of the request"},"timestamp_creation":{"type":"integer","description":"creation timestamp"},"timestamp_last_update":{"type":"integer","description":"last update of the request"},"allegati":{"type":"array","items":{"type":"string"},"description":"documents downloadable from the request"},"callback":{"$ref":"#/components/schemas/Callback"},"owner":{"type":"string","description":"owner of the request"},"id":{"type":"string","description":"request id"}}},"RichiestaSoci":{"type":"object","properties":{"cf_piva_id":{"type":"string","description":"tax code, VAT number or ID"},"json_soci":{"$ref":"#/components/schemas/JsonSoci"},"tipo":{"type":"string","description":"type of request"},"stato_richiesta":{"type":"string","enum":["In ricerca","In erogazione","Dati disponbili","Visura evasa","Annullata"],"description":"status of the request"},"timestamp_creation":{"type":"integer","description":"creation timestamp"},"timestamp_last_update":{"type":"integer","description":"last update of the request"},"allegati":{"type":"array","items":{"type":"string"},"description":"documents downloadable from the request"},"callback":{"$ref":"#/components/schemas/Callback"},"owner":{"type":"string","description":"owner of the request"},"id":{"type":"string","description":"request id"}}},"Callback":{"type":"object","properties":{"url":{"type":"string","example":"https://your_site.com/file_callback.php","description":"URL on which you want to receive the callback"},"field":{"type":"string","description":"field on which you want to receive the callback in post"},"method":{"type":"string","enum":["POST","JSON"],"description":"callback method"},"data":{"type":"object","description":"customizable object"}},"required":["url","field"]},"Allegato":{"type":"object","properties":{"nome":{"type":"string","description":"file name"},"dimensione":{"type":"integer","description":"file size"},"file":{"type":"string","format":"byte","description":"contents of the file encoded in base64"}}},"PostBodyRichiesta":{"type":"object","properties":{"cf_piva_id":{"type":"string","description":"tax code, VAT number or ID"},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["cf_piva_id"]},"PostBodyBilancio":{"type":"object","properties":{"cf_piva_id":{"type":"string","description":"tax code, VAT number or ID"},"anno_chiusura":{"type":"string","description":"year for which you want the company balance sheet, if not passed, the latest one available will be returned","nullable":true},"callback":{"$ref":"#/components/schemas/Callback"}},"required":["cf_piva_id"]},"Imprese":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"denominazione":{"type":"string","description":"company name"},"comune":{"type":"string","description":"municipality where the company is located"},"codice_natura_giuridica":{"type":"integer","description":"legal nature code of the company"},"chiamate_disponibili":{"type":"array","items":{"type":"string"},"description":"list of endpoints available to the company"}}}},"JsonSoci":{"type":"object","properties":{"azienda":{"type":"object","properties":{"cciaa":{"type":"string","description":"Acronym of the city where the company was registered (e.g. RM as Rome, MI as Milan etc.)"},"numero_rea":{"type":"string","description":"Economic and Administrative Repertory number for Chamber of Commerce"},"denominazione":{"type":"string","description":"Legal name of the company"},"codice_fiscale":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"partita_iva":{"type":"string","description":"VAT registration number (Italian Partita IVA)"},"codice_natura_giuridica":{"type":"string","description":"company legal code"},"natura_giuridica":{"type":"string","description":"description of the legal code"},"indirizzo":{"type":"object","description":"address","properties":{"codice_toponimo":{"type":"string","description":"toponym code"},"toponimo":{"type":"string","description":"toponym of the address"},"denominazione":{"type":"string","description":"street address"},"civico":{"type":"string","description":"number of the address"},"cap":{"type":"string","description":"ZIP code (Italian CAP) where the company is located"},"codice_comune":{"type":"string","description":"Town code where the company is located"},"codice_comune_istat":{"type":"string","description":"Town istat code where the company is located"},"comune":{"type":"string","description":"Town where the company is located"},"frazione":{"type":"string","description":"District where the company is located"},"provincia":{"type":"string","description":"County (Province) where the company is located"},"nazione":{"type":"string","description":"Country where the company is located"}}},"codice_ateco":{"type":"array","description":"ateco code","items":{"type":"object","properties":{"codice_ateco":{"type":"string","description":"First level ATECO code"},"ateco":{"type":"string","description":"Description of the first level ATECO Code"}}}},"stato_attivita":{"type":"string","description":"indicates the status of the company according to the Italian Chamber of Commerce"},"data_inizio_attivita":{"type":"string","description":"start date of the company's activity"},"data_cessazione_attivita":{"type":"string","description":"end date of the company's activity"},"capitale_sociale":{"type":"number","nullable":true,"description":"share capital of the company"},"presenza_diritti_non_determinati":{"type":"boolean","nullable":true,"description":"presence of undetermined rights"},"quota_diritti_non_determinati":{"type":"number","nullable":true,"description":"share of undetermined rights"},"quote":{"type":"array","description":"company shares","items":{"type":"number"}}}},"soci":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string","description":"full name of the member"},"persona_fisica":{"type":"boolean","description":"whether he is a natural person or not"},"codice_fiscale":{"type":"string","description":"member's tax code"},"data_nascita":{"type":"string","description":"member's date of birth"},"provincia_nascita":{"type":"string","description":"member's province of birth"},"comune_nascita":{"type":"string","description":"member's town of birth"},"codice_comune_nascita":{"type":"string","description":"member's town code of birth"},"codice_istat_comune_nascita":{"type":"string","description":"member's town istat code of birth"},"stato_nascita":{"type":"string","description":"member's country of birth"},"sesso":{"type":"string","description":"member's gender"},"quote":{"type":"array","items":{"type":"object","properties":{"data_atto":{"type":"string","description":"act date"},"data_deposito":{"type":"string","description":"deed filing date"},"data_protocollo":{"type":"string","description":"protocol date"},"codice_tipo_diritto":{"type":"string","description":"right type code"},"descrizione_tipo_diritto":{"type":"string","description":"straight type description"},"diritto_reale":{"type":"boolean","description":"real right"},"numero_azioni_possedute":{"type":"number","description":"number of shares owned"},"codice_tipo_azioni":{"type":"string","description":"code type of shares held"},"descrizione_tipo_azioni":{"type":"string","description":"description of the type of shares held"},"valore_quota":{"type":"number","description":"share value"},"percentuale_possesso":{"type":"number","description":"percentage ownership of the share"},"quota_non_determinata":{"type":"boolean","description":"shareholding not determined"}}}},"altre_aziende_con_quote":{"type":"string","description":"other companies with shares"},"cognome":{"type":"string","description":"member's last name"},"nome":{"type":"string","description":"member's firt name"}}}}}}}},"paths":{"/impresa":{"get":{"tags":["Cerca Imprese"],"summary":"Business search","description":"With this service we can draw up a list of companies that correspond to certain parameters described below. The call returns a maximum of 1000 results even if you set a higher limit","parameters":[{"name":"denominazione","required":false,"in":"query","description":"name of the company (you can search for parts of the name as long as they are whole words)","schema":{"type":"string","example":"openapi"}},{"name":"provincia","required":false,"in":"query","description":"the code of the region you want to search in","schema":{"type":"string","example":"RM"}},{"name":"codice_ateco","required":false,"in":"query","description":"ateco code","schema":{"type":"string","example":"6201"}},{"name":"fatturato_min","required":false,"in":"query","description":"minimum revenue value","schema":{"type":"integer","example":100000}},{"name":"fatturato_max","required":false,"in":"query","description":"maximum revenue value","schema":{"type":"integer","example":1000000}},{"name":"dipendenti_min","required":false,"in":"query","description":"minimum value of employees","schema":{"type":"integer","example":1}},{"name":"dipendenti_max","required":false,"in":"query","description":"maximum value of employees","schema":{"type":"integer","example":5}},{"name":"skip","required":false,"in":"query","description":"to set the number of records you want to skip from the result set","schema":{"type":"integer","example":50}},{"name":"limit","required":false,"in":"query","description":"number of results you want to receive; if not set, the call will return a maximum of 100 results","schema":{"type":"integer","example":100,"minimum":1,"maximum":1000}},{"name":"lat","required":false,"in":"query","description":"latitude","schema":{"type":"number","format":"double","minimum":-90,"maximum":90,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":13.5478}},{"name":"lng","required":false,"in":"query","description":"longitude","schema":{"type":"number","format":"double","minimum":-180,"maximum":180,"exclusiveMinimum":false,"exclusiveMaximum":false,"example":42.859}},{"name":"radius","required":false,"in":"query","description":"radius in meters","schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"example":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Imprese"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"61f2d9978e5bb376ab1c85d6","denominazione":"OPENAPI S.R.L.","comune":"ROMA","codice_natura_giuridica":"SR","chiamate_disponibili":["visurecamerali.openapi.it/ordinaria-societa-capitale","visurecamerali.openapi.it/storica-societa-capitale"]}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"search key not allowed: ","error":257,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"invalid parameter, set 'lat' between -90 and 90","error":258,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"you have not passed any search parameters","error":256,"data":null}}}}}}},"/impresa/{cf_piva_id}":{"get":{"tags":["Cerca Imprese"],"summary":"Business search","description":"Endpoint that allows a precise search via VAT number, tax code or company ID","parameters":[{"name":"cf_piva_id","required":true,"in":"path","description":"VAT number, tax code or company ID","schema":{"type":"string","example":"12485671007"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Imprese"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"id":"61f2d9978e5bb376ab1c85d6","denominazione":"OPENAPI S.P.A.","comune":"ROMA","codice_natura_giuridica":"SP","chiamate_disponibili":["visurecamerali.openapi.it/ordinaria-societa-capitale","visurecamerali.openapi.it/storica-societa-capitale","visurecamerali.openapi.it/bilancio-ottico"]}],"success":true,"message":"","error":null}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":260,"data":null}}}}}}},"/ordinaria-impresa-individuale":{"get":{"tags":["Imprese Individuali"],"summary":"List of your requests","description":"This method shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"MSSRRT77B18Z112L","tipo":"ordinaria-impresa-individuale","stato_richiesta":"Visura evasa","timestamp_last_update":1649688928,"owner":"gcloud-tests@openapi.it","id":"62542b966ea4de0b373dc1d2"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":200,"data":null}}}}}},"post":{"tags":["Imprese Individuali"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a sole proprietorship","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"mssrrt77b18z112l"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"MSSRRT77B18Z112L","tipo":"ordinaria-impresa-individuale","stato_richiesta":"In erogazione","timestamp_creation":1649683350,"timestamp_last_update":1649683350,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"62542b966ea4de0b373dc1d2"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":205,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a impresa individuale","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":204,"data":null}}}}}}},"/ordinaria-impresa-individuale/{id}":{"get":{"tags":["Imprese Individuali"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"62542b966ea4de0b373dc1d2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"MSSRRT77B18Z112L","tipo":"ordinaria-impresa-individuale","stato_richiesta":"Visura evasa","timestamp_creation":1649683350,"timestamp_last_update":1649688928,"allegati":["62542b96ee774050be7049bd.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"62542b966ea4de0b373dc1d2"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":201,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":202,"data":null}}}}}}},"/ordinaria-impresa-individuale/{id}/allegati":{"get":{"tags":["Imprese Individuali"],"summary":"Download the document","description":"This endpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"62542b966ea4de0b373dc1d2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"62542b96ee774050be7049bd.zip","dimensione":46202,"file":"UEsDBBQAAAAIABqOi1SS0Ed8rLMAACLLAAAcABwANjI1NDJiOTZlZTc3NDA1MGJlNzA0OWJkLnBkZlVUCQAD401UYuNNVGJ1eAsAAQQhAAAABCEAAADU/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":201,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":202,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":203,"data":null}}}}}}},"/storica-impresa-individuale":{"get":{"tags":["Imprese Individuali"],"summary":"List of your requests","description":"This endpoint shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"MSSRRT77B18Z112L","tipo":"storica-impresa-individuale","stato_richiesta":"Visura evasa","timestamp_last_update":1649688928,"owner":"gcloud-tests@openapi.it","id":"625fec8fb417fe0fff605023"},{"cf_piva_id":"VNNLRT90D28L117D","tipo":"storica-impresa-individuale","stato_richiesta":"In erogazione","timestamp_last_update":1650448757,"owner":"gcloud-tests@openapi.it","id":"625fd97520a96b371158558c"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":216,"data":null}}}}}},"post":{"tags":["Imprese Individuali"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a sole proprietorship","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"mssrrt77b18z112l"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"MSSRRT77B18Z112L","tipo":"storica-impresa-individuale","stato_richiesta":"In erogazione","timestamp_creation":1649683350,"timestamp_last_update":1649683350,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"625fec8fb417fe0fff605023"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":221,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"company not registered in the chamber of commerce","error":209,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":220,"data":null}}}}}}},"/storica-impresa-individuale/{id}":{"get":{"tags":["Imprese Individuali"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"625fec8fb417fe0fff605023"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"MSSRRT77B18Z112L","tipo":"storica-impresa-individuale","stato_richiesta":"Visura evasa","timestamp_creation":1649683350,"timestamp_last_update":1649688928,"allegati":["625fec8f281c125dd70606a7.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"625fec8fb417fe0fff605023"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":217,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":218,"data":null}}}}}}},"/storica-impresa-individuale/{id}/allegati":{"get":{"tags":["Imprese Individuali"],"summary":"Download the document","description":"This endpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"625fec8fb417fe0fff605023"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"625fec8f281c125dd70606a7.zip","dimensione":586660,"file":"SDERTYBQAAAAIABqOi1SS0Ed8rLMAACLLAAAcABwANjI1NDJiOTZlZTc3NDA1MGJlNzA0OWJkLnBkZlVUCQAD401UYuNNVGJ1eAsAAQQhAAAABCEAAADU/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEIngftr564"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":217,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":218,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":219,"data":null}}}}}}},"/ordinaria-societa-capitale":{"get":{"tags":["Società di Capitale"],"summary":"List of your requests","description":"This endpoint shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"12485671007","tipo":"ordinaria-societa-capitale","stato_richiesta":"In erogazione","timestamp_last_update":1650550461,"owner":"gcloud-tests@openapi.it","id":"626166bd20a96b3711585590"},{"cf_piva_id":"12485671007","tipo":"ordinaria-societa-capitale","stato_richiesta":"Dati disponibili","timestamp_last_update":1650454028,"owner":"gcloud-tests@openapi.it","id":"625fec9313ddfc09f11c47e2"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":224,"data":null}}}}}},"post":{"tags":["Società di Capitale"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a joint stock company","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"12485671007"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"ordinaria-societa-capitale","stato_richiesta":"In erogazione","timestamp_creation":1649683350,"timestamp_last_update":1649683350,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"625fec9313ddfc09f11c47e2"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":229,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa capitale","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"url not set in 'callback', required","error":206,"data":null}}}}}}},"/ordinaria-societa-capitale/{id}":{"get":{"tags":["Società di Capitale"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"625fec9313ddfc09f11c47e2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"ordinaria-societa-capitale","stato_richiesta":"Dati disponibili","timestamp_creation":1649683350,"timestamp_last_update":1649688928,"allegati":["625fec93fb8ca84347057795.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"625fec9313ddfc09f11c47e2"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":225,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":226,"data":null}}}}}}},"/ordinaria-societa-capitale/{id}/allegati":{"get":{"tags":["Società di Capitale"],"summary":"Download the document","description":"This endpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"625fec9313ddfc09f11c47e2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"625fec93fb8ca84347057795.zip","dimensione":586660,"file":"UEsDBBQAAAAIABFOllTBs6lJ1vIIAJthCQAcABwANjI1ZmVjOTNmYjhjYTg0MzQ3MDU3Nzk1LnBkZlVUCQAD8nliYvJ5YmJ1eAsAAQQhAAAABCEAAACMvFO0ME0PNfgc27Zt27Zt27Zt27Zt27Zt+5x5v39mruZm7tLpZNfu6qyqpFZ3SOSFRWkYaNkgScau4w/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":225,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":226,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":227,"data":null}}}}}}},"/storica-societa-capitale":{"get":{"tags":["Società di Capitale"],"summary":"List of your requests","description":"This endpoint shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"12485671007","tipo":"storica-societa-capitale","stato_richiesta":"In erogazione","timestamp_last_update":1650553910,"owner":"gcloud-tests@openapi.it","id":"626174365ffe3148bf104551"},{"cf_piva_id":"12485671007","tipo":"storica-societa-capitale","stato_richiesta":"Dati disponibili","timestamp_last_update":1650550491,"owner":"gcloud-tests@openapi.it","id":"626166db20a96b3711585591"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":232,"data":null}}}}}},"post":{"tags":["Società di Capitale"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a joint stock company","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"12485671007"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"storica-societa-capitale","stato_richiesta":"In erogazione","timestamp_creation":1650553910,"timestamp_last_update":1650553910,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"626174365ffe3148bf104551"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":237,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa capitale","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"url not set in 'callback', required","error":206,"data":null}}}}}}},"/storica-societa-capitale/{id}":{"get":{"tags":["Società di Capitale"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"625fed6922a1b348ae3b8462"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"ordinaria-societa-capitale","stato_richiesta":"Dati disponibili","timestamp_creation":1650453865,"timestamp_last_update":1650454057,"allegati":["625fed69b9112a7c95723836.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"625fed6922a1b348ae3b8462"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":233,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":234,"data":null}}}}}}},"/storica-societa-capitale/{id}/allegati":{"get":{"tags":["Società di Capitale"],"summary":"Download the document","description":"This endpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"625fed6922a1b348ae3b8462"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"625fed69b9112a7c95723836.zip","dimensione":586660,"file":"UEsDBBQAAAAIABFOllTBs6lJs6lJ1vIIAJthCQAcABwANjI1ZmVkNjliOTExMmE3Yzk1NzIzODM2LnBkZlVUCQADBHxiYgR8YmJ1eAsAAQQhAAAABCEAAACMvFO0ME0PNfgc2ACMvFO0ME0PNfgc27Zt27Zt27Zt27Zt27Zt+5x5v39mruZm7tLpZNfu6qyqpFZ3SOSFRWkYaNkgScau4w/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":233,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":234,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":235,"data":null}}}}}}},"/ordinaria-societa-persone":{"get":{"tags":["Società di Persone"],"summary":"List of your requests","description":"This endpoint shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"61f2d55934abab667c085b7d","tipo":"ordinaria-societa-persone","stato_richiesta":"Visura evasa","timestamp_last_update":1651055861,"owner":"gcloud-tests@openapi.it","id":"62691c4fea3caa5f2b21f334"},{"cf_piva_id":"89f2d55934abab667c085b6p","tipo":"ordinaria-societa-persone","stato_richiesta":"In erogazione","timestamp_last_update":1651055866,"owner":"gcloud-tests@openapi.it","id":"66691c4fea3caa5f2b21f884"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":240,"data":null}}}}}},"post":{"tags":["Società di Persone"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a partnership","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"61f2c5d821d2c121d31a2bce"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"61f2c5d821d2c121d31a2bce","tipo":"ordinaria-societa-persone","stato_richiesta":"In erogazione","timestamp_creation":1651225072,"timestamp_last_update":1651225072,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"626bb1f0ea3caa5f2b21f339"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":245,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa persone","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":244,"data":null}}}}}}},"/ordinaria-societa-persone/{id}":{"get":{"tags":["Società di Persone"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"62691c4fea3caa5f2b21f334"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"61f2d55934abab667c085b7d","tipo":"ordinaria-societa-persone","stato_richiesta":"Visura evasa","timestamp_creation":1651055695,"timestamp_last_update":1651055861,"allegati":["62691c4f97e0944754027345.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"62691c4fea3caa5f2b21f334"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":241,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":242,"data":null}}}}}}},"/ordinaria-societa-persone/{id}/allegati":{"get":{"tags":["Società di Persone"],"summary":"Download the document","description":"This endpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"62691c4fea3caa5f2b21f334"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"62691c4f97e0944754027345.zip","dimensione":586660,"file":"UEsDBBQAAAAlNnVTBs6lJ1vIIAJthCQAcABwANjI2OTFjNGY5N2UwOTQ0NzU0MDI3ADU/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":241,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":242,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":243,"data":null}}}}}}},"/storica-societa-persone":{"get":{"tags":["Società di Persone"],"summary":"List of your requests","description":"This endpoint shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"61f2d55934abab667c085b7d","tipo":"storica-societa-persone","stato_richiesta":"Visura evasa","timestamp_last_update":1651055861,"owner":"gcloud-tests@openapi.it","id":"62691f2620a96b3711585596"},{"cf_piva_id":"61f2c5d821d2c121d31a2bce","tipo":"storica-societa-persone","stato_richiesta":"In erogazione","timestamp_last_update":1651055850,"owner":"gcloud-tests@openapi.it","id":"66691c4fea3caa5f2b21f778"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":248,"data":null}}}}}},"post":{"tags":["Società di Persone"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a partnership","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"61f2c66521d2c121d31f199c"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"61f2c66521d2c121d31f199c","tipo":"storica-societa-persone","stato_richiesta":"In erogazione","timestamp_creation":1651225599,"timestamp_last_update":1651225599,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"626bb3ff20a96b371158559c"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":253,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa persone","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":252,"data":null}}}}}}},"/storica-societa-persone/{id}":{"get":{"tags":["Società di Persone"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"62691f2620a96b3711585596"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"61f2d55934abab667c085b7d","tipo":"storica-societa-persone","stato_richiesta":"Visura evasa","timestamp_creation":1651056422,"timestamp_last_update":1651056500,"allegati":["62691f2635730b009824f4d3.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"62691f2620a96b3711585596"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":249,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":250,"data":null}}}}}}},"/storica-societa-persone/{id}/allegati":{"get":{"tags":["Società di Persone"],"summary":"Download the document","description":"This edpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"62691f2620a96b3711585596"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"62691f2635730b009824f4d3.zip","dimensione":586660,"file":"UEsDBBQAAAAlNnVTBs6lJ1vIIAJthCQAcABwANjI2OTFjNGY5N2UwOTQ0NzU0MDI3ADU/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":249,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":250,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":251,"data":null}}}}}}},"/bilancio-ottico":{"get":{"tags":["Società di Capitale"],"summary":"List of your requests","description":"This endpoint shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"12485671007","tipo":"bilancio-ottico","stato_richiesta":"In erogazione","timestamp_last_update":1650553910,"owner":"gcloud-tests@openapi.it","id":"626174365ffe3148bf104551"},{"cf_piva_id":"12485671007","tipo":"bilancio-ottico","stato_richiesta":"Dati disponibili","timestamp_last_update":1650550491,"owner":"gcloud-tests@openapi.it","id":"626166db20a96b3711585591"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":270,"data":null}}}}}},"post":{"tags":["Società di Capitale"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a joint stock company. If 'anno_chiusura' field is not passed, the system intercepts the last available balance sheet.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyBilancio"},"example":{"cf_piva_id":"12485671007"}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaBilancio"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaBilancio"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","anno_chiusura":null,"tipo":"bilancio-ottico","stato_richiesta":"In ricerca","timestamp_creation":1701095027,"timestamp_last_update":1701095027,"allegati":[],"callback":false,"owner":"gcloud-tests@openapi.it","id":"6564a6739b25c29e4f0dab34"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":275,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"financial statements not available for the company","error":278,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"url not set in 'callback', required","error":206,"data":null}}}}}}},"/bilancio-ottico/{id}":{"get":{"tags":["Società di Capitale"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6564a6739b25c29e4f0dab34"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaBilancio"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","anno_chiusura":null,"tipo":"bilancio-ottico","stato_richiesta":"Dati disponibili","timestamp_creation":1701095027,"timestamp_last_update":1701095101,"allegati":["6564a673ccfa313352066377.pdf"],"callback":false,"owner":"gcloud-tests@openapi.it","id":"6564a6739b25c29e4f0dab34"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":271,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":272,"data":null}}}}}}},"/bilancio-ottico/{id}/allegati":{"get":{"tags":["Società di Capitale"],"summary":"Download the document","description":"This edpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"6564a6739b25c29e4f0dab34"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"6564a673ccfa313352066377.zip","dimensione":1728,"file":"UEsDBBQAAAAlNnVTBs6lJ1vIIAJthCQAcABwANjI2OTFjNGY5N2UwOTQ0NzU0MDI3ADU/HOUbc+WLQqnnTtt27Zt27Zt25k7bdu2bdvcadv5fnXOqapz655qt9p93x/vW62tFjHnGmv2HiMiZvQxY7RJIi8sSsNAywxFcnA4uwjFgE+Pb2doCcXNTSdqYe1s4kgnam3gbCJsYmRnbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":271,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":272,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":273,"data":null}}}}}}},"/certificato-iscrizione":{"get":{"tags":["Certificati Camerali"],"summary":"List of your requests","description":"This method shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"12485671007","tipo":"certificato-iscrizione","stato_richiesta":"Dati disponibili","timestamp_last_update":1649688928,"owner":"gcloud-tests@openapi.it","id":"62542b966ea4de0b373dc1d2"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":300,"data":null}}}}}},"post":{"tags":["Certificati Camerali"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is registered with the Chamber of Commerce","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"12485671007","callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data"}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"certificato-iscrizione","stato_richiesta":"In erogazione","timestamp_creation":1649683350,"timestamp_last_update":1649683350,"allegati":[],"callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data","data":{}},"owner":"gcloud-tests@openapi.it","id":"62542b966ea4de0b373dc1d2"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":305,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa capitale/persone/individuale","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":304,"data":null}}}}}}},"/certificato-iscrizione/{id}":{"get":{"tags":["Certificati Camerali"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"65671d1ce3f1e6dff80a9265"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"certificato-iscrizione","stato_richiesta":"Visura evasa","timestamp_creation":1651056422,"timestamp_last_update":1651056500,"allegati":["65671d1c207bbf56a50aa122.pdf"],"callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data","data":{}},"owner":"gcloud-tests@openapi.it","id":"65671d1ce3f1e6dff80a9265"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}}}}},"/certificato-iscrizione/{id}/allegati":{"get":{"tags":["Certificati Camerali"],"summary":"Download the document","description":"This edpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"65671d1ce3f1e6dff80a9265"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"65671d1c207bbf56a50aa122.zip","dimensione":13745,"file":"UEsDBBQAAAAlNnVTBs6lJ1vdmFfc3RlbGxlX3VmZl9wb3N0YWxlLnBkZlVUCQADSCdnZUgnZ2V1eAsAAQQhAAAABCEAAADte2VUXNm2bhIgBAgW3AuCBSi0Cpfg7u5BCoeConALwSEE9yDBNTgEd01w1wjuElwfpPuc7tPd9473xnjvzxu3ihq197fWXGtP2bP2XHyLRklMAsjGDEKlGdva+InbEInbWJr5"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":301,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":302,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":303,"data":null}}}}}}},"/certificato-iscrizione-vigenza":{"get":{"tags":["Certificati Camerali"],"summary":"List of your requests","description":"This method shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"12485671007","tipo":"certificato-iscrizione-vigenza","stato_richiesta":"Dati disponibili","timestamp_last_update":1700582150,"owner":"gcloud-tests@openapi.it","id":"62542b966ea4de0b373dc1d2"},{"cf_piva_id":"60bf66ea35a4c0041e84826c","tipo":"certificato-iscrizione-vigenza","stato_richiesta":"In erogazione","timestamp_last_update":1699666927,"owner":"gcloud-tests@openapi.it","id":"655cd1472fd384e0020e10b3"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":307,"data":null}}}}}},"post":{"tags":["Certificati Camerali"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is registered with the Chamber of Commerce","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"12485671007","callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data"}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"certificato-iscrizione-vigenza","stato_richiesta":"In erogazione","timestamp_creation":1700582150,"timestamp_last_update":1700582150,"allegati":[],"callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data","data":{}},"owner":"gcloud-tests@openapi.it","id":"655cd1472fd384e0020e10b3"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":312,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa capitale/persone/individuale","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":311,"data":null}}}}}}},"/certificato-iscrizione-vigenza/{id}":{"get":{"tags":["Certificati Camerali"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"655cd1472fd384e0020e10b3"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richiesta"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","tipo":"certificato-iscrizione-vigenza","stato_richiesta":"Visura evasa","timestamp_creation":1700582150,"timestamp_last_update":1700607890,"allegati":["655cd147ff91f4b1ac0539cd.pdf"],"callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data","data":{}},"owner":"gcloud-tests@openapi.it","id":"655cd1472fd384e0020e10b3"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":308,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":309,"data":null}}}}}}},"/certificato-iscrizione-vigenza/{id}/allegati":{"get":{"tags":["Certificati Camerali"],"summary":"Download the document","description":"This edpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"655cd1472fd384e0020e10b3"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"655cd147ff91f4b1ac0539cd.zip","dimensione":586660,"file":"UEsDBBQAAAAlNnVTBs6lJ1vdmFfc3RlbGxlX3VmZl9wb3N0YWxlLnBkZlVUCQADSCdnZUgnZ2V1eAsAAQQhAAAABCEAAADte2VUXNm2bhIgBAgW3AuCBSi0Cpfg7u5BCoeConALwSEE9yDBNTgEd01w1wjuElwfpPuc7tPd9473xnjvzxu3ihq197fWXGtP2bP2XHyLRklMAsjGDEKlGdva+InbEInbWJr52V1eAsAAQQhAAAABCEAAACMvFO0ME0PNfgc27Zt27Zt27Zt27Zt27Zt+5x5v39mruZm7tLpZNfu6qyqpFZ3SOSFRWkYaNkgScau4wohGenx6fHtDC0hubnppE1szZzN8RkZ/lMp0olaWDubOOLTiVobOJsImxjZGZvw8kI6OTuaGNhAumfX9Ow4mrQl0LrryTXcKWfaL0D98U+rtFTfyof9aVK+CTt70ZqjkjgFUk9SS54F4xrl2uPucw8"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":308,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":309,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":310,"data":null}}}}}}},"/soci-attivi":{"get":{"tags":["Soci"],"summary":"List of your requests","description":"This method shows you the list of all your requests","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Richieste"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"cf_piva_id":"12485671007","tipo":"soci-attivi","stato_richiesta":"Dati disponibili","timestamp_last_update":1703852236,"owner":"gcloud-tests@openapi.it","id":"658eb839e5a329399f6bffb2"}],"success":true,"message":"","error":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no requests found","error":400,"data":null}}}}}},"post":{"tags":["Soci"],"summary":"Generates a request","description":"Endpoint that allows you to generate a request. Starting from a VAT number or from the id of the company returning from the search, the request is accepted only if the company is a joint-stock or partnership company registered with the chamber of commerce","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBodyRichiesta"},"example":{"cf_piva_id":"12485671007","callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data"}}}}},"callbacks":{"callback":{"{$request.body#/callback/url}":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaSoci"}}}}}},"responses":{"200":{"description":"OK"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaSoci"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","json_soci":null,"tipo":"soci-attivi","stato_richiesta":"In erogazione","timestamp_creation":1703852089,"timestamp_last_update":1703852236,"allegati":[],"callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data","data":{}},"owner":"gcloud-tests@openapi.it","id":"658eb839e5a329399f6bffb2"},"message":"","success":true,"error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id not valid","error":405,"data":null}}}},"402":{"description":"Payment Required","content":{"application/json":{"example":{"success":false,"message":"billing Error message \" . $checkout->message . \" code \" . $checkout->error","error":611,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"the cf_piva_id does not belong to a societa capitale/persone","error":213,"data":null}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"example":{"success":false,"message":"malformed url in 'callback'","error":207,"data":null}}}},"428":{"description":"Precondition Required","content":{"application/json":{"example":{"success":false,"message":"cf_piva_id required","error":404,"data":null}}}}}}},"/soci-attivi/{id}":{"get":{"tags":["Soci"],"summary":"Specific request","description":"This endpoint allows you to see the specific request identified by the passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"658eb839e5a329399f6bffb2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RichiestaSoci"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"cf_piva_id":"12485671007","json_soci":{"azienda":{"cciaa":"RM","numero_rea":"1378273","denominazione":"OPENAPI S.R.L.","codice_fiscale":"12485671007","partita_iva":"12485671007","codice_natura_giuridica":"SR","natura_giuridica":"SOCIETA' A RESPONSABILITA' LIMITATA","indirizzo":{"codice_toponimo":"VLE","toponimo":"VIALE","denominazione":"F TOMMASO MARINETTI","civico":"221","cap":"00143","codice_comune":"RM091","codice_comune_istat":"H501","comune":"ROMA","frazione":null,"provincia":"RM","nazione":"ITALIA"},"codice_ateco":[{"codice_ateco":"6201","ateco":"Produzione di software non connesso all'edizione"}],"stato_attivita":"ATTIVA","data_inizio_attivita":"2013-10-20","data_cessazione_attivita":null,"capitale_sociale":null,"presenza_diritti_non_determinati":null,"quota_diritti_non_determinati":null,"quote":[]},"soci":[{"denominazione":"SCXXXXX XXXA","persona_fisica":true,"codice_fiscale":"SCRXXXXXH501H","data_nascita":"1973-10-02","provincia_nascita":"RM","comune_nascita":"ROMA","codice_comune_nascita":"RM091","codice_istat_comune_nascita":"H501","stato_nascita":"ITALIA","sesso":"MASCHILE","quote":[{"data_atto":"2021-09-10","data_deposito":"2021-09-15","data_protocollo":"2021-09-15","codice_tipo_diritto":"01","descrizione_tipo_diritto":"PROPRIETA'","diritto_reale":true,"numero_azioni_possedute":null,"codice_tipo_azioni":null,"descrizione_tipo_azioni":null,"valore_quota":30000,"percentuale_possesso":60,"quota_non_determinata":false}],"altre_aziende_con_quote":null,"cognome":"SCXXXXX","nome":"XXXA"},{"denominazione":"XXXXIA SXXN","persona_fisica":true,"codice_fiscale":"DLCXXXXX9Z114J","data_nascita":"1977-11-29","provincia_nascita":null,"comune_nascita":null,"codice_comune_nascita":null,"codice_istat_comune_nascita":"Z114","stato_nascita":"REGNO UNITO","sesso":"MASCHILE","quote":[{"data_atto":"2021-09-10","data_deposito":"2021-09-15","data_protocollo":"2021-09-15","codice_tipo_diritto":"01","descrizione_tipo_diritto":"PROPRIETA'","diritto_reale":true,"numero_azioni_possedute":null,"codice_tipo_azioni":null,"descrizione_tipo_azioni":null,"valore_quota":10000,"percentuale_possesso":20,"quota_non_determinata":false}],"altre_aziende_con_quote":null,"cognome":"XXXXIA","nome":"SXXN"},{"denominazione":"DXXXS SXXXE","persona_fisica":true,"codice_fiscale":"DSNXXXXX117F","data_nascita":"1980-08-11","provincia_nascita":"TR","comune_nascita":"TERNI","codice_comune_nascita":"TR032","codice_istat_comune_nascita":"L117","stato_nascita":"ITALIA","sesso":"MASCHILE","quote":[{"data_atto":"2021-09-10","data_deposito":"2021-09-15","data_protocollo":"2021-09-15","codice_tipo_diritto":"01","descrizione_tipo_diritto":"PROPRIETA'","diritto_reale":true,"numero_azioni_possedute":null,"codice_tipo_azioni":null,"descrizione_tipo_azioni":null,"valore_quota":10000,"percentuale_possesso":20,"quota_non_determinata":false}],"altre_aziende_con_quote":null,"cognome":"DXXXS","nome":"SXXXE"}]},"tipo":"soci-attivi","stato_richiesta":"Visura evasa","timestamp_creation":1700582150,"timestamp_last_update":1700607890,"allegati":["658eb8397e995e5d3602df7a.xml","658eb8397e995e5d3602df7a.pdf","658eb8397e995e5d3602df7a.json"],"callback":{"url":"https://www.your_url.it/callback","method":"POST","field":"data","data":{}},"owner":"gcloud-tests@openapi.it","id":"658eb839e5a329399f6bffb2"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":401,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":402,"data":null}}}}}}},"/soci-attivi/{id}/allegati":{"get":{"tags":["Soci"],"summary":"Download the document","description":"This edpoint allows you to download the document generated by the request passed id","parameters":[{"name":"id","in":"path","description":"Request id","required":true,"schema":{"type":"string","example":"658eb839e5a329399f6bffb2"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Allegato"},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"nome":"658eb8397e995e5d3602df7a.zip","dimensione":35384,"file":"UEsDBIAI59nVd4EzuBvgMAAE0PAAAcABwANjU4ZWI4Mzk3ZTk5NWU1ZDM2MDJkZjdhLnhtbFVUCQADXOmOZVzpjmV1eAsAAQQhAAAABCEAAADtl01v4zYQhu/7K4S97MmRKCdxDLBaqFlvo8K2DEldGL0IhMQsCMikK9FukV/fIalveeu0XRQ9xIAtaWY4Gg7fh0zwxz8OhXWmZcUE/+E9unHef/Te4YgeRSn3m7WHyQujPCcezjJGiBdtsG3uMD8daCnSkhIPzRcP7mKO7Z4N55SLA+OQQHDqhbvV1t8FVnwT3axvsD304kzkLKPpM6syUlAPubcPd/cL5DgLeN/Qh4+klEySlJ3JMLDvaDJyIk8lSb+yU8nAQLw4ajNOfHgaHT4Gq8T/YPlWtIp34Tb2fwzWgbKsgw1cEx9mPcnDeM5K9vIi2jqkOArODsL7sl61BbRG3LkDXwV0nmGjPltJuNn4cWht/4xrl2uPucw8"},"success":true,"message":"","error":null}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":{"success":false,"message":"Wrong id","error":401,"data":null}}}},"404":{"description":"Not Found","content":{"application/json":{"example":{"success":false,"message":"no request found","error":402,"data":null}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"example":{"success":false,"message":"document not yet available","error":403,"data":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}